<div class="modal">
  <div class="modal__head">
    <h3 class="modal__title font-semibold d-flex-items-center" [ngClass]="{'medium-font-size' : !defaultLayout}">
      {{'Upload-Media' | translate}}
    </h3>
    <span class="text__light--sm ml-auto right-auto" *ngIf="filesUploaded.length > 0">{{ filesUploaded.length }} {{'files-selected' | translate}}</span>
    <span (click)="cancelSaving()" class="modal__action">
      <mat-icon mat-dialog-close fontSet="material-icons-outlined" [ngClass]="{'d-flex-items-center justify-content__center small-icon-font-size' : !defaultLayout}">close</mat-icon>
    </span>
  </div>
  <div class="modal__body">
    <app-component-loader class="loader__overlay bluespinner" *ngIf="uploadLoading"></app-component-loader>
    <div class="dropzone" [ngClass]="{ dropped: isImageDropped }">
      <div class="dropzone__item dropzone__drop" ngx-dropzone (change)="onImageDropped($event)">
        <div class="dropzone__drop--item">
          <mat-icon class="dropzone__icon" fontSet="material-icons-outlined">cloud_upload</mat-icon>
          <div class="text__sub dropzone__drop--text" [ngClass]="{'medium-font-size' : !defaultLayout}">
            {{'Drag-drop-click-to-upload-files' | translate}}
          </div>
        </div>
      </div>
      <app-media-dropitem class="dropzone__item" [image]="file" [file]="file" [onUpload]="true"
        (removeSelected)="onImageRemoved($event)" *ngFor="let file of filesUploaded" [@fadeInOut]></app-media-dropitem>
    </div>
  </div>
  <div class="modal__foot" [ngClass]="{'element__disable': uploadLoading}">
    <div class="modal__foot--item text__sub--sm line-height-1.5 mr-20">
      <span class="colored__red">*</span>
      <span [ngClass]="{'small_font-size' : !defaultLayout}">{{'Upload-File-Size-Limitations' | translate}} <br>
        {{'Video-file-size' | translate}}</span>
    </div>
    <button [ngClass]="{'small_font-size h-25 px-5' : !defaultLayout}" (click)="cancelSaving()" mat-stroked-button color="accent" class="mr-15 ml-auto" mat-dialog-close>
      {{'Cancel' | translate}}
    </button>
    <button [ngClass]="{'small_font-size h-25 px-5' : !defaultLayout}" type="button" (click)="saveFilesToServer()" mat-flat-button color="accent">
      {{'Save' | translate}}
    </button>
  </div>
</div>
