.post-overview {
  overflow: auto;
  height: calc(100vh - 55px);
}

.post-overview__info,
.post-overview__ticket {
  padding: 12px;
}

.post-overview__info .select-arrow-icon,
.post-overview__ticket .select-arrow-icon {
  top: 8px !important;
}

.post-overview__info--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
}

.post-overview__info--profileimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.post-overview__info--profilename {
  font-weight: 500;
}

.post-overview__info--profilehandle {
  font-size: 12px;
}

.post-overview__info--profilecontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post-overview__info--profileactions {
  margin-left: auto;
}

.post-overview__info--profilecontactitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.post-overview__info--profilecontacticon {
  display: inline-block;
  margin-right: 1rem;
}

.post-overview__info--profilecopy {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}

.post-overview__score--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-overview__score--item:not(:last-child) {
  margin-bottom: 1rem;
}

.post-overview__score--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post-overview__score--labelmain {
  font-weight: 600;
}

.post-overview__score--labelsub {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-overview__score--replay {
  margin-left: 1rem;
  cursor: pointer;
}

.post-overview__score--value {
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
}

.post-profile {
  padding: 15px;
}

.post-profile__info--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
}

.post-profile__info--profileimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.post-profile__info--profilename {
  font-weight: 500;
}

.post-profile__info--profilehandle {
  font-size: 12px;
}

.post-profile__info--profilecontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post-profile__info--profileactions {
  margin-left: auto;
}

.post-profile__info--profilesummary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post-profile__info--profilesummary > div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  margin-bottom: 1rem;
}

.post-profile__info--profilecontact {
  padding: 15px;
}

.post-profile__info--profilecontactitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.post-profile__info--profilecontacticon {
  display: inline-block;
  margin-right: 1rem;
}

.post-profile__info--profilecopy {
  display: inline-block;
  margin-left: 12px;
  cursor: pointer;
}

.post-profile__info--social {
  position: relative;
  margin: 0;
  padding: 12px;
  overflow-y: auto;
  max-height: 165px;
}

.post-profile__info--social::before {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 28px;
}

.post-profile__info--socialitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-profile__info--socialitem:not(:last-child) {
  margin-bottom: 15px;
}

.post-profile__info--socialstats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-left: 30px;
}

.post-profile__info--socialstats::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  left: 9px;
}

.post-profile__info--socialimage {
  display: inline-block;
  margin-right: 1rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 1;
}

.post-crm--item {
  margin-bottom: 12px;
}

.post-personal .post-section--content {
  max-height: calc(100vh - 128px);
}
