<div class="post-reply">
  <div class="post-reply__head">
    <span class="post-reply__head--title">{{'Reply' | translate}}</span>
    <span class="post-reply__head--action" (click)="closePostReply()">
      <mat-icon>close</mat-icon>
    </span>
  </div>
  <div class="post-reply__body">
    <div class="custom__row" fxLayout="row" fxLayoutGap="15px">
      <div class="custom__column">
        <mat-form-field appearance="outline">
          <mat-label>{{'Reply-Type' | translate}}</mat-label>
          <mat-select>
            <mat-option>{{'Reply-And-Escalate' | translate}}</mat-option>
            <mat-option>{{'Close' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="custom__column" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>{{'To' | translate}}</mat-label>
          <mat-chip-grid #chipList aria-label="email selection">
            <mat-chip-row
              *ngFor="let email of emails"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeEmail(email)"
            >
              {{ email.id }}
              <mat-icon matChipRemove *ngIf="removable"
                >cancel</mat-icon
              > </mat-chip-row
            >
            <input
              placeholder="{{'New-Email' | translate}}..."
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addEmail($event)"
            />
          </mat-chip-grid>
        </mat-form-field>
      </div>
    </div>
    <div class="custom__row">
      <div class="custom__column">
        <textarea class="custom__input" placeholder="{{'Enter-Reply-Here' | translate}}"></textarea>
      </div>
    </div>
  </div>
  <div class="post-reply__foot">
    <div class="input__wrapper">
      <mat-checkbox>{{'Send-to-Groups' | translate}}</mat-checkbox>
    </div>
    <div class="input__wrapper">
      <mat-checkbox>{{'Add-Previous-Mail-Trail' | translate}}</mat-checkbox>
    </div>
    <button mat-flat-button class="ml-auto">{{'Cancel' | translate}}</button>
    <button mat-flat-button class="ml-8" color="accent">{{'Next' | translate}}</button>
  </div>
</div>
