.mat-hint-p{
    position: relative;
    bottom: 8px;
    font-size: 10px;
    left: 5px;
}

::ng-deep .ai-layout {
    &__checkbox {
        & .mdc-form-field {
            & .mdc-label {
                font-size: 11px !important;
            }
        }
    }

    &__radio-btn {
        & .mdc-form-field {
            & .mdc-label {
                font-size: 11px !important;
            }
        }
    }

    &__dropdown {
        height: 4.5rem !important;
        margin-bottom: 0.8rem;

        .mat-mdc-text-field-wrapper {
            // height: 3rem !important;
            display: flex !important;
            align-items: center !important;
        }
    }
}