.user-overview__stats {
  padding: 12px;
  padding-bottom: 0px;
  margin-bottom: 0px !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.user-overview__charts {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
