.user-overview {
  &__stats {
    padding: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px !important;
    flex-wrap: wrap;
  }

  &__charts {
    flex: 1;
    max-height: 360px;
    overflow: auto;
    @media screen and (min-width: 350px) and (max-width: 768px) {
      display: none;
    }
  }
}
