<div class="user-overview position-relative">
  <app-component-loader
    *ngIf="overviewLoading"
    [loaderType]="loaderTypeEnum.stats"
    [statCountInRow]="3"
    [statCountTotal]="6"
  ></app-component-loader>
  <div
    *ngIf="userLoyaltyDetails"
    class="user-overview__stats"
    fxLayout="row wrap"
    fxLayout.xs="row"
    fxLayoutAlign="center"
    fxLayoutGap="12px
        grid"
    fxLayoutAlign="flex-start"
  >
    <div fxFlex="33.33%">
      <div class="stat">
        <span class="stat__label" [ngClass]="{'small_font-size' : !defaultLayout}">{{ 'Total-Engagement' | translate }}</span>
        <span class="stat__value" [ngClass]="{'small_font-size' : !defaultLayout}">{{
          userLoyaltyDetails.totalEngagement
        }}</span>
      </div>
    </div>
    <div fxFlex="33.33%">
      <div class="stat">
        <span class="stat__label" [ngClass]="{'small_font-size' : !defaultLayout}">{{ 'Reaction-Likes' | translate }}</span>
        <span class="stat__value" [ngClass]="{'small_font-size' : !defaultLayout}">{{ userLoyaltyDetails.likes }}</span>
      </div>
    </div>
    <div fxFlex="33.33%">
      <div class="stat">
        <span class="stat__label" [ngClass]="{'small_font-size' : !defaultLayout}">{{ 'Share-Retweets' | translate }}</span>
        <span class="stat__value" [ngClass]="{'small_font-size' : !defaultLayout}">{{ userLoyaltyDetails.shares }}</span>
      </div>
    </div>
    <div fxFlex="33.33%">
      <div class="stat">
        <span class="stat__label" [ngClass]="{'small_font-size' : !defaultLayout}">{{ 'Comments-Replies' | translate }}</span>
        <span class="stat__value" [ngClass]="{'small_font-size' : !defaultLayout}">{{ userLoyaltyDetails.comments }}</span>
      </div>
    </div>
    <div fxFlex="33.33%">
      <div class="stat">
        <span class="stat__label" [ngClass]="{'small_font-size' : !defaultLayout}">{{ 'Brand-Affinity' | translate }}</span>
        <span class="stat__value" [ngClass]="{'small_font-size' : !defaultLayout}">{{brandAfinity}}</span>
      </div>
    </div>
    <div fxFlex="33.33%">
      <div class="stat" >
        <span class="stat__label" [ngClass]="{'small_font-size' : !defaultLayout}">{{ 'NPS-Score' | translate }}</span>
        <span class="stat__value " [ngClass]="{'colored__green--dark':npsScore>0,'colored__red--dark':npsScore<0,'colored__yellow--dark':npsScore==0, 'small_font-size': !defaultLayout}">{{npsScore== 'NA' ?'NA':npsScore>0?npsScore:-npsScore}}</span>
      </div>
    </div>
  </div>
  <div class="user-overview__charts" *ngIf="userLoyaltyDetails">
    <mat-tab-group>
      <mat-tab
        label="{{ 'Sentiment-Trend-Last-30-Interactions' | translate }}"
      >
        <app-chart
          [highchartOptions]="sentimentDetailOptions"
          [chartHeight]="'calc(100vh - 250px)'"
        ></app-chart>
      </mat-tab>
      <mat-tab label="{{ 'User-Interaction' | translate }}">
        <app-chart
          [highchartOptions]="userInteractionOptions"
          [chartHeight]="'calc(100vh - 250px)'"
        ></app-chart>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
