<div class="incomingCall__caller--ivr" *ngIf="ivrDesc">
  <p class="name">{{ 'Selected-IVR-Options' | translate }} : <span class="colored__yellow">{{ivrDesc}}</span></p>
</div>
<div class="incomingCall__caller" [ngStyle]="{'border-top-left-radius' : ivrDesc ? '0px' : '8px', 'border-top-right-radius' : ivrDesc ? '0px' : '8px'}">
    <div class="circle">
      <div class="circle__animate delay1"></div>
      <div class="circle__animate delay2"></div>
      <div class="circle__animate delay3"></div>
    </div>
    <div class="incomingCall__caller--img">
      <img [src]="singleRData._callerProfilePic" onError="this.src='assets/images/agentimages/sample-image.svg'" alt="">
    </div>
    <div class="incomingCall__caller--profile">
      <p class="colored__white font-size-12" *ngIf="outboundCall">{{ 'Agent' | translate }}</p>
      <p class="colored__white font-size-12" *ngIf="!outboundCall">{{ 'Customer' | translate }}</p>
      <p class="number">{{singleRData._caller}}</p>
    </div>
    <div class="incomingCall__caller--profile">
      <div class="arrow__right">
        <div class="arrow__right--animation">
          <div class="cta">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_zwwrpr4y.json" background="transparent" speed="1"
                  style="width: 108px; height: 75px;" loop autoplay></lottie-player>
          </div>
        </div>
      </div>
    </div>
    <div class="circle">
      <div class="circle__animate delay1"></div>
      <div class="circle__animate delay2"></div>
      <div class="circle__animate delay3"></div>
    </div>
    <div class="incomingCall__caller--img">
      <img [src]="singleRData._calleeProfilePic" onError="this.src='assets/images/agentimages/sample-image.svg'" alt="">
    </div>
    <div class="incomingCall__caller--text">
        <p class="colored__white font-size-12" *ngIf="!outboundCall">{{ 'Agent' | translate }}</p>
        <p class="colored__white font-size-12" *ngIf="outboundCall">{{ 'Customer' | translate }}</p>
      <p class="number colored__blue">
        <!-- +9876543213 -->
        {{singleRData._callee}}
      </p>
    </div>
    <!-- <button (click)="acceptCall()">Accept</button> -->
     <div class="d-flex-items-center g-10 ml-10">
      <div *ngIf="inbound && !outboundCall " class="bg__green border-round d-flex-items-center justify-content__center w-35 h-35 p-5 cursor-pointer" (click)="acceptCall(true)">
        <mat-icon class="colored__white">call</mat-icon>
      </div>

      <!-- <button *ngIf="outboundCall && outboundCallFlag" class="d-flex-items-center justify-content__center p-5 cursor-pointer" (click)="acceptCall(false)"  mat-flat-button color="accent">Connect</button> -->

      <div class="bg__red border-round d-flex-items-center justify-content__center w-35 h-35 p-5 cursor-pointer" (click)="rejectCall()">
        <mat-icon class="colored__white">call_end</mat-icon>
      </div>
     </div>
    
    <!-- <button (click)="rejectCall()">Reject</button> -->
    <!-- <div class="incomingCall__caller--text ml-12">
      <span class="incomingCall__caller--agentList" [matMenuTriggerFor]="agentList">
        <img src="assets/images/Forward.svg" alt="">
      </span>
    </div> -->
    <mat-menu #agentList="matMenu" xPosition="before" yPosition="above" class="incomingCall__matMenu">
      <p class="incomingCall__matMenu--title">{{ 'Type-the-hash-following-the-agent-code' | translate }}</p>
      <div class="incomingCall__matMenu--agentList">
        <button mat-menu-item class="d-flex-items-center">
            <span class="incomingCall__matMenu--agentimg">
              <img src="assets/images/agentimages/sample-image.svg" alt="">
            </span>
            <span class="incomingCall__matMenu--list">{{ 'Sofia Dsouza' | translate }} <span class="ml-auto">#01</span> </span>
        </button>
        <button mat-menu-item class="d-flex-items-center">
          <span class="incomingCall__matMenu--agentimg">
            <img src="assets/images/agentimages/sample-image.svg" alt="">
          </span>
          <span class="incomingCall__matMenu--list">{{ 'Sofia Dsouza' | translate }} <span class="ml-auto">#01</span> </span>
        </button>
        <button mat-menu-item class="d-flex-items-center">
          <span class="incomingCall__matMenu--agentimg">
            <img src="assets/images/agentimages/sample-image.svg" alt="">
          </span>
          <span class="incomingCall__matMenu--list">{{ 'Sofia Dsouza' | translate }} <span class="ml-auto">#01</span> </span>
        </button>
        <button mat-menu-item class="d-flex-items-center">
          <span class="incomingCall__matMenu--agentimg">
            <img src="assets/images/agentimages/sample-image.svg" alt="">
          </span>
          <span class="incomingCall__matMenu--list">{{ 'Sofia Dsouza' | translate }} <span class="ml-auto">#01</span> </span>
        </button>
        <button mat-menu-item class="d-flex-items-center">
          <span class="incomingCall__matMenu--agentimg">
          </span>
          <span class="incomingCall__matMenu--list">{{ 'Sofia Dsouza' | translate }} <span class="ml-auto">#01</span> </span>
        </button>
      </div>
    </mat-menu>
    <!-- <div class="incomingCall__caller--icon">
      <span class="call">
        <mat-icon>call</mat-icon>
      </span>
      <span class="call__end">
        <mat-icon>call_end</mat-icon>
      </span>
    </div> -->
  </div>
