.addchannel {
    &__body {
        padding: 2.5rem;
        text-align: center;

        &--btnlogin {
            background: #1877f2 !important;
            font-weight: 400;
            margin: 3rem 0rem 2.6rem;
        }

        &--googleblock {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem 0rem;

            &-btngoogle {
                background: #1877f2 !important;
                font-weight: 400;
                border-radius: 0px 4px 4px 0px !important;
            }

            &-icongoogle {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #1877f2;
                border-radius: 4px 0px 0px 4px;
                cursor: pointer;
            }
        }

        &--border {
            width: 100%;
            text-align: center;
            line-height: 0.1em;
            margin: 1rem 0 3rem;

            & span {
                padding: 0 1rem;
            }
        }

        &--publicinput {
            display: flex;
            align-items: center;
            position: absolute;
            top: -0.8rem;
            right: -1.1rem;
            background: var(--color-locobuzz);
            color: var(--color-white);
            border-radius: 0px 4px 4px 0px;
            height: 4.4rem;
            padding: 1rem;

            & .mat-icon {
                font-size: 2.4rem;
                width: 2.4rem;
                min-width: 2.4rem;
                max-width: 2.4rem;
                height: 2.4rem;
                min-height: 2.4rem;
                max-height: 2.4rem;
            }
        }
    }

    &__tiktok {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        width: fit-content;
        padding: 0.2rem 0.5rem;

        &--icon {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            margin-right: 0.6rem;
        }

        & .name {
            font-weight: 600;
        }

        & .tag {
            font-weight: 400;
        }
    }
}

.emoji_icon{
   position: absolute;
   left: 24px;
   bottom: 42px;
}
.max-length {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.2rem;
    position: absolute;
    right: 23px;
    bottom: 46px;
}