.action {
  display: flex;
  width: 58%;

  > .action__1 {
    display: flex;
    flex: 1;
    flex-direction: column;

    > .mat-mdc-radio-group {
      display: flex;
    }
  }
  > .action__2 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    p {
      display: flex;
      flex: 1 100%;
    }

    > img {
      width: 18px;
      height: 18px;
      margin-top: 2px;
    }

    > span {
      margin-left: 10px;
    }
  }
}
.target__brand {
  display: flex;
  flex-direction: column !important;
  width: 60%;
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  > .mat-option-text {
    text-transform: capitalize;
  }

  > p {
    background-color: #fffbed;
    border: 1px solid var(--color-yellow);
    padding: 10px;
    border-radius: 5px;
  }
}
.brand_selected_logo {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
