.header__toolbar {
  position: fixed;
  height: 50px !important;
  top: 40px;
  z-index: 2;
}

.header__toolbar app-post-options {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.keywords {
  width: 100%;
  height: 48px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.keywords__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  padding: 12px;
}

.keywords__list ul li {
  padding: 0px 7px;
  border-radius: 25px;
}

.keywords__name {
  font-weight: 500;
  text-transform: capitalize;
}

.keywords__close {
  cursor: pointer;
}
