@use 'app/@locobuzz/scss/partials/_breakpoints.scss' as breakpoints;

.header__toolbar {
  position: fixed;
  height: 5rem !important;
  top: 4rem;
  z-index: 2;
  @media only screen and (min-width: 960px) and (max-width: 1025) {
      height: 7rem !important;
  }
  app-post-options {
    flex: 0 0 100%;
    @include breakpoints.media-breakpoint('md') {
      align-items: flex-start;
    }
  }
}
.keywords {
  width: 100%;
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 1;
  &__list {
    & ul {
      display: flex;
      column-gap: 15px;
      padding: 12px;
      & li {
        padding: 0px 7px;
        border-radius: 25px;
      }
    }
  }
  &__name {
    font-weight: 500;
    text-transform: capitalize;
  }
  &__close {
    cursor: pointer;
  }
  &__toggle {
    &--up {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 30px;
      margin: auto;
      border-radius: 0px 0px 30px 30px;
      display: none;
      position: relative;
      @include breakpoints.media-breakpoint('sm') {
        display: flex;
      }
      &:after {
        position: absolute;
        content: '';
        width: 50px;
        height: 35px;
        right: -40px;
        border-radius: 50%;
        background-color: transparent;
        bottom: -7px;
        transform: rotate(166deg);
        box-shadow: 10px 17px #fff;
        z-index: 1;
      }
      &::before {
        position: absolute;
        content: '';
        width: 50px;
        height: 35px;
        left: -40px;
        border-radius: 50%;
        background-color: transparent;
        bottom: -7px;
        transform: rotate(219deg);
        box-shadow: 10px 17px #fff;
        z-index: 1;
      }
    }
  }
}

.listening_account
{
  min-width: 96% !important;
    width: 96% !important;
    max-width: 96% !important;
}
.header__toolbar {
  @media only screen and (max-width: 998px) {
    height: 7rem !important;
  }
}

.height-unset {
  height: unset !important;
}

