<div class="modal__head">
  <h3 class="modal__title" [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Add-Associate-Channel' | translate }}</h3>
  <span class="modal__action">
    <mat-icon fontSet="material-icons-outlined" [ngClass]="{'small-icon-font-size': !defaultLayout}" [mat-dialog-close]="false"
      >close</mat-icon
    >
  </span>
</div>
<div class="modal__body">
  <div class="p-16 pt-25 w-400 m-auto">
    <form>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="35%">
          <mat-form-field
            appearance="outline"
            class="
              material__select
              material__select--adaptive
              material__select--border--right
            "
          >
            <mat-label [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Channel' | translate }}</mat-label>
            <mat-select
              name="select"
              [(ngModel)]="selectedChannel"
              aria-required="required" [ngClass]="{'small_font-size': !defaultLayout}"
              required
            >
              <mat-option value="1" [ngClass]="{'small_font-size': !defaultLayout}" class="matmenu__item">{{ 'Twitter' | translate }}</mat-option>
              <mat-option value="2" [ngClass]="{'small_font-size': !defaultLayout}" class="matmenu__item">{{ 'Facebook' | translate }}</mat-option>
              <mat-option value="3" [ngClass]="{'small_font-size': !defaultLayout}" class="matmenu__item">{{ 'Instagram' | translate }}</mat-option>
              <mat-option value="5" [ngClass]="{'small_font-size': !defaultLayout}" class="matmenu__item">{{ 'LinkedIn' | translate }}</mat-option>
              <mat-option value="26" [ngClass]="{'small_font-size': !defaultLayout}" class="matmenu__item">{{ 'Google-My-Review' | translate }}</mat-option>
              <mat-option value="25" [ngClass]="{'small_font-size': !defaultLayout}" class="matmenu__item">{{ 'Email' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="65%">
          <mat-form-field
            appearance="outline"
            class="
              material__select
              material__select--adaptive
              material__select--border--left
            "
          >
            <mat-label [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Account-Name' | translate }}</mat-label>
            <input name="input" [ngClass]="{'small_font-size': !defaultLayout}" ngModel #search="ngModel" matInput required autocomplete="off"/>
            <button
              mat-icon-button
              matSuffix
              class="materialbtn__icon btn__hover material__select--suffix"
              (click)="searchUser(search)" [ngClass]="{'small_font-size': !defaultLayout}"
            >
              <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}">search</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="user-list position-relative">
      <p *ngIf="noUserFound && !addAssociateLoading" [ngClass]="{'small_font-size': !defaultLayout}" class="text-center">{{ 'No-User-Found' | translate }}</p>
      <p *ngIf="!noUserFound && searchedUsers.length === 0 && !addAssociateLoading" [ngClass]="{'small_font-size': !defaultLayout}" class="text-center"></p>
      <app-component-loader *ngIf="addAssociateLoading"></app-component-loader>
      <div
        class="user-list__item"
        *ngFor="let item of searchedUsers"
        (click)="onSelect(item)"
        matRipple
      >
        <div class="profile">
          <div class="profile__img">
            <img
              class="img__fluid"
              alt="user image"
              [src]="item.picUrl" [ngClass]="{'small-image-width': !defaultLayout}"
              onError="this.src='assets/images/agentimages/sample-image.svg'"
            />
          </div>
          <div class="profile__name" [ngClass]="{'small_font-size': !defaultLayout}">{{ item.name }}</div>
          <div class="profile__handle" [ngClass]="{'small_font-size': !defaultLayout}" *ngIf="item.screenname">
            (&#64;{{ item.screenname }})
          </div>
        </div>
        <mat-icon
          class="colored__green ml-auto" [ngClass]="{'small-icon-font-size': !defaultLayout}"
          *ngIf="selectedAuthorSocialID == item.socialId"
          >check_circle</mat-icon
        >
      </div>
    </div>
  </div>
</div>
<div class="modal__foot">
  <button
    class="ml-auto mr-15" [ngClass]="{'small_font-size': !defaultLayout}"
    mat-stroked-button
    color="accent"
    [mat-dialog-close]="false"
  >
    {{ 'Cancel' | translate }}
  </button>
  <button
  [loading]="isLoading" [ngClass]="{'small_font-size': !defaultLayout}"
    type="submit"
    mat-flat-button
    [disabled]="!selectedAuthorSocialID"
    color="accent"
    (click)="saveUsers()"
  >
    {{ 'Add' | translate }}
  </button>
</div>
