.custom__column {
  padding: 12px;
  position: relative;
}

.custom__column--replyTag {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.custom__column.right-scroll {
  overflow: auto;
  max-height: 315px;
}

.right-border {
  border-right: 1px solid var(--color-light-grey) !important;
}

.insert_photo--ckeditor {
  border: 1px solid #d2d2d2;
  padding: 6px;
  border-top: unset;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.insert_photo--ckeditor .textarea-featured__foot--icon {
  border: none !important;
}

.send-email {
  overflow-x: hidden;
}

.send-email__item {
  position: relative;
}
