.custom__column {
  padding: 12px;
  position: relative;
  &--replyTag {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.right-scroll {
    overflow: auto;
    max-height: 315px;
  }
}
.right-border {
  border-right: 1px solid var(--color-light-grey) !important;
}
.insert_photo {
  &--ckeditor {
    border: 1px solid #d2d2d2;
    padding: 6px;
    border-top: unset;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    & .textarea-featured__foot--icon {
      border: none !important;
    }
  }
}

.send-email {
  overflow-x: hidden;

  &__item {
    position: relative;
  }
}
