.post {
  &-log{
    padding: 1rem;
      max-width: 73%;
      border-radius: 4px;
      margin-bottom: 1rem;
    
      &__content {
        font-style: italic;
        margin-bottom: 0;
      }
    
      &__highlight {
        text-decoration: underline;
        font-style: italic;
        cursor: pointer;
      }
    
      &__strip {
        margin-top: 1rem;
        // padding: 0.5rem;
    
        &--label {
          font-weight: 500;
        }
      }
  }
  &__document {
    &--files {
      &.files {
        height: 10rem;
        width: 10rem;
        margin: 0px !important;
        padding: 0px !important;
        margin-top: 1rem !important;
        position: relative;
      }
  
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7rem;
  
        &.img {
          & .img {
            width: 100%;
            height: 100%;
          }
        }
  
        & .img {
          width: 3.5rem;
        }
      }
  
      &-name {
        display: flex;
        align-items: center;
        background: rgba(59, 81, 117, 0.8);
        color: var(--color-white);
        padding: 0.2rem;
        height: 3rem;
  
        & .document {
          max-width: 10rem;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 2rem;
        }
      }
  
      &-attach {
        &.attach {
          &__wrapper {
            flex-direction: column;
            max-width: 100% !important;
          }
        }
      }
  
      &-download {
        & .mat-icon {
          &.icon {
            color: var(--color-white);
            background: hsl(219deg 81% 48% / 80%);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
.email-anywhere{
  display: flex;
  flex-direction: column;
}

.edited-note {
  font-style: italic;
}

.collab-panel {
  align-items: baseline;
  gap: 0.5rem;
}

::ng-deep.expansion-panel .mat-expansion-panel-body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.log_date_time{
  color: var(--color-sub-text) !important;
}
.neutral_panel {
  color: var(--color-main-text);
  background-color: rgb(222, 170, 12, 0.1);
  border: var(--color-yellow-dark) solid 0.1rem;
  border-radius: 1rem;
}

.neutral_mention_tag {
  color: var(--color-yellow-dark) !important;
}

.positive_panel {
  color: var(--color-main-text);
  background-color: rgb(28, 159, 0, 0.1);
  border: var(--color-green-dark) solid 0.1rem;
  border-radius: 1rem;
}

.negative_pannel {
  // color: var(--color-red) !important;
  background-color: rgba(220, 30, 30, 0.1);
  border: var(--color-red-dark) solid 0.1rem;
  border-radius: 1rem;
}

.positive_mentiontag {
  color: var(--color-green-dark);
}

.negative_mention_tag {
  color: var(--color-red) !important;
}

.h-min-25 {
  min-height: 2.5rem !important;
}

::ng-deep .ai-layout-log {
  & .post-log {
    padding: 0.5rem 0 0 0.5rem !important;
  }
}

.padding-x-5 {
  padding: 0 0.5rem !important;
}

.suggestion {
  &__main {
    width: 73%;
    padding: 1rem;
    border-radius: 8px;
    border: 2px dashed var(--color-grey);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(28, 159, 0, 0.1019607843);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &--text {
      font-weight: 600;
      color: var(--color-main-text);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    // color: var(--color-main-text);
  }

  &__pill {
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    white-space: nowrap;

    &--red {
      border: 1px solid var(--color-red);
    }

    &--green {
      border: 1px solid var(--color-green);
    }
  }

  &__body {
    // border-left: 5px solid var(--color-grey);
    // padding-left: 0.5rem;
    // margin-left: 1rem;

    &--text {
      color: var(--color-main-text);
      width: fit-content;
      white-space: normal;
    }
  }

  &__foot {
    display: flex;
    align-items: center;

    &--outside-base {
      color: var(--color-locobuzz) !important;
    }

    &--from-base {
      color: var(--color-green) !important;
    }
  }
}

.outside-knowledge-base {
  background-color: rgba(255, 93, 72, 0.2) !important;
}

.grayColor {
  color: #5E708D !important;
}

.out_of_knowledge {
  margin: 0px;
  color: var(--color-red);
  /* height: 19px; */
  font-size: 20px;
  position: relative;
  top: 1px;
  left: 6px;
}

.in_knowledge {
  margin: 0px;
  color: var(--color-green);
  /* height: 19px; */
  font-size: 20px;
  position: relative;
  top: 1px;
  left: 6px;
}

.text__italic{
  font-style: italic !important;
}