<ng-template [ngIf]="LogCondition == 1">
  <div class="post-log mt-12 p-6 mb-0" #attachmentContainer [ngClass]="{'cssClass' : '', 'small_font-size' : !defaultLayout}" [ngStyle]="{'margin-left':isCombineLog ? 'unset':'auto', 'max-width':isCombineLog ? '100%' : ''}" (click)="$event.stopPropagation()">
    <p class="post-log__content">
      <span class="post-log__text" [innerHTML]="logMessage.logText | safehtml"></span>
      <span class="post-log__colored"> </span> {{ 'on' | translate }}
      <span class="post-log__text" [ngClass]="{'font-weight-medium' : !defaultLayout}">{{ 'Ticket-ID' | translate }}: {{ logMessage.ticketID }} {{ 'at' | translate }} </span>
      <span class="post-log__highlight" [ngClass]="{'font-weight-medium' : !defaultLayout}">
        {{
        logMessage.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY hh:mm A'
        }}</span>
    </p>
    <div class="note-attachment mb-8">
    <div *ngIf="logMessage.noteView" class="post-log__strip mt-0 bg-none" [ngClass]="{'p-5' : defaultLayout, 'px-5' : !defaultLayout}">
      <span class="post-log__strip--label colored__yellow--dark" [ngClass]="{'small_font-size' : !defaultLayout}">{{ 'Added-Note' | translate }} </span>:
      <span class="anywhere" [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="logMessage.noteView?.length < 350; else moreLessNote" [innerHTML]="logMessage.noteView | safehtml"></span>
      <ng-template #moreLessNote>
        <span class="anywhere" [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="logMessage.noteView?.length >= 350"
          [innerHTML]="logMessage.noteView | safehtml: moreNote"></span>
        <span *ngIf="moreNote" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="moreNote=!moreNote" class="colored__locobuzz cursor-pointer">{{ 'Read-More' | translate }}</span>
        <span *ngIf="!moreNote" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="moreNote=!moreNote" class="colored__locobuzz cursor-pointer"> {{ 'Read-Less' | translate }}</span>
      </ng-template>
          </div>
      <div class="d-flex-items-center g-10 mb-2 mt-5 note-attachment__attached" *ngIf="attachmentList?.length > 0">
        <div (click)="openMediaPreview(obj);$event.stopPropagation()" #attachmentRef
          *ngFor="let obj of attachmentList | slice:0:maximumAttachmentLength ;index as i"
          class="d-flex-items-center pl-2 pr-5 py-2 file-pill h-30">
          <img class="w-21" [src]="obj.iconUrl" [ngClass]="{'small-image-width' : !defaultLayout}"/>
          <p class="cursor-pointer" [matTooltip]="obj.fileName.length > 12 ? obj.fileName :''"
            matTooltipClass="custom__tooltip-normal" [ngClass]="{'small_font-size' : !defaultLayout}">{{ obj?.fileName | slice: 0:8 }}{{ obj?.fileName?.length
            > 8 ? '...' : '' }}</p>
          <mat-icon (click)="downloadFile(obj.mediaUrl,obj.name);$event.stopPropagation()" class="ml-6 s-18 cursor-pointer"
            fontSet="material-icons-outlined" >file_download</mat-icon>
        </div>
        <div *ngIf="showMoreAttachment">
          <span class="more-count cursor-pointer"  *ngIf="remainingAttachmentCount>0" (click)="$event.stopPropagation()"
            [matMenuTriggerFor]="attachmentMore">+{{remainingAttachmentCount}}</span>
          <mat-menu #attachmentMore="matMenu" class="">
            <button mat-menu-item class="d-flex-items-center" (click)="openMediaPreview(obj)"
              *ngFor="let obj of attachmentList | slice:maximumAttachmentLength:attachmentList.length ;index as i">
              
              <span class="d-flex-items-center">
                <img class="w-21 ml-6" [src]="obj.iconUrl" />
                <span class="more-count__text text__ellipsis" [matTooltip]="obj.fileName.length > 12 ? obj.fileName :''"
                  matTooltipClass="custom__tooltip-normal">
                  {{ obj?.fileName | slice: 0:15 }}{{ obj?.fileName?.length
                  > 15 ? '...' : '' }}</span>
                <mat-icon (click)="downloadFile(obj.mediaUrl,obj.fileName);$event.stopPropagation()"
                  class="ml-auto mr-0 s-18 cursor-pointer"
                  fontSet="material-icons-outlined">file_download</mat-icon>
              </span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
   <!-- <app-note-attachment-preview [mediaList]="logMessage.mediaList" [fileList]="logMessage.fileList"></app-note-attachment-preview> -->
    <p *ngIf="editedNoteLog && editedNoteLog.length && editedNoteLog[0]?.isNoteEdited">{{ 'Edited-on' | translate }} {{this.editedNoteLog[0].noteEditedOn | datetimeFormatter: 'DD-MMMM-YYYY hh:mm A'}}</p>
    </div>
</ng-template>

<ng-template [ngIf]="LogCondition == 2">
  <div class="post-log mt-12 p-6 mb-0" #attachmentContainer [ngClass]="{'cssClass': '', 'small_font-size' : !defaultLayout}" [ngStyle]="{'margin-left':isCombineLog ? 'unset':'auto', 'max-width':isCombineLog ? '100%' : ''}" (click)="$event.stopPropagation()">
    <div class="post-log__status column-block g-10">
      <ng-container *ngIf="logMessage?.status != LogStatus.SentimentChanged && logMessage?.status != LogStatus.ModifiedTicketTagging && logMessage?.status != LogStatus.ModifyCategoryInformation && logMessage?.status != LogStatus.PriorityChanged">
            <mat-icon *ngIf="showIcon" class="post-log__icon" fontSet="material-icons-outlined">{{matIcon}}</mat-icon>
            <p class="post-log__content">
              <span class="post-log__text" [innerHTML]="logMessage.logText | safehtml"></span>
              <span *ngIf="!(logMessage.ticketID === 0 && (logMessage.status === LogStatus.DeleteFromSocial || logMessage.status === LogStatus.DeleteFromLocobuzz))"
                class="post-log__colored"> </span> {{ 'on' | translate }}
              <span *ngIf="!(logMessage.ticketID === 0 && (logMessage.status === LogStatus.DeleteFromSocial || logMessage.status === LogStatus.DeleteFromLocobuzz))"
                class="post-log__text" [ngClass]="{'font-weight-medium' : !defaultLayout}">
                {{ 'Ticket-ID' | translate }}: {{ logMessage.ticketID }} 
              </span> 
              {{ 'at' | translate }}
              <span class="post-log__highlight" [ngClass]="{'font-weight-medium' : !defaultLayout}">
                {{
                logMessage.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY hh:mm A'
                }}</span>
            </p>
      </ng-container>
      <mat-accordion class="time_line_from_to"
        *ngIf="logMessage?.status == LogStatus.SentimentChanged || logMessage?.status == LogStatus.ModifiedTicketTagging || logMessage?.status == LogStatus.ModifyCategoryInformation || logMessage?.status == LogStatus.PriorityChanged">
        <mat-expansion-panel (opened)="panelOpenState = true; GetTicketCategoryDetails(logMessage)"
          (closed)="panelOpenState = false" class="expansion-panel">
          <mat-expansion-panel-header class="d-flex-items-center" [ngClass]="{'h-25 h-min-25 padding-x-5' : !defaultLayout, 'h-110 timeline-header' : defaultLayout}">
            <div class="w-95-p">
              <p class="post-log__content" [ngClass]="{'small_font-size' : !defaultLayout}">
                <span class="post-log__text" [innerHTML]="logMessage.logText | safehtml"></span>
                <span class="post-log__colored"> </span> {{ 'on' | translate }}
                <span class="post-log__text" *ngIf="logMessage?.status == LogStatus.ModifiedTicketTagging" [ngClass]="{'font-weight-medium' : !defaultLayout}">{{ 'Ticket-ID' | translate }}: {{ logMessage.ticketID }} {{ 'at' | translate }} </span>
                <span class="post-log__text" *ngIf="logMessage?.status == LogStatus.ModifyCategoryInformation" [ngClass]="{'font-weight-medium' : !defaultLayout}">{{ 'Mention-ID' | translate }}: {{logMessage?.brandInfo?.brandID}}/{{logMessage?.channelType}}/{{logMessage?.contentID}} {{ 'at' | translate }} </span>

                <span class="post-log__highlight log_date_time" [ngClass]="{'font-weight-medium' : !defaultLayout}">
                  {{
                  logMessage.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY hh:mm A'
                  }}</span>
              </p>
            </div>
          </mat-expansion-panel-header>
          <mat-card appearance="outlined" [ngClass]="{'mt-10' : defaultLayout}">
            <mat-card-content [ngClass]="{'p-5' : !defaultLayout, 'p-10' : defaultLayout}">
              <div class="column-block" [ngClass]="{'g-10' : defaultLayout, 'small_font-size g-0' : !defaultLayout}">
                <div class="d-flex">
                  <div class="w-45 d-flex">{{ 'From' | translate }}:</div>
                  <ng-container *ngIf="logMessage?.status == LogStatus.PriorityChanged">
                    <p style="align-content: center;"
                      [ngClass]="logMessage?.noteLogDetails?.from == 0 ? 'low_color' : logMessage?.noteLogDetails?.from == 1 ? 'colored__yellow' : logMessage?.noteLogDetails?.from == 2 ? 'colored__red' : 'colored__red--dark'">
                      {{logMessage?.noteLogDetails?.from == 0 ? ('Low' | translate) : logMessage?.noteLogDetails?.from == 1 ? ('Medium' | translate) :
                      logMessage?.noteLogDetails?.from == 2 ? ('High' | translate) : ('Urgent' | translate) }}
                    </p>
                  </ng-container>
                  <ng-container *ngIf="logMessage?.status == LogStatus.SentimentChanged">
                    <p style="align-content: center;"
                      [ngClass]="{ colored__red: logMessage?.noteLogDetails?.from == 2 || logMessage?.noteLogDetails?.from == 4,
                                                                             colored__green: logMessage?.noteLogDetails?.from == 1, 'colored__yellow--dark': logMessage?.noteLogDetails?.from == 0}">
                      <ng-container [ngSwitch]="logMessage?.noteLogDetails?.from">
                        <ng-container *ngSwitchCase="0"> {{ 'Neutral' | translate }} </ng-container>
                        <ng-container *ngSwitchCase="1"> {{ 'Positive' | translate }} </ng-container>
                        <ng-container *ngSwitchCase="2"> {{ 'Negative' | translate }} </ng-container>
                        <ng-container *ngSwitchCase="4"> {{ 'Multiple' | translate }} </ng-container>
                      </ng-container>
                    </p>
                  </ng-container>
                  <ng-container *ngIf="logMessage?.status != LogStatus.PriorityChanged && logMessage?.status != LogStatus.SentimentChanged">
                    <p style="align-content: center;" *ngIf="!logMessage?.logDetails?.previousCategoryMap?.length">{{ 'NA' | translate }}</p>
                    <div *ngIf="logMessage?.logDetails?.previousCategoryMap && logMessage?.logDetails?.previousCategoryMap?.length">
                      <ng-container *ngFor="let fromLog of logMessage?.logDetails?.previousCategoryMap">
                        <div class="collab-panel from-panel w-100-p d-flex mb-5"
                          [ngClass]="[
                            fromLog.sentiment == 1 ? 'positive_panel' :
                            fromLog.sentiment == 0 ? 'neutral_panel' :
                            fromLog.sentiment == -1 ? 'negative_pannel' : '',
                            !defaultLayout ? 'px-5' : 'p-5'
                          ]"
                          *ngIf="fromLog?.subCategories && !fromLog?.subCategories.length">
                          <p
                            [ngClass]="fromLog.sentiment == 1 ? 'positive_mentiontag' : fromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                            &#64;</p>
                          {{fromLog?.name}}
                        </div>
                        <ng-container *ngIf="fromLog?.subCategories && fromLog?.subCategories.length">
                          <ng-container *ngFor="let subFromLog of fromLog?.subCategories">
                            <ng-container *ngIf="subFromLog?.subSubCategories && subFromLog?.subSubCategories.length">
                              <div class="collab-panel from-panel w-100-p d-flex mb-5"
                                [ngClass]="[
                                  subSubFromLog.sentiment == 1 ? 'positive_panel' :
                                  subSubFromLog.sentiment == 0 ? 'neutral_panel' :
                                  subSubFromLog.sentiment == -1 ? 'negative_pannel' : '',
                                  !defaultLayout ? 'px-5' : 'p-5'
                                ]"
                                *ngFor="let subSubFromLog of subFromLog?.subSubCategories">
                                <p
                                  [ngClass]="subSubFromLog.sentiment == 1 ? 'positive_mentiontag' : subSubFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                                  &#64;</p>
                                {{fromLog?.name}} / {{subFromLog?.name}} / {{subSubFromLog?.name}}
                              </div>
                            </ng-container>
                            <div class="collab-panel from-panel w-100-p d-flex mb-5"
                              [ngClass]="[
                                  subFromLog.sentiment == 1 ? 'positive_panel' :
                                  subFromLog.sentiment == 0 ? 'neutral_panel' :
                                  subFromLog.sentiment == -1 ? 'negative_pannel' : '',
                                  !defaultLayout ? 'px-5' : 'p-5'
                                ]"
                              *ngIf="subFromLog?.subSubCategories && !subFromLog?.subSubCategories.length">
                              <p
                                [ngClass]="subFromLog.sentiment == 1 ? 'positive_mentiontag' : subFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                                &#64;</p>
                              {{fromLog?.name}} / {{subFromLog?.name}}
                            </div>
                          </ng-container>
                        </ng-container>
      
                      </ng-container>
                    </div>
                  </ng-container>
      
                </div>
                <div class="d-flex">
                  <div class="w-45 d-flex">{{ 'To' | translate }}:</div>
                  <ng-container *ngIf="logMessage?.status == LogStatus.PriorityChanged">
                    <p style="align-content: center;"
                      [ngClass]="logMessage?.noteLogDetails?.to == 0 ? 'low_color' : logMessage?.noteLogDetails?.to == 1 ? 'colored__yellow' : logMessage?.noteLogDetails?.to == 2 ? 'colored__red' : 'colored__red--dark'">
                      {{logMessage?.noteLogDetails?.to == 0 ? ('Low' | translate) : logMessage?.noteLogDetails?.to == 1 ? ('Medium' | translate) :
                      logMessage?.noteLogDetails?.to == 2 ?
                      ('High' | translate) : ('Urgent' | translate) }}
                    </p>
                  </ng-container>

                  <ng-container *ngIf="logMessage?.status == LogStatus.SentimentChanged">
                    <p style="align-content: center;" [ngClass]="{ colored__red: logMessage?.noteLogDetails?.to == 2 || logMessage?.noteLogDetails?.to == 4,
                                                         colored__green: logMessage?.noteLogDetails?.to == 1,
                                                         'colored__yellow--dark': logMessage?.noteLogDetails?.to == 0
                                            }">
                      <ng-container [ngSwitch]="logMessage?.noteLogDetails?.to">
                        <ng-container *ngSwitchCase="0"> {{ 'Neutral' | translate }} </ng-container>
                        <ng-container *ngSwitchCase="1"> {{ 'Positive' | translate }} </ng-container>
                        <ng-container *ngSwitchCase="2"> {{ 'Negative' | translate }} </ng-container>
                        <ng-container *ngSwitchCase="4"> {{ 'Multiple' | translate }} </ng-container>
                      </ng-container>
                    </p>
                  </ng-container>
      
                  <ng-container *ngIf="logMessage?.status != LogStatus.PriorityChanged && logMessage?.status != LogStatus.SentimentChanged">
                    <p style="align-content: center;" *ngIf="!logMessage?.logDetails?.categoryMap?.length">{{ 'NA' | translate }}</p>
                    <div *ngIf="logMessage?.logDetails?.categoryMap?.length">
                      <ng-container *ngFor="let fromLog of logMessage?.logDetails?.categoryMap">
                        <div class="collab-panel from-panel w-100-p d-flex mb-5"
                          [ngClass]="[
                            fromLog.sentiment == 1 ? 'positive_panel' :
                            fromLog.sentiment == 0 ? 'neutral_panel' :
                            fromLog.sentiment == -1 ? 'negative_pannel' : '',
                            !defaultLayout ? 'px-5' : 'p-5'
                          ]"
                          *ngIf="fromLog?.subCategories && !fromLog?.subCategories.length">
                          <p
                            [ngClass]="fromLog.sentiment == 1 ? 'positive_mentiontag' : fromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                            &#64;</p>
                          {{fromLog?.name}}
                        </div>
                        <ng-container *ngIf="fromLog?.subCategories && fromLog?.subCategories.length">
                          <ng-container *ngFor="let subFromLog of fromLog?.subCategories">
                            <ng-container *ngIf="subFromLog?.subSubCategories && subFromLog?.subSubCategories.length">
                              <div class="collab-panel from-panel w-100-p d-flex mb-5"
                                [ngClass]="[
                                  subSubFromLog.sentiment == 1 ? 'positive_panel' :
                                  subSubFromLog.sentiment == 0 ? 'neutral_panel' :
                                  subSubFromLog.sentiment == -1 ? 'negative_pannel' : '',
                                  !defaultLayout ? 'px-5' : 'p-5'
                                ]"
                                *ngFor="let subSubFromLog of subFromLog?.subSubCategories">
                                <p
                                  [ngClass]="subSubFromLog.sentiment == 1 ? 'positive_mentiontag' : subSubFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                                  &#64;</p>
                                {{fromLog?.name}} / {{subFromLog?.name}} / {{subSubFromLog?.name}}
                              </div>
                            </ng-container>
                            <div class="collab-panel from-panel w-100-p d-flex mb-5"
                              [ngClass]="[
                                subFromLog.sentiment == 1 ? 'positive_panel' :
                                subFromLog.sentiment == 0 ? 'neutral_panel' :
                                subFromLog.sentiment == -1 ? 'negative_pannel' : '',
                                !defaultLayout ? 'px-5' : 'p-5'
                              ]"
                              *ngIf="subFromLog?.subSubCategories && !subFromLog?.subSubCategories.length">
                              <p
                                [ngClass]="subFromLog.sentiment == 1 ? 'positive_mentiontag' : subFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                                &#64;</p>
                              {{fromLog?.name}} / {{subFromLog?.name}}
                            </div>
                          </ng-container>
                        </ng-container>
      
                      </ng-container>
                    </div>
      
                  </ng-container>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <div class="note-attachment mb-8">
    <div *ngIf="logMessage.noteView" class="post-log__strip mt-0 bg-none" [ngClass]="{'p-5' : defaultLayout, 'px-5' : !defaultLayout}">
      <span class="post-log__strip--label">{{ 'Added-Note' | translate }} </span>:
      <span class="anywhere" *ngIf="logMessage.noteView?.length < 350; else moreLessNote"
        [innerHTML]="logMessage.noteView | safehtml"></span>
      <ng-template #moreLessNote>
        <span class="anywhere email-anywhere" *ngIf="logMessage.noteView?.length >= 350"
          [innerHTML]="logMessage.noteView | safehtml: moreNote"></span>
        <span *ngIf="moreNote" (click)="moreNote=!moreNote" class="colored__locobuzz cursor-pointer">{{ 'Read-More' | translate }}</span>
        <span *ngIf="!moreNote" (click)="moreNote=!moreNote" class="colored__locobuzz cursor-pointer">{{ 'Read-Less' | translate }}</span>
      </ng-template>
      <!-- <span class="post__alert--attachment">
        <span class="post__alert--attachment-icon">
          <span class="post__alert--attachment-pdficon">PDF</span> <span class="mr-7 ml-4">+2</span>
        </span>
        <span class="post__alert--attachment-imgicon">
          <mat-icon fontSet="material-icons-outlined">image</mat-icon> <span class="ml-4">+2</span>
        </span>
      </span> -->
      <mat-icon [ngClass]="{'small-icon-font-size' : !defaultLayout}" #editIcon *ngIf="logMessage?.status == 45  && currentUser?.data?.user?.actionButton?.editNotesEnabled" (click)="onEditClick($event,logMessage);$event.stopPropagation()"lass="ml-15" matTooltip="'Edit-Note' | translate">edit</mat-icon>
      <p class="edited-note" [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="editedNoteLog && editedNoteLog.length && editedNoteLog[0]?.isNoteEdited">{{ 'Edited-on' | translate }}{{editedNoteLog[0]?.noteEditedOn | datetimeFormatter: 'DD-MMMM-YYYY hh:mm A'}}</p>
</div>
      <!-- <app-note-attachment-preview [mediaList]="logMessage.mediaList"
        [fileList]="logMessage.fileList"></app-note-attachment-preview> -->
        <!-- <p *ngIf="editedNoteLog[0]?.isNoteEdited">Edited on {{editedNoteLog[0]?.noteEditedOn | datetimeFormatter: 'DD-MMMM-YYYY hh:mm A'}}</p> -->
        <div  class="d-flex-items-center g-10 mt-5 note-attachment__attached" *ngIf="attachmentList?.length > 0">
          
          <div (click)="openMediaPreview(obj);$event.stopPropagation()" #attachmentRef
            *ngFor="let obj of attachmentList | slice:0:maximumAttachmentLength ;index as i"
            class="d-flex-items-center pl-2 pr-5 py-2 file-pill h-30">
            <img class="w-21" [src]="obj.iconUrl" />
            <p class="cursor-pointer" [matTooltip]="obj.fileName.length > 12 ? obj.fileName :''"
              matTooltipClass="custom__tooltip-normal">{{ obj?.fileName | slice: 0:8 }}{{ obj?.fileName?.length
              > 8 ? '...' : '' }}</p>
            <mat-icon (click)="downloadFile(obj.mediaUrl,obj.name);$event.stopPropagation()" class="ml-6 s-18 cursor-pointer"
              fontSet="material-icons-outlined">file_download</mat-icon>
          </div>
          <div *ngIf="showMoreAttachment">
            <span class="more-count cursor-pointer" *ngIf="remainingAttachmentCount>0" (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="attachmentMore">+{{remainingAttachmentCount}}</span>
            <mat-menu #attachmentMore="matMenu" class="">
              <button mat-menu-item class="d-flex-items-center" (click)="openMediaPreview(obj)"
                *ngFor="let obj of attachmentList | slice:maximumAttachmentLength:attachmentList.length ;index as i">
                <span class="d-flex-items-center">
                  <img class="w-21 ml-6" [src]="obj.iconUrl" />
                  <span class="more-count__text text__ellipsis" [matTooltip]="obj.fileName.length > 12 ? obj.fileName :''"
                    matTooltipClass="custom__tooltip-normal">
                    {{ obj?.fileName | slice: 0:15 }}{{ obj?.fileName?.length
                    > 15 ? '...' : '' }}</span>
                  <mat-icon (click)="downloadFile(obj.mediaUrl,obj.fileName);$event.stopPropagation()"
                    class="ml-auto mr-0 s-18 cursor-pointer" 
                    fontSet="material-icons-outlined">file_download</mat-icon>
                </span>
              </button>
            </mat-menu>
          </div>
        </div>
        </div>
      </div>
</ng-template>

<ng-template [ngIf]="LogCondition == 3">
  <div class="post-log mt-12 p-6 mb-0" #attachmentContainer [ngClass]="{'small_font-size' : !defaultLayout}" [ngStyle]="{'margin-left':isCombineLog ? 'unset':'auto', 'max-width':isCombineLog ? '100%' : ''}" (click)="$event.stopPropagation()">
    <p class="post-log__content">
      <span class="post-log__text" [innerHTML]="logMessage.logText | safehtml"></span>
      <span class="post-log__colored"> </span> {{ 'on' | translate }}
      <span class="post-log__text" [ngClass]="{'font-weight-medium' : !defaultLayout}">{{ 'Ticket-ID' | translate }}: {{ logMessage.ticketID }} {{ 'at' | translate }} </span>
      <span class="post-log__highlight" [ngClass]="{'font-weight-medium' : !defaultLayout}">
        {{
        logMessage.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY hh:mm A'
        }}</span>
    </p>
    <div  class="d-flex-items-center g-10 mt-10">
      
      <div (click)="openMediaPreview(obj);$event.stopPropagation()" #attachmentRef
        *ngFor="let obj of attachmentList | slice:0:maximumAttachmentLength ;index as i"
        class="d-flex-items-center pl-2 pr-5 py-2 file-pill h-30">
        <img class="w-21" [src]="obj.iconUrl" />
        <p class="cursor-pointer" [matTooltip]="obj.fileName.length > 12 ? obj.fileName :''"
          matTooltipClass="custom__tooltip-normal">{{ obj?.fileName | slice: 0:8 }}{{ obj?.fileName?.length
          > 8 ? '...' : '' }}</p>
        <mat-icon (click)="downloadFile(obj.mediaUrl,obj.name);$event.stopPropagation()" class="ml-6 s-18 cursor-pointer"
          fontSet="material-icons-outlined">file_download</mat-icon>
      </div>
      <div *ngIf="showMoreAttachment">
        <span class="more-count cursor-pointer" *ngIf="remainingAttachmentCount>0" (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="attachmentMore">+{{remainingAttachmentCount}}</span>
        <mat-menu #attachmentMore="matMenu" class="">
          <button mat-menu-item class="d-flex-items-center" (click)="openMediaPreview(obj)"
            *ngFor="let obj of attachmentList | slice:maximumAttachmentLength:attachmentList.length ;index as i">
            <span class="d-flex-items-center">
              <img class="w-21 ml-6" [src]="obj.iconUrl" />
              <span class="more-count__text text__ellipsis" [matTooltip]="obj.fileName.length > 12 ? obj.fileName :''"
                matTooltipClass="custom__tooltip-normal">
                {{ obj?.fileName | slice: 0:15 }}{{ obj?.fileName?.length
                > 15 ? '...' : '' }}</span>
              <mat-icon (click)="downloadFile(obj.mediaUrl,obj.fileName);$event.stopPropagation()"
                class="ml-auto mr-0 s-18 cursor-pointer" 
                fontSet="material-icons-outlined">file_download</mat-icon>
            </span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="LogCondition == 5">
  <div class="post-log mt-12 p-6 mb-0" [ngClass]="{'small_font-size' : !defaultLayout}" [ngStyle]="{'margin-left':isCombineLog ? 'unset':'auto', 'max-width':isCombineLog ? '100%' : ''}" (click)="$event.stopPropagation()">
    <p class="post-log__content">
      <span class="post-log__text">{{ 'Ticket-updated-latest-information-click' | translate }}
      </span>
      <span class="post-log__highlight colored__locobuzz" (click)="refreshTicketHistory()">
        {{ 'here' | translate }}
      </span>
      <span class="post-log__text">{{ 'to-refresh-optional' | translate }}</span>
    </p>
  </div>
</ng-template>

<ng-template [ngIf]="LogCondition == 6">
  <div class="post-log mt-12 p-6 mb-0" [ngClass]="{'small_font-size' : !defaultLayout}" [ngStyle]="{'margin-left':isCombineLog ? 'unset':'auto', 'max-width':isCombineLog ? '100%' : ''}" (click)="$event.stopPropagation()">
    <p class="post-log__content">
      <span class="post-log__text">{{replyText}}
      </span>
    </p>
  </div>
</ng-template>

<ng-template [ngIf]="LogCondition == 7">
  <div class="post-log mt-12 p-6 mb-0" [ngClass]="{'small_font-size' : !defaultLayout}" [ngStyle]="{'margin-left':isCombineLog ? 'unset':'auto', 'max-width':isCombineLog ? '100%' : ''}" (click)="$event.stopPropagation()">
    <p class="post-log__content">
      <span class="post-log__text" [innerHTML]="logMessage.logText | safehtml"></span>
      <span class="post-log__colored"> </span> {{ 'on' | translate }}
      <span class="post-log__text" [ngClass]="{'font-weight-medium' : !defaultLayout}">{{ 'Ticket-ID' | translate }}: {{ logMessage.ticketID }} {{ 'at' | translate }} </span>
      <span class="post-log__highlight" [ngClass]="{'font-weight-medium' : !defaultLayout}">
        {{
        logMessage.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY hh:mm A'
        }}</span>
    </p>
  </div>
</ng-template>

<ng-template [ngIf]="LogCondition == 8">

  <!-- form progress ends -->
  <!-- filled form -->
  <ng-container *ngIf="formSubmittedEntry && formSubmittedEntry?.jsonString" (click)="$event.stopPropagation()">
    <div  class="form-filled mb-12">
      <div class="form-filled__head">
        <mat-icon fontSet="material-icons-outlined">article</mat-icon>
        <span>
          <span class="text-underline">{{authorName}}</span> {{ 'filled-form-at' | translate }} <span class="text-underline">{{formSubmittedEntry.mentionTime | datetimeFormatter: 'DD MMM YYYY'}}, {{formSubmittedEntry.mentionTime | datetimeFormatter: 'hh:mm a'}}</span>
        </span>
      </div>
      <div class="form-filled__body">
        <ul class="form-filled__list">
          <li *ngFor="let obj of formSubmittedEntry?.jsonString">
            <span class="form-filled__list--title">{{obj?.columnLable}}</span> :
            <span class="form-filled__list--text">{{obj?.customColumValue}} <mat-icon (cdkCopyToClipboardCopied)="copied(obj?.columnLable)"
              [cdkCopyToClipboard]="obj?.customColumValue" fontSet="material-icons-outlined">content_copy
              </mat-icon> </span>
          </li>
          <!-- <li>
            <span class="form-filled__list--title">Contact Number</span> :
            <span class="form-filled__list--text">9876543210 <mat-icon fontSet="material-icons-outlined">content_copy
              </mat-icon> </span>
          </li>
          <li>
            <span class="form-filled__list--title">Pan Card Number</span> :
            <span class="form-filled__list--text">Andreu <mat-icon fontSet="material-icons-outlined">content_copy
              </mat-icon> </span>
          </li>
          <li>
            <span class="form-filled__list--title">Name</span> :
            <span class="form-filled__list--text">Andreu <mat-icon fontSet="material-icons-outlined">content_copy
              </mat-icon>
            </span>
          </li>
          <li>
            <span class="form-filled__list--title">Contact Number</span> :
            <span class="form-filled__list--text">9876543210 <mat-icon fontSet="material-icons-outlined">content_copy
              </mat-icon>
            </span>
          </li>
          <li>
            <span class="form-filled__list--title">Pan Card Number</span> :
            <span class="form-filled__list--text">Andreu <mat-icon fontSet="material-icons-outlined">content_copy
              </mat-icon>
            </span>
          </li> -->
        </ul>
      </div>
      <div class="d-flex-items-center">
      <mat-icon [matMenuTriggerFor]="menu" class="ml-auto"
        aria-label="remove_red_eye">
        remove_red_eye</mat-icon></div>
        <mat-menu #menu="matMenu">
            <div class="post-reply post-detail__conversations--reply" >
    <div class="form-progress">
      <div class="form-progress__head">
        <p class="text-capitalized text__label">{{ 'Form-Refill-Progress' | translate }}</p>
      </div>
      <div class="form-progress__body">
        <div class="form-progress__steps">
          <ul class="form-progress__steps--list">
            <li *ngFor="let logObj of logMessage?.batchIDFormStaus">
              <span [ngClass]="{'done': logObj?.checked, 'no-done': logObj?.status == '101'}" class="check ">
                <mat-icon>done</mat-icon>
              </span>
              <div class="progress-view">
                <span class="progress-text">{{logObj?.name}}</span>
                <span *ngIf="logObj?.mentionTime" class="progress-time">{{logObj.mentionTime | datetimeFormatter: 'DD MMM YYYY'}} {{ 'at' | translate }} {{logObj.mentionTime | datetimeFormatter: 'hh:mm a'}}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
        </mat-menu>
    </div>
  </ng-container>
</ng-template>

<ng-template [ngIf]="LogCondition == 9" >
  <div class="suggestion__main mb-15 mt-10 ml-auto" [ngClass]="parsedNoteData?.Caution ? 'outside-knowledge-base' : ''">
    <div class="suggestion__head">
      <div class="suggestion__head--left">
        <!-- <mat-icon class="suggestion__icon material-icons-outlined">add</mat-icon> -->
         <img src="assets/images/suggest_ai.svg"/>
        <p class="suggestion__head--text">{{'ResponseGenie-Suggestion' | translate}}</p>
      </div>
      <div class="suggestion__pill suggestion__pill--green green-pill" *ngIf="object?.status == 133">
        <p>{{'accepted-by' | translate}} {{object?.username}}</p>
      </div>
      <div class="suggestion__pill suggestion__pill--red red-pill" *ngIf="object?.status == 134">
        <p>{{'discarded-by' | translate}} {{object?.username}}</p>
      </div>
      <div class="suggestion__pill suggestion__pill--green green-pill" *ngIf="object?.status == 135">
        <p>{{'used-and-edited-by' | translate}} {{object?.username}}</p>
      </div>
      <div class="suggestion__pill suggestion__pill--green green-pill" *ngIf="object?.status == 136">
        <p>{{'used-by' | translate}} {{object?.username}}</p>
      </div>
    </div>
    <div class="suggestion__body" [ngClass]="{'pl-5 ml-10' : layout == 'ltr', 'pr-5 mr-10' : layout == 'rtl'}"
      [ngStyle]="{
        'border-left': layout == 'ltr' ? '5px solid var(--color-grey)' : 'none',
        'border-right': layout == 'rtl' ? '5px solid var(--color-grey)' : 'none'
      }">
      <p class="suggestion__body--text" *ngIf="parsedNoteData?.Text && !shouldShowReadMore">
        {{ parsedNoteData.Text }}
      </p>
      <ng-container *ngIf="shouldShowReadMore">
        <p class="suggestion__body--text" *ngIf="!showFullSuggestionText">
          {{ truncatedText }}
          <span class="colored__locobuzz cursor-pointer" (click)="showFullSuggestionText = true">
            ...  {{ 'Read-More' | translate }}
          </span>
        </p>
        <p class="suggestion__body--text" *ngIf="showFullSuggestionText">
          {{ parsedNoteData.Text }}
          <span class="colored__locobuzz cursor-pointer ml-5" (click)="showFullSuggestionText = false">
            {{ 'Read-Less' | translate }}
          </span>
        </p>
      </ng-container>
    </div>
    <div class="d-flex justify-content-space-between align-items-center">
      <div class="suggestion__foot"
        [ngClass]="parsedNoteData?.Caution ? 'suggestion__foot--outside-base' : 'suggestion__foot--from-base'">
        <mat-icon class="suggestion__icon material-icons-outlined mr-10"
          [ngClass]="parsedNoteData?.Caution ? 'out_of_knowledge' : 'in_knowledge'">
          {{ parsedNoteData?.Caution ? 'cancel' : 'check_circle' }}
        </mat-icon>
        <p class="text__italic colored__sub-text mt-2">
          {{ parsedNoteData?.Caution ? ('Response-Outside-Knowledge' | translate) : ('Response-Knowledge-Base' | translate) }}
        </p>
      </div>
      <div class="colored__sub-text">
        {{ object?.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY HH:mm a' }}
      </div>
    </div>
  </div>
</ng-template>

<!-- <div class="post-log">
  <p class="post-log__content">
    <span class="post-log__missedCall"> 
      <mat-icon fontSet="material-icons-outlined">call_missed</mat-icon> 
      <span class="post-log__missedCall--info">Missed Call</span>: You have received a missed call from +91 98765 43210 due to Agents phone was busy on 8 Feb, 2:41pm</span>
    <span class="post-log__highlight">
      08-June-2022 16:04 pm</span>
  </p>
</div> -->
<!-- <div class="post-log post-log__success">
    <p class="post-log__content"><span class="post-log__highlight post-log__user">John deo {{logMessage.assignedToUsername}}</span>has <span class="post-log__colored">approved </span> <span class="post-log__highlight post-log__user">john doe</span>'s reply and closed this <span class="post-log__highlight">ticket(ID-{{logMessage.ticketID}})</span> on <span class="post-log__highlight">23 Aug 2020 at 2:38 pm</span></p>
</div>

<div class="post-log post-log__warning">
    <p class="post-log__content"><span class="post-log__highlight post-log__user">John deo {{logMessage.assignedToUsername}}</span>has <span class="post-log__colored">approved </span> <span class="post-log__highlight post-log__user">john doe</span>'s reply and closed this <span class="post-log__highlight">ticket(ID-{{logMessage.ticketID}})</span> on <span class="post-log__highlight">23 Aug 2020 at 2:38 pm</span></p>
</div>

<div class="post-log post-log__danger">
    <p class="post-log__content"><span class="post-log__highlight post-log__user">Sandeep Puruvelli{{logMessage.assignedToUsername}}</span>has <span class="post-log__colored">rejected </span> <span class="post-log__highlight post-log__user">john doe</span>'s reply and closed this <span class="post-log__highlight">ticket(ID-{{logMessage.ticketID}})</span> and added <span class="post-log__highlight colored__blue">this note </span>on <span class="post-log__highlight">23 Aug 2020 at 2:38 pm</span></p>
    <div class="post-log__strip">
        <span><span class="post-log__strip--label">Rejection Note </span>: This guy has some issues regarding debit card.</span>
    </div>
</div>


<div class="post-log">
    <p class="post-log__content"><span class="post-log__highlight post-log__user">Sandeep Puruvelli{{logMessage.assignedToUsername}}</span>has <span class="post-log__colored">rejected </span> <span class="post-log__highlight post-log__user">john doe</span> has added <span class="post-log__highlight colored__blue">this note </span>on <span class="post-log__highlight">23 Aug 2020 at 2:38 pm</span></p>
    <div class="post-log__strip">
        <span><span class="post-log__strip--label">Added Note </span>: This guy has some issues regarding debit card.</span>
    </div>
</div> -->
