    <app-component-loader *ngIf="isLoading" [postCountTotal]="2" [loaderType]="loaderTypeEnum.post"></app-component-loader>
<div class="crm__detail pb-12" *ngIf="mentionList && !isLoading">
  <div class="post bg__grey--lighter" *ngFor="let crmdetail of mentionList">
    <app-post
      class="post__crm"
      [postData]="crmdetail"
      [openReply]="crmdetail.tagID"
      [fromCall]="1"
      [pageType]="1"
      [crmFlag]="true"
    ></app-post>
    <div
      class="post__foot--wrapper post__foot--bottom"
      *ngIf="crmdetail.srDetails"
    >
      <div class="post__foot--bottom--data">
        <ul>
          <li>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Request-Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Service-Request' | translate }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.panCard">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Pan-Card' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.panCard }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.product">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Product' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.product }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.customer">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Customer' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.customer }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.disposition">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Disposition' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.disposition }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.subDisposition">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Sub-Disposition' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.subDisposition }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.leadStatus">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Lead-Status' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.leadStatus }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.leadStage">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Lead-Stage' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.leadStage }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.leadSubStage">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Lead-Substage' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.leadSubStage }}</span>

          </li>

          <li *ngIf="crmdetail.srDetails.currentOwner">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Current-Owner' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.currentOwner }}</span>

          </li>
          <li  *ngIf="crmdetail.srDetails.owner">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Owner' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.owner }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.losLeadID">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'LosLeadID' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.losLeadID }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.ucic">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'UCIC' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.ucic && crmdetail.srDetails.ucic!=0?crmdetail.srDetails.ucic:'N/A' }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.productGroup">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Product-Group' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.productGroup }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.queryType">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Query-Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.queryType }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.uhid">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'UHID' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.uhid }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.productName">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Product-Name' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.productName }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.sentiments">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Sentiments' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.sentiments }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.complaintCategory">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Complaint-Category' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.complaintCategory }}</span>
          </li>
          <!-- <li *ngIf="crmdetail.srDetails.description">
            <span>Description</span>
            <span>{{ crmdetail.srDetails.description }}</span>
          </li> -->
        </ul>
        <ul>
          <li *ngIf="crmdetail.srDetails.fullName">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Full-Name' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.fullName }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.emailAddress">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Email-Address' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.emailAddress }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.mobileNumber">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Mobile-Number' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.mobileNumber }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.loanAccountType">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Loan-Account-Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.loanAccountType }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.ormTray">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'ORM-Tray' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.ormTray }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.postType">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Post-Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.postType }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.srID">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'SRID' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.srID }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.subType">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Sub-Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.subType }}</span>

          </li>
          <li  *ngIf="crmdetail.srDetails.subCategoryType">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Sub-Category' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.subCategoryType }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.category">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Category' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.category }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.city">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'City' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.city }}</span>

          </li>

          <li *ngIf="crmdetail.srDetails.state">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'State' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.state }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.severity">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Severity' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.severity }}</span>

          </li>
          <li  *ngIf="crmdetail.srDetails.country">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Country' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.country }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.storeLocation">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Store-Location' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.storeLocation }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.functionalArea">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Functional-Area' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.functionalArea }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.domainArea">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Domain-Area' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.domainArea }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.ticket_type">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Ticket-Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.ticket_type }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.cf_issue_type">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Issue-Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.cf_issue_type }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.cf_issue_subtype">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Issue-Sub-Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.cf_issue_subtype }}</span>

          </li>
          <li *ngIf="crmdetail.srDetails.source_name">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Source' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.source_name }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.type_name">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Type' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.type_name }}</span>
          </li>
          <li *ngIf="crmdetail.srDetails.unit_name_displayname">
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Unit' | translate }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.unit_name_displayname }}</span>
          </li>
        <!-- <div class="upload-file" *ngIf="crmdetail.srDetails.attachment">
          <span class="font-weight-600 mr-18">Attachments</span>
          <div class="upload-file__item" *ngFor="let img of convertStringToJson(crmdetail.srDetails.attachment) ">
            <div class="upload-file__item--img">
              <img [src]="'data:image/png;base64,' + img.VersionData" />
            </div>
            <div class="upload-file__item--title colored__white" matTooltip="{{img.Title}}"
              matTooltipClass="custom-tooltip">{{img.Title?.substring(0,12)}}{{img.Title.length>11?'...':''}}</div>
          </div>
        </div> -->
        </ul>

      </div>

    </div>
    <div class="pl-15 pr-15">
      <div class="post__foot--desc" *ngIf="crmdetail?.srDetails?.description">
        <span [ngClass]="{'small_font-size': !defaultLayout}" class="text__label">{{'Description' | translate}}</span>
        <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail?.srDetails?.description?.trim()?crmdetail.srDetails.description:('N-A' | translate) }}</span>
      </div>
      <div class="upload-file mt-12 mb-12" *ngIf="crmdetail?.srDetails?.attachment?.length>5">
        <span [ngClass]="{'small_font-size': !defaultLayout}" class="text__label mr-18">{{ 'Attachments' | translate }}</span>
          <div class="upload-file__block">
            <div class="upload-file__item" *ngFor="let img of convertStringToJson(crmdetail.srDetails.attachment)">
              <div class="upload-file__wrapper">
              <div class="upload-file__item--img cursor-pointer" (click)="imageZoom(crmdetail.srDetails.attachment)">
                <img class="img" [src]="'data:image/png;base64,' + img.VersionData" />
              </div>
              <!-- <div class="upload-file__item--title colored__white" >
                <span class="name" matTooltip="{{img.Title}}"
                matTooltipClass="custom-tooltip" matTooltipPosition="above">{{img.Title}}</span>
              </div> -->
              </div>
              </div>
          </div>

      </div>

    </div>
    <div class="pl-15 pr-15">
      <div class="post__foot--desc" *ngIf="crmdetail.srDetails.description">
        <span [ngClass]="{'small_font-size': !defaultLayout}" class="text__label">Description</span>
        <span [ngClass]="{'small_font-size': !defaultLayout}">{{ crmdetail.srDetails.description }}</span>
      </div>
      <div class="upload-file mt-12 mb-12" *ngIf="crmdetail.srDetails.attachment">
        <span [ngClass]="{'small_font-size': !defaultLayout}" class="text__label mr-18">{{'Attachments' | translate}}</span>
          <div class="upload-file__block">
            <div class="upload-file__item" *ngFor="let img of convertStringToJson(crmdetail.srDetails.attachment)">
              <div class="upload-file__wrapper">
              <div class="upload-file__item--img">
                <img class="img" [src]="'data:image/png;base64,' + img.VersionData" />
              </div>
              <!-- <div class="upload-file__item--title colored__white" >
                <span class="name" matTooltip="{{img.Title}}"
                matTooltipClass="custom-tooltip" matTooltipPosition="above">{{img.Title}}</span>
              </div> -->
              </div>
              </div>
          </div>
        
      </div>
    </div>    
  </div>
</div>
  <div *ngIf="!mentionList && !isLoading" class="noDataFound block-center">
    <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}">error_outline</mat-icon>
    <p [ngClass]="{'small_font-size': !defaultLayout}">{{ 'No-Data-Found' | translate }}</p>
  </div>
