.calling-note {
  padding: 15px;
  &__head {
    margin-bottom: 12px;
    & p {
      font-weight: 600;
    }
  }
  &__foot {
    display: flex;
    align-items: center;
    margin-top: 12px;
    &--attachment {
      display: flex;
      align-items: center;
      & p {
        font-weight: 600;
      }
      & span {
        border-radius: 15px;
        display: flex;
        align-items: center;
        margin-left: 8px;
        padding: 2px 7px;
        justify-content: center;
      }
    }
    &--button {
      margin-left: auto;
    }
  }
  &__dropdown {
    display: flex;
    align-items: center;
    column-gap: 20px;
    & .reply {
      width: 50%;
    }
    & .assign-dropdown {
      width: 50%;
    }
  }
}
