<div class="modal__head">
  <h3 class="modal__title" [ngClass]="{'small_font-size': !defaultLayout}">{{ 'CRM' | translate }}</h3>
  <span class="modal__action">
    <mat-icon mat-button mat-dialog-close [ngClass]="{'small-icon-font-size': !defaultLayout}" fontSet="material-icons-outlined">close</mat-icon>
  </span>
</div>
<div class="modal__body dialog_body">
  <div class="left_side">
    <div class="left_side_list">
      <ul>
        <li class="">
          <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
            <mat-label [ngClass]="{'small_font-size': !defaultLayout}">{{ 'CRM-Details-Of' | translate }}</mat-label>
            <mat-select [ngClass]="{'small_font-size': !defaultLayout}" [(ngModel)]="ticketId">
              <mat-option [ngClass]="{'small_font-size': !defaultLayout}" [value]="postData.ticketID">{{postData.ticketID}}</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li [ngClass]="{ current: defaultMenu, 'small_font-size': !defaultLayout }" (click)="openTab(eBTCCrmRequestType.CustomerInfo)">
          {{ 'Customer-Details' | translate }}
        </li>
        <li *ngFor="let crmList of crmLists" [ngClass]="{ current: crmList.isActive, 'small_font-size': !defaultLayout }"
          (click)="openTab(crmList.requestType)">
          {{ crmList.menuName }}
        </li>
      </ul>
      <span  #createCrmRef mat-raised-button color="primary">
        <button [loading]="masterDetailsLoader || !showCreateSrButton" mat-button color="primary" class="new--sr--btn"
          (click)="newSRDialog(buttonList[0]?.requestType, buttonList[0]?.tabName)" [ngClass]="{'small_font-size': !defaultLayout}">
          {{ 'Create' | translate }} {{buttonList && buttonList.length==1? buttonList[0].tabName:'' }}
        </button>
        <mat-icon *ngIf="buttonList.length>1 && !masterDetailsLoader && showCreateSrButton" mat-button [ngClass]="{'small-icon-font-size': !defaultLayout}" [matMenuTriggerFor]="newsr" fontSet="material-icons-outlined" class="down_arow">
          keyboard_arrow_down</mat-icon>
      </span>

      <mat-menu #newsr="matMenu" yPosition="above" xPosition="before">
        <button  mat-menu-item *ngFor="let crmList of buttonList"
          (click)="newSRDialog(crmList.requestType, crmList.tabName)" [ngClass]="{'small-icon-font-size': !defaultLayout}">
          {{ 'Create' | translate }} {{ crmList.tabName }}
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="right_side" [ngClass]="{
      bg__grey:
        selectedTab === eBTCCrmRequestType.Lead ||
        (eBTCCrmRequestType.ServiceRequest &&
          selectedTab !== eBTCCrmRequestType.CustomerInfo)
    }">
    <mat-dialog-content class="mat-typography container-full" *ngIf="selectedTab === eBTCCrmRequestType.CustomerInfo">
      <div class="profile--header margin-bottom">
        <img *ngIf="author" class="profile--pic" [src]="author.picUrl"
          onError="this.src='assets/images/agentimages/sample-image.svg'" alt="" />
        <span [ngClass]="{'small_font-size': !defaultLayout}" class="profile--name">{{ author?.name }}</span>
        <span [ngClass]="{'small_font-size': !defaultLayout}" class="profile--id" *ngIf="author?.screenname">(&#64;{{ author?.screenname }})</span>
        <svg *ngIf="author?.isVerifed" id="Verified" xmlns="http://www.w3.org/2000/svg" width="10" height="10.995"
          viewBox="0 0 20 19.995">
          <g id="Layer_1" data-name="Layer 1">
            <path id="Path_9228" data-name="Path 9228"
              d="M13.179,2.317h0a3.341,3.341,0,0,1,4.5,4.5h0a3.339,3.339,0,0,1,0,6.359h0a3.342,3.342,0,0,1-4.5,4.5h0a3.33,3.33,0,0,1-6.346,0h0a3.345,3.345,0,0,1-4.516-4.494h0a3.33,3.33,0,0,1,0-6.346h0a3.347,3.347,0,0,1,4.5-4.516h0A3.342,3.342,0,0,1,13.179,2.317Z"
              transform="translate(0.003 0.003)" fill="#27c2ff" />
            <path id="Path_9229" data-name="Path 9229"
              d="M24.857,34.117l-2.931-2.931a.627.627,0,1,1,.883-.89l2.046,2.046L30.306,26.9a.629.629,0,1,1,.885.893Z"
              transform="translate(-16.561 -20.273)" fill="#fff" />
          </g>
        </svg>
      </div>
        <div *ngIf="CrmDetails.length==0" class="no-data">
          <img src="assets/images/No Customer Details Found.svg" >
          <span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'No-Customer-Details-Found' | translate }}</span>
        </div>
      <ul class="profile--data--left">
        <li *ngFor="let crm of CrmDetails">
          <span [ngClass]="{'small_font-size': !defaultLayout}" class="profile--data--list text__label">{{ crm.id }} </span>
          <span [ngClass]="{'small_font-size': !defaultLayout}" class="profile--data--list1">{{ crm.value }}</span>
        </li>
      </ul>
    </mat-dialog-content>

    <!-- CRM Customer Details -->
    <!-- <app-crm-customer class="customer_data" *ngIf="selectedTab === ServiceRequest "></app-crm-customer> -->
    <app-crm-sr-details class="crm__details" *ngIf="selectedTab === eBTCCrmRequestType.ServiceRequest">
    </app-crm-sr-details>
    <app-crm-lead-details class="crm__details" *ngIf="selectedTab === eBTCCrmRequestType.Lead"></app-crm-lead-details>
    <app-crm-query-details class="crm__details" *ngIf="selectedTab === eBTCCrmRequestType.Query">
    </app-crm-query-details>
    <app-crm-ftr-details class="crm__details" *ngIf="selectedTab === eBTCCrmRequestType.FirstTimeResolution">
    </app-crm-ftr-details>
    <app-crm-complaint-details class="crm__details" *ngIf="selectedTab === eBTCCrmRequestType.Complaint">
    </app-crm-complaint-details>
    <!-- <app-crm-recom-product *ngIf="selectedTab === 'Recommended Products(2)' "></app-crm-recom-product> -->
  </div>
</div>
