.crm__details {
  width: 100%;
}

.down_arow {
  position: absolute;
  background: var(--color-locobuzz-dark);
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: 111;
  cursor: pointer;
  color: #fff;
  border-left: 1px solid #0945bf;
  top: 0;
  right: 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 17px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.customer_data {
  width: 100% !important;
}
