<div class="calling-end__wrapper mt-70">
    <div class="calling-end__profile">
        <div class="calling-end__profile--img">
            <img src="assets/images/agentimages/sample-image.svg" alt="">
        </div>
        <div class="calling-end__profile--name">
            <p>{{callObj.customerName}}</p>
        </div>
        <div class="calling-end__profile--number">
            <p>{{callObj.customerContactNo}}</p>
        </div>
    </div>
    <div class="calling-end__details" >
        <div class="calling-end__details--log" *ngIf="callObj.callConnectedOn && callObj.callConnectedOn!=''">
            <div class="calling-end__log--text">
                <p>{{ 'Call-Connected-On' | translate }}</p>
            </div>
            <div class="calling-end__log--time">
                <p>
                    {{callObj.callConnectedOn}}
                </p>
            </div>
        </div>
        <!-- <div class="calling-end__details--log" *ngIf="callObj.callLog && callObj.callLog!=''">
            <div class="calling-end__log--text">
                <p>Call log</p>
            </div>
            <div class="calling-end__log--time">
                <p>
                    {{callObj.callLog}}
                </p>
            </div>
        </div> -->

        <div class="calling-end__details--duration" *ngIf="callObj.callDuration && callObj.callDuration!=''">
            <div class="calling-end__duration--text">
                <p>
                    {{ 'Call-Duration' | translate }}
                </p>
            </div>
            <div class="calling-end__duration--time">
                <ng-container *ngIf="callObj.startTime && callObj.endTime; else callDurn">
                    <p >{{callObj.startTime}} {{'to' | translate}} {{callObj.endTime}}</p>
                    <p class="text-center">({{callObj.callDuration}})</p>
                </ng-container>
                <ng-template #callDurn>
                    <p>{{'N-A' | translate}}</p>
                    <!-- <p class="text-center">NA</p> -->
                </ng-template>
            </div>
        </div>
    </div>
    <div class="calling-end__button">
        <button  mat-flat-button color="accent" class="colored__green-dark cursor-pointer" (click)="makeCall()">
            <mat-icon>local_phone</mat-icon> {{IncomingOrOutgoingFlag?('Call-back' | translate):('Call-again' | translate)}}
        </button>
        <!-- <button *ngIf="!callBackFlag" (click)="acceptCall()" class="connect-btn d-flex-items-center justify-content__center border-none border-radius-4 p-10 cursor-pointer">
            <p>Connect</p>
        </button> -->
    </div>
</div>