.calling-end {
  width: 100%;
  &__wrapper {
    height: calc(100vh - 127px);
    position: relative;
  }
  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    &--img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      & img {
        width: 100%;
      }
    }
    &--name {
      & p {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  &__details {
    height: calc(100% - 230px);
    padding: 15px;
    &--log {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }
    &--duration {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__log {
    &--time {
      & p {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  &__duration {
    &--time {
      & p {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    & button {
      width: 100%;
    }
  }
}

.connect-btn {
  background-color: #C3D2FF !important;
}