<div class="alert-modal">
    <div class="alert-modal__head">
        <div class="alert-modal__title text__label">
           <mat-icon class="s-40 colored__red--dark" fontSet="material-icons-outlined">schedule</mat-icon>
           <span>{{ 'Clickhouse-Bulk-Activity-Long-Time-Message' | translate }}</span>
        </div>
        <div class="alert-modal__close">
            <mat-icon [mat-dialog-close]="false" class="custom__icon--md"> close</mat-icon>
        </div>
    </div>
    <div class="alert-modal__actions">
        <button (click)="submit()" mat-flat-button class="btn-save mr-15">
            {{ 'Confirm-and-Continue' | translate }}
        </button>
        <button [mat-dialog-close]="false" mat-stroked-button color="accent">
            {{ 'Do-it-Later' | translate }}
        </button>
        
    </div>
</div>