.post-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.post-detail__list {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 23%;
  min-width: 23%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 319px;
  flex: 0 0 319px;
}

.post-detail__list--head {
  padding: 13px;
}

.post-detail__list--body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.post-detail__list--body::-webkit-scrollbar-track {
  background: var(--color-white);
}

.post-detail__conversations {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 52%;
  min-width: 52%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.post-detail__conversations--head {
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-detail__conversations--head-item {
  cursor: pointer;
}

.post-detail__conversations--head-item:not(:last-child) {
  margin-right: 1rem;
}

.post-detail__conversations--head-item .mat-mdc-slide-toggle {
  vertical-align: middle;
}

.post-detail__conversations--head-item.history__search {
  border-radius: 4px;
  width: 440px;
  position: relative;
  height: 36px;
}

.post-detail__conversations--head-item.history__search input {
  height: 34px;
  width: 96%;
}

.post-detail__conversations--head-item.history__search .mat-icon {
  position: absolute;
  right: 6px;
  top: 5px;
}

.post-detail__conversations--head .sending {
  width: 100%;
}

.post-detail__conversations--head .sending .mat-icon {
  color: var(--color-yellow-dark) !important;
  font-size: 21px !important;
  margin-right: 4px;
  margin-top: 3px;
}

.post-detail__conversations--head .sending span {
  text-transform: capitalize;
}

.post-detail__conversations--head .sending span span:nth-child(1) {
  font-weight: 500;
}

.post-detail__conversations--head .sending span span:nth-child(2) {
  color: var(--color-green-dark);
  font-weight: 500;
  margin-left: 1px;
}

.post-detail__conversations--head .sending span span:nth-child(3) {
  font-weight: 500;
  margin-left: 10px;
}

.post-detail__conversations--head .sending span span:nth-child(4) {
  color: var(--color-yellow-dark);
  font-weight: 500;
  margin-left: 1px;
}

.post-detail__conversations--body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.post-detail__conversations--body::-webkit-scrollbar-track {
  background: var(--color-light-grey);
}

.post-detail__conversations--body .conversations {
  min-width: 58%;
  max-width: 100%;
}

.post-detail__conversations--body
  .conversations
  .post__head--profile
  .profile__handle--none {
  display: none;
}

.post-detail__conversations--body .post__new--btn {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}

.post-detail__conversations--loadmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 38px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.post-detail__conversations--replydays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6px;
  background: #fff5f3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.post-detail__conversations--replydays .days__reply--icon {
  color: var(--color-white);
  text-align: center;
  margin-right: 6px;
}

.post-detail__conversations--replydays .days__reply--icon .mat-icon {
  font-size: 14px !important;
  border-radius: 50%;
  background: var(--color-red-dark);
}

.post-detail__conversations--replydays .days__reply--text {
  color: var(--color-red-dark);
  font-weight: 500;
}

.post-detail__conversations--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 0;
}

.post-detail__conversations--reply {
  width: 84%;
  margin-left: auto;
  padding-right: 15px;
  position: relative;
}

.post-detail__conversations--reply .post__reply--block--conversation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-detail__conversations--reply .post__reply--block--conversation .right-border {
  border-right: unset;
}

.post-detail__conversations--toggle {
  border-radius: 50% 0 0 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 2;
}

.post-detail__conversations--toggle:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.04);
}

.post-detail__profileinfo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25%;
  min-width: 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 339px;
  flex: 0 0 339px;
}

.post-detail__close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

.post-detail__close > mat-icon {
  margin-right: 5px;
}

.openTabConversation .post-detail__conversations {
  max-width: 70% !important;
  min-width: 70% !important;
}

.openTabConversation .post-detail__profileinfo {
  max-width: 30% !important;
  min-width: 30% !important;
}

.openTabConversation .post-detail__list {
  display: none;
}

.active__user__list--team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
}

.active__user__list--team > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.active__user__list--team > li:nth-child(1) {
  margin-bottom: 12px;
}

.active__user__list--team > li:nth-child(2) {
  margin-bottom: 15px;
}

.active__user__list--team > li:nth-last-child(1) {
  margin-bottom: 20px;
}

.active__user__list--team > li > .active__user__img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.active__user__list--team > li > .user__online {
  position: absolute;
  width: 7px;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background: var(--color-green);
  border: 1px solid var(--color-white);
  bottom: 0;
  left: 11px;
}

.active__user__list--team > li > .active__user__name {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.active__user__list--team > li > .active__user__invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active__user__list--agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.active__user__list--agent > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.active__user__list--agent > li:nth-child(1) {
  margin-bottom: 12px;
}

.active__user__list--agent > li:nth-child(2) {
  margin-bottom: 15px;
}

.active__user__list--agent > li > .active__user__img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.active__user__list--agent > li > .user__online {
  position: absolute;
  width: 7px;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background: var(--color-green);
  bottom: 0;
  left: 11px;
}

.active__user__list--agent > li > .active__user__name {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.active__user__list--agent > li > .active__user__invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-reply-log {
  padding-right: 15px;
}

.none {
  display: none;
}

.custom__selectmenu--trigger {
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 15px;
  padding-right: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 36px;
}

.custom__selectmenu--trigger:after {
  content: '';
  border-style: solid;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -1px;
  margin-left: 14px;
  right: 7px !important;
}

.custom__selectmenu--menu {
  width: 100%;
  z-index: 2;
}

.custom__selectmenu--img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
