/*Loading Post*/

.post-loader {
  background-color: #fff;
  border: 1px #e8eaee solid;
  padding: 1rem;
  margin-bottom: 15px;
  height: 140px;
  border-radius: 4px;

  &__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 1rem;
    border-bottom: 1px #e8eaee solid;
    margin-bottom: 1rem;
    color: #8098a0;
    font-size: 13px;
  }

  & &__avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    border-radius: 25%;
    margin: 0 8px;
    background-image: -webkit-linear-gradient(
      left,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-image: -o-linear-gradient(
      left,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-image: linear-gradient(
      90deg,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-size: 600px;
    -webkit-animation: loading-animation 3s infinite ease-out;
    animation: loading-animation 3s infinite ease-out;
    border-radius: 50%;
  }

  & &__title {
    width: 90px;
    height: 1rem;
    border-radius: 7px;
    background-image: -webkit-linear-gradient(
      left,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-image: -o-linear-gradient(
      left,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-image: linear-gradient(
      90deg,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-size: 600px;
    -webkit-animation: loading-animation 3s infinite ease-out;
    animation: loading-animation 3s infinite ease-out;
  }

  & &__content--line {
    display: block;
    height: 1rem;
    border-radius: 7px;
    background-image: -webkit-linear-gradient(
      left,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-image: -o-linear-gradient(
      left,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-image: linear-gradient(
      90deg,
      #e8eaee 0px,
      rgba(232, 234, 238, 0.8) 40px,
      #e8eaee 80px
    );
    background-size: 600px;
    -webkit-animation: loading-animation 3s infinite ease-out;
    animation: loading-animation 3s infinite ease-out;
    margin-bottom: 1rem;

    &:last-child {
      max-width: 30%;
    }
  }
}

@-webkit-keyframes loading-animation {
  from {
    background-position: -10vw;
  }

  to {
    background-position: 110vw;
  }
}

@keyframes loading-animation {
  from {
    background-position: -10vw;
  }

  to {
    background-position: 110vw;
  }
}
