.quotetweet__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.quotetweet__body .post__head--profile .profile__img {
  width: 20px !important;
  height: 20px !important;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  min-width: 20px;
  overflow: inherit;
}

.quotetweet__inputarea {
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.quotetweet__input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: auto;
  min-height: 50px;
}

.quotetweet__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quotetweet__actions--item:not(:last-child) {
  margin-right: 1rem;
}
