.post-shortened {
  padding: 12px;
  font-size: 1.4rem;
  cursor: pointer;
}

.post-shortened__head,
.post-shortened__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post-shortened__profile {
  margin-bottom: 1rem;
}

.post-shortened__profile--img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 1rem;
}

.post-shortened__profile--channelImage {
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  top: 0px;
  right: 4px;
}

.post-shortened__profile--channelImage .img__fluid {
  position: absolute;
}

.post-shortened__profile--name {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 0.8;
}

.post-shortened__profile--handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 206px;
  overflow-x: hidden;
  white-space: nowrap;
}

.post-shortened__profile--handle > span {
  display: inline-block;
  padding: 0 1rem;
}

.post-shortened__profile--handle > span:first-child {
  padding-left: 0;
}

.post-shortened__profile--handle > span:last-child {
  padding-right: 0;
}

.post-shortened__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.post-shortened__content {
  overflow: hidden;
}

.post-shortened__brand-logo {
  min-width: 20px;
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  max-width: 30px;
  border-radius: 100%;
}

.post-shortened__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 30px;
}

.post-shortened__foot--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-shortened__foot--label {
  display: inline-block;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  white-space: nowrap;
}

.post-shortened__foot--item > mat-icon {
  margin-right: 5px;
}

.post-shortened__foot--item:not(:last-child) {
  margin-right: 1rem;
}

.post-shortened__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 26px;
  max-height: 78px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.post-shortened__time {
  font-size: 1.2rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
