.post-shortened {
  padding: 1rem 1rem 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;

  &__head,
  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__profile {
    //margin-bottom: 1rem;
    margin-bottom: 0.6rem;
    &--img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &--channelImage {
      width: 14px;
      height: 14px;
      position: absolute;
      border-radius: 50%;
      top: -2px;
      right: 5px;
      & .img__fluid {
        position: absolute;
      }
    }

    &--name {
      //font-size: 1.4rem;
      font-size: 1.1rem;
      //font-weight: 600;
      line-height: 0.8;
    }

    &--handle {
      display: flex;
      align-items: center;
      max-width: 206px;
      overflow-x: hidden;
      white-space: nowrap;
      & > span {
        display: inline-block;
        padding: 0 1rem;
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    &--left{
      & .item-img {
        &:not(:last-child)
        {
          margin-bottom: 0.6rem;
        }
      }
      & .priority {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
      }

    }
    &--right {
      width: 89%;
    }
  }

  &__content {
    overflow: hidden;
  }

  &__brand-logo {
    min-width: 20px;
    width: 20px;
    height: 20px;
    // margin-right: 1rem;
    max-width: 30px;
    border-radius: 100%;
  }

  &__foot {
    display: flex;
    align-items: center;
    padding-left: 30px;

    &--item {
      display: flex;
      align-items: center;
    }

    &--label {
      display: inline-block;
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.2rem;
      white-space: nowrap;
    }

    &--item {
      & > mat-icon {
        margin-right: 5px;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__content {
    flex: 1;
    min-height: 26px;
    max-height: 78px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__time {
    //font-size: 1.2rem;
    font-size: 1rem;
    align-self: flex-start;
  }
  &__hover{
    &--text{
      position: fixed;
      width: 30rem;
      max-height: 25rem;
      overflow: auto;
      background: #2D3E5C;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 0.8rem;
      left: 225px;
      z-index: 222;
      color: #E8EAEE;
      display: none;
    }
  }
}
.text-hover {
  &:hover {
    & .post-shortened__hover--text{
      display: block;
    }
    
  }
}
.custom__tooltip--hover {
  left: 0rem;
}
.initials{
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 2rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.h-min-unset {
  min-height: unset !important;
}