.nobrand-user {
  padding: 25px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nobrand-user__image {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.nobrand-user__image img {
  border-radius: 50%;
}

.nobrand-user__image span {
  position: absolute;
  bottom: -1px;
  right: -2px;
  width: 24px;
  height: 23px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nobrand-user__image span .mat-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit !important;
  margin-right: 1px;
}

.nobrand-user__name {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nobrand-user__name p {
  font-weight: 800;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
}

.brand-message {
  padding-left: 25px;
}

.brand-message h2 {
  font-weight: 800;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0px;
}

.brand-message p {
  font-size: 1.6rem;
}
