<div class="modal__body">
  <div class="nobrand-user">
    <div class="nobrand-user__image">
      <img onError="this.src='assets/social-mention/post/default_brand.svg'"
      src="{{profiledetails?.profilePic}}"
        src="https://images.locobuzz.com/2698101273610737.jpg"
        alt=""
      />
      <span>
        <mat-icon fontSet="material-icons-outlined">info</mat-icon>
      </span>
    </div>
    <div class="nobrand-user__name">
      <p class="text-capitalize">
        {{ currentUser.data.user.firstName }}
        {{ currentUser.data.user.lastName }}
      </p>
    </div>
  </div>
  <div class="brand-message">
    <h2 class="text__title">{{ "No-Brand-Assigned" | translate }}</h2>
    <p>
      {{ "No-brands-have-been-assigned-contact-admin" | translate }}
    </p>
  </div>
</div>
<div class="modal__foot">
  <button
    mat-dialog-close
    [routerLink]="['/login']"
    mat-flat-button
    color="accent"
    class="ml-auto"
  >
    {{ "Back-to-Login" | translate }}
  </button>
</div>
