.previewMenu {
    &__body {
        max-height: calc(100vh - 31rem);
        min-height: calc(100vh - 31rem);
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
            padding-left: 1.2rem;
                padding-right: 1.2rem;
                &--no-scroll {
                        min-height: unset !important;
                        max-height: unset !important;
                        overflow: unset !important;
                    }
    }

    &__push {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 1.5rem;
        column-gap: 1rem;

        &--item {
            width: 31.9%;
        }
    }

    &__updates {
        width: 100%;
        display: flex;
        padding: 1.5rem;
        &--left {
            width: 50%;
            padding: 0.7rem 0rem 1rem 1.2rem;

            & .head {
                font-weight: 600;
            }

            & .body {
                height: calc(100vh - 370px);
                overflow-y: auto;
                font-size: 1.2rem;

                &__item {
                    padding: 0.7rem 0rem 0.5rem;

                    &--details {
                        display: flex;
                        align-items: center;

                        & .profile {
                            width: 1.6rem;
                            height: 1.6rem;
                            border-radius: 50%;
                            margin-right: 0.4rem;

                            & img {
                                width: 1.6rem;
                                height: 1.6rem;
                                border-radius: 50%;
                            }
                        }
                    }

                    &--time {
                        display: flex;
                        align-items: center;
                        padding-left: 1.8rem;
                    }
                }
            }
        }

        &--right {
            width: 50%;
            height: calc(100vh - 330px);
            overflow-y: auto;

            & .list-item {
                padding: 1rem 1.2rem;

                &__head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &__fields {
                    display: flex;
                    width: 100%;

                    &--name {
                        font-size: 1.2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 40%;
                    }

                    &--details {
                        width: 60%;
                        font-size: 1.2rem;
                        padding-left: 0.7rem;
                    }
                }
            }
        }
    }

    &__lookup {
        padding: 1.5rem;
        &--fields {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            //padding: 1.2rem 1rem;
            column-gap: 1rem;
            row-gap: 1.4rem;
            
            & .item {
                width: 32.33%;

                & button {
                    border-radius: 6px !important;
                    border: 1px solid var(--color-locobuzz) !important;
                    margin-top: 0.3rem;
                }
            }
        }
    }
    &__textarea{
        min-height: 7rem;
    }
}
.timeload{
    width: 25px;
    height: 38px;
    display: inline-flex;
    align-items: center;    
}
.loader-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.loader-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.loader-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.loader-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.loader-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.sr__create__options{
    &.scroll{
        // height: calc(100vh - 19rem) !important;
        // padding-left: 0rem;
        // padding-right: 0rem;
    }
}
textarea{
    resize: none;
    width: 98%;
}
.lookup-detail {
    &__left {
        width: 97% !important;
    }
    &__area {
        & .area-textarea{
            & .material__select{
                /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
                /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
                & mat-mdc-form-field-wrapper{
                    /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
                    & mat-mdc-form-field-flex{
                        height: 16rem;
                    }
                }
            }
        } 
    }
    &__block {
        & .mat-expansion-panel-body{
            padding: 0.7rem !important;
        }        
    }
    &__radio{
        height: fit-content;
        margin-top: 1.8rem;
        margin-right: 1rem;
        cursor: pointer;
    }
    &__list{
        &--block{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &--li{
            display: flex;
            margin-bottom: 1rem;
            & .title{
                display: flex;
                width: 23%;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: capitalize;
            }
            & .name{
                margin-left: 1rem;
            }
            &.nonTree{
                & .nonTree-block{
                    flex-direction: row!important;
                }                
            }
        }
        &--subli{
            display: flex;
            align-items: center;
            & .title {
                width: 20.5%!important;
            }
        }
    }
}
.accordian_headers{
    display: flex;
    & .mat-expansion-panel{
        width: 100%;
        margin-top: 0rem;
    }
}
.stepper {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin: auto;
        &--list {
            position: relative;
            display: flex;
            flex-direction: row!important;
            align-items: center;
            flex: 1;

            @media (max-width: 768px) {
                font-size: 1.2rem;
            }

            &::before {
                position: absolute;
                content: "";
                width: 37%;
                top: 1rem;
                left: -28%;
                z-index: 2;
            }

            &::after {
                position: absolute;
                content: "";
                width: 37%;
                top: 1rem;
                left: 72%;
                z-index: 2;
            }

            & .step-counter {
                position: relative;
                z-index: 5;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
            }

            & .step-name {
                font-size: 1.2rem;
                color: var(--color-sub-text);
                margin-left: 0.6rem;
            }

            &:nth-child(1)::before {
                content: none;
            }

            &:last-child::after {
                content: none;
            }

            & .active {
                font-weight: bold;
            }
        }
    }
}
.ref-strip{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
    padding: 0.3rem 0.5rem;
    background:rgb(222, 170, 12, 0.1);
    margin-bottom: 1rem;
}
.custom-field {
    background: rgba(24, 94, 223, 0.1);
    padding: 1.2rem;
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}
::ng-deep .bg-form mat-mdc-form-field-outline {
    background: white;
}

.position-sticky {
    position: sticky;
    top: 0;
}

.z-index-1 {
    z-index: 1;
}

::ng-deep .small_font-size {
    & .mat-mdc-tab-header {
        & .mat-mdc-tab-label-container {
            & .mat-mdc-tab-list {
                & .mat-mdc-tab-labels {
                    & .mdc-tab {
                        &__text-label {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }
}

.p-unset {
    padding: unset !important;
}

.create-case-height {
    height: calc(100vh - 19rem) !important;
}


  ::ng-deep .mat-mdc-form-field.error-red .mdc-notched-outline__leading,
  ::ng-deep .mat-mdc-form-field.error-red .mdc-notched-outline__notch,
  ::ng-deep .mat-mdc-form-field.error-red .mdc-notched-outline__trailing {
      border-color: red !important;
  }

@media (min-width: 1395px) and (max-width: 1535px) {
    .lookup-detail {
        &__list {
            &--li {
                & .title {
                    width: 30%;
                }
            }
        }
    }
}

@media (min-width: 1227px) and (max-width: 1394px) {
    .lookup-detail {
        &__list {
            &--li {
                & .title {
                    width: 36%;
                }
            }
        }
    }
}