
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
mat-mdc-form-field-appearance-outline mat-mdc-form-field-wrapper {
  margin: 0em 0 !important;
}

.mat-mdc-dialog-container {
  width: 1000px !important;
}

.mat-expansion-panel-header {
  padding: 0 16px !important;
}

.mat-expansion-panel-body {
  padding: 0 16px 16px !important;
}

.filter__chips {
  width: 100%;
}

.filter__chips--radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  margin: 6px 0;
  margin-right: 1rem;
}

.hidden {
  display: none !important;
}

.age {
  margin-left: 40px;
}

.age > span {
  color: #6b7d8b;
}

.info__light {
  color: #3b5175;
}

.info__light--small {
  color: #7a89a0;
  font-size: 14px;
}

.info__light--small > .mat-icon {
  font-size: 15px !important;
  vertical-align: sub;
}

.margin-bottom {
  margin-bottom: 20px;
}

.input--height {
  height: 75px;
  min-height: auto;
}

.marg-left {
  margin-left: 32px;
}

.mar-top-20 {
  margin-top: 20px;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tag > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  border: 1px solid var(--color-grey);
  border-radius: 20px;
  font-size: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 3px;
}

.mat-accordion {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.mat-accordion > .expansion--panel {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-top: 1px solid var(--color-light-grey);
  border-radius: 0px;
}

.mat-accordion > .expansion--panel:nth-child(even) {
  border-bottom: 1px solid var(--color-light-grey);
  border-radius: 0px;
}

.profile_icon > .mat-icon {
  font-size: 20px !important;
}

.profile_icon > .copy_content {
  font-size: 16px !important;
  vertical-align: sub;
  margin-left: 1rem;
  cursor: pointer;
}

.mat-expansion-panel-header.mat-expanded {
  height: 45px;
}

.own--border {
  width: 100%;
  height: 1px;
  background-color: #f3f5f6;
  position: absolute;
  left: 0;
}

.ver-pro-soc-line {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  left: -77px;
  top: 89px;
  width: 65%;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mob--number > mat-mdc-form-field-appearance-outline mat-mdc-form-field-wrapper {
  margin: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
mat-mdc-form-field-wrapper > mat-mdc-form-field-outline {
  background-color: transparent !important;
}

.selected {
  color: transparent;
  margin: auto;
  width: 35% !important;
}

textarea {
  resize: none;
}
