$margin-bottom: 20px;

/*   TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
mat-mdc-form-field-appearance-outline mat-mdc-form-field-wrapper {
  margin: 0em 0 !important;
}

.mat-mdc-dialog-container {
  width: 1000px !important;
}

.mat-expansion-panel-header {
  padding: 0 16px !important;
}
.mat-expansion-panel-body {
  padding: 0 16px 16px !important;
}

.filter__chips {
  width: 100%;
  &--radio {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin: 6px 0;
    margin-right: 1rem;
  }
}

.hidden {
  display: none !important;
}
.age {
  margin-left: 40px;

  > span {
    color: #6b7d8b;
  }
}
.info__light {
  color: #3b5175;
}
.info__light--small {
  color: #7a89a0;
  font-size: 14px;
  > .mat-icon {
    font-size: 15px !important;
    vertical-align: sub;
  }
}
.margin-bottom {
  margin-bottom: $margin-bottom;
}
.input--height {
  height: 75px;
  min-height: auto;
}
.marg-left {
  margin-left: 32px;
}

.mar-top-20 {
  margin-top: 20px;
}
.tag {
  display: flex;
  flex-wrap: wrap;

  > span {
    display: flex;
    width: 75px;
    border: 1px solid var(--color-grey);
    border-radius: 20px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin: 3px;
  }
}

.mat-accordion {
  box-shadow: none !important;

  > .expansion--panel {
    box-shadow: none !important;
    border-top: 1px solid var(--color-light-grey);
    border-radius: 0px;

    &:nth-child(even) {
      border-bottom: 1px solid var(--color-light-grey);
      border-radius: 0px;
    }
  }
}

.profile_icon {
  > .mat-icon {
    font-size: 20px !important;
  }
  > .copy_content {
    font-size: 16px !important;
    vertical-align: sub;
    margin-left: 1rem;
    cursor: pointer;
  }
}

.mat-expansion-panel-header.mat-expanded {
  height: 45px;
}
.own--border {
  width: 100%;
  height: 1px;
  background-color: #f3f5f6;
  position: absolute;
  left: 0;
}
.ver-pro-soc-line {
  transform: rotate(90deg);
  position: absolute;
  left: -77px;
  top: 89px;
  width: 65%;
}

.mob--number {
  /*   TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  > mat-mdc-form-field-appearance-outline mat-mdc-form-field-wrapper {
    margin: 0;
  }
}

/*   TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
/*   TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
mat-mdc-form-field-wrapper {
  /*   TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  > mat-mdc-form-field-outline {
    background-color: transparent !important;
  }
}

.selected {
  color: transparent;
  //   padding: 7px;
  margin: auto;
  width: 35% !important;
}
textarea {
  resize: none;
}

.upload-file {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-top: 1.2rem;
  &__item {
        position: relative;
        //width: 11rem;
        //height: 11rem;
        border-radius: 4px;
        box-shadow: 0px 3px 6px #0000001a;
        &--delete {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          position: absolute;
          right: 0.4rem;
          top: 0.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        &--img {
          width: 11rem;
          height: 8rem;
          & img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 4px 4px 0px 0px;
          }
        }
        &--title {
            //position: absolute;
           //bottom: 3.6rem;
            background-color: #2d3e5c;
            width: 100%;
            opacity: 0.7;
            font-size: 1.3rem;
            padding: 0rem 0rem 0.1rem 0.5rem;
            border-radius: 0px 0px 4px 4px;
        }
  }
}
.form-textarea{
  max-width: 100%!important;
  flex: 1 1 100%!important
}
