<div class="recording__audio g-10" *ngIf="postData.mediaType==MediaEnum.AUDIO; else audioOther">
    <div class="recording__audio--play">
        <span class="recording__audio--icon" #audioPlay [loader]="audioLoading"
            *ngIf="iconPlayAudio && postData.contentID==this._postDetailService.audioID; else playOther"
            (click)="state.currentTime && postData.contentID==this._postDetailService.audioID ? playAudio() : openFile(postData.contentID,ticketHistoryData.voipAudioUrls[0])">
            <mat-icon class="audio__icon">play_circle_outline</mat-icon>
        </span>
        <ng-template #playOther>
            <span class="recording__audio--icon"
                *ngIf="iconPlayAudio || state.currentTime == state.duration || postData.contentID!=this._postDetailService.audioID"
                (click)="openFile(postData.contentID,ticketHistoryData.voipAudioUrls[0])">
                <mat-icon class="audio__icon">play_circle_outline</mat-icon>
            </span>
        </ng-template>
        <span class="recording__audio--icon"
            *ngIf="iconPauseAudio && state.currentTime!==state.duration && postData.contentID==this._postDetailService.audioID"
            (click)=" pauseAudio()">
            <mat-spinner *ngIf="audioLoading" [diameter]="20"></mat-spinner>
            <mat-icon *ngIf="!audioLoading" class="audio__icon">pause_circle_outline</mat-icon>
        </span>
    </div>
    <div class="recording__audio--slider">
        <span *ngIf="state.currentTime!==state.duration && postData.contentID==this._postDetailService.audioID; else slideOther">
            <mat-slider class="d-flex" min="0" [max]="state?.duration" #ngSlider>
                <input class="custom__range" matSliderThumb [value]="state?.currentTime" (input)="onSliderChange($event.target.value)" (change)="onSliderChangeEnd($event.target.value)" #ngSliderThumb="matSliderThumb" />
            </mat-slider>
        </span>
        <ng-template #slideOther>
            <span>
                <mat-slider class="d-flex" aria-label="unit(s)">
                    <input matSliderThumb class="custom__range"/>
                </mat-slider>
            </span>
        </ng-template>
    </div>
    <div class="recording__audio--time">
        <span style="white-space: nowrap;" class="audio__time"
            *ngIf="state.currentTime!==state.duration && postData.contentID==this._postDetailService.audioID; else timeOther">
            {{ state?.readableCurrentTime }}
        </span>
        <ng-template #timeOther>
            <mat-spinner *ngIf="!audioDuration" [diameter]="20"></mat-spinner>
            <span class="audio__time">
                {{audioDuration}}
                <!-- 00:00 -->
            </span>
        </ng-template>
    </div>
</div>
<ng-template #audioOther>
    <span>
        <!-- {{missedCallText}} -->
    </span>
</ng-template>