::ng-deep .mat-mdc-slider .mdc-slider__thumb-knob{
    width: 12px!important;
    height: 12px!important;
    border-width: 4px!important;
}

.audio {
    &__icon {
        color: var(--color-main-text) !important;
    }

    &__time {
        color: var(--color-main-text) !important;
    }
}