.post,
.post-reply {
  width: 65%;
  // margin-left: auto;
  margin-left: 15px;
}
.post-reply {
  border-radius: 4px;
  margin-bottom: 1rem;
  > .post-log {
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 12px;
    text-decoration: underline;
  }
}
