<div class="note-elem__lookup">
  <form class="note-elem" [formGroup]="form">
    <div class="note-elem__input pt-7" (click)="$event.stopPropagation()">
      <p class="text__label">{{ 'Look-Up' | translate }}</p>
      <p class="note-elem__desc">{{ 'Please-enter-a-value-in-one-of-the-fields' | translate }}</p>
      <mat-form-field appearance="outline" class="material__select input-blue note-elem__field">
        <mat-label class="text-capitalize">{{ 'Email' | translate }}</mat-label>
        <input matInput formControlName="email"
          (input)="enableDiableFromField($event.target.value,'email','email')" />
           <span  matSuffix class="lookup__field--icon" *ngIf="showImages" [ngClass]="{'bg__locobuzz':( lookupdata == 'email'+'Look'),'bg__green':( lookupdata == 'email'+'Found'),'bg__red--dark':( lookupdata == 'email'+'LookNotFound')}">
            <img class="w-25 h-25" [src]="showImages" alt="">
           </span>
        <div *ngIf="f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.pattern"></div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline" class="material__select note-elem__field">
        <mat-label class="text-capitalize">{{ 'Contact-Number' | translate }}</mat-label>
        <input matInput formControlName="contactNumber"
          (input)="enableDiableFromField($event.target.value,'contactNumber','mobile')" />
        <span matSuffix class="lookup__field--icon" *ngIf="showImages"
          [ngClass]="{'bg__locobuzz':( lookupdata == 'mobile'+'Look'),'bg__green':( lookupdata == 'mobile'+'Found'),'bg__red--dark':( lookupdata == 'mobile'+'LookNotFound')}">
          <img class="w-25 h-25" [src]="showImages" alt="">
        </span>
        <div *ngIf="f.contactNumber.errors" class="invalid-feedback">
          <div *ngIf="f.contactNumber.errors.pattern"></div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline" class="material__select input-red note-elem__field">
        <mat-label class="text-capitalize">{{ 'Order-ID' | translate }}</mat-label>
        <input matInput formControlName="orderId"
          (input)="enableDiableFromField($event.target.value,'orderId','orderCode')" />
        <span matSuffix class="lookup__field--icon" *ngIf="showImages"
          [ngClass]="{'bg__locobuzz':( lookupdata == 'orderCode'+'Look'),'bg__green':( lookupdata == 'orderCode'+'Found'),'bg__red--dark':( lookupdata == 'orderCode'+'LookNotFound')}">
          <img class="w-25 h-25" [src]="showImages" alt="">
        </span>
      </mat-form-field>
      <mat-form-field appearance="outline" class="material__select note-elem__field">
        <mat-label class="text-capitalize">{{ 'Sub-Order-ID' | translate }}</mat-label>
        <input matInput formControlName="subOrderId"
          (input)="enableDiableFromField($event.target.value,'subOrderId','suborderCode')" />
      <span matSuffix class="lookup__field--icon" *ngIf="showImages"
        [ngClass]="{'bg__locobuzz':( lookupdata == 'suborderCode'+'Look'),'bg__green':( lookupdata == 'suborderCode'+'Found'),'bg__red--dark':( lookupdata == 'suborderCode'+'LookNotFound')}">
        <img class="w-25 h-25" [src]="showImages" alt="">
      </span>
      </mat-form-field>
      <mat-form-field appearance="outline" class="material__select note-elem__field">
        <mat-label class="text-capitalize">{{ 'Ticket-ID' | translate }}</mat-label>
        <input matInput formControlName="ticketId"
          (input)="enableDiableFromField($event.target.value,'ticketId','caseId')" />
      <span matSuffix class="lookup__field--icon" *ngIf="showImages"
        [ngClass]="{'bg__locobuzz':( lookupdata == 'caseId'+'Look'),'bg__green':( lookupdata == 'caseId'+'Found'),'bg__red--dark':( lookupdata == 'caseId'+'LookNotFound')}">
        <img class="w-25 h-25" [src]="showImages" alt="">
      </span>
      </mat-form-field>
    </div>
    <div class="note-elem__actions">
      <button mat-stroked-button class="ml-auto blank-hoverBtn mr-8 colored__blue"
        (click)="$event.preventDefault();closedDialog()">{{ 'Cancel' | translate }}</button>
      <button mat-flat-button color="accent" [loading]="loading"  [ngClass]="{'element__disable': nextButtonDisable}" (click)="getDataRelatedToLookUp()">
        {{ 'Next' | translate }}
      </button>
    </div>
  </form>
</div>
