<div class="post-bulkselect">
  <div class="post-bulkselect__item mr-2">
    <mat-checkbox  [(ngModel)]="selectAllIsChecked"  [checked]="groupView ? selectAllIsChecked : mentionListLength === parentpostCount"  (change)="bulkpostselect($event.checked)"
      >{{ 'Select-All' | translate }} {{ groupView ? totalCount: ''}}</mat-checkbox
    >
  </div>
  <div class="post-bulkselect__item ml-10 mr-12">
    <span class="post-bulkselect__label nowrap"
      >{{ (selectAllIsChecked && groupView) ? totalCount: parentpostCount }} {{ 'Selected' | translate }}</span
    >
  </div>
  <div class="d-flex-items-center ml-auto">
  <div *ngIf="showActionableButtons" class="post-bulkselect__item ml-auto" (click)="bulkAction('reply')">
    <button mat-stroked-button class="post-bulkselect__button">{{ 'Reply' | translate }}</button>
  </div>
  <div class="post-bulkselect__item post-bulkselect__item--blue" (click)="bulkAction('tagcategory')">
    <button mat-stroked-button class="post-bulkselect__button">
      {{ 'Retag-Category' | translate }}
    </button>
  </div>

  <div *ngIf="showMarkAsSeen && groupView" class="post-bulkselect__item" (click)="markAsSeenOrUnseen(1)">
   <button mat-stroked-button class="post-bulkselect__button">
      <mat-icon fontSet="material-icons-outlined" aria-hidden="false" class="post__foot--icon mr-6 colored__white"
        aria-label="local activity">done_all</mat-icon>{{ 'Mark-Read' | translate }}
    </button>
  </div>

  <div *ngIf="showMarkAsUnSeen && groupView" class="post-bulkselect__item" (click)="markAsSeenOrUnseen(0)">
    <button mat-stroked-button class="post-bulkselect__button">
    <mat-icon fontSet="material-icons-outlined" aria-hidden="false" class="post__foot--icon mr-6"
      aria-label="local activity">remove_done</mat-icon>{{ 'Mark-Unread' | translate }}
    </button>
  </div>

  <div class="post-bulkselect__item post-bulkselect__item--red" (click)="bulkAction('delete')">
    <button mat-stroked-button class="post-bulkselect__button">
      {{ 'Bulk-Delete' | translate }}
    </button>
  </div>

  <div *ngIf="showActionableButtons"
    class="post-bulkselect__item post-bulkselect__item--red"
    (click)="bulkAction('close')"
  >
    <button mat-stroked-button class="post-bulkselect__button">
      {{ 'Direct-Close' | translate }}
    </button>
  </div>
  <div
    class="post-bulkselect__item post-bulkselect__item--close color__white"
    (click)="bulkAction('hideactionpanel')"
  >
    <mat-icon>close</mat-icon>
  </div>
  </div>
</div>
