.custom__column {
  position: relative;
  padding: 12px;
  &--replyTag {
    flex-direction: row;
    flex-wrap: wrap;
  }
  & .ai-note {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 2rem;
      background-color: #fffae5;
      border: 2px solid #ffdb4d;
      border-radius: 6px;
      font-size: 1.3rem;
      font-weight: 500;
      padding: 0.4rem 0.8rem;
      margin-bottom: 1rem;
      letter-spacing: -0.02em;
      & .mat-icon {
        font-size: 2rem;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        min-height: 2rem;
        cursor: pointer;
      }
      & p {
        line-height: 1.25 !important;
      }
      &__title {
        font-weight: 700 !important;
        color: var(--color-yellow-dark);
      }
      &__note{
        color: var(--color-main-text);
      }
  }
  &.right-scroll {
    overflow: auto;
    max-height: 315px;
  }
}
.right-border {
  border-right: 1px solid var(--color-light-grey) !important;
}
.insert_photo {
  &--ckeditor {
    border: 1px solid #d2d2d2;
    padding: 6px;
    border-top: unset;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    & .textarea-featured__foot--icon {
      border: none !important;
    }
  }
}

.send-email {
  overflow-x: hidden;

  &__item {
    position: relative;
    &--spinner {
      position: absolute;
      left: 1px;
      top: 16%;
      padding: 10px;
      width: 98%;
      background-color: rgba(255, 255, 255, 0.7);
      height: 199px;
      z-index: 10;
      & .mat-mdc-progress-spinner {
        margin: 35px auto;
      }
    }
  }
  &__reply {
    &--handle {
      flex-direction: column;
    }
  }
  &__emailblock{
    width: 100%;
    min-height: 25rem;
  }
  &__emailfriendly {
    display: flex;
    align-items: center;
    width: 100%;
    // padding-left: 0.7rem;
    &--left {
      width: 7%;
    }
    &--right {
      width: 97%;
    }
  }
}

.event-none {
  pointer-events: none;
}

.toggle_pre_mail_icon {
  //position: absolute;
  //bottom: -2rem;
  position: relative;
  top: 0.6rem;
  &__loader{
    bottom: 5.6rem;
  }
}

.replyRephraseMenu {
  display: flex;
  width: 60.8rem;
  min-width: 60.8rem;
  max-width: 60.8rem;
  box-shadow: 0px 1px 5px #2d3e5c33;
  border-radius: 8px;
  position: absolute;
  top: 4rem;
  z-index: 1;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 0.8rem;
    &:not(:last-child)
    {
      border-right: 1px solid var(--color-grey);
    }
    & .mat-icon {
      font-size: 2.2rem;
      width: 2.2rem;
      min-width: 2.2rem;
      height: 2.2rem;
      min-height: 2.2rem;
    }
    &--drag{
      padding: 0rem 0.5rem;
      cursor: all-scroll;
      & .mat-icon {
        cursor: all-scroll;
        color: var(--color-grey);
      }
      & .drag-hover {
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        &:hover {
          background-color: var(--color-lighter-grey);
          & .mat-icon {
            color: var(--color-main-text);
          }
        }
      }
    }
    &--one {
      display: flex;
      align-items: center;
      padding: 0px 1rem;
    }
    &--two {
      display: flex;
      align-items: center;
      padding: 0px 1rem;
    }
    &--three {
      display: flex;
      align-items: center;
      padding: 0px 1rem;
    }
    &--four {
      display: flex;
      align-items: center;
      padding: 0rem;
    }
    & img {
        cursor: pointer;
    }
  }
}

.promptMenu {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    &--title {
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
  &__body {
    padding: 1rem 1.5rem;
    &--title {
      font-weight: 500;
      font-size: 1.3rem;
      margin-bottom: 1.2rem;
    }
  }
  &__foot {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    &--title {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--color-locobuzz);
      text-decoration: underline;
    }
  }
}

.fxFlex {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.toggle__Mail {
  position: absolute;
  bottom: 3.3rem;
  left: 1rem;
  top:inherit;
}

.max-length {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2rem;
}
.aiinsertMenu {
  &__head {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.7rem;
  }
  &__body {
    padding: 1rem;
    &--content {
      background-color: #1C9F001A;
      padding: 0.7rem 1rem 0.8rem 1rem;
      border-radius: 8px;
      & .body {
        margin-bottom: 2rem;
        line-height: 1.25;
        font-size: 1.2rem;
      }
      & .foot {
        display: flex;
        align-items: center;
        .btn-insert {
          display: flex !important;
          align-items: center;
          justify-self: center;
          height: 3rem !important;
          min-height: 3rem !important;
          max-height: 3rem !important;
          // margin-right: 1.5rem;
          // padding-left: 1.2rem !important ;
          padding-right: 1.2rem !important;
        }
        .btn-reject {
          display: flex !important;
          align-items: center;
          justify-self: center;
          height: 3rem !important;
          min-height: 3rem !important;
          max-height: 3rem !important;
          background-color: var(--color-white) !important;
          color: var(--color-red) !important;
          border: 1px solid var(--color-red) !important;
          padding-left: 1.2rem !important ;
          padding-right: 1.2rem !important;
        }
      }
    }
  }
  &__foot {
    padding: 0rem 0rem 1rem;
    //display: flex;
    align-items: center;
    column-gap: 1rem;
    &--item {
      border-radius: 8px;
      padding: 0.3rem;
      cursor: pointer;
    }
    &--translate {
      padding: 0.5rem;
      border-radius: 8px;
      border:1px solid ;
      margin-left: auto;
      border: 1px solid #E5C8FF;
    }
  }
}
.out_of_knowledge{
    margin: 0px;
    color: var(--color-red);
    /* height: 19px; */
    font-size: 20px;
    position: relative;
    top: 1px;
    left: 6px;
}
.in_knowledge {
  margin: 0px;
  color: var(--color-green);
  /* height: 19px; */
  font-size: 20px;
  position: relative;
  top: 1px;
  left: 6px;
}
.text-green {
  color: var(--color-green);
}
.noData {
  flex-direction: inherit;
  column-gap: 12px;
  position: relative;
  top: 45px !important;
  .mat-icon {
      font-size: 7rem !important;
      width: 7rem !important;
      height: 7rem !important;
      min-width: 7rem !important;
      min-height: 7rem !important;
      line-height: 7rem !important;
    }

  & p {
    font-size: 2rem;
  }
}

.rowSize{
  row-gap: 13px!important;
}

.disabled_select {
  user-select: none;
}

.toEmailGroupLabel{
      border-top: 1px solid #b1b1b1;
      padding-left: 15px;
      padding-top: 7px;
      font-weight: bold;
      color: var(--color-main-text) !important;
      margin-bottom: 5px;
}
::ng-deep .conv-tag{
  width: 100%!important;
}
/*TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
::ng-deep .chiplist-height__select .mat-chip-list-wrapper{
  max-height: 48px!important;
}
.cursor_move{
  cursor: move;
  user-select: text;
}

.caption{
  padding: 5px 0px;
  font-size: 12px;
  font-weight: 500;
}
.selected {
  background-color: #d1e7ff;
  /* Light blue background */
  border: 1px solid #007bff;
  /* Blue border */
  color: #000;
  /* Black text */
}
.blacklist{
  border: 1px solid #d32f2f;
}
.selected.blacklist {
  border: 1px solid #d32f2f;
    box-shadow: 0 0 0 1px #1976d2;
}
.input__wrapper--label {
  position: relative;
  top: -2px;
  padding-right: 12px;
}
::ng-deep .cdk-drag-animating {
  transition: unset !important;
}

.grey-pill {
  background-color: #F2F0F4;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.colored-black {
  color: var(--color-black);
}

// .no-outline {
//   ::ng-deep .mat-mdc-text-field-wrapper {
//     margin: unset !important;
//     padding: unset !important;
//     & .mat-mdc-form-field-flex {
//       & .mdc-notched-outline {
//         &__leading {
//           border: unset !important;
//         }
//         &__trailing {
//           border: unset !important;
//         }
//       }
//     }
//   }
// }

.m-top-10 {
  margin-top: -1rem;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

::ng-deep .editor-height .cke .cke_inner .cke_contents {
  // height: 100px !important;
}

.bg-inherit {
  background: inherit;
}

.subject-pill {
  max-width: 66rem;
  width: fit-content;
}

.popup-btn {
  top: .5rem;
  right: 1.4rem;
  background: linear-gradient(151deg, rgba(27, 255, 255, 0.15) 9.82%, rgba(116, 20, 239, 0.15) 97.95%);
  box-shadow: 0px 4px 4px 0px rgba(58, 77, 233, 0.20);
  transition: 0.3s ease;
}

.popup-btn:hover {
  background: linear-gradient(151deg, rgba(27, 255, 255, 0.30) 10.17%, rgba(116, 20, 239, 0.30) 97.95%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);

  .popup-icon {
    color: rgba(24, 94, 223, 1);
  }
}

.popup-icon {
  color: rgba(58, 77, 233, 0.4);
}

::ng-deep .reply-popup {
  position: fixed !important;
  bottom: 0;
  right: 4rem;
  width: 75rem;
  min-width: unset !important;
}

.max-w-130 {
  max-width: 13rem;
  width: fit-content !important;
}

.w-64-p {
  width: 64%;
}

.reply-type-pill {
  min-width: 354px !important;
}

.blackListErrorMessage{
  border: 1px solid #f44336;
   background-color: #fdecea;
   color: #d32f2f;
   margin: 10px 0;
   padding: 2px;
   border-radius: 4px;
   display: flex;
   align-items: center;
}

::ng-deep .ai-layout {
  & .custom {
    &__column {
      padding: 0.5rem !important;
      margin-right: unset !important;
      & .mat-mdc-form-field {
        height: fit-content !important;
        min-height: fit-content !important;
        margin-bottom: 0.5rem !important;
        & .mat-mdc-text-field-wrapper {
          height: fit-content !important;
          min-height: 3rem;
          max-height: 12rem;
          display: flex !important;
          align-items: center !important;
          margin-bottom: 0.5rem !important;
          & .mat-mdc-form-field-infix {
            & .mat-mdc-select {
              & .mat-mdc-select-trigger {
                & .mat-mdc-select-value {
                  & .mat-mdc-select-value-text {
                    font-size: 11px !important;
                  }
                }
              }
            }
          }

          & .mat-mdc-form-field-flex {
            min-height: 3rem;
            max-height: 12rem;
            height: fit-content;
            overflow: auto;
            & .mat-mdc-form-field-infix {
              min-height: 3rem;
              max-height: 12rem;
              height: fit-content;
              overflow-y: auto;
              overflow-x: hidden;
              & .mat-mdc-chip-set {
                min-height: 3rem;
                max-height: 11rem;
                height: fit-content;
                overflow: auto;
                & .mdc-evolution-chip-set {
                  &__chips {
                    min-height: 3rem;
                    max-height: 12rem;
                    height: fit-content;

                    & .mat-mdc-autocomplete-trigger {
                      height: 3rem !important;
                    }

                    & .mat-mdc-chip {
                      height: 2rem !important;

                      & .mdc-evolution-chip {
                        &__action {
                          padding: 0 0.5rem;
                        }
                        &__text-label {
                          font-size: 11px !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.w-unset {
  width: unset !important;
}

.ai-layout-width {
  width: 58.16px !important;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.flex-wrap {
  &__wrap {
    flex-wrap: wrap;
  }
}