<div class="alert-modal">
    <div class="alert-modal__head">
        <div class="alert-modal__close">
            <mat-icon class="custom__icon--md" (click)="handleSkip()" [mat-dialog-close]="false">
                close</mat-icon>
        </div>
    </div>
    <div class="alert-modal__content mt-8">
        <video id='vid' class="modal-video w-100-p" controls>
            <source src="assets/email/tutorial-email.mp4" alt="" type="video/mp4" />
            <source src="assets/email/tutorial-email.mp4" alt="" type="video/mp4" />
            {{'Your-browser-does-not-support-HTML-video' | translate}}
        </video>
    </div>
    <div class="alert-modal__actions mt-8">
        <span class="d-flex-items-center ml-auto">
            <button (click)="handleSkip()" mat-stroked-button class="mr-15" color="accent" [mat-dialog-close]="false">
                {{'Skip' | translate}}
            </button >
            <button (click)="handleDontShowAgain()"  [mat-dialog-close]="false" mat-flat-button color="accent">
                {{'Dont-Show-Again' | translate}}
            </button>
        </span>
    </div>
    </div>