.alert-modal {
    padding: 18px;
    position: relative;
    overflow-wrap: anywhere;

    @media (max-width: 600px) and (min-width: 320px) {
        max-width: 100%;
        height: 45vh;
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__close {
        margin-left: auto;
        cursor: pointer;
        position: absolute;
        top: 7px;
        right: 15px;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        // position: absolute;
        // bottom: 10px;
        // right: 22px;
        font-size: 1.6rem;

        &>a {
            display: inline-block;
            font-weight: 500;
            cursor: pointer;
            padding: 0px 7px;

            &:not(:last-child) {
                margin-right: 8px;
            }

            &:hover {
                background-color: rgba(24, 94, 223, 0.1);
                padding: 0px 7px;
            }
        }
    }

    &__title {
        font-size: 2.2rem;
        font-family: 'Roboto Slab', serif;
        font-weight: 600;

        @media (max-width: 1050px) {
            font-size: 1.6rem;
        }

        &--realtime {
            min-height: 50px;
            max-height: 90px;
            overflow-y: scroll;
        }
    }

    &__content {
        font-size: 1.6rem;
    }

    & .scroll {
        height: 180px;
        min-height: 180px;
        max-height: 180px;
        overflow: auto;
    } 
}