@use 'app/@locobuzz/scss/partials/_breakpoints.scss' as breakpoints;

$capitalize: capitalize;
$mt-14: 14px;

.post {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 12px;
  transition: 0.2s all;
  // overflow: hidden;
  @include breakpoints.media-breakpoint('xs') {
    flex-direction: column;
  }

  & .profile__img {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    min-width: 20px;
    & .img__fluid {
      vertical-align: inherit;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    padding: 0.8rem 12px;
    border-radius: 8px 8px 0 0;

    // @include breakpoints.media-breakpoint('xs') {
    //   position: relative;
    //   height: 17rem;
    // }

    &--profile {
      display: flex;
      align-items: center;
      // @include breakpoints.media-breakpoint('xs') {
      //   flex-direction: column-reverse;
      //   row-gap: 1rem;
      //   align-items: flex-start;
      //   position: absolute;
      //   top: 15px;
      // }
      @media screen and (min-width: 350px) and (max-width: 599px){
        position: inherit;
        flex-direction: unset;
      }
      & .profile__handle {
        margin-left: 5px;
      }
    }

    &--channel {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    &--info {
      margin-left: auto;
      display: flex;
      align-items: center;
      // @include breakpoints.media-breakpoint('xs') {
      //   column-gap: 1rem;
      //   position: absolute;
      //   bottom: 1rem;
      //   border-top: 1px solid var(--color-light-grey);
      //   width: 100%;
      //   left: 0;
      //   padding-left: 2rem;
      // }
      & .timeShow-hover {
        position: relative;
        cursor: pointer;
        &:hover {
          & .custom__tooltip {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px);
          }
        }
        & .custom__tooltip {
          position: absolute;
          right: -10px;
          background: white;
          z-index: 1;
          top: 30px;
          width: 234px;
          padding-top: 5px;
          box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
            0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
          padding-bottom: 5px;
          padding-left: 5px;
          border-radius: 6px;
          opacity: 0;
          visibility: hidden;
          transition: 0.2s all;
          transform: translate(0, -5px);
        }
      }
    }

    &--infoitem {
      display: flex;
      align-items: center;
      @include breakpoints.media-breakpoint('xs') {
        margin-top: 1rem;
      }
    }

    &--infoitem:not(:last-child) {
      margin-right: 1rem;
    }

    &--label {
      display: inline-block;
      margin-left: 5px;
    }
  }

  &__body {
    padding: 12px;
    border-radius: 0px 0px 8px 8px;
    @include breakpoints.media-breakpoint('xs') {
      padding-bottom: 0px;
    }

    &--data {
      display: flex;
      flex: 1;
      flex-direction: row;
      position: relative;
    }

    &--content {
      &:empty {
        display: none;
      }
      margin-right: 0px !important;
      flex: 1;
    }

    &--email {
      display: flex;
      align-items: flex-start;

      &:not(:last-child) {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
    }

    &--profile {
      margin-right: 1rem;
    }

    &--info {
      flex: 1;
    }

    &--label {
      font-weight: 500;
    }

    &--more {
      position: relative;
      margin-top: 20px;
      min-height: 30px;
      &:before {
        content: '';
        display: block;
        margin-bottom: 5px;
      }

      &:after {
        content: '';
        display: block;
      }

      & > span {
        position: absolute;
        top: -12px;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        padding: 4px;
      }
    }
  }

  &__foot {
    display: flex;
    align-items: center;
    @include breakpoints.media-breakpoint('sm') {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
    }
    // @include breakpoints.media-breakpoint('xs') {
    //   height: 22rem;
    //   flex-wrap: wrap;
    //   flex-direction: column-reverse;
    // }

    &--item {
      display: flex;
      align-items: center;
      padding: 12px;
      cursor: pointer;
      // min-width: 54px;
      text-overflow: ellipsis;
      flex-shrink: 1;
      min-width: 0;
      position: relative;
      &:hover &--hover {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
      &--hover {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 180px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s all;
        transform: translate(0, -5px);
      }

      & .mat-icon--transform {
        transform: scaleY(-1);
      }
      @include breakpoints.media-breakpoint('md') {
        min-width: 61px;
      }
      &--content-width {
        min-width: auto;
      }
    }

    &--itemaction {
      min-width: auto;
      & .btn {
        &__negative--pill {
          width: auto !important;
          height: auto !important;
          padding: 1px 5px !important;
          border-radius: 4px !important;
        }
        &__positive--pill {
          width: auto !important;
          height: auto !important;
          padding: 1px 5px !important;
          border-radius: 4px !important;
        }
        &__neutral--pill {
          width: auto !important;
          height: auto !important;
          padding: 2px 5px !important;
          border-radius: 4px !important;
        }
      }

      &--checkitem {
        min-width: auto !important;
      }

      &--icon {
        display: inline-block;
        margin-right: 1rem;
      }

      &--label {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        // max-width: 96px;
        text-overflow: ellipsis;
        @include breakpoints.media-breakpoint('xl') {
          // max-width: 140px;
        }
      }

      &--wrapper {
        display: flex;
        align-items: center;
        min-width: 0;
        max-width: 76%;
        @include breakpoints.media-breakpoint('sm') {
          flex-wrap: wrap;
        }
        @include breakpoints.media-breakpoint('xs') {
          flex-direction: row;
          flex-wrap: wrap;
          align-self: flex-start;
          margin-left: 0 !important;
          border-bottom: 1px solid var(--color-light-grey);
          width: 100%;
        }
        > .order__change {
          order: 2;
          @include breakpoints.media-breakpoint('xs') {
            order: 2;
          }
        }

        &--tabsize {
          &--right {
            @include breakpoints.media-breakpoint('sm') {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }

        &--width {
          // max-width: 747px;
          // min-width: 585px;
          @include breakpoints.media-breakpoint('xl') {
            // max-width: 1000px;
          }
          @include breakpoints.media-breakpoint('md') {
            border-bottom: 1px solid var(--color-light-grey);
          }
        }
        @include breakpoints.media-breakpoint('md') {
          flex: auto;
        }
        & .MakeActionable:hover {
          background-color: rgba(24, 94, 223, 0.1);
          transition: all 0.4s;
        }

        & .circle-itemaction {
          & .btn__negative {
            width: 27px !important;
            height: 27px !important;
            border-radius: 50% !important;
          }
          & .btn__positive {
            width: 27px !important;
            height: 27px !important;
            border-radius: 50% !important;
          }
        }
      }
      @include breakpoints.media-breakpoint('md') {
        flex-wrap: wrap;
      }
      &--pills {
        float: right;
      }
    }

    &__pill {
      border-radius: 20px;
      padding: 3px 1rem;
      display: flex;
      align-items: center;

      &--icon {
        margin-right: 3px;
      }
    }

    &__alert {
      padding: 3px 8px;
      border-radius: 4px;
      &--label {
        color: var(--color-yellow-dark);
        font-weight: 500;
      }

      &--title {
        font-weight: 500;
      }
    }

    &__stat {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      &--value {
        display: inline-block;
        text-decoration: underline;
        font-style: italic;
        margin-right: 5px;
      }

      &--item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-right: 1rem;
        }
        & .no-underline {
          text-decoration: inherit;
        }
      }
    }

    &__note {
      padding: 1rem;
      border-radius: 4px;
      &--head {
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 1rem;
        }
      }

      &--title {
        font-weight: 500;
        margin-bottom: 0;
      }
      & .ssreBtn {
        display: flex;
        align-items: center;
      }
    }

    &__ribbon {
      font-size: 12px;
      padding: 3px;
      margin-right: -1rem;
      position: relative;
      white-space: nowrap;
      margin-left: auto;

      &:after {
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        bottom: 0;
        top: 0;
        left: -11px;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 11px solid transparent;
      }
    }
    &--opacity {
      opacity: 0.8 !important;
    }
  }

  //  crm search
  .crm--data {
    padding: 15px;

    &--filed1 {
      display: flex;

      > .mat-mdc-form-field {
        width: 100%;
      }

      > .select_country_code {
        display: flex;
        width: 30%;

        > .mat-mdc-form-field {
          width: 100%;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
        > div > div > mat-mdc-form-field-outline {
          color: transparent;
        }
      }

      > .mobile_number {
        display: flex;
        width: 70%;

        > .mat-mdc-form-field {
          width: 100%;
        }
      }
    }
  }

  .mat-label {
    text-transform: $capitalize;
  }
  .mt-14 {
    margin-top: $mt-14;
  }
}

.email-forward-icons {
  position: relative;
  top: 10px;
  right: 3px;
}

.t-20 {
  top: 2rem;
}
::ng-deep .postoption-height{
  max-height: 23rem;
  min-height: auto !important
}

.custom-matfrom__outline{
  ::ng-deep .no-outline {
    ::ng-deep .mat-mdc-text-field-wrapper {
      margin: unset !important;
      padding: unset !important;

      & .mat-mdc-form-field-flex {
        & .mdc-notched-outline {
          &__leading {
            border: unset !important;
          }

          &__trailing {
            border: unset !important;
          }
        }
      }
    }

    ::ng-deep .mat-mdc-form-field-icon-suffix {
      padding: unset !important;
      margin-right: 0.5rem;
    }
  }
}

.sentiment-border{
  &__positive {
    border-left: 3px solid var(--color-green-dark);
    box-shadow: 4px 4px 6px 0px rgb(28 159 0 /15%);
    border-radius: 5px;
  }

  &__negative {
    border-left: 3px solid var(--color-red-dark);
    box-shadow: 4px 4px 6px 0px rgb(220 30 30 / 15%);
    border-radius: 5px;
  }

  &__neutral {
    border-left: 3px solid var(--color-yellow-dark);
    box-shadow: 4px 4px 6px 0px rgb(222 170 12 / 15%);
    border-radius: 5px;
  }

  &__mixed {
    border-left: 3px solid var(--color-red-dark);
    box-shadow: 4px 4px 6px 0px rgba(45, 62, 92, 0.1);
    border-radius: 5px;
  }
}
        
.ticket_card_order{
  border-radius: 5px;
  border: 1px solid #EDF2F6;
}

.profile_brand_image{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    .conversations__brand--image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
}
      img {
        border-radius: 50%;
      }
}
.post-body-container {
  flex: 1 1 60%;
  min-width: 60%;
}

.post-container{
    display: contents;
}

.showFooterOnHover{
  display: none;
}
.post-container:hover .showFooterOnHover{
  display: block !important;
}

.reply-box-fixed {
  position: fixed !important;
  bottom: 0;
  // left: 0;
  width: 40%;
  background: white;
  z-index: 999;
}