<!-- <div class="post conversations__post" [ngStyle]="{'overflow':postViewEnum.detailView==postView ?'hidden':'inherit'}" [ngClass]="{
    'close--postBG': ticketHistoryData.currentticketstatus == 'Closed'
  }"> -->
  <!-- add this "post__group" for facebook group -->
   <div class="post-container">
    <mat-checkbox class="post-detail__ticket--checkbox" *ngIf="pageType === postType.TicketHistory && !defaultLayout"></mat-checkbox>
   
    <div class="profile_brand_image mr-10"
      *ngIf="pageType === postType.TicketHistory && !parentPostFlag && !defaultLayout && !postData?.isBrandPost">
      <div class="conversations__brand--image" [matTooltip]="post.Userinfo.name" matTooltipPosition="above"
        matTooltipClass="custom-tooltip">
        <img class="img__fluid mr-3 brand__img--circle" [src]="post.Userinfo.image"
          onError="this.src='assets/images/agentimages/sample-image.svg'" />
      </div>
    </div>
  <div class="post conversations__post" id={{IDName}} [ngStyle]="{'margin-bottom': marginBottoom!=''?marginBottoom:''}" [ngClass]="{
    'close--postBGG': ticketHistoryData?.currentticketstatus == 'Closed' || (clickhouseEnabled &&(ticketHistoryData?.isMarkUnseen || ticketHistoryData?.isMarkUneenBrandPost)),'post__group':(clickhouseEnabled && mentionOrGroupView==AllMentionGroupViewEnum.groupView && postData?.mentionMetadata?.childmentioncount>0 && !postData?.isBrandPost),'mb-0': (pageType === postType.TicketHistory && !parentPostFlag && !mentionHistoryForSubject) || ozontelFlag, 'new-ui-theme__post' : !defaultLayout}">
  <div class="conversations__brand" *ngIf="pageType === postType.TicketHistory && postViewEnum.chatView==postView">
    <div class="conversations__brand--name" [matTooltip]="post.Userinfo.name" matTooltipPosition="above" matTooltipClass="custom-tooltip">
      <img class="img__fluid mr-3 brand__img--circle" [src]="post.Userinfo.image"
          onError="this.src='assets/images/agentimages/sample-image.svg'"/>
    </div>
    <div class="conversations__brand--image" [matTooltip]="post.brandFriendlyName" matTooltipClass="custom-tooltip">
      <img class="img__fluid mr-3 brand__img--circle" [src]="post.brandLogo"
          onError="this.src='assets/social-mention/post/default_brand.svg'"/>
    </div>
  </div>
  <div [ngClass] = "!defaultLayout && (pageType==postType.TicketHistory || pageType == postType.Tickets || pageType == postType.Mentions) ? 'ticket_card_order' : ''">
      <!-- Email View latest 2025 -->
      <ng-container *ngIf="postData?.channelGroup==channelGroupEnum?.Email && pageType==postType.TicketHistory">
        <app-post-email-node [postView]="postView" [parentPostFlag]="parentPostFlag" [post]="post" [postData]="postData"
          [ticketHistoryData]="ticketHistoryData" [pageType]="pageType" [openDetailOnClick]="openDetailOnClick"
          [postDetailTab]="postDetailTab" [showParentPostHeader]="showParentPostHeader" [expandedView]="expandedView"
          [hideActionableButton]="hideActionableButton" [showActionPerform]="showActionPerform" [subject]="subject"
          [showActionMenu]="postHeight<=340" [mentionHistory]="mentionHistory"
          (expanedViewEvent)="expanedViewEventRes($event)"
          (postActionTypeEvent)="postActionTrigger($event)"></app-post-email-node>
      </ng-container>
      <!--Ends Email View latest 2025 -->
  <ng-container *ngIf="postData">
    <app-post-head [sentimentBackgroundColorClass]="sentimentBackgroundColorClass" [openDetailOnClick]="openDetailOnClick" *ngIf="((pageType != postType.TicketHistory && !defaultLayout) || (defaultLayout || parentPostFlag)) && postViewEnum.detailView==postView && ((postData?.channelGroup==channelGroupEnum?.Email && (pageType!=postType.TicketHistory)) || (postData?.channelGroup!=channelGroupEnum?.Email))" #postHead [post]="post" [postDetailTab]="postDetailTab"
      [postData]="postData" [pageType]="pageType" [ticketHistoryData]="ticketHistoryData" [currentUser]="currentUser"
      [AllCheckBoxes]="AllCheckBoxes" [mentionOrGroupView]="mentionOrGroupView" [unseenNoteCountList]="unseenNoteCountList" (postActionTypeEvent)="postActionTrigger($event)"></app-post-head>
    <div class="bg_white" [ngClass]="pageType==postType.TicketHistory && !parentPostFlag && !defaultLayout ? 'display-flex' : ''">
      <div [ngClass]="pageType==postType.TicketHistory && !parentPostFlag && !defaultLayout ? 'post-body-container' : ''">
        <app-post-body *ngIf="((postData?.channelGroup==channelGroupEnum?.Email && (pageType!=postType.TicketHistory)) || (postData?.channelGroup!=channelGroupEnum?.Email))" #postBody [postView]="postView" [parentPostFlag]="parentPostFlag" [post]="post" [postData]="postData"
          [ticketHistoryData]="ticketHistoryData" [pageType]="pageType" [openDetailOnClick]="openDetailOnClick"
          [postDetailTab]="postDetailTab" [showParentPostHeader]="showParentPostHeader"
          [hideActionableButton]="hideActionableButton" [showActionPerform]="showActionPerform"
          (postActionTypeEvent)="postActionTrigger($event)" [openReply]="openReply"
          [searchedText]="searchedText"></app-post-body>
      </div>
        <app-post-foot [ngClass]="{'email__post--footer border-bottom__light-grey': postData?.channelGroup==channelGroupEnum?.Email}" *ngIf="((pageType != postType.TicketHistory && !defaultLayout) || (defaultLayout || parentPostFlag)) && showPostFooter" [postView]="postView" [parentPostFlag]="parentPostFlag"
          [parentPostFirstFlag]="parentPostFirstFlag" [post]="post" [postData]="postData"
          [ticketHistoryData]="ticketHistoryData" [pageType]="pageType" [currentUser]="currentUser" [openReply]="openReply"
          [AllCheckBoxes]="AllCheckBoxes" [postFootDisable]="postFootDisable" [postInput]="postInput"
          [postDetailTab]="postDetailTab" [showParentPostHeader]="showParentPostHeader"
          [mentionOrGroupView]="mentionOrGroupView" [mentionHistory]="mentionHistory" [ozontelFlag]="ozontelFlag" (postActionTypeEvent)="postActionTrigger($event)"
          (markAsReadEvent)="markAsReadEventRes($event)"
          (ticketDispositionEmit)="ticketDispositionEmitRes($event)" [sentimentBackgroundColorClass]="sentimentBackgroundColorClass" (aiTicketIntelligence)="aiTicketIntelligenceData($event)"></app-post-foot>
      </div>
  </ng-container>

  <div class="post__foot post__reply--block" [ngClass]="pageType==postType.TicketHistory && !parentPostFlag && !defaultLayout ? 'reply-box-fixed' : '' " style="overflow: hidden" *ngIf="postReplyBlock && (!ticketHistoryData?.replyDisabled || this.replyInputParams.onlySendMail)" [@expandCollapse]>
    <app-post-reply [ticketHistoryData]="ticketHistoryData" [userPostView] = "userPostView" [pageType]="pageType" [postDetailTab]="postDetailTab" [autoCloseWindow]="autoCloseWindow" class="w-full custom-matfrom__outline"
      (checkEmailReadReceipt)="checkEmailReadReceiptRes($event)" (replyEvent)="callReplyEvent($event)" [autoRenderAi]="(postData.channelGroup==channelGroupEnum.Email ? isEmailRead:isReplyTimeExpired && !this.showReply)" [showLockStrip]="showLockStrip" [defaultAgentID]="defaultAgentID" [showEmailPopup]="showEmailPopup" (cancelAssign)="cancelAssignRes($event)"
      (postActionTypeEvent)="postActionTrigger($event)">
    </app-post-reply>
    <div class="post__reply--block--error" *ngIf="isReplyTimeExpired && !this.showReply">
      <div class="post__reply--block--error--content">
        <h2>{{ 'time-to-reply-expired' | translate }}</h2>
        <p>
          {{ replytTimeExpireMessage }}
        </p>
        <button mat-raised-button color="accent" (click)="closeReplyBox()" class="ml-auto">
          {{ 'Okay' | translate }}
        </button>
      </div>
    </div>
    <div class="post__reply--block--error" *ngIf="replyErrorFlag">
      <div class="post__reply--block--error--content">
        <h2>{{ errorTitle }}</h2>
        <p>
          {{ replytTimeExpireMessage }}
        </p>
        <button mat-raised-button color="accent" (click)="closeReplyBox()" class="ml-auto">
          {{ 'Okay' | translate }}
        </button>
      </div>
    </div>
    <div class="post__reply--block--error" *ngIf="isEmailRead">
      <div class="post__reply--block--error-email" *ngIf="pageType == postType.TicketHistory">
        <mat-icon fontSet="material-icons-outlined" class="colored__yellow-dark error-icon">error_outline</mat-icon>
        <p *ngIf="hidearrows">{{ 'you-havent-read-all-emails' | translate }}</p>
        <p *ngIf="!hidearrows">{{ 'you-havent-read-emails' | translate }}</p>
        <button mat-stroked-button color="accent" *ngIf="hidearrows" class="mr-12 mb-8"
          matTooltip="{{ 'go-to-first-unread-email' | translate }}" matTooltipPosition="above" matTooltipClass="custom-tooltip">
          <mat-icon *ngIf="uparrow || botharrows" (click)="moveToNextMention(backMentionIdToMove)"
            fontSet="material-icons-outlined">keyboard_double_arrow_up</mat-icon>
          <mat-icon *ngIf="downarrow || botharrows" (click)="moveToNextMention(nextMentionIdToMove)"
            fontSet="material-icons-outlined">keyboard_double_arrow_down</mat-icon>
        </button>
        <ng-container *ngIf="ShowMarkAsRead">
          <button mat-stroked-button color="accent" *ngIf="markAllAsRead" (click)="markAsRead(true)"
            class="ml-auto text-capitalize">
            <mat-icon fontSet="material-icons-outlined">outlined_flag</mat-icon>
            {{ 'mark-all-as-read' | translate }}
          </button>
          <button mat-stroked-button color="accent" *ngIf="!markAllAsRead" (click)="markAsRead()"
            class="ml-auto text-capitalize">
            <mat-icon fontSet="material-icons-outlined">outlined_flag</mat-icon>
            {{ 'mark-as-read' | translate }}
          </button>
        </ng-container>
      </div>
      <div class="post__reply--block--error-email"
        *ngIf="pageType == postType.Tickets || pageType == postType.Mentions">
        <mat-icon fontSet="material-icons-outlined" class="colored__yellow-dark error-icon">error_outline</mat-icon>
        <p>{{ 'you-havent-read-all-emails' | translate }}</p>
        <button mat-raised-button color="accent" (click)="closeReplyBox()" class="ml-auto mr-8 colored__white">
          {{ 'Cancel' | translate }}
        </button>
        <button mat-stroked-button color="accent" (click)="openTicketDetail()" class="ml-auto text-capitalize">
          <mat-icon fontSet="material-icons-outlined">outlined_flag</mat-icon>
          {{ 'Open Conversation' | translate }}
        </button>
      </div>
    </div>
  </div>
  </div>
  <div class="post__foot post__reply--block" style="overflow: hidden" *ngIf="directCloseBlock" [@expandCollapse]>
    <app-direct-close class="w-full" [postData]="postData" [postDetailTab]="postDetailTab" [buttonLoader]="directCloseLoader" (directCloseEmit)="callDirectCloseEvent($event)"
      (replyEvent)="callReplyEvent($event)"></app-direct-close>
  </div>
  <div class="conversations__brand" *ngIf="logDetails" [ngStyle]="{'top': true ? '-15px' : ''}">
    <div matTooltip="{{ 'Logs' | translate }}" matTooltipPosition="above"
      matTooltipClass="custom-tooltip" class="conversations__brand--option note-icon" (menuOpened)="onMenuOpened()" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="emailTicketsNotes">
      <!-- <mat-icon fontSet="material-icons-outlined">reply</mat-icon> -->
      <img src="assets/email/ticket-notes-icon.svg" class="post__foot--icon mr-0">
    </div>
  </div>
  <!-- Email Tickets Notes -->
  <mat-menu #emailTicketsNotes="matMenu"  class="w-600" style="min-height: auto !important;
    max-height: 42rem;" (click)="$event.stopPropagation()">
    <!-- <div class="post-email__logs" (click)="$event.stopPropagation()">
      <div class="post-email__logs--list" style="background: #1657C814;border: 1px solid #1657C824;">
        <img src="assets/email/ticket-logs-icon.svg" class="post__foot--icon mr-0">
        <p class="post-log__content">
          <span class="post-log__text">
            <span style="color: #365366; text-decoration: underline; font-weight: 600;">Rajashri supervisor</span>
            has reassigned to
            <span style="color: #365366; text-decoration: underline; font-weight: 600;">Rajashri supervisor</span>
          </span>
          <span class="post-log__colored"> </span> on
          <span class="post-log__text">Ticket ID: 156197 at </span>
          <span class="post-log__highlight">
            21-April-2025 06:25 PM</span>
        </p>
        <mat-icon class="cursor-pointer" fontSet="material-icons-outlined">arrow_drop_down</mat-icon>
      </div>
      <div class="post-email__logs--list" style="background: #FFFAEE;border: 1px solid #FFE092;color:#7A5900">
        <img src="assets/email/ticket-logs-icon-yellow.svg" class="post__foot--icon mr-0">
        <p class="post-log__content">
          <span style="color:#7A5900">
            <span style="color: #7A5900; text-decoration: underline; font-weight: 600;">SBI Support</span>
            Replied to the customer on this
          </span>
          <span style="color:#7A5900">Mention ID: 46/08/3245 at </span>
          <span class="post-log__highlight" style="color:#7A5900">
            23-March-2025 12:32 PM</span>
        </p>
        <mat-icon class="cursor-pointer" fontSet="material-icons-outlined">arrow_drop_down</mat-icon>
      </div>
    </div> -->
        <ng-container *ngIf="logDetails">
          <ng-container *ngIf="logDetails?.iscombine && logDetails?.logs?.length > 0 else singalCommunicationLog">
            <div class="post-reply post-reply-log log-width ml-auto"
              [ngClass]="{'post-log__chatView' : postView == postViewEnum.chatView}">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="box-shadow-none email__log--wrapper">
                  <mat-expansion-panel-header (click)="$event.stopPropagation()">
                    <p>{{logDetails?.logs?.length}} {{ 'logs-are-combined' | translate }}, <a href="javascript:void(0);"
                        style="color: rgb(63, 169, 245); text-decoration: underline; font-weight: normal;">{{ 'click-here-to-view' | translate }}</a>.</p>
                  </mat-expansion-panel-header>
                  <ng-container *ngFor="let combineObject of logDetails?.logs">
                    <ng-container *ngIf="combineObject.isCommunicationLog && !hideActionstatus && !combineObject.isNoteFromVoice">
                      <app-post-log [showIcon]="postView == postViewEnum.chatView"
                        [logMessage]="combineObject && combineObject.logText?combineObject:''"
                        [logObj]="ticketSummaryUserHistory" [isCombineLog]="logDetails?.iscombine"
                        (editClicked)="openEditMenu($event,combineObject)" (noteDataObj)="recieveData($event)" class="email__log">
                      </app-post-log>
                    </ng-container>
                  </ng-container>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </ng-container>
          <!-- for combine log show -->
          <ng-template #singalCommunicationLog>
            <div *ngIf="logDetails.isCommunicationLog && !hideActionstatus && !logDetails.isNoteFromVoice"
              [ngClass]="{'post-log__chatView' : postView == postViewEnum.chatView}" class="post-reply post-reply-log">
        
              <app-post-log class="post-log__email" [showIcon]="postView == postViewEnum.chatView"
                [logMessage]="logDetails && logDetails.logText?logDetails:''" [logObj]="ticketSummaryUserHistory"
                (editClicked)="openEditMenu($event,logDetails)" (noteDataObj)="recieveData($event)">
              </app-post-log>
            </div>
          </ng-template>
        </ng-container>
  </mat-menu>
  <!-- Ends Email Tickets Notes -->
  <div class="conversations__brand t-20" *ngIf="pageType === postType.TicketHistory && ((selectedEmailView==3 && !postData.isBrandPost && postData?.channelGroup!=channelGroupEnum.Email) || (postData?.channelGroup==channelGroupEnum.Email && showFooterIcons && postHeight>340))" [ngStyle]="{'top': false ? '216px' : ''}">
    <div *ngIf="
        ticketHistoryData.isReplyVisible &&
        !ticketHistoryData.isSimulationSSRE &&
        !ticketHistoryData.isLiveSSRE &&
        !ticketHistoryData.isApproveRejectMakerChecker&&
        !postData.isDeletedFromSocial" (click)="replyPost()" matTooltip="Reply" matTooltipPosition="above"
            matTooltipClass="custom-tooltip" class="conversations__brand--option">
      <mat-icon fontSet="material-icons-outlined">reply</mat-icon>
    </div>
    <div *ngIf="ticketHistoryData.isSendEmailVisible" matTooltip="Forward Email" matTooltipPosition="above"
      matTooltipClass="custom-tooltip" class="conversations__brand--option" [matMenuTriggerFor]="ForwardMatMenu">
      <!-- <mat-icon fontSet="material-icons-outlined">reply</mat-icon> -->
      <img src="assets/email/Forward-Email.svg" class="post__foot--icon mr-0">
    </div>
    <!-- email thread Attachments -->
      <div  *ngIf="!mentionHistory" matTooltip="Attachments" matTooltipPosition="above"
        matTooltipClass="custom-tooltip" class="conversations__brand--option" (click)="emailThreadAttachment()">
        <mat-icon fontSet="material-icons-outlined">attach_file</mat-icon>
        <!-- <img src="assets/email/Forward-Email.svg" class="post__foot--icon mr-0"> -->
      </div>
    <!-- email thread Attachments -->

    <div *ngIf="
            postData.channelGroup==channelGroupEnum.Email && this.selectedTicketView==3" [matTooltip]="!emailHTMLView ? 'HTML View' : 'Text View'" matTooltipPosition="above"
            matTooltipClass="custom-tooltip" (click)="viewInHTML(!emailHTMLView)" class="conversations__brand--option">
      <mat-icon fontSet="material-icons-outlined">{{ emailHTMLView ?'code' : 'code_off'}}</mat-icon>
    </div>
    <!-- <div class="conversations__brand--option">
      <mat-icon fontSet="material-icons-outlined">reply_all</mat-icon>
    </div> -->
    <div (click)="ticketDispositionDialog_new()" *ngIf="
              ticketHistoryData.isDirectCloseVisible &&
              !ticketHistoryData.isSimulationSSRE &&
              !ticketHistoryData.isLiveSSRE &&
              isTicketDispositionFeatureEnabled" matTooltip="Direct Close" matTooltipPosition="above"
            matTooltipClass="custom-tooltip" class="conversations__brand--option">
      <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
    </div>
    <div *ngIf="
              ticketHistoryData.isDirectCloseVisible &&
              !ticketHistoryData.isSimulationSSRE &&
              !ticketHistoryData.isLiveSSRE &&
              !isTicketDispositionFeatureEnabled" matTooltip="Direct Close" matTooltipPosition="above"
            matTooltipClass="custom-tooltip" [matMenuTriggerFor]="directClose" class="conversations__brand--option">
      <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
    </div>
    <mat-menu #directClose="matMenu">
      <button (click)="directCloseEmailTicket()" mat-menu-item >
        <mat-icon fontSet="material-icons-outlined">highlight_off</mat-icon>
        <span>{{ 'close-without-note' | translate }}</span>
      </button>
      <button (click)="closeTicketWithNote()" mat-menu-item>
        <mat-icon>edit_note</mat-icon>
        <span>{{ 'close-with-note' | translate }}</span>
      </button>
    </mat-menu>
    <div *ngIf="ticketHistoryData.isEscalateVisible" matTooltip="Escalate" matTooltipPosition="above"
            matTooltipClass="custom-tooltip" (click)="replyEscalate()" class="conversations__brand--option">
      <mat-icon fontSet="material-icons-outlined">escalator_warning</mat-icon>
    </div>

    <ng-container *ngIf="ticketHistoryData.isworkflowApproveVisible &&
            !ticketHistoryData.isSimulationSSRE &&
            !ticketHistoryData.isLiveSSRE &&
            !ticketHistoryData.isApproveRejectMakerChecker">
      <div class="conversations__brand--option bg__green colored__white" matTooltip="Approve" matTooltipPosition="above"
        matTooltipClass="custom-tooltip" [matMenuTriggerFor]="workFlowApprovenote" (click)="clearnote()">
        <mat-icon fontSet="material-icons-outlined">done</mat-icon>
      </div>
      <mat-menu #workFlowApprovenote="matMenu" class="note-elem__dropdown">
        <div class="note-elem pr-20 pl-20 pt-10 pb-15">
          <div class="note-elem__input" (click)="$event.stopPropagation()">
              <label class="text__label custom__input--label">{{ 'Add Note' | translate }}</label>
              <textarea [(ngModel)]="cannedapprovenote" class="custom__input" placeholder="{{ 'Enter note here' | translate }}"></textarea>
          </div>
          <div class="note-elem__actions pt-15">
            <button mat-stroked-button (click)="CannedResponse(1)" (click)="$event.stopPropagation()">
              {{ 'Canned Response' | translate }}
            </button>
            <button mat-button color="accent" class="ml-auto">{{ 'Cancel' | translate }}</button>
            <button mat-button color="accent" (click)="workFlowApproved()">
              {{ 'Save' | translate }}
            </button>
          </div>
        </div>
      </mat-menu>
    </ng-container>
    
    <ng-container *ngIf="ticketHistoryData.isworkflowRejectVisible &&
            !ticketHistoryData.isSimulationSSRE &&
            !ticketHistoryData.isLiveSSRE &&
            !ticketHistoryData.isApproveRejectMakerChecker">
      <div class="conversations__brand--option bg__red--dark colored__white" matTooltip="Reject" matTooltipPosition="above"
        matTooltipClass="custom-tooltip" [matMenuTriggerFor]="workFlowRejectnote"
            (click)="clearnote()">
        <mat-icon fontSet="material-icons-outlined">close</mat-icon>
      </div>
      <mat-menu #workFlowRejectnote="matMenu" class="note-elem__dropdown">
        <div class="note-elem pr-20 pl-20 pt-10 pb-15">
          <div class="note-elem__input" (click)="$event.stopPropagation()">
            <label class="text__label custom__input--label">{{'Add Note' | translate}}</label>
            <textarea [(ngModel)]="cannedrejectnote" class="custom__input" placeholder="Enter note here"></textarea>
          </div>
          <div class="note-elem__actions pt-15">
            <button mat-stroked-button (click)="CannedResponse(2)" (click)="$event.stopPropagation()">
              {{'Canned Response' | translate}}
            </button>
            <button mat-button color="accent" class="ml-auto">{{ 'Cancel' | translate }}</button>
            <button mat-button color="accent" (click)="workFlowRejected()">
              {{ 'Save' | translate }}
            </button>
          </div>
        </div>
      </mat-menu>
    </ng-container>

    <div *ngIf="showMoreMenu" matTooltip="More"  matTooltipPosition="above"
            matTooltipClass="custom-tooltip" [matMenuTriggerFor]="postOption" class="conversations__brand--option">
      <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
    </div>
    <mat-menu #postOption="matMenu" class="postoption-height">
      <span>
        <button mat-menu-item *ngIf="ticketHistoryData.isAssignVisible" (click)="assignTicket()">
          <mat-icon>account_circle</mat-icon>
          <span>{{ 'Assign to' | translate }}</span>
        </button>
        <a class="create-ticket" *ngIf="ticketHistoryData.isCreateTicketVisible "
          [matMenuTriggerFor]="CreateTicketNote" #clickTicketMenuTrigger="matMenuTrigger"
          (click)="createTicketCall();$event.stopPropagation();clickTicketMenuTrigger.closeMenu();clickacknowledgeMenuTrigger.closeMenu()">
          <mat-icon fontSet="material-icons-outlined" class="colored__sub-text s-20">local_activity</mat-icon>
          <span class="ml-12">{{ 'Create Ticket' | translate }}</span>
        </a>
        <button mat-menu-item *ngIf="ticketHistoryData.isAttachTicketVisible" (click)="attachTicket()">
          <mat-icon>attach_file</mat-icon>
          <span>{{ 'Attach Ticket' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="ticketHistoryData.isSendEmailVisible" (click)="sendPostEmail()">
          <mat-icon>email</mat-icon>
          <span>{{ 'Send Email' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="ticketHistoryData.downloadTemplate" (click)="downloadTemplate()">
          <mat-icon>file_download</mat-icon>
          <span>{{ 'Download Template' | translate }}</span>
        </button>
        <!-- <button
                mat-menu-item
                *ngIf="ticketHistoryData.isTrendsVisible"
                (click)="trendsModal()"
              >
                <mat-icon>trending_up</mat-icon>
                <span>Trends</span>
              </button> -->
        <!-- <button
                mat-menu-item
                *ngIf="ticketHistoryData.isCopyMoveVisible"
                (click)="openCopyMove()"
              >
                <mat-icon>content_copy</mat-icon>
                <span>Copy/Move</span>
              </button> -->
        <button mat-menu-item *ngIf="ticketHistoryData.isDeleteFromLocobuzz" (click)="deleteFromLocobuzz()">
          <mat-icon>delete_outline</mat-icon>
          <span>{{ 'Delete from Locobuzz' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="ticketHistoryData.isDeleteFromChannel && !postData.isDeletedFromSocial" (click)="deleteFromSocial()">
          <mat-icon>delete</mat-icon>
          <span>{{ 'Delete from Channel' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="ticketHistoryData.isDeleteFromChannel && ticketHistoryData.isDeleteFromLocobuzz && !postData.isDeletedFromSocial" (click)="deleteFromSocialAndTool()">
          <mat-icon>delete</mat-icon>
          <span>{{ 'Delete from Both' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="ticketHistoryData.hideUnhideShowIcon"
          (click)="hideUnhideFromFacebook(postData.isHidden)">
          <mat-icon>delete</mat-icon>
          <span *ngIf="!ticketHistoryData.hideUnhideFacebookFlag && postData?.channelType !== 22">{{ 'Hide from facebook' | translate }}</span>
          <span *ngIf="!ticketHistoryData?.hideUnhideInstagramFlag && postData?.channelType === 22">{{ 'Hide-from-instagram' | translate }}</span>
          <span
            *ngIf="ticketHistoryData?.hideUnhideFacebookFlag || ticketHistoryData?.hideUnhideInstagramFlag">{{
            postData?.channelType === 22 ? ('UnHide-from-instagram' | translate) : ('UnHide-from-facebook' | translate) }}</span>
        </button>
        <button mat-menu-item *ngIf="ticketHistoryData.isTranslationVisible" (click)="translateText()">
          <mat-icon>translate</mat-icon>
          <span>{{ 'Translate' | translate }}</span>
        </button>
        <ng-template [ngIf]="ticketHistoryData.isEnableDisableMakercheckerVisible">
          <button mat-menu-item *ngIf="
                    ticketHistoryData.isTicketAgentWorkFlowEnabled; else DisableMakerChecker
                  " (click)="enableMakerChecker(true)">
            <mat-icon>spellcheck</mat-icon>
            <span>{{ 'Enable Reply Approval Workflow' | translate }}</span>
          </button>
          <ng-template #DisableMakerChecker>
            <button mat-menu-item (click)="enableMakerChecker(false)">
              <mat-icon>spellcheck</mat-icon>
              <span>{{ 'Disable Reply Approval Workflow' | translate }}</span>
            </button>
          </ng-template>
        </ng-template>
    
        <button mat-menu-item *ngIf="ticketHistoryData.isMarkInfluencerVisible" (click)="markInfluencer()">
          <!-- <mat-icon>campaign</mat-icon> -->
          <img class="img__fluid vertical-sub w-20 mr-6" [ngClass]="{'mr-20': defaultLayout}" *ngIf="ticketHistoryData.isInfluencermarked"
            src="/assets/social-mention/post/Influencer.svg" />
          <img class="img__fluid vertical-sub w-20 mr-6" [ngClass]="{'mr-20': defaultLayout}" *ngIf="!ticketHistoryData.isInfluencermarked"
            src="/assets/social-mention/post/Influencer-unselected.svg" />
          <span>{{ 'Mark Influencer' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="ticketHistoryData.addCampaignFlag" (click)="addCampaign()">
          <mat-icon>add_circle</mat-icon>
          <span>{{ 'Add To Campaign' | translate }}</span>
        </button>
        <!-- <button mat-menu-item *ngIf="ticketHistoryData.isSendEmailVisible" (click)="sendPostEmail()">
                <mat-icon>email</mat-icon>
                <span>Send Email</span>
              </button> -->
        <!-- <button *ngIf="ticketHistoryData.showTicketWindow" mat-menu-item (click)="openTicketDetailInNewTab()">
                <mat-icon>tab</mat-icon>
                <span>Open new tab</span>
              </button> -->
        <button *ngIf="ticketHistoryData.isAcknowledge" [matMenuTriggerFor]="AcknowledgeNote"
          #clickacknowledgeMenuTrigger="matMenuTrigger"
          (menuOpened)="acknowlegeCall();$event.stopPropagation();clickTicketMenuTrigger.closeMenu()" mat-menu-item>
          <mat-icon fontSet="material-icons-outlined">add_task</mat-icon>
          <span>{{ 'Acknowledge' | translate }}</span>
        </button>
          <mat-menu #CreateTicketNote="matMenu" class="note-elem__dropdown">
            <div class="note-elem">
              <div class="note-elem__input" (click)="$event.stopPropagation()">
                <label class="text__label custom__input--label">{{ 'Add Note' | translate }}</label>
                <textarea [(ngModel)]="createticketnote" class="custom__input" [placeholder]="'Enter note here' | translate"></textarea>
              </div>
              <div class="note-elem__actions">
                <button mat-button class="colored__blue ml-auto mr-8" (click)="clearnote()">
                  {{ 'Cancel' | translate }}
                </button>
                <button mat-button class="colored__blue" (click)="createNewTicket()">
                  {{ 'Save' | translate }}
                </button>
              </div>
            </div>
          </mat-menu>
        <mat-menu #AcknowledgeNote="matMenu" class="note-elem__dropdown">
          <div class="note-elem">
            <div class="note-elem__input" (click)="$event.stopPropagation()">
              <label class="text__label custom__input--label">{{ 'Add Note' | translate }}</label>
              <textarea [(ngModel)]="acknowledgednote" class="custom__input" [placeholder]="'Enter note here' | translate"></textarea>
            </div>
            <div class="note-elem__actions">
              <button mat-button class="colored__blue ml-auto mr-8">{{ 'Cancel' | translate }}</button>
              <button mat-button class="colored__blue" (click)="AcknowledgeTicket()">
                {{ 'Save' | translate }}
              </button>
            </div>
          </div>
        </mat-menu>
      </span>
    </mat-menu>
  </div>
  <span class="posttime" *ngIf="pageType === postType.TicketHistory && !parentPostFlag && !defaultLayout">{{post?.ticketTime?.timetoshow}}</span>
</div>
<app-post-foot class="ml-15 showFooterOnHover"
  [ngClass]="{'email__post--footer border-bottom__light-grey': postData?.channelGroup==channelGroupEnum?.Email}"
  *ngIf="(pageType == postType.TicketHistory && !defaultLayout && !parentPostFlag) && showPostFooter" [postView]="postView"
  [parentPostFlag]="parentPostFlag" [parentPostFirstFlag]="parentPostFirstFlag" [post]="post" [postData]="postData"
  [ticketHistoryData]="ticketHistoryData" [pageType]="pageType" [currentUser]="currentUser" [openReply]="openReply"
  [AllCheckBoxes]="AllCheckBoxes" [postFootDisable]="postFootDisable" [postInput]="postInput"
  [postDetailTab]="postDetailTab" [showParentPostHeader]="showParentPostHeader"
  [mentionOrGroupView]="mentionOrGroupView" [mentionHistory]="mentionHistory" [ozontelFlag]="ozontelFlag"
  (postActionTypeEvent)="postActionTrigger($event)" (markAsReadEvent)="markAsReadEventRes($event)"
  (ticketDispositionEmit)="ticketDispositionEmitRes($event)"
  [sentimentBackgroundColorClass]="sentimentBackgroundColorClass"
  (aiTicketIntelligence)="aiTicketIntelligenceData($event)"></app-post-foot>
<div class="profile_brand_image ml-10"
  *ngIf="pageType === postType.TicketHistory && !parentPostFlag && !defaultLayout && postData?.isBrandPost">
  <div class="conversations__brand--image" [matTooltip]="post.brandFriendlyName" matTooltipClass="custom-tooltip">
    <img class="img__fluid mr-3 brand__img--circle" [src]="post.brandLogo"
      onError="this.src='assets/social-mention/post/default_brand.svg'" />
  </div>
</div>
<div class="call-note" *ngIf="false">
  <div class="call-note__history mb-8">
    <div class="call-note__history--icon">
      <img src="assets/images/phone/call-down.svg" alt="">
    </div>
    <div class="call-note__history--text">
      <p class="text-italic"><span class="font-weight-600 text-underline">{{ 'Sandeep' | translate }}</span> {{ 'has received a' | translate }} <span class="font-weight-600">{{ 'Call' | translate }}</span> {{ 'for this ticket' | translate }}(ID-83481) {{ 'and added a note on' | translate }} <span class="text-underline">8 Feb, 2:41 pm</span> </p>
    </div>
  </div>
  <div class="call-note__history">
    <div class="call-note__history--icon">
      <mat-icon class="colored__yellow--dark">list_alt</mat-icon>
    </div>
    <div class="call-note__history--text">
      <p><span class="colored__yellow--dark">{{ 'Added Note:' | translate }}</span> {{ 'This girl has some issues regarding his credit card money deduction.I have tried to solve her problem but don\'t know she is not listening to me, Please talk to her to solve her query.' | translate }}</p>
    </div>
  </div>
</div>
<!-- <a (click)="quoteTweet()">retweet</a> -->
<!-- crm search -->
<mat-menu #menu="matMenu" yPosition="below" xPosition="before" class="crm">
  <div class="crm--data" (click)="$event.stopPropagation()">
    <ng-container *ngIf="false">
    <div class="crm--data--filed1">
      <div class="select_country_code">
        <mat-form-field appearance="outline" class="select--code material__select--border--right">
          <!-- <mat-label>mobile number</mat-label>  -->
          <mat-select [(value)]="selected">
            <mat-option value="+91">+91</mat-option>
            <mat-option value="+91">+91</mat-option>
            <mat-option value="+91">+91</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mobile_number">
        <mat-form-field appearance="outline" class="mobile material__select--border--left">
          <mat-label class="mat-label">{{ 'mobile-number' | translate }}</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>

    <div class="crm--data--filed1">
      <mat-form-field appearance="outline" class="material__select material__select--adaptive" fxFLex="100%">
        <mat-label class="mat-label">{{ 'credit-card-number' | translate }}</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="crm--data--filed1 mt-14">
      <button mat-button mat-dialog-close class="ml-auto">{{ 'Cancel' | translate }}</button>
      <button mat-button mat-dialog-close color="accent" (click)="openCrmDialog()">
        {{ 'Search' | translate }}
      </button>
    </div>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #ForwardMatMenu="matMenu">
  <button mat-menu-item (click)="sendPostEmail(true, false)">
      <img class="mr-6" src="assets\email\Forward-Same-Thread.svg">
      <span>{{ 'Forward on Same Thread' | translate }}</span>
  </button>
  <button mat-menu-item (click)="sendPostEmail(true, true)">
      <img class="mr-6" src="assets\email\Forward-New-Thread.svg">
      <span>{{ 'Forward as New Thread' | translate }}</span>
  </button>
</mat-menu>

  <button mat-icon-button #menuTrigger3="matMenuTrigger" [matMenuTriggerFor]="editnote" style="display: none;"></button>
  <mat-menu #editnote="matMenu" panelClass="editnote-dropdown" class="note-elem__dropdown editnote-dropdown p-6">
    <div class="note-elem">
      <div class="note-elem__input pt-7" (click)="$event.stopPropagation()" style="height: 188px">
        <mat-form-field appearance="outline" class="material__select">
          <mat-label class="text-capitalize">{{ 'Edit note' | translate }}</mat-label>
          <textarea matInput #noteTextArea1 [(ngModel)]="editednote" (input)="noteTextChange(noteTextArea1, 'editednote')"
            class="resize"></textarea>
        </mat-form-field>
      </div>
      <div [ngClass]="{ element__disable: ssreSimulationRight }" *ngIf="mediaSelectedAsync$ | async as MediaSelected"
        class="textarea-featured__foot--item--media pt-10 note-elem__attach">
        <ng-template ngFor let-ugc [ngForOf]="MediaSelected">
          <span *ngIf="ugc.mediaType == 2" matTooltip="{{ugc?.displayFileName}}"
            class="textarea-featured__foot--item--icon">
            <img class="media__img--icon" [src]="ugc.mediaPath" alt="" />
            <span class="item__overlay">
              <mat-icon class="delete__img--icon"
                (click)="$event.stopPropagation();$event.preventDefault();removeSelectedNoteMedia(ugc)">delete_outline</mat-icon>
            </span>
          </span>
          <span *ngIf="ugc.mediaType == 3" matTooltip="{{ugc?.displayFileName}}"
            class="textarea-featured__foot--item--icon" (click)="$event.stopPropagation();$event.preventDefault()">
            <video class="media__img--icon">
              <source [src]="ugc.mediaPath" data-autoplay="false" type="video/m4v" />
              <source [src]="ugc.mediaPath" data-autoplay="false" type="video/mp4" />
              <source [src]="ugc.mediaPath" data-autoplay="false" type="video/mpeg" />
              <source [src]="ugc.mediaPath" data-autoplay="false" type="video/x-msvideo" />
              <source [src]="ugc.mediaPath" data-autoplay="false" type="video/x-ms-wmv" />
              <source [src]="ugc.mediaPath" data-autoplay="false" type="video/avi" />
            </video>
            <span class="item__overlay--video">
              <mat-icon class="delete__img--icon"
                (click)="$event.stopPropagation();$event.preventDefault();removeSelectedNoteMedia(ugc)">delete_outline</mat-icon>
              <mat-icon class="play__img--icon">play_circle_outline</mat-icon>
            </span>
          </span>
          <span matTooltip="{{ugc?.displayFileName}}" (click)="$event.stopPropagation();$event.preventDefault()"
            *ngIf="ugc.mediaType == mediaTypeEnum.PDF || ugc.mediaType == mediaTypeEnum.DOC || ugc.mediaType == mediaTypeEnum.EXCEL"
            class="textarea-featured__foot--item--icon">
            <img src="assets/images/account/pdf__icon.svg" *ngIf="ugc.mediaType == mediaTypeEnum.PDF"
              class="media__img--icon">
            <img src="assets/images/account/doc__icon.svg" *ngIf="ugc.mediaType == mediaTypeEnum.DOC"
              class="media__img--icon">
            <img src="assets/images/account/excl__icon.svg" *ngIf="ugc.mediaType == mediaTypeEnum.EXCEL"
              class="media__img--icon">
            <span class="item__overlay">
              <mat-icon class="delete__img--icon"
                (click)="$event.stopPropagation();$event.preventDefault();removeSelectedNoteMedia(ugc)">delete_outline</mat-icon>
            </span>
          </span>
        </ng-template>
        <span class="textarea-featured__foot--item--icon block-center cursor-pointer" *ngIf="selectedNoteMedia.length > 0"
          (click)="$event.stopPropagation();$event.preventDefault();openMediaDialog();">
          <mat-icon fontSet="material-icons-outlined" class="colored__locobuzz">add</mat-icon>
        </span>
      </div>
      <!-- *ngIf="showMediaButton" -->
      <div class="textarea-featured__foot--item mt-10" *ngIf="selectedNoteMedia.length <= 0">
        <!-- <a [ngClass]="{'element__disable' : ssreSimulationRight }" href="javascript:void(0)" (click)="openMediaDialog()">
                                                                        <mat-icon fontSet="material-icons-outlined">insert_photo</mat-icon>
                                                                    </a> -->
        <a [ngClass]="{ element__disable: ssreSimulationRight }" class="textarea-featured__foot--icon text__regular--sm"
          href="javascript:void(0)" (click)="$event.stopPropagation();$event.preventDefault();openMediaDialog();">
          <mat-icon fontSet="material-icons-outlined custom__icon--md">insert_photo</mat-icon>
          <span>{{'Attach Media' | translate }}</span>
          <span *ngIf="selectedNoteMedia.length > 0">({{ selectedNoteMedia.length }})</span>
        </a>
        <!-- <a href="javascript:void(0)" class="textarea-featured__foot--icon">
                                                                        UGC
                                                                    </a> -->
      </div>
      <div class="note-elem__actions" (click)="$event.stopPropagation()">
        <button mat-button class="ml-auto colored__blue blank-hoverBtn mr-7"
          (click)="getNote(editedNoteData); closeEditMenu()">{{ 'Cancel' | translate }}</button>
        <button mat-button (click)="editNote(editednote);$event.stopPropagation();$event.preventDefault()"
          class="colored__blue blank-hoverBtn">
          {{ 'Save' | translate }}
        </button>
      </div>
    </div>
  </mat-menu>
  </div>