<div class="modal__head">
  <h3 class="modal__title text-capitalize" [ngClass]="{'small_font-size': !defaultLayout}">{{clickhouseEnabled ?('Add-Content' | translate) : ('Create-Manual-Ticket' | translate)}}</h3>
  <span class="modal__action">
    <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" fontSet="material-icons-outlined" (click)="closingMatDialogue()">close</mat-icon>
  </span>
</div>
<div class="modal__body">
  <div (scroll)="scrollEvent($event)" class="p-16 pr-0 scroll-block">
    <div class="manual__ticket">
      <div class="custom__selectmenu dropdown manual__ticket--detail account-profile__brandselectwithicon mb-8">
        <mat-form-field appearance="outline" class="material__select h-45">
          <mat-label class="num-label text-capitalize" [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Brand' | translate }}</mat-label>
          <mat-select [ngClass]="{'small_font-size': !defaultLayout}" panelClass="pr-0" [(value)]="currentSelectedBrand.brandID" [compareWith]="objectComparisonFunction"
            (closed)="brandSearch.value ='';showNoBrandFound=false">
            <div class="account-profile__brandsearchinput account-profile__brandselectwithicon--brandsearchinput">
              <mat-form-field appearance="outline" class="material__select pb-0">
                <input [ngClass]="{'small_font-size': !defaultLayout}" autocomplete="off" type="text" [placeholder]="'Search-Brand' | translate" matInput class=" material-icons-outlined "
                  #brandSearch (keyup)="showNoRecordFoundOnSearch(brandSearch.value,'brands')"
                  (keydown)="_handleKeydown($event)" autocomplete="off" />
                <button [ngClass]="{'small_font-size': !defaultLayout}" matSuffix mat-icon-button>
                  <mat-icon class="material-icons-outlined" [ngClass]="{'small-icon-font-size': !defaultLayout}">search</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <mat-select-trigger class="d-flex-items-center">
              <img [ngClass]="{'small-image-width': !defaultLayout}" [src]="currentSelectedBrand.rImageURL" onError="this.src='assets/social-mention/post/default_brand.svg'"
                class="w-20 h-20 border-radius-100" />
              <span [ngClass]="{'small_font-size': !defaultLayout}" class="ml-10 font-weight-500">{{ currentSelectedBrand.brandFriendlyName }}</span>
            </mat-select-trigger>
            <mat-option [ngClass]="{'small_font-size': !defaultLayout}" [value]="brand.brandID" class="d-flex-items-center" *ngFor="let brand of selectedBrandList"
              (click)="selectCurrentBrand(brand)"
              [ngClass]="{'hidden-option':((brand?.brandFriendlyName.toLowerCase()).toString().indexOf(brandSearch.value.toLowerCase())==-1 && brandSearch.value),'bg__grey--lighter' : brand.brandFriendlyName == currentSelectedBrand.brandFriendlyName}">
              <img [ngClass]="{'small-image-width': !defaultLayout}" [src]="brand.rImageURL" onError="this.src='assets/social-mention/post/default_brand.svg'"
                class="w-20 h-20 border-radius-100 mt-2" />
              <span [ngClass]="{'small_font-size': !defaultLayout}" class="ml-10 account-profile__brandselectwithicon--optiontext">{{ brand.brandFriendlyName }}</span>
            </mat-option>
            <mat-option [ngClass]="{'small_font-size': !defaultLayout}" class="font-weight-500 mb-8" *ngIf="showNoBrandFound" disabled>{{ 'No-match-found' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div class="custom__selectmenu dropdown manual__ticket--detail mb-15">
        <button class="custom__selectmenu--trigger select-trigger">
          <img class="custom__selectmenu--img mr-7" [src]="selectedChannel.channelImage" alt="" /> -->
          <!-- <mat-icon *ngIf="label.icon">{{label.icon}}</mat-icon>   -->
          <!-- {{ selectedChannel.channelName }}
          <label class="custom__label text-capitalize">channel</label>
        </button> -->
        <!-- <mat-menu
          #customChanneldropdown="matMenu"
          class="custom__selectmenu--menu"
          yPosition="below"
        >
          <input placeholder="Search" autofocus (click)="$event.stopPropagation()">
          <ul class="m-0">
            <li
              mat-menu-item
              *ngFor="let channel of customChannels"
              (click)="selectCurrentChannel(channel)"
            >
              <div class="option">
                <img [src]="channel.channelImage" />
                <span class="option__label">{{ channel.channelName }}</span>
              </div>
            </li>
            <li mat-menu-item>
                            <div class="option">
                                <img src="assets/social-mention/post/default_brand.svg"/>
                                <span class="option__label">option label</span>
                            </div>
                        </li>
                        <li mat-menu-item>
                            <div class="option">
                                <img src="assets/social-mention/post/default_brand.svg"/>
                                <span class="option__label">option label</span>
                            </div>
                        </li>
                        <li mat-menu-item>
                            <div class="option">
                                <img src="assets/social-mention/post/default_brand.svg"/>
                                <span class="option__label">option label</span>
                            </div>
                        </li>
          </ul>
        </mat-menu>  -->
      <!-- </div> -->
      <div class="custom__selectmenu dropdown manual__ticket--detail account-profile__brandselectwithicon mb-8" [ngClass]="{'element__disable': userRoleDisabled || channelLoader}">
        <mat-form-field appearance="outline" class="material__select h-45" [loading]="channelLoader">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">Channel</mat-label>
          <mat-select panelClass="pr-0" [value]="selectedChannel.channelID" [compareWith]="objectComparisonFunction2" (closed)="channelSearch.value ='';showNoBrandFound=false">
            <div class="account-profile__brandsearchinput account-profile__brandselectwithicon--brandsearchinput">
              <mat-form-field appearance="outline" class="material__select">
                <input [ngClass]="{'small_font-size': !defaultLayout}" autocomplete="off" type="text" [placeholder]="'Search-Channel' | translate"
                  matInput class=" material-icons-outlined "  #channelSearch (keyup)="showNoRecordFoundOnSearch(channelSearch.value,'channels')"
              (keydown)="_handleKeydown($event)" />
                <button  matSuffix mat-icon-button>
                  <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" class="material-icons-outlined">search</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <mat-select-trigger class="d-flex-items-center">
              <img [ngClass]="{'small-image-width': !defaultLayout}" [src]="selectedChannel.channelImage" class="w-20 h-20 border-radius-100" />
              <span [ngClass]="{'small_font-size': !defaultLayout}" class="ml-10 font-weight-500">{{ selectedChannel.channelName | translate }}</span>
            </mat-select-trigger>
            <mat-option [ngClass]="{'small_font-size': !defaultLayout, 'element__disable': channel?.isDisabled}" [value]="channel.channelID" class="d-flex-items-center"
              *ngFor="let channel of customChannels"
              (click)="selectCurrentChannel(channel)" [ngClass]="{'hidden-option':((channel?.channelName.toLowerCase()).toString().indexOf(channelSearch.value.toLowerCase())==-1 && channelSearch.value)}">
              <img [ngClass]="{'small-image-width': !defaultLayout}" [src]="channel.channelImage" class="w-20 h-20 border-radius-100 mt-2" />
              <span [ngClass]="{'small_font-size': !defaultLayout}" class="ml-10 account-profile__brandselectwithicon--optiontext">{{ channel.channelName | translate }}</span>
            </mat-option>
            <mat-option [ngClass]="{'small_font-size': !defaultLayout}" class="font-weight-500 mb-8" *ngIf="showNoBrandFound" disabled>{{ 'No-match-found' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-container *ngIf="selectedChannel.channelName == 'Email'">
      <div class="custom__selectmenu dropdown manual__ticket--detail full-width">
        <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">{{ 'User-Name' | translate }}</mat-label>
          <input [ngClass]="{'small_font-size': !defaultLayout}" matInput [(ngModel)]="userName" autocomplete="false" (input)="checkValidUserName()" />
        </mat-form-field>
      </div>
      <div class="custom__selectmenu dropdown manual__ticket--detail full-width">
        <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">{{ 'From' | translate }}<span class="colored__red">*</span></mat-label>
          <mat-chip-grid #emailList aria-label="email selection">
            <mat-chip-row [ngClass]="{'small_font-size': !defaultLayout}" *ngFor="let email of fromEmails" [selectable]="selectable" [removable]="removable"
              (removed)="remove(email, 'from')">
              {{ email.name }}
              <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip-row>
            <input [ngClass]="{'small_font-size': !defaultLayout}" #emailFromInput [matChipInputFor]="emailList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, 'from')" autocomplete="false" />
          </mat-chip-grid>
        </mat-form-field>
      </div>
      <div class="custom__selectmenu dropdown manual__ticket--detail full-width">
        <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">{{ 'To' | translate }}<span class="colored__red">*</span></mat-label>
          <mat-chip-grid #List aria-label="Fruit selection">
            <mat-chip-row [ngClass]="{'small_font-size': !defaultLayout}" *ngFor="let email of toEmails" [selectable]="selectable" [removable]="removable"
              (removed)="remove(email, 'to')">
              {{ email.name }}
              <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip-row>
            <input placeholder="{{ 'New-Email' | translate }}" [ngClass]="{'small_font-size': !defaultLayout}" #input (input)="_filter(input.value)" #emailToInput #autoCompleteInput
              [matAutocomplete]="auto" [matChipInputFor]="List" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event, 'to')" autocomplete="false" [formControl]="myControl" />
          </mat-chip-grid>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option [ngClass]="{'small_font-size': !defaultLayout}" *ngFor="let email of filteredEmailOptions " [value]="email.emailId">
              {{ email.emailId }}
            </mat-option>
          </mat-autocomplete>
          <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" (click)="openPanel()" class="selected-arrow">keyboard_arrow_down</mat-icon>
        </mat-form-field>
      </div>
      <div class="
          custom__selectmenu
          dropdown
          manual__ticket--detail
          full-width
          mb-2
          topneg
        ">
        <a [ngClass]="{'small_font-size': !defaultLayout}" href="javascript:void(0)" (click)="checkTicketEmailCc()" class="ml-auto colored__locobuzz mr-8">+{{'cc' | translate}}</a>
        <a [ngClass]="{'small_font-size': !defaultLayout}" href="javascript:void(0)" (click)="checkTicketEmailBcc()" class="colored__locobuzz">+{{'bcc' | translate}}</a>
      </div>
      <div class="custom__selectmenu dropdown manual__ticket--detail full-width" *ngIf="sendEmailcc">
        <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}">{{ 'cc' | translate }}</mat-label>
          <mat-chip-grid #emailccchipList>
            <mat-chip-row [ngClass]="{'small_font-size': !defaultLayout}" *ngFor="let mail of emailCCEmails" [selectable]="selectable" [removable]="removable"
              (removed)="remove(mail, 'cc')">
              {{ mail.name }}
              <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip-row>
            <input [ngClass]="{'small_font-size': !defaultLayout}" placeholder="{{'New-Cc-Email' | translate}}" (blur)="checkCcBccEmpty()" #emailccInput
              [matChipInputFor]="emailccchipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, 'cc')" />
          </mat-chip-grid>
        </mat-form-field>
      </div>
      <div class="custom__selectmenu dropdown manual__ticket--detail full-width" *ngIf="sendEmailBcc">
        <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Bcc' | translate }}</mat-label>
          <mat-chip-grid #emailbccchipList>
            <mat-chip-row [ngClass]="{'small_font-size': !defaultLayout}" *ngFor="let mail of emailBCCEmails" [selectable]="selectable" [removable]="removable"
              (removed)="remove(mail, 'bcc')">
              {{ mail.name }}
              <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip-row>
            <input [ngClass]="{'small_font-size': !defaultLayout}" placeholder="{{'New-Bcc-Email' | translate}}" (blur)="checkCcBccEmpty()" #emailbccInput
              [matChipInputFor]="emailbccchipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, 'bcc')" />
          </mat-chip-grid>
        </mat-form-field>
      </div>
      <div class="custom__selectmenu dropdown manual__ticket--detail full-width">
        <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Subject' | translate }}<span class="colored__red">*</span></mat-label>
          <input [ngClass]="{'small_font-size': !defaultLayout}" matInput [(ngModel)]="emailSubject" />
        </mat-form-field>
      </div>
      <div class="
          custom__selectmenu
          dropdown
          manual__ticket--detail
          ckeditor
          mb-8
        ">
        <div class="title">
          <h4 [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Body' | translate }}<span class="colored__red">*</span></h4>
        </div>
        <ckeditor [ngClass]="{'small_font-size': !defaultLayout}" *ngIf="!clickhouseEnabled" class="ckeditor-block" (drop)="drop($event)" (paste)="paste($event)" [(ngModel)]="emailReplyText" [config]="editorConfig" type="Classic"></ckeditor>
        <textarea [ngClass]="{'small_font-size': !defaultLayout}" [(ngModel)]="emailReplyText" *ngIf="clickhouseEnabled"></textarea>
      </div>
      <div class="
          custom__selectmenu
          dropdown
          manual__ticket--detail
          full-width
          mb-8
        ">
        <!-- <a class="media" href="javascript:void(0)" (click)="openMediaDialog()">
                    <mat-icon fontSet="material-icons-outlined custom__icon--md">insert_photo</mat-icon>
                   <span>Attach Media</span>
                   <span>(2)</span>
                </a> -->
        <div class="media h-36" ngx-dropzone (change)="onImageDropped($event)"
          accept="application/pdf, .doc, .docx, .xls, .xlsx, image/*, video/*">
          <mat-icon [ngClass]="{'small_icon_font_size': !defaultLayout}" fontSet="material-icons-outlined custom__icon--md">insert_photo</mat-icon>
          <span [ngClass]="{'small_font-size': !defaultLayout}" class="ml-5">{{ 'Attach-Media' | translate }}</span>
        </div>
      </div>
      <div *ngIf="attachmentFileAsync$ | async as MediaSelected"
        class="custom__selectmenu dropdown manual__ticket--detail full-width"
        [ngStyle]="{'align-items': AttachmentFile.length > 0? 'center' : 'left'}">
        <ng-template ngFor let-ugc [ngForOf]="MediaSelected">
          <span (click)="openAttachements(ugc)" *ngIf="ugc.mediaType == 2" class="media__img">
            <img [ngClass]="{'small-image-width': !defaultLayout}" class="media__img--icon" [src]="ugc.fullPath" alt="" />
            <span class="item__overlay">
              <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" (click)="removeFile(ugc)" class="delete-icon">delete_outline</mat-icon>
            </span>
          </span>
          <span (click)="openAttachements(ugc)" *ngIf="ugc.mediaType == 3" class="media__img">
            <video controls class="media__img--icon">
              <source [src]="ugc.fullPath" data-autoplay="false" type="video/m4v" />
              <source [src]="ugc.fullPath" data-autoplay="false" type="video/mp4" />
              <source [src]="ugc.fullPath" data-autoplay="false" type="video/mpeg" />
              <source [src]="ugc.fullPath" data-autoplay="false" type="video/x-msvideo" />
              <source [src]="ugc.fullPath" data-autoplay="false" type="video/x-ms-wmv" />
              <source [src]="ugc.fullPath" data-autoplay="false" type="video/avi" />
            </video>
            <span class="item__overlay--video">
              <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" class="delete-icon" (click)="removeFile(ugc)">delete_outline</mat-icon>
              <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" class="play-icon">play_circle_outline</mat-icon>
            </span>
          </span>
          <ng-container *ngIf="
              ugc.mediaType == mediaTypeEnum.OTHER ||
              ugc.mediaType == mediaTypeEnum.DOC ||
              ugc.mediaType == mediaTypeEnum.PDF ||
              ugc.mediaType == mediaTypeEnum.EXCEL
            ">
            <span class="media__img">
              <a [href]="ugc.path" download="file.originalFileName" target="_blank" (click)="$event.stopPropagation()">
              <img [ngClass]="{'small-image-width': !defaultLayout}" src="assets/images/common/pdf.png"
                *ngIf="ugc.mediaType == mediaTypeEnum.PDF" class="media__img--icon">
              <img [ngClass]="{'small-image-width': !defaultLayout}" src="assets/images/common/word.png"
                *ngIf="ugc.mediaType == mediaTypeEnum.DOC" class="media__img--icon">
              <img [ngClass]="{'small-image-width': !defaultLayout}" src="assets/images/common/excel-file.png"
                *ngIf="ugc.mediaType == mediaTypeEnum.EXCEL" class="media__img--icon">
                </a>
              <span class="item__overlay">
                <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" (click)="removeFile(ugc)" class="delete-icon">delete_outline</mat-icon>
              </span>
            </span>
          </ng-container>
        </ng-template>
        <mat-spinner *ngIf="imageLoader" [diameter]="20"></mat-spinner>
      </div>
    </ng-container >
      <ng-container *ngIf="selectedChannel.channelName != 'Email'">
        <!--Twitter Facebook Blogs Start-->
        <ng-container >
          <div class="custom__selectmenu dropdown manual__ticket--detail full-width mb-0">
            <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
              <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">{{'Content-URL' | translate}}<span class="colored__red">*</span></mat-label>
              <input matInput class="manual__ticket--detail-input" placeholder="https://" [(ngModel)]="contentUrl" name="contentUrl"/>
            </mat-form-field>
            <span class="hoverBtn button-input" [ngClass]="{'element__disable': selectedChannel.channelName == 'Blogs' || selectedChannel.channelName == 'Complaint Website' || selectedChannel.channelName == 'Discussion Forums' || selectedChannel.channelName == 'News', 'small_font-size': !defaultLayout }" (click)="getInfoForContent()">
              {{'Get-Info' | translate}} <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" class="s-18" fontSet="material-icons-outlined">download</mat-icon>
            </span>
          </div>
          <p class="mb-8 w-100-p" [ngClass]="{'mr-11' : layout == 'rtl'}">
            <span [ngClass]="{'small_font-size': !defaultLayout}" class="colored__red--dark">*</span> <span style="opacity:0.5" [ngClass]="{'small_font-size': !defaultLayout}">{{ 'In-order-to-follow-this-copy-post-url' | translate }}</span>
          </p>
        </ng-container>
    <!--Twitter End -->
    <app-component-loader class="manual__ticket--social-loader" [postCountTotal]="1" [loaderType]="loaderTypeEnum.post" *ngIf="postContentLoading"></app-component-loader>
      <!-- social post -->
      <div class="manual__ticket--social" *ngIf="postContentData?.userName?.length>1 && this.selectedChannel.channelID !=4 && this.selectedChannel.channelID !=2 && !postContentLoading">
        <div class="social-post">
          <div class="social-post__profile">
            <div class="nowrap">
              <div class="channel">
                <img [ngClass]="{'small-image-width': !defaultLayout}" class="channel__image" [src]="selectedChannel?.channelImage" alt="channel image" />
              </div>
            </div>
          </div>
          <div class="profile mr-10">
            <div class="profile__img">
              <img [ngClass]="{'small-image-width': !defaultLayout}" [src]="postContentData?.profileImage" alt="user image" />
            </div>
            <div class="profile__name">
                <span [ngClass]="{'small_font-size': !defaultLayout}">{{postContentData?.userName}}</span>
            </div>
            <div [ngClass]="{'small_font-size': !defaultLayout}" class="profile__handle profile__handle--none ml-7" *ngIf="postContentData?.screenName">
                &#64;{{postContentData?.screenName}}
            </div>
          </div>
        </div>
        <div class="social-post__body">
          <div class="social-post__follower">
            <div class="follow" *ngIf="postContentData?.followers">
              <img [ngClass]="{'small-image-width': !defaultLayout}" class="mr-7 w-16" src="assets/images/Mask-Group.svg" alt=""> <span class="text-underline text__light" matTooltip="Followers" matTooltipPosition="above"
                matTooltipClass="custom-tooltip">{{postContentData?.followers | abbreviateNumber}}</span>
            </div>
            <div class="time">
              <mat-icon [ngClass]="{'small_font-size': !defaultLayout}" fontset="material-icons-outlined" class="mr-5">schedule</mat-icon> 
              <span [ngClass]="{'small_font-size': !defaultLayout}" class="text__light" *ngIf = "selectedChannel && selectedChannel?.channelName == 'Youtube'">{{postContentData?.createdDate}}</span>
              <span [ngClass]="{'small_font-size': !defaultLayout}" class="text__light"
                *ngIf="selectedChannel && selectedChannel?.channelName != 'Youtube'">{{postContentData?.createdDate | date: 'MMM d, y,
                h:mm a': 'utc'}}</span>
            </div>
          </div>
          <div class="data flex-container__item--column">
            <div class="content anywhere">
              <p [ngClass]="{'small_font-size': !defaultLayout}" [innerHTML]="postContentData?.postContentText"></p>
            </div>
            <div class="multi-img">
              <ng-container *ngFor="let item of postContentData?.attachment?.Item">
                <div class="social-post__image position-relative" *ngIf="item?.ThumbUrl?item?.ThumbUrl:postContentData?.postContentImage">
                    <img [ngClass]="{'small-image-width': !defaultLayout}" [src]="item?.ThumbUrl?item?.ThumbUrl:postContentData?.postContentImage" alt="user image" />
                    <div class="play" *ngIf="item?.MediaType=='3' || item?.MediaType=='7' ">
                      <mat-icon [ngClass]="{'small_font-size': !defaultLayout}" fontSet="material-icons-outlined" (click)="openNewWindow(contentUrl)">play_circle</mat-icon>
                    </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- social post end -->
      <!-- Youtube post -->
        <div class="manual__ticket--social" *ngIf="postContentYoutube?.userName?.length>1 && this.selectedChannel.channelID ==4 && !postContentLoading">
          <div class="social-post">
            <div class="social-post__profile">
              <div class="nowrap">
                <div class="channel">
                  <img [ngClass]="{'small-image-width': !defaultLayout}" class="channel__image" [src]="selectedChannel?.channelImage" alt="channel image" />
                </div>
              </div>
            </div>
            <div class="profile mr-10">
              <div class="profile__name">
                <span [ngClass]="{'small_font-size': !defaultLayout}">{{postContentYoutube?.userName}}</span>
              </div>
            </div>
          </div>
          <div class="social-post__body">
            <div class="social-post__follower">
              <div class="time" style="margin-left: inherit;">
                <mat-icon [ngClass]="{'small_font-size': !defaultLayout}" fontset="material-icons-outlined" class="mr-5">schedule</mat-icon>
                <span [ngClass]="{'small_font-size': !defaultLayout}" *ngIf ="selectedChannel && selectedChannel?.channelName == 'Youtube'"
                  class="text__light">{{postContentYoutube?.createdDate}}</span>
                <span [ngClass]="{'small_font-size': !defaultLayout}" *ngIf="selectedChannel && selectedChannel?.channelName != 'Youtube'"
                  class="text__light">{{postContentYoutube?.createdDate | date: 'MMM d, y, h:mm a'}}</span>
              </div>
            </div>
            <div class="data mt-8">
              <div class="content anywhere">
                <p [ngClass]="{'small_font-size': !defaultLayout}" class="text__title font-size-14 mb-6" [innerHTML]="postContentYoutube?.title"></p>
                <p [ngClass]="{'small_font-size': !defaultLayout}" [innerHTML]="postContentYoutube?.description"></p>
                <div class="social-post__action mt-72">
                  <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" fontSet="material-icons-outlined" class="mr-5">visibility</mat-icon> <span class="text-underline">{{postContentYoutube?.viewCount | abbreviateNumber }}</span>
                  <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" fontSet="material-icons-outlined" class="mr-5 ml-10">favorite</mat-icon> <span class="text-underline">{{postContentYoutube?.likeCount | abbreviateNumber }}</span>
                  <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" fontSet="material-icons-outlined" class="mr-5 ml-10">chat_bubble</mat-icon> <span
                    class="text-underline">{{postContentYoutube?.commentCount| abbreviateNumber}}</span>
                </div>
              </div>
                <div class="social-post__image position-relative">
                  <img [ngClass]="{'small-image-width': !defaultLayout}" src="{{postContentYoutube?.thumbnailURL}}" alt="">
                  <div class="play" (click)="openNewWindow(postContentYoutube?.url)">
                    <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" fontSet="material-icons-outlined">play_circle</mat-icon>
                  </div>
                </div>

            </div>
          </div>
          <ng-container *ngFor="let item of postContentYoutube.comment">
            <div class="social-post__comment">
              <p [ngClass]="{'small_font-size': !defaultLayout}"> <span class="text__title">{{item?.author}}</span> <span class="font-size-12  ml-10">{{item?.recordDate | date: 'MMM d, y, h:mm a':'utc'}}</span></p>
              <p class="mt-10" [ngClass]="{'small_font-size': !defaultLayout}" [innerHTML]="addLinkAndHashtags(item?.content)"></p>
            </div>
          </ng-container>
        </div>
      <!-- youtube post end -->
      <!-- Fb Post Start  -->
      <div class="manual__ticket--social"
        *ngIf="postContentData?.userName?.length>1 && this.selectedChannel.channelID ==2 && !postContentLoading">
        <div class="social-post">
          <div class="social-post__profile">
            <div class="nowrap">
              <div class="channel">
                <img [ngClass]="{'small-image-width': !defaultLayout}" class="channel__image" src="assets/images/channel-logos/facebook.svg" alt="channel image" />
              </div>
            </div>
          </div>
          <div class="profile mr-10">
            <div class="profile__img">
              <img class="mt-2" [ngClass]="{'small-image-width': !defaultLayout}" [src]="postContentData?.profileImage" onError="this.src='assets/images/agentimages/sample-image.svg'"
                alt="user image" />
            </div>
            <div class="profile__name">
              <span [ngClass]="{'small_font-size': !defaultLayout}">{{postContentData?.userName}}</span>
            </div>
          </div>
          <div class="d-flex-items-center g-4 ml-auto">
            <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" fontset="material-icons-outlined" class="s-20">schedule</mat-icon> <span
              class="text__light">{{postContentData?.createdDate | date: 'MMM d, y, h:mm a'}}</span>
          </div>
        </div>
        <div class="social-post__body p-0">
          <div class="data flex-container__item--column mt-0">
            <div class="social-post__body--textarea-content">
                <div class="content anywhere">
                <p [ngClass]="{'small_font-size': !defaultLayout}" [innerHTML]="postContentData?.postContentText"></p>
              </div>
              <div class="multi-img">
                <ng-container *ngFor="let item of postContentData?.attachment?.Item">
                  <div class="social-post__image position-relative" [ngClass]="{'w-100-p' : item?.MediaType =='6'}"
                    *ngIf="item?.ThumbUrl ? item?.ThumbUrl : postContentData?.postContentImage">
                    <img [ngClass]="{'small-image-width': !defaultLayout}" *ngIf="item?.MediaType!='6'; else mapUrl" [src]="item?.ThumbUrl ? item?.ThumbUrl : postContentData?.postContentImage" alt="user image" />
                    <div class="play" *ngIf="item?.MediaType=='3' || item?.MediaType=='7' ">
                      <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" fontSet="material-icons-outlined" (click)="openNewWindow(contentUrl)">play_circle</mat-icon>
                    </div>
                    <ng-template #mapUrl>
                      <a [ngClass]="{'small_font-size': !defaultLayout}" href="{{item?.ThumbUrl}}" target="_blank" class="colored__locobuzz">{{item?.ThumbUrl}}</a>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="social-post__action mt-12">
              <span class="d-flex-items-center mr-5">
                <img [ngClass]="{'small-image-width': !defaultLayout}" src="assets/images/common/yt-like.svg" alt="">
                <span [ngClass]="{'small_font-size': !defaultLayout}" class="ml-4">{{postContentData?.like}}</span>
              </span>
              <span class="d-flex-items-center mr-5 ml-10">
                <img [ngClass]="{'small-image-width': !defaultLayout}" src="assets/images/common/comment.svg" alt="">
                <span [ngClass]="{'small_font-size': !defaultLayout}" class="ml-4">{{postContentData?.comment}}</span>
              </span>
              <span class="d-flex-items-center mr-5 ml-10">
                <img [ngClass]="{'small-image-width': !defaultLayout}" src="assets/images/common/yt-share.svg" alt="">
                <span [ngClass]="{'small_font-size': !defaultLayout}" class="ml-4">{{postContentData?.share}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Fb Post End -->
      <!--Blogs start-->
      <ng-container *ngIf="selectedChannel.channelName == 'Blogs' || selectedChannel.channelName == 'Complaint Website' || selectedChannel.channelName == 'Discussion Forums' || selectedChannel.channelName == 'News' ">
      <div class="mr-12" [ngClass]="{'w-100-p': clickhouseEnabled}" >

      <div class="custom__selectmenu dropdown full-width w-100-p mr-12">
        <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize" >{{ 'Title' | translate }} <span class="colored__red">*</span></mat-label>
          <input [ngClass]="{'small_font-size': !defaultLayout}" matInput [placeholder]="'Title' | translate" [(ngModel)]="title" />
        </mat-form-field>
      </div>
        <div class="
                  custom__selectmenu
                  dropdown
                  manual__ticket--detail
                  ckeditor
                  mb-8 w-100-p
                ">
          <div class="title">
            <h4 [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Content' | translate }} <span class="colored__red">*</span></h4>
          </div>
          <ckeditor [ngClass]="{'small_font-size': !defaultLayout}" *ngIf="!clickhouseEnabled" class="ckeditor-block" (drop)="drop($event)" (paste)="paste($event)"
            [config]="editorConfig" [(ngModel)]="bodyContentText" type="Classic"></ckeditor>

            <div class="textarea-featured__block position-relative compose-post__container--textarea" #textAreaDiv>
              <!-- <textarea [ngClass]="{'small_font-size': !defaultLayout}" formControlName="replyText" [(ngModel)]="replyTextInitialValue" (input)="ReplyInputChanges($event)" class="textarea-featured__input customClassReplyText"></textarea>   -->
              <!-- <textarea [ngClass]="{'small_font-size': !defaultLayout}" [ngModelOptions]="{standalone: true}" (paste)="ReplyInputChangesModified($event,item.id)" [maxlength]="item.maxPostCharacters"  [(ngModel)]="textAreaCount[index].text" (input)="ReplyInputChangesModified($event,item.id)"  class="textarea-featured__input customClassReplyText" #txtArea>{{item.text}}</textarea>  -->
              <textarea (input)="autoGrowHeight(textarea)" #textarea
           [(ngModel)]="bodyContentText" [ngClass]="{'small_font-size': !defaultLayout}" *ngIf="clickhouseEnabled"
                class="textarea-featured__input customClassReplyText position-relative  pb-0" >
                
                            </textarea></div>
        </div>
          <div class="custom__selectmenu dropdown full-width " *ngIf="selectedChannel.channelName == 'Blogs' || selectedChannel.channelName == 'Complaint Website' ||  selectedChannel.channelName == 'News'">
            <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
              <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">{{ 'Author' | translate }} <span class="colored__red">*</span></mat-label>
              <input [ngClass]="{'small_font-size': !defaultLayout}" matInput [placeholder]="'Author' | translate" [(ngModel)]="authorName"  name="author" />
            </mat-form-field>
          </div>
          <!-- <div *ngIf="selectedChannel.channelName == 'HolidayIQ' ">

          <div class="custom__selectmenu dropdown full-width "
            >
            <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
              <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">Rating <span class="colored__red">*</span> </mat-label>
              <input [ngClass]="{'small_font-size': !defaultLayout}" matInput placeholder="Rating" maxlength="1" (input)="checkRatingInputIsNumber($event)"/>
            </mat-form-field>
          </div>
          <div class="custom__selectmenu dropdown full-width "
            >
            <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
              <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">Reviewer's URL </mat-label>
              <input [ngClass]="{'small_font-size': !defaultLayout}" matInput placeholder="https://" />
            </mat-form-field>
          </div>
          <div class="custom__selectmenu dropdown full-width "
            >
            <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
              <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">Reviewer's Image URL  </mat-label>
              <input [ngClass]="{'small_font-size': !defaultLayout}" matInput placeholder="https://" />
            </mat-form-field>
          </div>
          <div class="custom__selectmenu dropdown full-width "
            >
            <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
              <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">Reviewer's Name  </mat-label>
              <input [ngClass]="{'small_font-size': !defaultLayout}" matInput placeholder="Reviewer's Name" />
            </mat-form-field>
          </div>
          <div class="custom__selectmenu dropdown full-width "
            >
            <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
              <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">Reviewer's City  </mat-label>
              <input [ngClass]="{'small_font-size': !defaultLayout}" matInput placeholder="Reviewer's City" />
            </mat-form-field>
          </div>
          <div class="custom__selectmenu dropdown full-width "
            >
            <mat-form-field appearance="outline" class="outline--none material__select material__select--adaptive">
              <mat-label [ngClass]="{'small_font-size': !defaultLayout}" class="num-label text-capitalize">No. of Reviews posted by the Revieew  </mat-label>
              <input [ngClass]="{'small_font-size': !defaultLayout}" matInput placeholder="No. of Reviews posted by the Revieew" />
            </mat-form-field>
          </div>
          </div> -->
          <div class="custom__selectmenu dropdown full-width manual-ticket__datepicker">
          <mat-form-field appearance="outline" fxFlex="100%"
            class="outline--none material__select material__select--adaptive custom-calendar bulk-action__calendar">
            <mat-label [ngClass]="{'small_font-size': !defaultLayout}"> {{selectedChannel.channelName == 'Discussion Forums'?('Post' | translate)+' ':''}}{{ 'Date' | translate }} <span class="colored__red" >*</span></mat-label>
            <input [ngClass]="{'small_font-size': !defaultLayout}" matInput class="s-12" type="text"  onkeydown="return false" #dateRangePicker   [singleDatePicker]="true"
              ngxDaterangepickerMd [maxDate]="currentDateTime"  [timePicker]="true"
              [timePickerSeconds]="false"  name="date" [(ngModel)]="postedDate"  [timePickerIncrement]="1" [timePicker24Hour]="false" autocomplete="off"
              class="position-relative" />
          </mat-form-field>
          </div>
          </div>
          </ng-container>
      <!--Blogs end-->

    </ng-container>
    </div>
  </div>
</div>
<div class="modal__foot">
  <div class="ml-auto">

    <mat-checkbox *ngIf="!clickhouseEnabled" [checked]="isActionable" (change)="isActionable=!isActionable;" [ngClass]="{'hidden-option':selectedChannel.channelName == 'Email' || this.selectedChannel.channelName == 'Blogs' || this.selectedChannel.channelName == 'Complaint Website' || this.selectedChannel.channelName == 'Discussion Forums' || this.selectedChannel.channelName == 'News','element__disable': isMention, 'small_font-size': !defaultLayout}">{{'Make-it-Actionable' | translate}}</mat-checkbox>
  </div>
  <button [ngClass]="{'small_font-size': !defaultLayout}" class="mr-10 blank-hoverBtn" mat-stroked-button (click)="closingMatDialogue()" color="accent">
    {{ 'Cancel' | translate }}
  </button>
  <button [ngClass]="{'small_font-size': !defaultLayout}" type="submit" (click)="callTagData()" *ngIf="selectedChannel.channelName == 'Email'" mat-flat-button color="accent" class="hoverBtn">
    {{ 'Tag-and-Create-Ticket' | translate }}
  </button>
  <button type="submit" (click)="checkIfPostDeleted()" [ngClass]="{'element__disable': tagCreateTokenBoolean, 'small_font-size': !defaultLayout}" *ngIf="selectedChannel.channelName != 'Email'" mat-flat-button color="accent" class="hoverBtn">
  {{clickhouseEnabled?('Create-Content' | translate):('Tag-and-Create-Ticket' | translate)}}
  </button>
</div>
