<div class="post-reply">
  <div class="post-reply__head">
    <span class="post-reply__head--title" [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Attach-Tickets' | translate }}</span>
    <span class="post-reply__head--action">
      <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" (click)="closeAttachTicket()">close</mat-icon>
    </span>
  </div>
  <div class="post-reply__body">
    <div fxLayout="row" fxLayoutGap="15px" class="p-10">
      <div class="custom__column" fxFlex="22%" *ngIf="ticketStatGroup">
        <mat-form-field appearance="outline" class="material__select">
          <mat-label [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Attach-to' | translate }}</mat-label>
          <mat-select [ngClass]="{'small_font-size': !defaultLayout}" [(value)]="selected">
            <mat-optgroup
              *ngFor="let group of ticketStatGroup"
              [label]="group.name | translate"
              [disabled]="group.disabled"
            >
              <mat-option [ngClass]="{'small_font-size': !defaultLayout}"
                *ngFor="let pokemon of group.tickets"
                [value]="pokemon.value"
              >
                {{ pokemon.viewValue }}
              </mat-option>
            </mat-optgroup>
            <!-- <mat-option >ID : 124657</mat-option> -->
          </mat-select>
        </mat-form-field>
        <button
          mat-stroked-button
          color="primary"
          class="colored__blue"
          (click)="lastTalk()" [ngClass]="{'small_font-size': !defaultLayout}"
          style="width: 100%"
        >
          {{ 'See-Ticket-Conversation' | translate }}
        </button>
      </div>
      <div class="custom__column" fxFlex="78%">
        <textarea
          #txrArea
          [(ngModel)]="attachedNote"
          class="custom__input" [ngClass]="{'small_font-size': !defaultLayout}"
          [placeholder]="'Add-note' | translate"
          (ngModelChange)="noteTextChange(txrArea, 'attachedNote')"
        ></textarea>
        <app-attach-media class="w-full" *ngIf="postData" [postData]="postData"
          [postDetailTab]="postDetailTab"></app-attach-media>
      </div>
    </div>
  </div>
  <div class="post-reply__foot">
    <button
      type="button"
      (click)="closeAttachTicket()"
      mat-flat-button [ngClass]="{'small_font-size': !defaultLayout}"
      class="ml-auto"
    >
      {{ 'Cancel' | translate }}
    </button>
    <button
      (click)="attachNewTicket()"
      type="button"
      mat-flat-button [ngClass]="{'small_font-size': !defaultLayout}"
      class="ml-8"
      color="accent"
    >
      {{ 'Attach' | translate }}
    </button>
  </div>
</div>
