<div id="socialBox" class="post__list" (scroll)="onScroll($event)" [ngClass]="{ 'custom-scroll-post': TicketList && TicketList.length == 0 , 'element__disable': onVoiceCallDisable}"
    #socialBox>
    <div class="post__list--take-break bg__white" *ngIf="showResumeAssignment && isAgentAssignmentFlag">
      <mat-icon fontSet="material-icons" class="colored__yellow--dark mr-10"> pause_circle </mat-icon>
      <span [ngClass]="{'small_font-size': !defaultLayout}">{{ message }}</span>
      <button mat-stroked-button class="cursor-pointer" (click)="resumeAssignment()"
        *ngIf="!message.includes('Your ticket assignment is paused by') && permissions.agentManualPauseAssignment">
        <mat-icon fontSet="material-icons" class="colored__locobuzz mr-5"> play_arrow </mat-icon><span [ngClass]="{'small_font-size': !defaultLayout}">{{'Resume-Assignment' | translate}}</span></button>
    </div>
    <div class="post-option__toggle" *ngIf="showTabView" [ngClass] = "{'element__disable': multiTicketsSelected,'ai_post_option_toggle': !defaultLayout}">
      <div *ngIf="currentPostType==postTypeEnum.Tickets" class="post-option__list">
        <ul>
          <ng-container *ngFor="let item of ticketCountList?.countProperties">
          <li (click)="selectTab(item)" *ngIf="item.level === 1" [ngClass]="{'active': selectedItem === item.dbValue,'px-5': !defaultLayout, 'py-1': !defaultLayout,'ai_tabs_search':!defaultLayout}" >
            <span class="post-option__name" [ngClass]="{'small_font-size': !defaultLayout}">
              {{item.name | translate}}
            </span>
            <span class="post-option__more" [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">
              ({{ item.value }})
              <!-- <ng-template #noTicket>
                            <span>(0)</span>
                          </ng-template> -->
            </span>
          </li>
          </ng-container>
          <li [ngClass]="{
              active: selectedTicketOption.dbvalue === selectedItem,'px-5': !defaultLayout, 'py-1': !defaultLayout,'ai_tabs_search':!defaultLayout}" >
            <span class="post-option__name" [matMenuTriggerFor]="MoreOptions">
             <span [ngClass]="{'small_font-size': !defaultLayout}"> {{ selectedTicketOption.label | translate }} </span> <mat-icon [ngClass]="{'large-small-image-width': !defaultLayout}">keyboard_arrow_down</mat-icon>
            </span>
          </li>
        </ul>
      </div>
        <mat-menu #MoreOptions="matMenu">
          <ng-container *ngFor="let item of ticketCountList?.countProperties">
            <button (click)="selectTab(item)" *ngIf="item.level === 2 && item.isvisible" mat-menu-item><span [ngClass]="{'small_font-size': !defaultLayout}">{{ item.name | translate }}</span> <span class="ml-2" [ngClass]="{'small_font-size': !defaultLayout,'font-weight-bold': !defaultLayout}">({{
                item.value }})</span>
              <ng-template #noTicket>
                <span class="ml-2" [ngClass]="{'small_font-size': !defaultLayout,'font-weight-bold': !defaultLayout}"> (0)</span>
              </ng-template>
            </button>
          </ng-container>
        </mat-menu>
        <div class="d-flex-items-center">
      <div  *ngIf="currentPostType==postTypeEnum.Mentions" class="post-option__list">
        <ul>
            <li [ngClass]="{ active: selectedItem === 2 }" (click)="selectTab(2)">
              <span class="post-option__name" [ngClass]="{'small_font-size': !defaultLayout}">
                {{ 'user-activity' | translate }}
              </span>
              <span class="post-option__more" [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">
                ({{ mentionCountObj.userActivityCount }})
                <!-- <ng-template #noTicket>
                                <span>(0)</span>
                              </ng-template> -->
              </span>
            </li>
            <li [ngClass]="{ active: selectedItem === 1 }" (click)="selectTab(1)">
              <span class="post-option__name" [ngClass]="{'small_font-size': !defaultLayout}">
                {{ 'brand-activity' | translate }}
              </span>
              <span class="post-option__more" [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">
                ({{ mentionCountObj.brandActivityCount }})
                <!-- <ng-template #noTicket>
                                            <span>(0)</span>
                                          </ng-template> -->
              </span>
            </li>
          <li *ngIf="selectedItem === 2 && !clickhouseEnabled" class="mentions">
            <mat-checkbox (change)="toggleActionable($event)" [checked]="actionchk" class="checklist-leaf-node">
              <span class="colored__text"><span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'actionable' | translate }}</span> <span [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">({{mentionCountObj.actionable}})</span></span></mat-checkbox>
          </li>
          <li *ngIf="selectedItem === 2 && !clickhouseEnabled" class="mentions">
            <mat-checkbox  (change)="toggleNonActionable($event)" [checked]="nonactionchk" class="checklist-leaf-node">
              <span class="colored__text"><span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'non-actionable' | translate }}</span> <span [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">({{mentionCountObj.nonActinable}})</span></span></mat-checkbox>
          </li>
          <li *ngIf="selectedItem === 1 && !clickhouseEnabled" class="mentions">
            <mat-checkbox (change)="togleBrandReplies($event)" [checked]="brandreply" class="checklist-leaf-node">
              <span class="colored__text"><span [ngClass]="{'small_font-size': !defaultLayout}">Brand Reply</span> <span [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">({{mentionCountObj.brandReply}})</span></span></mat-checkbox>
          </li>
          <li *ngIf="selectedItem === 1 && !clickhouseEnabled" class="mentions">
            <mat-checkbox (change)="togleBrandPost($event)" [checked]="brandpost" class="checklist-leaf-node">
              <span class="colored__text"><span [ngClass]="{'small_font-size': !defaultLayout}">{{ 'brand-post' | translate }}</span> <span [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">({{mentionCountObj.brandPost}})</span></span></mat-checkbox>
          </li>
        </ul>
      </div>
                        <mat-divider *ngIf="currentPostType==postTypeEnum.Mentions && clickhouseEnabled" vertical></mat-divider>
      <div *ngIf="currentPostType==postTypeEnum.Mentions && clickhouseEnabled" class="post-option__list ml-16">
        <ul>
          <li [ngClass]="{ active: !groupViewFlag }" (click)="openGroupOrMentionView(false)" >
            <span class="post-option__name" [ngClass]="{'small_font-size': !defaultLayout}">
              {{'mention-view' | translate}}
            </span>
          </li>
          <li [ngClass]="{ active: groupViewFlag }" (click)="openGroupOrMentionView(true)" >
            <span class="post-option__name">
              <span [ngClass]="{'small_font-size': !defaultLayout}">{{'group-view' | translate}}</span> <span [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">({{selectedItem === 2? mentionCountObj.userActivityGroupCount:mentionCountObj.brandActivityGroupCount}})</span>
            </span>
          </li>
          </ul>
          </div>
          </div>
      <mat-menu #MoreOptions="matMenu">
        <ng-container *ngFor="let item of ticketCountList?.countProperties">
          <button (click)="selectTab(item)" *ngIf="item.level === 2 && item.isvisible" mat-menu-item><span [ngClass]="{'small_font-size': !defaultLayout}">{{ item.name }}</span>
            <span [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">({{
              item.value }})</span>
            <ng-template #noTicket>
              <span [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">(0)</span>
            </ng-template>
          </button>
        </ng-container>
      </mat-menu>
    </div>
    <div class="post__list--info">
      <ng-container *ngIf="TicketList?.length > 0 && defaultLayout">
        <div [ngModelOptions]="{ standalone: true }" class="post__list--count" *ngIf="filter.postsType === postTypeEnum.Tickets">
          <b  [ngClass]="{'normal-font-size': !defaultLayout,'font-weight-bold': !defaultLayout}">{{ ticketsFound }}</b>
          <p  [ngClass]="{'small_font-size': !defaultLayout}"> {{TicketList.length==1?('Ticket' | translate):('Tickets' | translate)}}
          {{'Found' | translate}}</p>
        </div>
        <div [ngModelOptions]="{ standalone: true }" class="post__list--count" *ngIf="filter.postsType === postTypeEnum.Mentions">
          <b  [ngClass]="{'normal-font-size': !defaultLayout,'font-weight-bold': !defaultLayout}">{{ ticketsFound }}</b>
          <p  [ngClass]="{'small_font-size': !defaultLayout}">{{TicketList.length==1?('Mention' | translate):('Mentions' | translate)}}
          {{'Found' | translate}}</p>
        </div>
        <button *ngIf="showDataFound" (click)="loadNewData()" mat-raised-button color="accent"
          id="newDataFoundBtn" class="post__new--btn btn__round btn__shadow" #newDataFoundBtn
          [ngClass]="{'medium-font-size height-unset pl-5 pr-8' : !defaultLayout}">
          <mat-icon class="s-22" [ngClass]="{'font-12 m-0 d-flex-items-center justify-content__center' : !defaultLayout, 'mr-4' : defaultLayout}"> arrow_upward </mat-icon>
         <span [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}">{{'new-data-found' | translate}}</span> 
          <ng-container *ngIf="newDataFoundCount>0">
            <span class="ml-2" *ngIf="currentPageType == 'ticket'" [ngClass]="{'small_font-size': !defaultLayout,'font-weight-medium': !defaultLayout}"> ({{newDataFoundCount}})</span>
          </ng-container>
        </button>
      </ng-container>
      <div class="notification-container" *ngIf = "false">
        <div class="pill-wrapper">
          <div class="status-section">
            <div class="title">New Tickets Arrived {{ticketsPreview.length}}</div>
            <div class="subtitle">(3 Total, 1 Urgent)</div>
          </div>
      
          <div class="slider-section">
            <div class="ticket-stack" [@slideAnimation]="currentIndex">
              <div class="ticket-card active" *ngFor="let ticket of [currentTicket]">
                <div class="avatar-placeholder">{{ticket.name[0]}}</div>
                <div class="ticket-info">
                  <div class="user-name">{{ticket.name}}</div>
                  <div class="preview-text">{{ticket.text}}</div>
                  <span class="priority-tag" [ngClass]="ticket.type">{{ticket.priority}} Priority</span>
                </div>
                <button mat-icon-button class="nav-btn-inner" (click)="prevTicket()" [disabled]="currentIndex === 0">
                  <mat-icon>chevron_left</mat-icon>
                </button>
              </div>
              <div class="ticket-card shadow-1" *ngIf="currentIndex < ticketsPreview.length - 1"></div>
              <div class="ticket-card shadow-2" *ngIf="currentIndex < ticketsPreview.length - 2"></div>
            </div>
          </div>
      
          <div class="next-section">
            <button mat-icon-button class="nav-btn next" (click)="nextTicket()"
              [disabled]="currentIndex === ticketsPreview.length - 1">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex-items-center g-5 ml-auto right-auto">
        <ng-container *ngIf="paginationFlag && pagerCount > 50">
          <!-- *ngIf="pagerCount && TicketList && pagerCount >= 50 " -->
          <div class="post__list--pagination">
            <!-- *ngIf="paginationFlag" -->
            <mat-paginator [ngClass]="{'small_font-size': !defaultLayout}" showFirstLastButtons appLocobuzzPaginator [length]="pagerCount" [pageSize]="50"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="OnPageChange($event)">
            </mat-paginator>
          </div>
        </ng-container>
        <!-- <div class="sentiments__info small_font-size" *ngIf = "!defaultLayout && !noDataFound">
          <span class="d-flex-items-center g-4">
            <mat-icon class="colored__green--dark s-12">circle</mat-icon>
            {{'positive' | translate}}
          </span>
          <span class="d-flex-items-center g-4">
            <mat-icon class="colored__red--dark s-12">circle</mat-icon>
            {{'negative' | translate}}
          </span>
          <span class="d-flex-items-center g-4">
            <mat-icon class="colored__yellow--dark s-12">circle</mat-icon>
            {{'neutral' | translate}}
          </span>
        </div> -->
      </div>
    </div>
    <ng-container *ngIf="TicketList && TicketList?.length > 0 && !postloader; else noData">
      <ng-container *ngFor="let ticket of TicketList | slice:startIndex:endIndex; trackBy: trackByTicket;let i=index">
        <app-post
          [ngClass]="{'level-1':((i==TicketList?.length-1) && !infinteLoader && scrollTopPositionLevel==1),'level-2':((i==TicketList?.length-1) && !infinteLoader && scrollTopPositionLevel==2),'level-3':((i==TicketList?.length-1) && !infinteLoader && scrollTopPositionLevel==3) }"
          [postData]="ticket" [postInput]="postInput" [pageType]="currentPostType" [AllCheckBoxes]="checkAllCheckBox"
          [openDetailOnClick]="true" [postDetailTab]="postDetailTab" (postSelectEvent)="toggleBulkSelect($event)"
          [startIndex] = "startIndex" [endIndex] = "endIndex" [autoCloseWindow]="autoCloseWindow" [mentionOrGroupView]="mentionOrGroupView" [TicketList]="TicketList" [unseenNoteCountList]="unseenNoteCountList"
          (postActionClicked)="postActionClicked($event)">
        </app-post>
      </ng-container>
  
    </ng-container>
    <ng-container *ngIf="postloader && !noDataFound">
      <app-component-loader [postCountTotal]="3" [loaderType]="loaderTypeEnum.post"></app-component-loader>
    </ng-container>
    <ng-container *ngIf="infinteLoader && !noDataFound">
      <app-component-loader [postCountTotal]="1" [loaderType]="loaderTypeEnum.post"></app-component-loader>
    </ng-container>
    <ng-template #noData>
      <div class="noData block-center" *ngIf="noDataFound && !postloader">
        <mat-icon>error_outline</mat-icon>
        <p>
          {{ nodataFoundLabel | translate }}
        </p>
      </div>
    </ng-template>
  
    <ng-template #noData>
      <div class="noData block-center" *ngIf="noDataFound && !postloader">
        <mat-icon>error_outline</mat-icon>
        <p>
          {{ nodataFoundLabel | translate }}
        </p>
      </div>
    </ng-template>
  </div>

  <!-- openRephrasePopup -->
  <ng-container *ngIf="openRephrasePopup">
      <app-rephrase class="rephrase" [rephraseOptions]="rephraseOptions" [isFromEmailPopUp]="emailExpandView"
        [ngStyle]="{'top': rephrasePosition?.y + 'px', 'left': '32%', 'position': emailExpandView ? 'inherit' : 'absolute' }"></app-rephrase>
  </ng-container>


<app-post-bulk-actions [ticketList]="TicketList" [ticketsFound]="ticketsFound" class="primary shown post__bulk--action" [postDetailTab]="postDetailTab"
  [pageType]="currentPostType" (bulkActionEvent)="postBulkAction($event)"
  [bulkActionPositionLevel]="bulkActionPositionLevel" *ngIf="bulkActionpanelStatus" [mentionOrGroupView]="mentionOrGroupView"></app-post-bulk-actions>
<ng-template [ngIf]="showbreachnotification">
  <app-global-notification [pageType]="currentPostType" [ticketAbouttoBreach]="ticketAbouttoBreach"
    *ngIf="notificationToggle" (NotificationStatus)="hideNotification($event)" (aboutToBreachedEvent)="applyAboutToBreachedEvent($event)"></app-global-notification>
</ng-template>

<ng-template [ngIf]="viralAlertNotificationData">
  <app-global-notification [pageType]="currentPostType" [viralAlertNotification]="viralAlertNotificationData" [SLAStatusForViralAlert] = "SLAStatusForViralAlert"
    *ngIf="viralAlertNotificationToggle" (ViralAlertNotificationStatus)="hideNotificationViralAlert($event)"></app-global-notification>
</ng-template>

<app-assignmentlimit class="primary shown" [showbreachnotification]="showbreachnotification"
  [BrandAssignmentList]="BrandFriendlyName" [pageType]="currentPostType" *ngIf="assignmentlimitmsg"
  (assignmentLimitNotificationToggle)="assignmentLimitNotificationToggle($event)"></app-assignmentlimit>


<ng-container *ngIf="postDetailOpenFlag">
  <div class="post__detail-container" [ngClass]="{'new-ui-theme__postDetails' : !defaultLayout}">
    <app-post-detail [TicketData]="TicketList" [isreplyVisible]="isReplyVisible">
    </app-post-detail>
  </div>
</ng-container>
<div class="scroll-topbtn"
  [ngClass]="{ 'scroll-animattion': scrollTopIcon ,'scroll-topbtn--position': scrollTopPosition && scrollTopPositionLevel > 0,'level-1': scrollTopPositionLevel==1,'level-2': scrollTopPositionLevel==2,'level-3': scrollTopPositionLevel==3,'bulk-action-on':bulkActionpanelStatus }"
  (click)="scrollBottomToTop()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</div>

<div class="incomingCall" [ngStyle]="{'bottom': aggreementPopupFlag?'60px':'15px'}" *ngIf="showCallPopup" [ngClass]="{'level-1': scrollTopPositionLevel==1}">
  <app-incoming-call [inbound]='inbound' [outboundCall]="outboundCall" [detailedView]="false" [singleRData]="callingData" (acceptCallEvent)="acceptCallEventRes($event)"></app-incoming-call>
</div>

