.input--height {
    height: 75px;
    min-height: auto;
}
textarea {
    resize: none;
}
.quickwork-manual{
    &__body{
        min-height: 14rem!important;
    }
    &__option{
        height: auto!important;
    }
}
.element__disable{
    opacity: 0.7!important;
}
.ticket-group{
    &__color{
        display: flex;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin-right: 0.4rem;
    }
}
.quickwork-manual{
    &__textarea{
        min-height: 7rem;
        overflow: auto;
    }
}