.post-profile {
  padding: 15px;
}

.post-profile__info--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.post-profile__info--profileimg {
  width: 35px;
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.post-profile__info--profilename {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-profile__info--profilehandle {
  font-size: 12px;
}

.post-profile__info--profilecontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: auto;
  overflow: hidden;
}

.post-profile__info--profileactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.post-profile__info--profilesummary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post-profile__info--profilesummary > div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  margin-bottom: 1rem;
}

.post-profile__info--profilecontact {
  padding: 15px;
}

.post-profile__info--profilecontactitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.post-profile__info--profilecontacticon {
  display: inline-block;
  margin-right: 1rem;
}

.post-profile__info--profilecopy {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}

.post-profile__info--social {
  position: relative;
  margin: 0;
}

.post-profile__info--social::before {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: 12px;
}

.post-profile__info--userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post-profile__info--socialitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-profile__info--socialitem:not(:last-child) {
  margin-bottom: 15px;
}

.post-profile__info--socialstats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-bottom: 1rem;
}

.post-profile__info--socialstats::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  left: 8px;
}

.post-profile__info--socialimage {
  display: inline-block;
  margin-right: 1rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 1;
}

.post-profile__info--add {
  border-radius: 50%;
}

.post-profile__info--add {
  background-color: var(--color-locobuzz);
  color: var(--color-white);
  width: 25px;
  height: 25px;
}

.post-profile__info--body {
  border-bottom: unset !important;
}

.post-profile__score--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.post-profile__score--item:not(:last-child) {
  margin-bottom: 1rem;
}

.post-profile__score--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post-profile__score--labelmain {
  font-weight: 600;
}

.post-profile__score--labelsub {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-profile__score--replay {
  margin-left: 1rem;
  cursor: pointer;
}

.post-profile__score--value {
  margin-left: auto;
  font-weight: 600;
  font-size: 1.8rem;
}

.post-personal .post-section--content {
  max-height: calc(100vh - 144px);
}

.post-crm--item {
  margin-bottom: 20px;
}
