<div class="modal">
  <div class="modal__head">
    <h3 class="modal__title font-semibold d-flex-items-center">
      {{'Smart-Responses' | translate}}
    </h3>
    <span class="modal__action">
      <mat-icon mat-dialog-close fontSet="material-icons-outlined"
        >close</mat-icon
      >
    </span>
  </div>
  <div class="modal__body--wrapper smart-response">
    <div
      class="modal__body--section smart-response__sidebar"
      *ngIf="allCategories && allCategories.length > 0"
    >
      <mat-form-field
        color="accent"
        class="material__input"
        appearance="outline"
      >
        <mat-label>{{'Search' | translate}}</mat-label>
        <input matInput class="position-relative" />
        <mat-icon
          fontSet="material-icons-outlined"
          class="input-search colored__grey"
          >search</mat-icon
        >
      </mat-form-field>
      <div class="vertical-scroll">
        <label class="text__label">{{'Categories' | translate}}</label>
        <div class="smart-response__sidebar--item custom__pill mt-10">
          <span
            class="custom__pill--item"
            *ngFor="let category of allCategories; let i = index"
            [ngClass]="{ active: categoryIsActive == i }"
            (click)="scrollToResponses(category.id, i)"
            >{{ category.name }}</span
          >
        </div>
      </div>
    </div>
    <div
      class="modal__body--section smart-response__content"
      *ngIf="
        locobuzzIntentDetectedResult && locobuzzIntentDetectedResult.length > 0
      "
    >
      <div
        class="smart-response__category mb-10"
        *ngFor="let category of locobuzzIntentDetectedResult"
        [id]="'smart_' + category.category_id"
      >
        <label
          class="smart-response__category--title text__sub text-semibold mb-8"
          >{{ category.category_name }}</label
        >
        <div
          *ngFor="let response of category.responses; let i = index"
          class="smart-response__content--item custom__pill"
        >
          <span
            class="smart-response__content--listitem"
            [ngClass]="{
              active:
                recommendedCategorySelect && category.category_id == 0 && i == 0
            }"
            (click)="clickOnCard(category.category_id, response.text, $event,response.canned_response_id)"
            >{{ response.text }}</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <button
      mat-stroked-button
      class="mr-12 ml-auto"
      mat-dialog-close
      color="accent"
    >
      {{'Cancel' | translate}}
    </button>
    <button
      type="button"
      (click)="setSmartSuggestion()"
      mat-flat-button
      color="accent"
    >
      {{'Select' | translate}}
    </button>
  </div>
</div>
