.trends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.trends__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25%;
  min-width: 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 319px;
  flex: 0 0 319px;
  border-right: 1px solid var(--color-light-grey);
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.trends__list--head {
  padding: 13px;
  border-bottom: 1px solid var(--color-light-grey);
}

.trends__list--body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.trends__close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

.trends__close .text__title {
  color: var(--color-dark-text);
  font-size: 1.6rem;
  font-weight: 600;
}

.trends__right {
  background: var(--color-lighter-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 75%;
  min-width: 75%;
}

.trends__details--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-light-grey);
  background: var(--color-white);
  height: 51px;
}

.trends__details--head ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
  column-gap: 12px;
}

.trends__details--head ul li {
  color: var(--color-main-text);
  font-weight: 600;
  border-radius: 4px;
  padding: 5px 7px;
  text-transform: capitalize;
  cursor: pointer;
}

.trends__details--head ul li:hover {
  color: var(--color-locobuzz);
  background-color: rgba(24, 94, 223, 0.1);
}

.trends__details--head ul .active {
  color: var(--color-locobuzz);
  background-color: rgba(24, 94, 223, 0.1);
}

.trends__details--body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 15px;
  height: calc(100vh - 51px);
}

.trends__details--body .post__stat--value {
  text-decoration: unset;
}

.trends__details--post {
  margin-bottom: 20px;
}

.trends__details--post h3 {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.trends__details--post .cloud {
  border-radius: 8px;
}

.trends__details--post .cloud__head {
  border-bottom: 1px solid var(--color-light-grey);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trends__details--post .cloud__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trends__details--post .cloud__body--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trends__details--post .cloud__body--box-left {
  width: 353px;
  border-right: 1px solid var(--color-light-grey);
}

.trends__details--post .cloud__body--box-left .block {
  padding: 12px;
}

.trends__details--post .cloud__body--box-left .block h4 {
  font-weight: 600;
}

.trends__details--post .cloud__body--box-left .block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.trends__details--post .cloud__body--box-left .block ul li {
  padding: 0px 5px;
  text-transform: capitalize;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 10px;
}

.trends__details--post .cloud__body--box-left .block ul .total {
  background-color: rgba(24, 94, 223, 0.1);
  color: var(--color-locobuzz);
}

.trends__details--post .cloud__body--box-left .block ul .positive {
  background-color: #d1eccc;
  color: var(--color-green-dark);
}

.trends__details--post .cloud__body--box-left .block ul .negative {
  background-color: #f8d2d2;
  color: var(--color-red-dark);
}

.trends__details--post .cloud__body--box-left .block ul .natural {
  background-color: #f9eece;
  color: var(--color-yellow-dark);
}

.trends__details--post .cloud__body--box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 632px;
}

.trends__details--post .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 100%;
}

.trends__details--post .map__retweet {
  border-radius: 8px;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid var(--color-light-grey);
  margin-right: 15px;
}

.trends__details--post .map__retweet--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-grey);
}

.trends__details--post .map__retweet--head .title {
  font-weight: 600;
  text-transform: capitalize;
  padding: 12px;
}

.trends__details--post .map__retweet--head .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px;
}

.trends__details--post .map__retweet--head .option .extend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
}

.trends__details--post .map__retweet--head .option .extend:hover {
  background: var(--color-light-grey);
}

.trends__details--post .map__retweet--body agm-map {
  height: 400px;
  width: 100%;
}

.trends__details--post .map__reply {
  border-radius: 8px;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid var(--color-light-grey);
}

.trends__details--post .map__reply--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-grey);
}

.trends__details--post .map__reply--head .title {
  font-weight: 600;
  text-transform: capitalize;
  padding: 12px;
}

.trends__details--post .map__reply--head .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px;
}

.trends__details--post .map__reply--head .option .extend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
}

.trends__details--post .map__reply--head .option .extend:hover {
  background: var(--color-light-grey);
}

.trends__details--post .map__reply--body agm-map {
  height: 400px;
  width: 100%;
}

.trends__details--post .engaged-user {
  padding: 12px;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.trends__details--post .engaged-user__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.trends__details--post .engaged-user__head .title {
  font-weight: 600;
  text-transform: capitalize;
}

.trends__details--post .engaged-user__head .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trends__details--post .engaged-user__head .option__list .mat-mdc-form-field {
  width: 200px;
  margin-right: 15px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.trends__details--post
  .engaged-user__head
  .option__list
  .mat-mdc-form-field
  mat-mdc-form-field-wrapper {
  padding-bottom: 0px !important;
}

.trends__details--post .engaged-user__body {
  /* flex-wrap: wrap; */
  padding-top: 20px;
  max-width: 100vw;
  height: auto;
  /* margin: 8px; */
}

.trends__chart {
  border-radius: 8px;
}

.trends__chart__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trends__chart__head .title {
  font-weight: 600;
  text-transform: capitalize;
}

.trends__chart--head {
  border-bottom: 1px solid var(--color-light-grey);
  height: 55px;
}

.trends__chart--head .title {
  padding: 12px;
}

.trends__chart--body {
  padding: 12px;
}
