.trends {
  display: flex;
  flex-direction: row;
  &__left {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    min-width: 25%;
    flex: 0 0 319px;
    border-right: 1px solid var(--color-light-grey);
    height: 100vh;
    position: sticky;
    top: 0;
  }
  &__list {
    &--head {
      padding: 13px;
      border-bottom: 1px solid var(--color-light-grey);
    }
    &--body {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      position: relative;
    }
  }
  &__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    & .text__title {
      color: var(--color-dark-text);
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  &__right {
    background: var(--color-lighter-grey);
    display: flex;
    flex-direction: column;
    max-width: 75%;
    min-width: 75%;
  }
  &__details {
    &--head {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid var(--color-light-grey);
      background: var(--color-white);
      height: 51px;
      & ul {
        display: flex;
        column-gap: 12px;
        & li {
          color: var(--color-main-text);
          font-weight: 600;
          border-radius: 4px;
          padding: 5px 7px;
          text-transform: capitalize;
          cursor: pointer;
          &:hover {
            color: var(--color-locobuzz);
            background-color: rgba(24, 94, 223, 0.1);
          }
        }
        & .active {
          color: var(--color-locobuzz);
          background-color: rgba(24, 94, 223, 0.1);
        }
      }
    }
    &--body {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      padding: 15px;
      height: calc(100vh - 51px);
      & .post {
        &__stat {
          &--value {
            text-decoration: unset;
          }
        }
      }
    }
    &--post {
      margin-bottom: 20px;
      & h3 {
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 0px;
      }

      & .cloud {
        border-radius: 8px;
        &__head {
          border-bottom: 1px solid var(--color-light-grey);
          padding: 12px;
          display: flex;
          align-items: center;
        }
        &__body {
          display: flex;
          &--box {
            display: flex;
            &-left {
              width: 353px;
              border-right: 1px solid var(--color-light-grey);
              & .block {
                padding: 12px;
                & h4 {
                  font-weight: 600;
                }
                & ul {
                  display: flex;
                  flex-wrap: wrap;
                  & li {
                    padding: 0px 5px;
                    text-transform: capitalize;
                    border-radius: 4px;
                    margin-right: 6px;
                    margin-bottom: 10px;
                  }
                  & .total {
                    background-color: rgba(24, 94, 223, 0.1);
                    color: var(--color-locobuzz);
                  }
                  & .positive {
                    background-color: #d1eccc;
                    color: var(--color-green-dark);
                  }
                  & .negative {
                    background-color: #f8d2d2;
                    color: var(--color-red-dark);
                  }
                  & .natural {
                    background-color: #f9eece;
                    color: var(--color-yellow-dark);
                  }
                }
              }
            }
            &-right {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 632px;
            }
          }
        }
      }
      & .map {
        display: flex;
        height: 400px;
        width: 100%;
        &__retweet {
          border-radius: 8px;
          width: 49%;
          display: flex;
          flex-direction: column;
          border: 1px solid var(--color-light-grey);
          margin-right: 15px;
          &--head {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-light-grey);
            & .title {
              font-weight: 600;
              text-transform: capitalize;
              padding: 12px;
            }
            & .option {
              display: flex;
              align-items: center;
              padding: 12px;
              & .extend {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                align-items: center;
                border-radius: 50%;
                &:hover {
                  background: var(--color-light-grey);
                }
              }
            }
          }
          &--body {
            & agm-map {
              height: 400px;
              width: 100%;
            }
          }
        }
        &__reply {
          border-radius: 8px;
          width: 49%;
          display: flex;
          flex-direction: column;
          border: 1px solid var(--color-light-grey);
          &--head {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-light-grey);
            & .title {
              font-weight: 600;
              text-transform: capitalize;
              padding: 12px;
            }
            & .option {
              display: flex;
              align-items: center;
              padding: 12px;
              & .extend {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                align-items: center;
                border-radius: 50%;
                &:hover {
                  background: var(--color-light-grey);
                }
              }
            }
          }
          &--body {
            & agm-map {
              height: 400px;
              width: 100%;
            }
          }
        }
      }
      & .engaged-user {
        padding: 12px;
        border-radius: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        &__head {
          display: flex;
          justify-content: space-between;
          & .title {
            font-weight: 600;
            text-transform: capitalize;
          }
          & .option {
            display: flex;
            align-items: center;
            &__list {
              & .mat-mdc-form-field {
                width: 200px;
                margin-right: 15px;
                /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
                & mat-mdc-form-field-wrapper {
                  padding-bottom: 0px !important;
                }
              }
            }
          }
        }
        &__body {
          // display: flex;
          /* flex-wrap: wrap; */
          padding-top: 20px;
          max-width: 100vw;
          height: auto;
          /* margin: 8px; */
          // column-count: 2;
        }
      }
    }
  }
  &__chart {
    border-radius: 8px;
    &__head {
      display: flex;
      & .title {
        font-weight: 600;
        text-transform: capitalize;
      }
    }
    &--head {
      border-bottom: 1px solid var(--color-light-grey);
      height: 55px;
      & .title {
        padding: 12px;
      }
    }
    &--body {
      padding: 12px;
    }
  }
}
