<div *ngIf="mediaSelectedAsync$ | async as MediaSelected" class="textarea-featured__foot--item--media pt-5">
    <ng-template ngFor let-ugc [ngForOf]="MediaSelected">
        <span *ngIf="ugc.mediaType == 2" matTooltip="{{ugc?.displayFileName}}"
            class="textarea-featured__foot--item--icon">
            <img class="media__img--icon" [src]="ugc.mediaPath" alt="" />
            <span class="item__overlay">
                <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" class="delete__img--icon"
                    (click)="$event.stopPropagation();$event.preventDefault();removeselectedNoteMedia(ugc)">delete_outline</mat-icon>
            </span>
        </span>
        <span *ngIf="ugc.mediaType == 3" matTooltip="{{ugc?.displayFileName}}"
            class="textarea-featured__foot--item--icon">
            <video class="media__img--icon">
                <source [src]="ugc.mediaPath" data-autoplay="false" type="video/m4v" />
                <source [src]="ugc.mediaPath" data-autoplay="false" type="video/mp4" />
                <source [src]="ugc.mediaPath" data-autoplay="false" type="video/mpeg" />
                <source [src]="ugc.mediaPath" data-autoplay="false" type="video/x-msvideo" />
                <source [src]="ugc.mediaPath" data-autoplay="false" type="video/x-ms-wmv" />
                <source [src]="ugc.mediaPath" data-autoplay="false" type="video/avi" />
            </video>
            <span class="item__overlay--video">
                <mat-icon class="delete__img--icon" [ngClass]="{'small-icon-font-size': !defaultLayout}"
                    (click)="$event.stopPropagation();$event.preventDefault();removeselectedNoteMedia(ugc)">delete_outline</mat-icon>
                <mat-icon class="play__img--icon" [ngClass]="{'small-icon-font-size': !defaultLayout}">play_circle_outline</mat-icon>
            </span>
        </span>
        <span matTooltip="{{ugc?.displayFileName}}"
            *ngIf="ugc.mediaType == mediaTypeEnum.PDF || ugc.mediaType == mediaTypeEnum.DOC || ugc.mediaType == mediaTypeEnum.EXCEL"
            class="textarea-featured__foot--item--icon">
            <img src="assets/images/common/pdf.png" *ngIf="ugc.mediaType == mediaTypeEnum.PDF" class="media__img--icon">
            <img src="assets/images/common/word.png" *ngIf="ugc.mediaType == mediaTypeEnum.DOC"
                class="media__img--icon">
            <img src="assets/images/common/excel-file.png" *ngIf="ugc.mediaType == mediaTypeEnum.EXCEL"
                class="media__img--icon">
            <span class="item__overlay">
                <mat-icon class="delete__img--icon"
                    (click)="$event.stopPropagation();$event.preventDefault();removeselectedNoteMedia(ugc)">delete_outline</mat-icon>
            </span>
        </span>
    </ng-template>
    <span class="textarea-featured__foot--item--icon block-center cursor-pointer" *ngIf="selectedNoteMedia.length > 0"
        (click)="$event.stopPropagation();$event.preventDefault();openMediaDialog();">
        <mat-icon fontSet="material-icons-outlined" class="colored__locobuzz">add</mat-icon>
    </span>
</div>
<div class="textarea-featured__foot--item" [ngClass]="{'mt-10' : defaultLayout}" *ngIf="((postData && postData?.brandInfo?.brandID) || selectedTicketBrandIdforBulk.length > 0) && this.selectedNoteMedia.length <= 0">
    <a class="textarea-featured__foot--icon text__regular--sm" href="javascript:void(0)"
        (click)="$event.stopPropagation();$event.preventDefault();openMediaDialog();">
        <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}" fontSet="material-icons-outlined custom__icon--md">insert_photo</mat-icon>
        <span [ngClass]="{'small_font-size': !defaultLayout}">{{'Attach-Media' | translate}}</span>
        <span [ngClass]="{'small_font-size font-weight-medium': !defaultLayout}" *ngIf="selectedNoteMedia.length > 0">({{ selectedNoteMedia.length }})</span>
    </a>
</div>
