@use 'app/@locobuzz/scss/partials/_breakpoints.scss' as breakpoints;

.category {
    background-color: transparent !important;
    .custom__input{
        border-radius: 15px;
        background-color: transparent !important;
    }
    &__tree {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;

        &--listitem {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 8px;

            & .category-red {
                text-decoration: underline;
                color: var(--color-red-dark);
                margin-left: 8px;
                text-transform: capitalize;
            }

            & .category-green {
                text-decoration: underline;
                color: var(--color-green-dark);
                margin-left: 8px;
                text-transform: capitalize;
            }
        }

        &--wrapper {
            overflow: auto;
            padding: 15px;
            flex: 1;

            &--height {
                height: 52vh !important;

                @include breakpoints.media-breakpoint('xl') {
                    height: 56vh !important;
                }

                @media (max-width: 600px) and (min-width: 320px) {
                    height: 33vh !important;
                }
            }

            &__no-result-found {
                top: 50%;
                left: 32%;
                transform: translate(-50%, -50%);
            }
        }

        &--nested {
            flex: 0 0 100%;
            margin-left: 30px;
            position: relative;
        }

        &--nested {

            &:after,
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                border-left: 1px solid var(--color-grey);
                left: -22px;
            }

            &:after {
                content: '';
                width: 22px;
                height: 28px;
                position: absolute;
                border-bottom: 1px solid var(--color-grey);
                top: -12px;
            }

            &:before {
                top: -15px;
                left: -22px;
                width: 1px;
                bottom: 6px;
            }

            &:last-child:before {
                bottom: 9px;
                top: 0px;
            }

            &.subCategories {
                margin-left: 27px;

                &:after {
                    top: -13px;
                }
            }
        }

        &--nestedlast {
            &:before {
                bottom: 57px;
            }
        }

        &--group {
            position: relative;
        }
    }

    &-pill {
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 1rem;
        min-width: 70px;

        &__wrapper {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        &__item {
            display: flex;
            // align-items: center;
        }

        &__sublabel {
            line-height: 1.3;

            &.label {
                max-width: 20rem;
                overflow-wrap: anywhere;
            }
        }

        &__sentiment {
            font-size: 12px;
            margin-left: 5px;

            &>span {
                font-style: italic;
                text-decoration: underline;
            }
        }

        &__close {
            line-height: 0.5;
            margin-left: auto;
            cursor: pointer;
            position: absolute;
            right: 2px;
            top: 2px;
        }

        &--NA {
            min-width: 34px;
            border-radius: 8px;
        }

        &__label {
            &.label {
                max-width: 23rem;
                overflow-wrap: anywhere;
            }

        }
    }

    &__filter {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        gap: 0.3rem;

        // align-self: flex-start;
        &--button {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
}

.ticket__category {
    flex: 1;
    overflow-y: auto;

    &--item {
        margin-bottom: 20px;
    }

    &--left {
        width: 70%;
    }

    &--right {
        height: 55vh;
        width: 30%;
    }
  
}

.modal {
    &__foot {
        &--tabsize {
            gap: 12px;

            @media (max-width: 600px) and (min-width: 320px) {
                flex-direction: column;
                gap: 12px;
            }
        }
        &--item{
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}
.modal__body--height{
    height: 55vh !important;
}

.tag_body {
    height: 46vh;
    overflow-y: auto;
}

::ng-deep .ai-layout {
    &__checkbox {
        & .mdc-form-field {
            & .mdc-label {
                font-size: 11px !important;
            }
        }
    }

    &__radio-btn {
        & .mdc-form-field {
            & .mdc-label {
                font-size: 11px !important;
            }
        }
    }

    &__dropdown {
        height: 4.5rem !important;
        margin-bottom: 0.8rem;

        .mat-mdc-text-field-wrapper {
            // height: 3rem !important;
            display: flex !important;
            align-items: center !important;
        }
    }
}

