<!-- <strong>Upper Category</strong> -->
<div class="modal__head">
  <span class="modal__title" [ngClass]="{'medium-font-size' : !defaultLayout}">{{ 'Change-Tag' | translate }}</span>
  <span class="modal__action">
    <mat-icon fontSet="material-icons-outlined" [ngClass]="{'small-icon-font-size' : !defaultLayout}" [mat-dialog-close]="false">close</mat-icon>
  </span>
</div>

<div class="modal__body modal__body--height">
  <div class="modal__body--wrapper">
    <div class="modal__body--section ticket__category--left p-12" style="flex: 1;">
      <div class="category">
        <div class="category__search">
          <input class="custom__input" name="search" autocomplete="off" [placeholder]="'Search' | translate"
            [(ngModel)]="inputValue" (input)="filter(inputValue)" [ngClass]="{'small_font-size' : !defaultLayout}" />
        </div>
      </div>
      <div class="tag_body mt-5">
        <div class="custom__tooltip" *ngIf="ticketTagList.length">
            <div class="custom__tooltip--item" [ngClass]="{'py-0' : !defaultLayout}" *ngFor="let tag of ticketTagList">
                <span class="custom__tooltip--value ml-2">
                    <mat-checkbox (change)="onSelectTag($event.checked, tag)" [checked]="tag.status" [ngClass]="{'ai-layout__checkbox' : !defaultLayout}">{{tag?.tagName}}</mat-checkbox>
                </span>
            </div>
        </div>
        <div class="modal__nodata" *ngIf = "!ticketTagList.length && inputValue">
          <p class="text__center"><b>{{ 'No-Data-Found' | translate }}</b></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal__foot p-12 modal__foot--tabsize">
  <div class="category__filter--button">
    <div class="align-center ml-auto right-auto">
      <div class="modal__foot--item">
        <span class="p-10" [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf = "selectedTagList.length"><span class="colored__green">{{selectedTagList.length}}</span> {{ 'Selected' | translate }}</span>
        <button class="mr-12" mat-stroked-button color="accent" [mat-dialog-close]="false" [ngClass]="{'small_font-size h-25 px-5' : !defaultLayout}">
          {{ 'Cancel' | translate }}
        </button>
        <button [ngClass]="{'small_font-size h-25 px-5' : !defaultLayout}" [loading]="loading" mat-flat-button color="accent" (click) = "submit()">{{ 'Submit' | translate }}</button>
      </div>
    </div>
  </div>
</div>