@use 'app/@locobuzz/scss/partials/_breakpoints.scss';
.disposition {
  padding: 0.5rem 1.2rem;
  &.scroll{
    height: calc(100vh - 175px);
    overflow: auto;
  }
  &__category {
    display: flex;
    min-height: 38px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    &--list {
      display: flex;
      flex-wrap: wrap;
      width: 76%;
      max-height: 83px;
      overflow: auto;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    &--suggestion {
      display: flex;
      gap: 12px;
      margin-left: auto;
      padding-top: 7px;
    }
    &--wrapper {
      display: flex;
      flex-direction: column;
      min-height: 36px;
      overflow: auto;
      max-height: 90px;
      width: 100%;
    }
  }
  &__error {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 5px;
    margin: 8px 0px 0px 0px;
    &--warning {
      background-color: #fffae5;
    }
    &--danger {
      background-color: #ffeeec;
    }
  }
  & .sentiment{
    display: flex;
    align-items: center;
    gap: 1rem;
    &__wrapper{
      display: block;
      border-radius: 0.6rem;
      padding: 1.2rem;
      width: 100%;
    }
    &__block{
      border-radius: 0.6rem;
      padding: 1.2rem;
      &.nps-rating{
        display: block;
        width: 100%;
      }
      &.category{
        display: block;
        width: 100%;
      }
    }
    &__status{
      display: flex;
      align-items: center;
    }
  }
}
.category {
  position: relative;
  &__search {
    & .custom {
      &__input {
        padding: 8px 8px;
      }
    }
  }
  &__tree {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    &--listitem {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 8px;
      & .category-red {
        text-decoration: underline;
        color: var(--color-red-dark);
        margin-left: 8px;
        text-transform: capitalize;
      }
      & .category-green {
        text-decoration: underline;
        color: var(--color-green-dark);
        margin-left: 8px;
        text-transform: capitalize;
      }
    }

    &--wrapper {
      overflow: auto;
      padding: 15px;
      flex: 1;

      &--height {
        height: calc(100vh - 520px) !important;
      }

      &__no-result-found {
        top: 56%;
        left: 49%;
        transform: translate(-50%, -50%);
      }
    }

    &--nested {
      flex: 0 0 100%;
      margin-left: 30px;
      position: relative;
    }
    &--nested {
      &:after,
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        border-left: 1px solid var(--color-grey);
        left: -22px;
      }

      &:after {
        content: '';
        width: 22px;
        height: 28px;
        position: absolute;
        border-bottom: 1px solid var(--color-grey);
        top: -12px;
      }

      &:before {
        top: -15px;
        left: -22px;
        width: 1px;
        bottom: 6px;
      }

      &:last-child:before {
        bottom: 9px;
        top: 0px;
      }
      &.subCategories {
        margin-left: 27px;
        &:after {
          top: -13px;
        }
      }
    }

    &--nestedlast {
      &:before {
        bottom: 57px;
      }
    }
    &--group {
      position: relative;
    }
  }

  &-pill {
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 5px;
    line-height: 1.9;
    border: unset !important;
    padding-top: 4px;
    &__wrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    &__item {
      display: flex;
      align-items: center;
    }
    &__category {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    &__sublabel {
      line-height: 1.3;
    }
    &__sentiment {
      font-size: 12px;
      margin-left: 5px;

      & > span {
        font-style: italic;
        text-decoration: underline;
      }
    }

    &__close {
      line-height: 0.5;
      margin-left: auto;
      cursor: pointer;
      position: absolute;
      right: 2px;
      top: 2px;
    }

    &--NA {
      min-width: 34px;
      border-radius: 8px;
    }
  }
  &__close {
    position: absolute;
    right: 0px;
    z-index: 1;
    height: 34px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: unset;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
  }
}

.f-20 {
  font-size: 20px;
}
 .arrow-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .arrow {
   width: 100%;
   height: 35px;
   background: linear-gradient(to right, red, orange, yellow, green);
   position: relative;
   display: flex;
   align-items: center;
   color: var(--color-white);
   padding: 0 1rem;
   border-radius: 0.8rem;
   &-right{
    display: block;
    width: 25px;
    height: 25px;
    border-top: 2px solid var(--color-white);
    border-left: 2px solid var(--color-white);
    transform: rotate(135deg);
   }
 }
 .seprator{
    margin-bottom: 1.2rem;
    margin-top: 1.5rem;
    border-top-color: var(--color-grey)!important;
 }
 /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
 ::ng-deep mat-mdc-form-field-outline{
  background: white;
 }

 .body_scroll{
  height: auto;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
 }
.ai_note{
  color: #E7AA00;
}

// .popup-bg-color {
//   background-color: #faf8ff;
// }

.read_only{
  pointer-events: none !important;
  opacity: 0.8;
}
 

.data-cons {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: relative;
    z-index: 1;

    //box-shadow: 0px 2px 4px #c3cbd780;
    &--note {
      background-color: #fffae5;
      border: 2px solid #ffdb4d;
      padding: 0rem 0.4rem;
    }

    &--noteFailed {
      background-color: var(--color-white);
      border: 2px solid var(--color-red-dark);
      padding: 0rem 0.4rem;
    }
  }
}

::ng-deep .custom-input-size .mat-mdc-text-field-wrapper {
  // padding: 0 0.5rem !important;
}

::ng-deep .custom-input-size .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
  overflow-x: auto !important;
}

.max-width-unset {
  max-width: unset !important;
}

.smart-suggestions {
  
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__green {
    border: 2px solid #4caf50;
    background-color: #f0fdf4;
  }

  &__red {
    border: 2px solid var(--color-red-dark);
    background-color: rgba(255, 93, 72, 0.2) !important;
  }

  .suggestion-card {
    display: flex;
    align-items: flex-start;
    // border: 2px solid #cce8cc;
    // background-color: #e6f4ea;
    // padding: 16px;
    border-radius: 8px;
    position: relative;

    input[type="checkbox"] {
      margin-top: 6px;
      margin-right: 12px;
      transform: scale(1.2);
    }

    .suggestion-content {
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      h4 {
        margin: 0;
      }

      .quote {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 6px;
        // border-left: 4px solid #4caf50;
        color: #333;
        margin-top: 8px;
      }
    }
  }
}

.csat-warning-box {
  background-color: #ffe5e5;
  padding: 12px 16px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.csat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #2c3e50;
  font-size: 16px;
  margin-bottom: 8px;
}

.csat-score {
  color: #e60000;
  font-size: 28px;
  font-weight: 700;
}

.csat-container-main {
  display: flex;
  padding: 0.5rem 0.8rem;
  flex-direction: column;
  gap: 0.5rem;
  // justify-content: center;
  // width: fit-content;
  border-radius: 8px;
  border: 1px solid var(--color-red-dark);
}

.csat-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.csat-box {
  border-radius: 8px;
  text-align: center;
  min-width: 180px;
  // gap: 1rem;
}

.border-red {
  border: 1px solid var(--color-red);
}

.border-green {
  border: 1px solid var(--color-green-dark);
}

.csat-title {
  font-size: 14px;
  font-weight: 300;
  color: #2c3e50;
}

.csat-value-box {
  background-color: #ffe5e5;
  padding: 8px 20px;
  border-radius: 6px;
  display: inline-block;
}

.csat-score {
  color: #e60000;
  font-weight: bold;
  font-size: 20px;
}

.csat-arrow mat-icon {
  color: #b4c4ff;
  transform: scale(2);
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.circular-progress {
  width: 120px;
  height: 120px;
}

.circular-progress svg {
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: var(--color-red);
  stroke-width: 3.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.6s ease;
}

.percentage {
  fill: var(--color-red);
  font-size: 0.5em;
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: bold;
}

.agentiq {
  // width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.reply-msg-container {
  max-height: 9rem;
  height: fit-content;
  overflow: auto;
}

.reply-msg {
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.horiz-divider {
  border-bottom: 1px solid var(--color-light-grey);
}

.csat-drop-pill {
  border-radius: 2rem;
  padding: 0.1rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-pill {
  background-color: #fdf3e6;
  color: #b45426;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 16px;
  white-space: nowrap;
}

.foulImpact{
  background : white;
  width: 50%;
  min-height: -webkit-fill-available;
  padding: 0.5rem 0.8rem;
}
.ticket-disposition{
  &__blue{
    &--bg{
      border-left: 3px solid var(--color-locobuzz);
      background: rgba(24, 94, 223, 0.1);
      padding: 0.4rem 0.8rem;
    }
  }
  &__purple {
    &--bg {
      border-left: 3px solid var(--color-purple-dark);
      background: rgb(172 82 255 / 10%);
      padding: 0.4rem 0.8rem;
    }
  }
}
.red-arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.closureBorder{
  border-radius: 8px;
  border: 1px solid var(--color-red-dark);
  padding: 0.5rem;
}

::ng-deep .message {
  &__line {
    &--loader {
      & .ai-auto-response {
        width: 100% !important;
        & .loader {
          &__content {
            width: 100% !important;
            & .message {
              &__line {
                width: 100% !important;
                min-width: 100% !important;
                max-width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}

.response-edit-btn {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.8rem;
}

.response-edit-btn:hover {
  color: var(--color-locobuzz);
}

.text-align {
  &__justify {
    text-align: justify;
  }
}
