<div class="modal__head">
    <h3 class="modal__title">{{ 'Preview' | translate }}</h3>
    <span class="modal__action">
      <mat-icon fontSet="material-icons-outlined" mat-dialog-close>close</mat-icon>
    </span>
  </div>
  <div class="modal__body">
    <div class="gallery-preview block-center">

        <div [ngClass]="{'gallery-preview__media' : !imgDataFromParent.composePost}">
            <div class="gallery-preview__media--left" *ngIf="(mediaDetails?.mediaType ? mediaDetails.mediaType:imgDataFromParent.mediaType) == mediaTypeEnum.IMAGE">
                <img class="img__fluid" [src]="mediaDetails?.mediaPath?mediaDetails?.mediaPath:imgDataFromParent.mediaPath" alt="">
            </div>
            <div class="gallery-preview__media--left" *ngIf="(mediaDetails?.mediaType ? mediaDetails.mediaType:imgDataFromParent.mediaType) == mediaTypeEnum.PDF">
              <img class="img__fluid" src="assets/images/account/pdf__icon.svg" alt="pdf"
                *ngIf="(mediaDetails?.mediaPath || imgDataFromParent?.mediaPath)?.length == 0">
              <ng-container *ngIf="(mediaDetails?.mediaPath || imgDataFromParent?.mediaPath)?.length > 0">
                <!-- style="width:100%;height:100%; overflow: hidden;" class="d-flex justify-content-center align-items-center" -->
                <div *ngIf="isPdfLoading" class="d-flex-items-center justify-content__center w-100-p">
                  <mat-spinner [diameter]="25"></mat-spinner>
                </div>
                <ngx-doc-viewer [url]="mediaDetails?.mediaPath || imgDataFromParent?.mediaPath" viewer="google" (loaded)="onLoadComplete()"
                  style="width:100%;height:100%; overflow: hidden;" [hidden]="isPdfLoading">
                </ngx-doc-viewer>
              </ng-container>
            </div>
            <div class="gallery-preview__media--left" *ngIf="(mediaDetails?.mediaType ? mediaDetails.mediaType:imgDataFromParent.mediaType) == mediaTypeEnum.VIDEO">
              <video #video class="video-responsive" (click)="videoPlayer()">
                <source [src]="mediaDetails?.mediaPath?mediaDetails?.mediaPath:imgDataFromParent.mediaPath" data-autoplay="false" type="video/m4v" />
                <source [src]="mediaDetails?.mediaPath?mediaDetails?.mediaPath:imgDataFromParent.mediaPath" data-autoplay="false" type="video/mp4" />
                <source [src]="mediaDetails?.mediaPath?mediaDetails?.mediaPath:imgDataFromParent.mediaPath" data-autoplay="false" type="video/mpeg" />
                <source [src]="mediaDetails?.mediaPath?mediaDetails?.mediaPath:imgDataFromParent.mediaPath" data-autoplay="false" type="video/x-msvideo" />
                <source [src]="mediaDetails?.mediaPath?mediaDetails?.mediaPath:imgDataFromParent.mediaPath" data-autoplay="false" type="video/x-ms-wmv" />
                <source [src]="mediaDetails?.mediaPath?mediaDetails?.mediaPath:imgDataFromParent.mediaPath" data-autoplay="false" type="video/avi" />
              </video>
              <div class="video-control" (click)="buttonVideoPlay()" *ngIf="videoPlay">
                <mat-icon fontSet="material-icons-outlined">play_circle_outline</mat-icon>
              </div>
            </div>
        </div>
        <div class="gallery-preview__info" *ngIf="!imgDataFromParent.composePost">

            <div class="gallery-preview__info--scroll" >
            <app-component-loader *ngIf="loader" [loaderType]="loaderTypeEnum.content" [postCountTotal]="5"></app-component-loader>
              <!-- <mat-spinner class="gallery-preview__spinner" *ngIf="loader"></mat-spinner> -->
              <ng-container *ngIf="!loader" >
                <div class="gallery-preview__info--block">
                    <p class="text__label mb-6">{{ 'Rate-It' | translate }}</p>
                    <app-star-rating
                    [rating]="imgDataFromParent?.rating || 0"
                    class="mb-8"
                    ></app-star-rating>
                    <!-- [id]="file?.name || displayName" -->
                </div>
                <div class="gallery-preview__info--block" *ngIf="mediaDetails?.tags?.length>0">
                    <p class="text__label mb-6">{{ 'Tags' | translate }}</p>
                    <div class="gallery-preview__tags">
                        <span class="tag" *ngFor="let item of mediaDetails?.tags?mediaDetails?.tags:tags">{{ item }}</span>
                    </div>
                </div>
                <div class="gallery-preview__info--block">
                    <p class="text__label mb-6">{{ 'File-Size' | translate }}</p>
                    <p class="text-capitalize">{{mediaDetails?.mediaInfo?.fileSize?mediaDetails?.mediaInfo?.fileSize:imgDataFromParent?.mediaInfo?.fileSize}}</p>
                </div>
                <div class="gallery-preview__info--block">
                    <p class="text__label mb-6">{{ 'Resolution' | translate }}</p>
                    <p>{{mediaDetails?.mediaInfo?.resolution?mediaDetails?.mediaInfo?.resolution:imgDataFromParent?.mediaInfo?.resolution}}</p>
                </div>
                <div class="gallery-preview__info--block" *ngIf="mediaDetails?.durationInSeconds>0">
                    <p class="text__label mb-6">{{ 'Duration' | translate }}</p>
                    <p>{{mediaDetails?.mediaInfo?.duration?mediaDetails?.mediaInfo?.duration:imgDataFromParent?.mediaInfo.duration}}</p>
                </div>
                <div class="gallery-preview__info--block" *ngIf="mediaDetails?.mediaInfo?.audioCodec != 'Not Found' && mediaDetails?.mediaInfo?.audioCodec != null">
                    <p class="text__label mb-6">{{ 'Audio-Codec' | translate }}</p>
                    <p>{{mediaDetails?.mediaInfo?.audioCodec?mediaDetails?.mediaInfo?.audioCodec:imgDataFromParent?.mediaInfo.audioCodec}}</p>
                </div>
                <div class="gallery-preview__info--block" *ngIf="mediaDetails?.mediaInfo?.fileExtension?mediaDetails?.fileExtension:imgDataFromParent?.mediaInfo?.fileExtension">
                    <p class="text__label mb-6">{{ 'File-Extension' | translate }}</p>
                    <p>{{mediaDetails?.mediaInfo?.fileExtension?mediaDetails?.mediaInfo?.fileExtension:imgDataFromParent?.mediaInfo?.fileExtension}}</p>
                </div>
                <div class="gallery-preview__info--block" *ngIf="mediaDetails?.mediaInfo?.videoBitrate !='0 Mbps'">
                    <p class="text__label mb-6">{{ 'Video-Bitrate' | translate }}</p>
                    <p>{{mediaDetails?.mediaInfo?.videoBitrate?mediaDetails?.mediaInfo?.videoBitrate:imgDataFromParent?.mediaInfo?.videoBitrate}}</p>
                </div>
                <div class="gallery-preview__info--block" *ngIf="mediaDetails?.mediaInfo?.frameRate != 0">
                    <p class="text__label mb-6">{{ 'Frame-Rate' | translate }}</p>
                    <p>{{mediaDetails?.mediaInfo?.frameRate?mediaDetails?.mediaInfo?.frameRate:imgDataFromParent?.mediaInfo?.frameRate}}</p>
                </div>
                </ng-container>
            </div>
        </div>
        </div>
    </div>
  <div class="modal__foot justify-content-flex-end">
    <button mat-stroked-button color="accent" mat-dialog-close>{{ 'Close' | translate }}</button>
  </div>
