.gallery-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 427px;
  max-height: 100%;
}

.gallery-preview__media {
  width: 80%;
}

.gallery-preview__media--left {
  padding: 12px;
  height: 450px;
  position: relative;
}

.gallery-preview__media--left img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.gallery-preview__media--left .video-responsive {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
}

.gallery-preview__media--left .video-control {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.gallery-preview__info {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  row-gap: 15px;
}

.gallery-preview__info--scroll {
  height: 427px;
  overflow: auto;
}

.gallery-preview__info--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.gallery-preview__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 8px;
  column-gap: 8px;
  row-gap: 10px;
}

.gallery-preview__tags .tag {
  border-radius: 20px;
  padding: 2px 8px;
}

.gallery-preview__spinner {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}
