.gallery-preview {
  display: flex;
  position: relative;
  min-height: 427px;
  max-height: 100%;
  &__media {
    width: 80%;
    &--left {
      padding: 12px;
      height: 450px;
      position: relative;
      & img {
        height: 100%;
        object-fit: contain;
      }
      & .video {
        &-responsive {
          width: 100%;
          height: 100%;
          object-fit: contain;
          cursor: pointer;
        }
        &-control {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
      }
    }
  }
  &__info {
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 15px;
    &--scroll {
      height: 427px;
      overflow: auto;
    }
    &--block {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 10px;
    & .tag {
      border-radius: 20px;
      padding: 2px 8px;
    }
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
  }
}
