.post {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 15px;

  &__head {
    display: flex;
    align-items: center;
    padding: 1rem 20px;
    border-radius: 8px 8px 0 0;

    &--profile {
      display: flex;
      align-items: center;
    }

    &--channel {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    &--info {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &--infoitem {
      display: flex;
      align-items: center;
    }

    &--infoitem:not(:last-child) {
      margin-right: 1rem;
    }

    &--label {
      display: inline-block;
      margin-left: 5px;
    }
  }

  &__body {
    padding: 15px;
    border-radius: 0px 0px 8px 8px;

    &--data {
      display: flex;
      flex: 1;
      margin-bottom: 1rem;
    }

    &--media {
      max-width: 139px;
      border-radius: 4px;
      overflow: hidden;
    }

    &--content {
      margin-right: 1rem;
    }

    &--email {
      display: flex;
      align-items: flex-start;

      &:not(:last-child) {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
    }

    &--profile {
      margin-right: 1rem;
    }

    &--info {
      flex: 1;
    }

    &--label {
      font-weight: 500;
    }

    &--more {
      position: relative;
      margin-top: 20px;
      min-height: 30px;
      &:before {
        content: '';
        display: block;
        margin-bottom: 5px;
      }

      &:after {
        content: '';
        display: block;
      }

      & > span {
        position: absolute;
        top: -12px;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        padding: 4px;
      }
    }

    &--foot {
      display: flex;
      align-items: center;
    }
  }

  &__foot {
    display: flex;
    align-items: center;

    &--item {
      display: flex;
      align-items: center;
      padding: 15px;
      cursor: pointer;
    }

    &--icon {
      display: inline-block;
      margin-right: 1rem;
    }

    &--label {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      max-width: 55px;
      text-overflow: ellipsis;
    }

    &--wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__pill {
    border-radius: 14px;
    padding: 3px 1rem;
    display: flex;
    align-items: center;

    &--icon {
      margin-right: 3px;
    }
  }

  &__status {
    font-size: 12px;
    padding: 3px 1rem;
    border-radius: 16px 0 0 16px;
    margin-right: -20px;

    &--new {
      background-color: var(--color-blue);
      color: var(--color-white);
    }
  }

  &__alert {
    padding: 3px 8px;
    border-radius: 4px;
    &--label {
      color: var(--color-yellow-dark);
      font-weight: 500;
    }

    &--title {
      font-weight: 500;
    }
  }

  &__stat {
    display: flex;
    align-items: center;
    padding-top: 1rem;

    &--value {
      display: inline-block;
      text-decoration: underline;
      font-style: italic;
      margin-right: 5px;
    }

    &--item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__note {
    padding: 1rem;
    border-radius: 4px;

    &--title {
      font-weight: 500;
      margin-bottom: 1rem;
    }

    &--highlight {
      font-weight: 500;
      text-decoration: underline;
    }
  }

  &__dropdown {
    position: relative;
    z-index: 1;
    cursor: pointer;

    &--list {
      position: absolute;
      bottom: 0;
      right: 40px;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s all;
      transform: translateX(5px);
      border-radius: 4px;
    }

    &--listinfo {
      transform: translate(0, 5px);
      bottom: 30px;
      right: -50px;
    }

    &--listprofile {
      transform: translate(0, -5px);
      bottom: auto;
      top: 30px;
      right: -12px;
    }

    &--listitem {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &:hover &--list {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
  }
}

.profile {
  display: flex;
  align-items: center;

  &__name {
    white-space: nowrap;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
  }
}

.channel {
  display: flex;
  align-items: center;

  &__label {
    font-style: italic;
  }

  &__image {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
  }
}
