.inputWithClose{
    display:flex;
    justify-content:space-between;
}

.iconResize{
    font-size: medium;
}

::ng-deep .no-margin .mat-mdc-text-field-wrapper {
    margin: unset !important;
}

.media {
    &__container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__title-container {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }

    &__main {
        padding: 1rem;
        border-radius: 8px;
        width: fit-content;
        height: fit-content;
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid var(--color-grey);
    }

    &__delete {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: var(--color-main-text);
        cursor: pointer;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__size {
        width: 52px !important;
        height: 50px !important;
    }

    &__video {
        &--container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &--icon {
            position: absolute;
            top: 27%;
            left: 27%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-white);
        }
    }
}