.crmform {
    &__body {
        overflow: auto;
        max-height: calc(100vh - 165px);
        margin-bottom: 1.2rem;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 1.2rem;
        column-gap: 1rem;
    }

    &__field {
        width: 24%;
    }
}
