<div class="modal__head">
    <p class="text__label">{{'Create-New-Ticket' | translate}}</p>
</div>
<form [formGroup]="checkoutForm">
<div class="modal__body"  >
    <div class="crmform__body">
        <div class="crmform__wrapper">
            <div class="crmform__field"  [ngStyle]="{
              'max-width': field.Control === 'textarea' ? '100%' : '32%',
              flex: field.Control === 'textarea' ? '1 1 100%' : '1 1 32%'
            }" [ngClass]="{'element__disable':field?.Disable}" *ngFor="let field of fields; let i = index">
                <mat-form-field appearance="outline" class="material__select" *ngIf="field.Type === 'Simple'">
                    <mat-label class="text-capitalize" [for]="field.Field.toString().toLowerCase()">{{ field.Label }}</mat-label>
                    <input [id]="field.Field.toString().toLowerCase()" type="string" [maxlength]="field.Max"
                  [formControlName]="field.Field.toString().toLowerCase()" matInput [required]="field.IsRequired" />
                </mat-form-field>
                <mat-form-field color="accent" appearance="outline" class="material__select material__select" *ngIf="field.Type === 'Complex' && field.Control === 'dropdown'" >
                  <mat-label [for]="field.Field.toString().toLowerCase()" >{{ field.Label }}</mat-label>
                  <mat-select  [id]="field.Field.toString().toLowerCase()"
                formControlName={{field.Field.toString().toLowerCase()}} [required]="field.IsRequired">
                    <mat-option   *ngFor="let list of field.Data; let i = index" [value]="list.Value">
                      {{ list.Key }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="material__select"  *ngIf="field.Control === 'textarea'">
                  <mat-label class="text-capitalize" [for]="field.Field.toString().toLowerCase()" >{{ field.Label }} <span class="colored__red" *ngIf="field.IsRequired">*</span></mat-label>
                  <textarea matInput class="resize" [id]="field.Field.toString().toLowerCase()"
                    [formControlName]="field.Field.toString().toLowerCase()"
                    [readonly]="field.IsReadonly"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="modal__foot">
    <button mat-stroked-button class="ml-auto blank-hoverBtn mr-8 colored__blue" (click)="closedDialog()">{{'Cancel' | translate}}</button>
    <button mat-flat-button color="accent" (click)="onSubmit()" [loading]="actionProcessing">{{'Submit' | translate}}</button>
</div>
</form>
