<div class="modal__head">
  <h3 class="modal__title text-capitalize" [ngClass]="{'small_font-size': !defaultLayout}">{{'Assign-selected-ticket' | translate}}</h3>
  <span class="modal__action">
    <mat-icon fontSet="material-icons-outlined" [ngClass]="{'small-icon-font-size': !defaultLayout}" [mat-dialog-close]="true">close</mat-icon>
  </span>
</div>
<form [formGroup]="assignToForm" id="assignToForm" (ngSubmit)="onSubmit()">
  <div class="modal__body">
    <div class="p-10">
      <div class="m-auto">
        <div class="d-flex-items-center w-100-p g-5">
          <app-assign-user-dropdown formControlName="assignToName" [loader]="loadingUserList" [options]="assignTo | async"
            [label]="'Select-User' | translate" [applyForAIModel]="true" [value]="selectedAssignTo" [assignToPopup]="true" (selectedTeamData)="teamSelectedData = $event"
            (selectedData)="setAssigntoFromValue($event)" class="w-100-p">
          </app-assign-user-dropdown>
          <mat-icon fontSet="material-icons-outlined" class="pl-4" [ngClass]="{'small-icon-font-size': !defaultLayout}" (click)="refreshList()" style="margin-top: -0.8rem;cursor: pointer;" *ngIf="!loadingUserList">refresh</mat-icon>
        </div>
        <div class="custom__input--wrapper border-none">
          <mat-form-field appearance="outline" class="material__select">
            <mat-label class="text-capitalize" [ngClass]="{'small_font-size': !defaultLayout}">{{'Add-note' | translate}}</mat-label>
            <textarea [ngClass]="{'small_font-size': !defaultLayout}" matInput formControlName="note" style="resize: none" (input)="noteTextChange('note')"></textarea>
          </mat-form-field>
        </div>
        <app-attach-media class="w-full" [postData]="postData"></app-attach-media>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <button class="ml-auto mr-10" [ngClass]="{'small_font-size h-25 px-10': !defaultLayout}"
      mat-stroked-button [mat-dialog-close]="true" color="accent">
      {{'Cancel' | translate}}
    </button>
    <button type="submit" mat-flat-button color="accent" [loading]="assigningUser"
      [ngClass]="{'element__disable': disableAssign, 'small_font-size h-25 px-10': !defaultLayout}">
      {{'Assign' | translate}}
    </button>
  </div>
</form>
