<div *ngIf="showPopup" [ngStyle]="{'bottom': showbreachnotification?'48px':'0'}" class="custom__alert d-flex-items-center">
  <span class="text-center" style="width: 100%">
    <ng-container *ngIf="BrandAssignmentList.length > 2; else second">
      <span class="colored__white"
        >{{'Auto-assignment-of-tickets-for' | translate}}
        <span
          class="colored__locobuzz text__label"
          data-toggle="tooltip"
          data-html="true"
          [matTooltip]="brandList"
          matTooltipPosition="above"
          matTooltipClass="custom-tooltip"
        >
          {{ 'these' | translate }}
        </span>
        {{ 'brands-stopped-queue-size-is-full' | translate }}
      </span>
    </ng-container>

    <ng-template #second>
      <ng-container *ngIf="BrandAssignmentList.length === 1; else third">
        <span class="colored__white"
          >{{ 'Auto-assignment-of-tickets-for' | translate }}
          <span class="colored__white text__label"> {{ brandList }} </span>
          {{'brand-stopped-queue-size-is-full' | translate }}</span
        >
      </ng-container>
    </ng-template>
    <ng-template #third>
      <span class="colored__white"
        >{{ 'Auto-assignment-of-tickets-for' | translate }}
        <span class="colored__white text__label"> {{ brandList }} </span>
        {{ 'brands-stopped-queue-size-is-full' | translate }}</span
      >
    </ng-template>
  </span>
  <span class="colored__white cursor-pointer">
    <mat-icon fontSet="material-icons-outlined" (click)="close()"
      >close</mat-icon
    >
  </span>
</div>
