.grid {
    position: relative;

    &__body {
        padding: 0px 10px 10px 18px;
        margin-top: 10px;
        overflow-y: auto;

        &--scrollfull {
            height: calc(100vh - 325px) !important;
        }
    }

    &__noresultfound {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.tag-filter {
    display: flex;
    align-items: center;
    width: 95.8%;
    margin: auto;
    padding: 5px 7px;
    border-radius: 4px;
    &__filter{
        margin-left: auto;
    }
}
.alertnote {
    background-color: #ffdb4d1a;
    border: 1px solid #ffdb4d;
    color: var(--color-main-text);
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px;
    line-height: 18px;
    width: 95.8%;
    margin: auto;
    margin-bottom: 12px;
}