<div class="post">
  <div class="post__head">
    <div class="post__head--profile">
      <div class="post__head--channel">
        <div class="channel">
          <img
            class="channel__image"
            src="assets/social-mention/post/twitter.svg"
            alt="channel image"
          />
          <span [ngClass]="{'small_font-size': !defaultLayout}" class="channel__label">{{ 'Channel-Name' | translate }}</span>
        </div>
      </div>
      <div class="post__head--channel">
        <img
          class="img__fluid"
          src="assets/social-mention/post/default_brand.svg"
          alt="{{ 'Brand-Image' | translate }}"
        />
      </div>
      <div>
        <div class="profile post__dropdown">
          <div class="profile__img">
            <img src="assets/social-mention/post/user.jpg" alt="{{ 'User-Image' | translate }}" />
          </div>
          <div [ngClass]="{'small_font-size': !defaultLayout}" class="profile__name">{{ 'Junaid' | translate }}</div>
          <div [ngClass]="{'small_font-size': !defaultLayout}" class="profile__handle">(&#64;junaid)</div>
          <div [ngClass]="{'small_font-size': !defaultLayout}" class="profile__isverified">
            <img
              class="img__fluid" [ngClass]="{'small-image-width': !defaultLayout}"
              src="/assets/social-mention/post/isVerified.svg"
            />
          </div>
          <div
            class="
              post__dropdown--list post__dropdown--listprofile
              profile__dropdown
            " [ngClass]="{'small-image-width': !defaultLayout}"
          >
            <div class="profile__dropdown--head">
              <div class="profile__img mr-12">
                <img
                  class="img__fluid" [ngClass]="{'small-image-width': !defaultLayout}"
                  src="assets/social-mention/post/user.jpg"
                  alt="{{ 'User-Image' | translate }}"
                />
              </div>
              <div class="profile__dropdowninfo" [ngClass]="{'small_font-size': !defaultLayout}">
                <div class="profile__name" [ngClass]="{'small_font-size': !defaultLayout}">{{ 'Junaid' | translate }}</div>
                <div class="profile__handle" [ngClass]="{'small_font-size': !defaultLayout}">(&#64;junaid)</div>
              </div>
              <a
                mat-icon-button
                href="javascript:void(0)"
                class="profile__dropdown--action ml-auto" [ngClass]="{'small_font-size': !defaultLayout}"
              >
                <mat-icon [ngClass]="{'small-icon-font-size': !defaultLayout}">remove_red_eye</mat-icon>
              </a>
            </div>
            <div class="profile__dropdown--body">
              <div class="profile__dropdown--summary">
                {{ 'Dummy-Profile-Summary' | translate }}
              </div>
              <div class="profile__dropdown--stats">
                <div class="profile__dropdown--stats-item">
                  <span class="text__label--sm"> 11k </span>
                  <span class="text__regular--sm"> {{ 'Followers' | translate }}</span>
                </div>
                <div class="profile__dropdown--stats-item">
                  <span class="text__label--sm"> 12k </span>
                  <span class="text__regular--sm"> {{ 'Following' | translate }}</span>
                </div>
              </div>
              <div class="profile__dropdown--location">
                <mat-icon>location_on</mat-icon>
                <span>{{ 'Pune' | translate }}</span>
              </div>
              <div class="profile__dropdown--score">
                <ul>
                  <li class="d-flex-items-center mb-4">
                    <span class="text__label--sm">{{ 'Sentiment-Uplift-Score' | translate }}</span>
                    <span class="colored__yellow--dark text-semibold ml-auto"
                      >40</span
                    >
                  </li>
                  <li class="d-flex-items-center mb-4">
                    <span class="text__label--sm">{{ 'NPS-Score' | translate }}</span>
                    <span class="colored__green text-semibold ml-auto">10</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post__head--info">
      <div class="post__head--infoitem">
        <mat-icon
          class="post__head--icon"
          fontSet="material-icons-outlined"
          aria-hidden="false"
          aria-label="alarm icon"
          >alarm</mat-icon
        >
        <span class="post__head--label">1d</span>
      </div>
    </div>
  </div>
  <div class="post__body">
    <div class="post__body--data">
      <ng-container>
        <div class="post__body--content">
          <p>
            {{ 'Dummy-Post-Content' | translate }}
          </p>
        </div>
      </ng-container>
      <!-- <div class="post__body--media" *ngIf="postData.image">
                  <img class="img__fluid" [src]="postData.image">
              </div> -->
    </div>
  </div>
  <div class="post__foot">
    <div class="post__foot--wrapper">
      <div class="post__foot--item">
        <mat-icon
          class="post__foot--icon"
          fontSet="material-icons-outlined"
          aria-hidden="false"
          aria-label="local activity"
          >local_activity</mat-icon
        >
        <span class="post__foot--label">83841</span>
      </div>

      <div class="post__foot--item">
        <mat-icon
          class="post__foot--icon"
          fontSet="material-icons-outlined"
          aria-hidden="false"
          aria-label="folder"
          >folder</mat-icon
        >
        <span class="post__foot--label">{{ 'Open' | translate }}</span>
      </div>
      <div class="post__foot--item">
        <mat-icon
          class="post__foot--icon"
          fontSet="material-icons-outlined"
          aria-hidden="false"
          aria-label="low priority"
          >edit</mat-icon
        >
        <span class="post__foot--label">{{ 'Rohit' | translate }}</span>
      </div>
    </div>
    <div class="post__foot--wrapper ml-auto">
      <div
        class="post__foot--item"
        [matTooltip]="'Open-details' | translate"
        matTooltipPosition="above"
      >
        <mat-icon
          class="post__foot--actionicon"
          fontSet="material-icons-outlined"
          aria-hidden="false"
          aria-label="remove_red_eye"
          >remove_red_eye</mat-icon
        >
      </div>
      <div
        class="post__foot--item"
        [matTooltip]="'Reply' | translate"
        matTooltipPosition="above"
      >
        <mat-icon
          class="post__foot--actionicon"
          aria-hidden="false"
          aria-label="reply"
          >reply</mat-icon
        >
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="post__foot--wrapper post__foot--bottom">
    <div class="post__foot--bottom--left">
      <ul>
        <li>
          <span>{{ 'Contact-Number' | translate }}</span>
          <span>+91 9876543212</span>
        </li>
        <li>
          <span>{{ 'SRD' | translate }}</span>
          <span>sr23488866bbf6678</span>
        </li>
        <li>
          <span>{{ 'Remark' | translate }}</span>
          <span>{{'Social-twitter'| translate}}</span>
        </li>
      </ul>
    </div>
    <div class="post__foot--bottom--right">
      <ul>
        <li>
          <span>{{ 'Category' | translate }}</span>
          <span>+91 9876543212</span>
        </li>
        <li>
          <span>{{ 'Sub-Category' | translate }}</span>
          <span>sr23488866bbf6678</span>
        </li>
        <li>
          <span>{{ 'Sub-Sub-Category' | translate }}</span>
          <span>{{'Social-twitter'| translate}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
