<ng-container *ngIf="!clickhouseEnabled">
<div class="post-bulkselect" [@slideInBottom] [ngClass]="{'level-2':bulkActionPositionLevel==2,'level-3':bulkActionPositionLevel==3}">
  <div class="post-bulkselect__item mr-2">
    <mat-checkbox [ngClass]="{'small_font-size' : !defaultLayout}" [checked]="ticketsCheckBoxCount==postCount" (change)="bulkpostselect($event.checked)"
      >{{'Select-All' | translate}}</mat-checkbox
    >
  </div>
  <div class="post-bulkselect__item mr-0 exclude" *ngIf="showexcludemention">
    <mat-checkbox
      (change)="excludebrandmention($event.checked)" [ngClass]="{'small_font-size' : !defaultLayout}"
      [checked]="isexcludebrandmention"
    >
      {{'Exclude-Brand-Mention' | translate}}
    </mat-checkbox>
  </div>
  <div  class="post-bulkselect__item ml-10 mr-12">
    <span class="post-bulkselect__label nowrap" [ngClass]="{'small_font-size' : !defaultLayout}">{{ postCount }} {{'Selected' | translate}}</span>
  </div>
  <div
    class="post-bulkselect__item ml-auto right-auto"
    *ngIf="bulkActionbtn.btnbulkreply && replyEnabled"
    (click)="bulkAction('reply')"
  >
    <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="post-bulkselect__button">{{'Reply' | translate}}</button>
  </div>
  <div
    class="post-bulkselect__item" [ngClass]="{'ml-auto right-auto':!bulkActionbtn.btnbulkreply}"
    *ngIf="bulkActionbtn.btnbulktagging && assignMentionORTagCategoryEnabled"
    (click)="bulkAction('tagcategory')"
  >
    <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="post-bulkselect__button">
      {{'Retag-Category' | translate}}
    </button>
  </div>
  <div
    class="post-bulkselect__item"
    *ngIf="bulkActionbtn.btnbulkapprove"
    (click)="bulkActionClick()"
    [matMenuTriggerFor]="approveNote"
  >
    <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="post-bulkselect__button">{{'Approve' | translate}}</button>
  </div>
  <mat-menu #approveNote="matMenu" class="note-elem__dropdown">
    <div class="note-elem p-12">
      <div class="note-elem__input" (click)="$event.stopPropagation()">
        <mat-form-field appearance="outline" class="material__select">
          <mat-label class="text-capitalize" [ngClass]="{'small_font-size' : !defaultLayout}">{{'Add-note' | translate}}</mat-label>
          <textarea matInput [ngClass]="{'small_font-size' : !defaultLayout}" [(ngModel)]="approvenote" class="resize"></textarea>
        </mat-form-field>
        <app-attach-media class="w-full" [selectedTicketBrandIdforBulk]="selectedTicketBrandId"
          [postDetailTab]="postDetailTab"></app-attach-media>
      </div>
      <div class="note-elem__actions">
        <button mat-button color="accent" [ngClass]="{'small_font-size' : !defaultLayout}" class="ml-auto" (click)="clearnote()">
          {{'Cancel' | translate}}
        </button>
        <button mat-button color="accent" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="bulkAction('approve')">{{'Save' | translate}}</button>
      </div>
    </div>
  </mat-menu>
  <div
    class="post-bulkselect__item"
    *ngIf="bulkActionbtn.btnbulkreject"
    (click)="bulkActionClick()"
    [matMenuTriggerFor]="rejectedNote"
  >
    <button mat-stroked-button class="post-bulkselect__button" [ngClass]="{'small_font-size' : !defaultLayout}">{{'Reject' | translate}}</button>
  </div>
  <mat-menu #rejectedNote="matMenu" class="note-elem__dropdown">
    <div class="note-elem p-12">
      <div class="note-elem__input" (click)="$event.stopPropagation()">
        <mat-form-field appearance="outline" class="material__select">
          <mat-label class="text-capitalize" [ngClass]="{'small_font-size' : !defaultLayout}">{{'Add-note' | translate}}</mat-label>
          <textarea matInput [ngClass]="{'small_font-size' : !defaultLayout}" [(ngModel)]="ticketRejectednote" class="resize"></textarea>
        </mat-form-field>
        <app-attach-media class="w-full" [selectedTicketBrandIdforBulk]="selectedTicketBrandId"
          [postDetailTab]="postDetailTab"></app-attach-media>
      </div>
      <div class="note-elem__actions">
        <button mat-button color="accent" [ngClass]="{'small_font-size' : !defaultLayout}" class="ml-auto" (click)="clearnote()">
          {{'Cancel' | translate}}
        </button>
        <button mat-button color="accent" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="bulkAction('ignore')">{{'Save' | translate}}</button>
      </div>
    </div>
  </mat-menu>
  <div class="post-bulkselect__item" *ngIf="bulkActionbtn.btnbulkonhold">
    <button
      mat-stroked-button
      [matMenuTriggerFor]="onholdnote" [ngClass]="{'small_font-size' : !defaultLayout}"
      class="post-bulkselect__button"
      (click)="clearnote();bulkActionClick();"
    >
      {{'Put-on-hold' | translate}}
    </button>
  </div>
  <mat-menu #onholdnote="matMenu" class="note-elem__dropdown">
    <div class="note-elem p-12">
      <div class="note-elem__input" (click)="$event.stopPropagation()">
        <!-- <label class="text__label custom__input--label">Add Note</label>
        <textarea
          matInput
          [(ngModel)]="holdnote"
          class="custom__input"
          placeholder="Enter note here"
        ></textarea> -->
        <mat-form-field appearance="outline" class="material__select">
          <mat-label class="text-capitalize" [ngClass]="{'small_font-size' : !defaultLayout}">{{'Add-note' | translate}}</mat-label>
          <textarea matInput #putOnHoldTextArea [ngClass]="{'small_font-size' : !defaultLayout}" [(ngModel)]="holdnote" class="resize"
            (ngModelChange)="noteTextChange(putOnHoldTextArea, 'holdnote')"></textarea>
        </mat-form-field>
        <app-attach-media class="w-full" [selectedTicketBrandIdforBulk]="selectedTicketBrandId"
          [postDetailTab]="postDetailTab"></app-attach-media>
      </div>
      <div class="note-elem__actions">
        <button mat-button color="accent" [ngClass]="{'small_font-size' : !defaultLayout}" class="ml-auto" (click)="clearnote()">
          {{'Cancel' | translate}}
        </button>
        <button mat-button color="accent" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="checkAllEmailMentionRead('on hold')">{{'Save' | translate}}</button>
      </div>
    </div>
  </mat-menu>
  <div
    class="post-bulkselect__item"
    *ngIf="bulkActionbtn.btnbulkescalae && ticketEscalationEnabled"
    (click)="bulkAction('escalate')"
  >
    <button mat-stroked-button class="post-bulkselect__button" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="bulkActionClick()">{{'Escalate' | translate}}</button>
  </div>
  <div
    class="post-bulkselect__item"
    *ngIf="bulkActionbtn.btnbulkassign && allowAssignement"
    (click)="bulkAction('assign')"
  >
    <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="post-bulkselect__button">{{'Assign' | translate}}</button>
  </div>
  <div class="post-bulkselect__item" *ngIf="bulkActionbtn.btnbulkreopen && reopenEnabled">
    <button
      mat-stroked-button
      [matMenuTriggerFor]="bulkreopennote" [ngClass]="{'small_font-size' : !defaultLayout}"
      class="post-bulkselect__button"
      (click)="bulkActionClick()"
    >
      {{'Reopen' | translate}}
    </button>
  </div>
  <mat-menu #bulkreopennote="matMenu" class="note-elem__dropdown">
    <div class="note-elem pr-20 pl-20 pt-10">
      <div class="note-elem__input" (click)="$event.stopPropagation()">
        <label class="text__label custom__input--label" [ngClass]="{'small_font-size' : !defaultLayout}">{{'Add-Note' | translate}}</label>
        <textarea
          matInput
          #reopenTextArea
          [(ngModel)]="reopennote" [ngClass]="{'small_font-size' : !defaultLayout}"
          class="custom__input w-340"
          placeholder="Enter note here"
          (ngModelChange)="noteTextChange(reopenTextArea, 'reopennote')"
        ></textarea>
        <app-attach-media class="w-full" [selectedTicketBrandIdforBulk]="selectedTicketBrandId"
          [postDetailTab]="postDetailTab"></app-attach-media>
      </div>
      <div class="note-elem__actions">
        <button mat-button color="accent" [ngClass]="{'small_font-size' : !defaultLayout}" class="ml-auto" (click)="clearnote()">
          {{'Cancel' | translate}}
        </button>
        <button mat-button color="accent" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="bulkReopen()">{{'Save' | translate}}</button>
      </div>
    </div>
  </mat-menu>
  <div
    class="post-bulkselect__item"
    *ngIf="bulkActionbtn.btnbulkreplyapproved"
    (click)="bulkReplyApproved()"
  >
    <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="post-bulkselect__button">{{'Approve' | translate}}</button>
  </div>
  <div class="post-bulkselect__item" *ngIf="bulkActionbtn.btnbulkreplyrejected">
    <button
      mat-stroked-button
      [matMenuTriggerFor]="bulkreplyrejectnote" [ngClass]="{'small_font-size' : !defaultLayout}"
      class="post-bulkselect__button"
    >
      {{'Reject' | translate}}
    </button>
  </div>
  <div
    class="post-bulkselect__item"
    *ngIf="bulkActionbtn.btncreatesingleticket && createNewTicketEnabled"
    (click)="CreateTicketMultipleMentions(1); bulkActionClick()"
  >
    <button
      mat-stroked-button
      class="post-bulkselect__button"
      [matMenuTriggerFor]="BulkCreateTicketNote" [ngClass]="{'small_font-size' : !defaultLayout}"
      #clickBulkTicketMenuTrigger="matMenuTrigger"
      (menuOpened)="CreateTicketMultipleMentions(1)"
    >
      {{'Create-Single-Ticket' | translate}}
    </button>
  </div>
  <div
    class="post-bulkselect__item"
    *ngIf="bulkActionbtn.btnattachticketbulk"
    (click)="bulkAttach()"
  >
    <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="post-bulkselect__button">
      {{'Attach-Ticket' | translate}}
    </button>
  </div>
  <mat-menu #bulkreplyrejectnote="matMenu" class="note-elem__dropdown">
    <div class="note-elem">
      <div class="note-elem__input" (click)="$event.stopPropagation()">
        <label [ngClass]="{'small_font-size' : !defaultLayout}" class="text__label custom__input--label">{{'Add-Note' | translate}}</label>
        <!-- <textarea ngModel #note="ngModel" class="custom__input" placeholder="Enter note here"></textarea> -->
        <textarea matInput [(ngModel)]="rejectnote" class="resize"></textarea>
      </div>
      <div class="note-elem__actions">
        <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="ml-auto mr-8" (click)="clearnote()">
          {{'Cancel' | translate}}
        </button>
        <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" (click)="bulkreplyRejected()">{{'Save' | translate}}</button>
      </div>
    </div>
  </mat-menu>
  <mat-menu #BulkCreateTicketNote="matMenu" class="note-elem__dropdown">
    <div class="note-elem">
      <div class="note-elem__input" (click)="$event.stopPropagation()">
        <label class="text__label custom__input--label" [ngClass]="{'small_font-size' : !defaultLayout}">{{'Add-Note' | translate}}</label>
        <textarea
          [(ngModel)]="createticketnote" [ngClass]="{'small_font-size' : !defaultLayout}"
          class="custom__input"
          placeholder="Enter note here"
        ></textarea>
      </div>
      <app-attach-media class="w-full" [selectedTicketBrandIdforBulk]="selectedTicketBrandId"
        [postDetailTab]="postDetailTab"></app-attach-media>
      <div class="note-elem__actions">
        <button
          mat-button
          class="colored__blue ml-auto mr-8" [ngClass]="{'small_font-size' : !defaultLayout}"
          (click)="clearnote()"
        >
          {{'Cancel' | translate}}
        </button>
        <button
          mat-button
          class="colored__blue" [ngClass]="{'small_font-size' : !defaultLayout}"
          (click)="CreateTicketMultipleMentions(2)"
        >
          {{'Save' | translate}}
        </button>
      </div>
    </div>
  </mat-menu>
  <div
    class="post-bulkselect__item"
    *ngIf="bulkActionbtn.btnbulkdelete && deleteLocobuzzEnabled"
    (click)="bulkAction('delete')"
  >
    <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="post-bulkselect__button">
      {{'Bulk-Delete' | translate}}
    </button>
  </div>
  <div class="post-bulkselect__item" *ngIf="bulkActionbtn.btnbulkdeletefromchannel && deleteLocobuzzEnabled"
    (click)="bulkAction('deletefromchannel')">
    <button mat-stroked-button [ngClass]="{'small_font-size' : !defaultLayout}" class="post-bulkselect__button">
      {{'Bulk-Delete-from-Channel' | translate}}
    </button>
  </div>
  <div class="post-bulkselect__item post-bulkselect__item--red" *ngIf="bulkActionbtn.btnbulkdirectclose">
    <button mat-stroked-button class="post-bulkselect__button">
      <span  (click)="bulkAction('close')" [ngClass]="{'small_font-size' : !defaultLayout}" class="whitefont">
        {{'Direct-Close' | translate}}
      </span>
      <span [matMenuTriggerFor]="directClose" (click)="$event.stopPropagation();" class="whitefont">
        <mat-icon fontSet="material-icons-outlined" [ngClass]="{'small-icon-font-size' : !defaultLayout}">keyboard_arrow_down</mat-icon>
      </span>
    </button>
    <mat-menu #directClose="matMenu">
      <button [matMenuTriggerFor]="directCloseAddNote" mat-menu-item style="width: 20rem" (mouseover)="clearnote(); bulkActionClick()">
        <mat-icon [ngClass]="{'small-icon-font-size' : !defaultLayout}">edit_note</mat-icon>
        <span [ngClass]="{'small_font-size' : !defaultLayout}">{{'Close-With-Note' | translate}}</span>
      </button>
    </mat-menu>
    <mat-menu #directCloseAddNote="matMenu" class="note-elem__dropdown">
      <div class="note-elem p-12">
        <div class="note-elem__input" (click)="$event.stopPropagation()">
          <mat-form-field appearance="outline" class="material__select">
            <mat-label class="text-capitalize" [ngClass]="{'small_font-size' : !defaultLayout}">{{'Add-note' | translate}}</mat-label>
            <textarea matInput #closingNoteTextArea [ngClass]="{'small_font-size' : !defaultLayout}" [(ngModel)]="closingNote" class="resize"
              (ngModelChange)="noteTextChange(closingNoteTextArea, 'closingNote')"></textarea>
          </mat-form-field>
          <app-attach-media class="w-full" [selectedTicketBrandIdforBulk]="selectedTicketBrandId"
            [postDetailTab]="postDetailTab"></app-attach-media>
        </div>
        <div class="note-elem__actions">
          <button type="button" (click)="clearnote()" [ngClass]="{'small_font-size' : !defaultLayout}" mat-stroked-button class="blank-hoverBtn ml-auto mr-8 colored__blue">
            {{'Cancel' | translate}}
          </button>
          <button (click)="bulkAction('closeWithNote')" [ngClass]="{'small_font-size' : !defaultLayout}" type="button" mat-flat-button class="ml-8" color="accent">
            {{'Direct-Close' | translate}}
          </button>
        </div>
      </div>
    </mat-menu>
  </div>
  <div
    class="post-bulkselect__item post-bulkselect__item--close"
    (click)="bulkAction('hideactionpanel')"
  >
    <mat-icon [ngClass]="{'small-icon-font-size' : !defaultLayout}">close</mat-icon>
  </div>
</div>
</ng-container>

<div *ngIf="clickhouseEnabled" class="post-bulkselect" [@slideInBottom]
  [ngClass]="{'level-2':bulkActionPositionLevel==2,'level-3':bulkActionPositionLevel==3}">
  <div class="post-bulkselect__item pl-6 mr-2">
    <mat-checkbox [(ngModel)]="selectAllBulk" (change)="bulkpostselect($event.checked)">
      <span class="colored__white" [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="!selectAllBulk">{{'Select-all' | translate}} {{ticketsFound}} {{ mentionOrGroupView === AllMentionGroupViewEnum.groupView ? ('groups' | translate) : ('mentions' | translate) }}</span>
      <span class="colored__white" [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="selectAllBulk">{{'All' | translate}} {{ticketsFound}} {{ mentionOrGroupView === AllMentionGroupViewEnum.groupView ? ('groups' | translate) : ('mentions' | translate) }} {{'are-selected' | translate}}</span>
    </mat-checkbox>
  </div>
  <div *ngIf="!selectAllBulk" class="post-bulkselect__item ml-10 mr-12 border-left__light-grey pl-20">
    <span class="colored__grey font-size-12 text-italic nowrap" [ngClass]="{'small_font-size' : !defaultLayout}">{{ postCount }} {{ mentionOrGroupView === AllMentionGroupViewEnum.groupView ? ('Groups' | translate) : ('Mentions' | translate) }} {{'are-Selected' | translate}}</span>
  </div>
    <div class="post-bulkselect__item post-bulkselect__item--blue ml-auto right-auto"
      *ngIf="bulkActionbtn.btnbulktagging && assignMentionORTagCategoryEnabled" (click)="bulkAction('tagcategory')">
      <button mat-stroked-button class="post-bulkselect__button" [ngClass]="{'small_font-size' : !defaultLayout}">
        {{'Retag-Category' | translate}}
      </button>
    </div>
    <!-- activityType - 2 means BrandActivity -->
  <div class="post-bulkselect__item post-bulkselect__item--green"
    *ngIf="mentionOrGroupView==AllMentionGroupViewEnum.groupView && showMarkAsSeen && activityType == 2" (click)="markAsSeenOrUnseen(1)">
    <button mat-stroked-button class="post-bulkselect__button" [ngClass]="{'small_font-size' : !defaultLayout}">
    <mat-icon fontSet="material-icons-outlined" [ngClass]="{'small-icon-font-size' : !defaultLayout}" aria-hidden="false" class="post__foot--icon mr-6 colored__white"
      aria-label="local activity">done_all</mat-icon>{{'Mark-As-Read' | translate}}
    </button>
  </div>
    <!-- activityType - 2 means BrandActivity -->
  <div class="post-bulkselect__item post-bulkselect__item--green"
    *ngIf="mentionOrGroupView==AllMentionGroupViewEnum.groupView && showMarkAsUnSeen && activityType == 2" (click)="markAsSeenOrUnseen(0)">
    <button mat-stroked-button class="post-bulkselect__button" [ngClass]="{'small_font-size' : !defaultLayout}">
      <mat-icon fontSet="material-icons-outlined" [ngClass]="{'small-icon-font-size' : !defaultLayout}" aria-hidden="false" class="post__foot--icon mr-6"
        aria-label="local activity">remove_done</mat-icon>{{'Mark-As-Unread' | translate}}
    </button>
  </div>
  <div class="post-bulkselect__item post-bulkselect__item--red" *ngIf="bulkActionbtn.btnbulkdelete && deleteLocobuzzEnabled"
    (click)="bulkAction('delete')">
    <button mat-stroked-button class="post-bulkselect__button" [ngClass]="{'small_font-size' : !defaultLayout}">
      {{'Delete' | translate}}
    </button>
  </div>
  <!-- <div class="post-bulkselect__item post-bulkselect__item--red"
    *ngIf="bulkActionbtn.btnbulkdeletefromchannel && deleteLocobuzzEnabled" (click)="bulkAction('deletefromchannel')">
    <button mat-stroked-button class="post-bulkselect__button">
      Delete from Channel
    </button>
  </div> -->
  <div class="post-bulkselect__item post-bulkselect__item--close" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="bulkAction('hideactionpanel')">
    <mat-icon [ngClass]="{'small-icon-font-size' : !defaultLayout}">close</mat-icon>
  </div>
</div>
