@use 'app/@locobuzz/scss/partials/_breakpoints.scss' as breakpoints;
.post-bulkselect {
  display: flex;
  position: fixed;
  bottom: 10px;
  align-items: center;
  padding: 1rem;
  width: 75%;
  border-radius: 4px;
  margin: 0 20px;
  z-index: 9999;
  transition: 0.2s all;
  // transform: translateY(-50px);
  &.level-2 {
    bottom: 50px;
  }
  &.level-3 {
    bottom: 100px;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__button {
    padding: 0px 7px;
  }
  @include breakpoints.media-breakpoint('xl') {
    width: 80%;
  }
  & .exclude {
    border-right: 1px solid #3b5175;
  }
}

.unselected_color
{
  color: #A8BDFF !important;
}

.whitefont{
  color: var(--color-white) !important;
}

