.customer_data {
  width: 100% !important;
  box-shadow: none !important;
}

.padd-left {
  padding-left: 24px !important;
}

.mat-mdc-header-row {
  background: var(--color-lighter-grey) !important;
}
