.autocomplete-option__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.autocomplete-option__item--label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocomplete-option__item--usericon {
  margin-right: 5px;
}

.autocomplete-option__item--usercheck {
  margin-left: auto;
}

.team .mat-mdc-optgroup-label:hover {
  background: rgba(0, 0, 0, 0.04) !important;
}

.team__hover {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  cursor: pointer;
}

.assign-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assign-dropdown__input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.assign-dropdown__sort {
  width: 40px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2px;
  border-radius: 4px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
}

.active {
  color: var(--color-locobuzz) !important;
  background-color: rgba(24, 94, 223, 0.1);
}

.active-icon {
  color: var(--color-locobuzz) !important;
}
