.enrich__overview {
  -webkit-box-flex: 340px !important;
  -ms-flex: 340px !important;
  flex: 340px !important;
}

.enrich__overview {
  max-height: 100%;
  max-width: 45%;
}

.enrich__activities {
  max-width: 33%;
}

.enrich__profile {
  width: 27%;
  max-width: 27%;
}
