.enrich {
  &__overview {
    flex: 340px !important;
  }
  &__overview {
    // max-width: 691px;
    max-height: 100%;
    max-width: 45%;
  }
  &__activities {
    // max-width: 450px;
    // flex:0 0 451px !important;
    max-width: 33%;
  }
  &__profile {
    width: 27%;
    max-width: 27%;
  }
}
