.break {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  &--leftImg {
    & img {
      width: 100%;
    }
  }
  &--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5rem;
    & ul {
      display: flex;
      flex: 1;
      justify-content: space-between;
      & li {
        display: flex;
        & img {
          width: 50%;
          height: fit-content;
        }
        & .agentPic {
          width: 2.5rem;
          border-radius: 50%;
          height: 2.5rem;
          margin-right: 0.7rem;
        }
        & span {
          text-transform: capitalize;
        }
      }
    }
  }
  &--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.5rem;
    position: relative;
    pointer-events: none;
    // & svg{
    //     & .circle_animation {
    //         stroke-dasharray: 440;
    //         stroke-dashoffset: 440;
    //         transition: all 1s linear;
    //       }
    // }
  }
  &--timer {
    width: 24.5rem;
    height: 24.5rem;
    background-color: var(--color-grey);
    border-radius: 50%;
    position: relative;

    &--play {
      width: 24.5rem;
      height: 24.5rem;
      border-radius: 50%;
      background-position: center;
      border: 1px solid var(--color-grey);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      stroke-dasharray: 440;
      stroke-dashoffset: 440;
      transition: all 1s linear;
    }
    &--counter {
      position: absolute;
      width: 20.4rem;
      height: 20.4rem;
      background-image: linear-gradient(#3d09ae, #5960e4);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      stroke-dasharray: 440;
      stroke-dashoffset: 440;
      transition: all 1s linear;
      top: 6.8rem;
      background-size: contain;
      & p {
        text-align: center;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        width: max-content;
      }
    }
  }
  &--foot {
    display: flex;
    width: 85%;
    margin: auto;
    position: relative;
    &--button {
      position: absolute;
      right: 0.2rem;
      top: 0.5rem;
      text-transform: capitalize;
    }
  }
  &--left {
    background: #e4f0ff;
    background-image: url("../../../../assets/images/media/break.svg");
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  &--right {
    height: 100vh;
    padding: 0.6rem 1.5rem 0rem 2.5rem;
    padding-top: 3rem;
  }
}
