<div class="break">
  <div class="break--left" fxFlex="60%">
    <!-- <img src="assets/images/media/break.svg" alt="" class="img__fluid" /> -->
  </div>
  <div fxFlex="40%" class="break--right">
    <div class="break--header">
      <ul>
        <li style="width: 60%;">
          <img src="assets/images/login__locobuzzLogo.png" alt="" />
        </li>
        <li style="width: 30%;">
          <img
            class="agentPic"
            src="{{profilePic}}"
            onError="this.src='assets/images/agentimages/sample-image.svg'"
            alt=""
          />
          <span>{{ username }}</span>
        </li>
      </ul>
    </div>
    <div class="break--body">
      <h3 class="text-capitalize mb-25">{{ 'You-are-on-break-since' | translate }}</h3>
      <svg width="234" height="234" xmlns="http://www.w3.org/2000/svg">
        <circle
          id="circle"
          class="circle_animation"
          r="108"
          cy="117"
          cx="117"
          stroke-width="8"
          stroke="#3d09ae"
          fill="none"
        />
      </svg>
      <!-- <div class="break--timer">
                <div class="break--timer--play"></div>
            </div> -->
      <div
        class="break--timer--counter"
        style="background-image: url('assets/images/media/break-timer.jpg')"
      >
        <p>{{ hoursToDday }}:{{ minutesToDday }}:{{ secondsToDday }}</p>
      </div>
    </div>
    <div class="break--foot">
      <ng-container *ngIf="ssoUser">
          <mat-form-field appearance="outline" class="material__select material__select--adaptive element__disable">
            <mat-label>{{ 'Email' | translate }}</mat-label>
            <input [(ngModel)] = "userEmail" type="text" matInput />
          </mat-form-field>
          <button mat-flat-button color="accent" class="break--foot--button account-profile__spinner h-36"
            (click)="ssoUserEndBreak()">
            {{ 'End-Break' | translate }}
            <mat-spinner [diameter]="25" *ngIf="spinner" class="ml-10"></mat-spinner>
          </button>
      </ng-container>
    
      <ng-container *ngIf = "!ssoUser">
        <mat-form-field appearance="outline" class="material__select material__select--adaptive">
          <mat-label>{{ 'Enter-password-to-end-break' | translate }}</mat-label>
          <input formControlName="AuthorName" type="password" #titleInput matInput />
        </mat-form-field>

        <button type="submit" mat-flat-button color="accent" class="break--foot--button account-profile__spinner h-36"
          (click)="endBreak(titleInput.value)">
          {{ 'End-Break' | translate }}
          <mat-spinner [diameter]="25" *ngIf="spinner" class="ml-10"></mat-spinner>
        </button>
      </ng-container>
   
    </div>
      <div class="break--foot note note__warning mt-25" *ngIf="isAutoAssignment">
        <span class="note__label">{{ 'Note' | translate }}: </span>
        <span> {{ 'tickets-will-automatically-commence' | translate }}</span>
      </div>
  </div>
</div>
