.user-activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.user-activities__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

.user-activities__summary--item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 12px;
}

.user-activities__summary--img {
  margin-right: 1rem;
}

.user-activities__summary--img > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.user-activities__summary--label {
  display: block;
  margin-bottom: 1rem;
}

.user-activities__timeline {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  padding: 12px;
  position: relative;
}

.user-activities__timeline .post-timeline:before {
  top: 10px;
  bottom: -20px;
}

.user-activities__timeline .post-timeline__item {
  margin-bottom: 0;
}

.user-activities__timeline .post-timeline__item:before {
  background: transparent;
  border: none;
}

.user-activities__timeline .post-timeline__item:after {
  background: var(--color-purple);
}

.material__select {
  padding: 10px 22px 0px !important;
  height: 75px;
}
