.user-activities {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);

  &__summary {
    display: flex;
    padding: 1rem 0;
    &--item {
      flex: 1;
      padding: 0 12px;
    }

    &--img {
      // margin-right: 1rem;
      & > img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }

    &--label {
      display: block;
      margin-bottom: 1rem;
    }

    &--value {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &__timeline {
    flex: 1;
    overflow: auto;
    padding: 12px;
    position: relative;

    & .post-timeline {
      &:before {
        top: 10px;
        bottom: -20px;
      }

      &__item {
        margin-bottom: 0;
        &:before {
          background: transparent;
          border: none;
        }
        &:after {
          background: var(--color-purple);
        }
      }
    }
  }
}

.material__select {
  padding: 10px 22px 0px !important;
  height: 75px;
}
