<div class="user-activities position-relative">
  <div class="user-activities__summary">
    <div class="user-activities__summary--item">
      <label class="user-activities__summary--label text__label" [ngClass]="{'small_font-size' : !defaultLayout}"
        >{{ 'First-User-Activity' | translate }}</label
      >
      <div
        *ngIf="this.userOneViewModel && this.userOneViewModel.firstActivity"
        class="user-activities__summary--value"
      >
        <span class="user-activities__summary--img">
          <img class="img__fluid" [ngClass]="{'small-image-width' : !defaultLayout}" [src]="userOneViewModel.channelIcon" />
        </span>
        <span [ngClass]="{'small_font-size' : !defaultLayout}">{{ this.userOneViewModel.firstActivity | translate }}</span>
        <span
          class="pl-30 d-inline-block"
          [ngClass]="this.userOneViewModel.firstsentimentcolor" [ngClass]="{'small_font-size' : !defaultLayout}"
          *ngIf="this.userOneViewModel.firstSentiment"
        >
          ({{ this.userOneViewModel.firstSentiment | translate }})</span
        >
      </div>
    </div>
    <div class="user-activities__summary--item">
      <label class="user-activities__summary--label text__label" [ngClass]="{'small_font-size' : !defaultLayout}"
        >{{ 'Last-User-Activity' | translate }}</label
      >
      <div
        *ngIf="this.userOneViewModel && this.userOneViewModel.lastActivity"
        class="user-activities__summary--value"
      >
        <span class="user-activities__summary--img">
          <img class="img__fluid" [ngClass]="{'small-image-width' : !defaultLayout}" [src]="userOneViewModel.channelIcon" />
        </span>
        <span [ngClass]="{'small_font-size' : !defaultLayout}">{{ this.userOneViewModel.lastActivity | translate }}</span>
        <span
          class="pl-30 d-inline-block"
          [ngClass]="this.userOneViewModel.lastsentimentcolor" [ngClass]="{'small_font-size' : !defaultLayout}"
          *ngIf="this.userOneViewModel.lastSentiMent"
          >({{ this.userOneViewModel.lastSentiMent | translate }})</span
        >
      </div>
    </div>
  </div>
  <div>
    <mat-form-field
      color="accent"
      appearance="outline"
      class="material__select"
    >
      <mat-label [ngClass]="{'small_font-size' : !defaultLayout}">{{ 'All-User-Activities' | translate }}</mat-label>
      <!-- (selectionChange)="CallTicketTimeLine($event.value)" -->
      <mat-select [ngClass]="{'small_font-size' : !defaultLayout}" (selectionChange)="getUserTimelineByChannel($event.value)">
        <mat-option [ngClass]="{'small_font-size' : !defaultLayout}" [value]="0"> {{ 'All-User-Activities' | translate }} </mat-option>
        <ng-template
          [ngIf]="customActivityCount && customActivityCount.length > 0"
        >
          <mat-option [ngClass]="{'small_font-size' : !defaultLayout}"
            *ngFor="let item of customActivityCount"
            [value]="item.channelGroup"
            >{{ item.channelName }} ({{ item.count }})
          </mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <!-- <mat-spinner *ngIf="spinnerFlag" color="accent" [diameter]="20"></mat-spinner> -->
  </div>
  <div class="user-activities__timeline">
    <app-component-loader
      *ngIf="activitiesLoading"
      [postCountTotal]="3"
      [loaderType]="loaderTypeEnum.post"
    ></app-component-loader>
    <ul
      class="post-timeline enrich-timeline"
      *ngIf="userOneViewDTO && userOneViewDTO.length > 0; else nopost"
    >
      <li class="post-timeline__item" *ngFor="let timeline of userOneViewDTO">
        <app-post-minimal [postData]="timeline"></app-post-minimal>
      </li>
      <li class="post-timeline__item text__label" [ngClass]="{'small_font-size' : !defaultLayout}">
        {{ 'Journey-Starts' | translate }}
      </li>
    </ul>
    <ng-template #nopost>
      <div class="noData__sm block-center" [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="!activitiesLoading">
        <p>{{ 'No-Data-Found' | translate }}</p>
      </div>
    </ng-template>
  </div>
</div>
