<div class="dialer" (click)="$event.stopPropagation()" cdkDrag cdkDragBoundary=".post__list">
    <div class="dialer__head">
        <div class="dialer__head--drag">
            <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="dialer__head--input">
            <!-- <input type="text" #phoneNumber OnlyNumber="true" [(ngModel)]="contactNo" pattern="[+0-9]{13}"> -->
            <input type="text" appPhoneMask [OnlyNumber]="true" [(ngModel)]="contactNo" maxlength="14">
        </div>
        <div class=" dialer__head--cross" (click)="deleteNumber()">
            <mat-icon fontSet="material-icons-outlined">backspace</mat-icon>
        </div>
    </div>
    <div class="dialer__body">
        <div class="dialer__body--dialpad">
            <ul>
                <li (click)="numberDial('1')">1</li>
                <li (click)="numberDial('2')">2</li>
                <li (click)="numberDial('3')">3</li>
                <li (click)="numberDial('4')">4</li>
                <li (click)="numberDial('5')">5</li>
                <li (click)="numberDial('6')">6</li>
                <li (click)="numberDial('7')">7</li>
                <li (click)="numberDial('8')">8</li>
                <li (click)="numberDial('9')">9</li>
                <li (click)="numberDial('+')">+</li>
                <li (click)="numberDial('0')">0</li>
                <!-- <li (click)="numberDial('#')">#</li> -->
                <li (click)="numberDial('none')"></li>
            </ul>
        </div>
    </div>
    <div class="dialer__foot mr-0" [ngClass]="{'element__disable': contactNo?.length < 12}" >
        <div class="dialer__foot--calling" [ngStyle]="{'filter': contactNo?.length < 12 ? 'grayscale(1)' : ''}">
            <span class="call mr-0" (click)="makeCall()">
                <mat-icon>call</mat-icon>
            </span>
        </div>
    </div>
    <!-- <app-calling *ngIf="openCallDetail"></app-calling> -->
    <div class="dialer__close" (click)="dialPadPopupClose()">
        <mat-icon>close</mat-icon>
    </div>
</div>