.parentpost {
  &__wrapper {
    max-height: 70vh !important;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
::ng-deep .post{
  &__quora{
    &--share{
      column-gap: 1rem!important;
      flex-wrap: wrap;
      row-gap: 0.8rem!important;
      margin-top: 0.7rem;
    }
  }
}
.post-search {
width: 73%;
  height: 3.2rem !important;
  margin-right: 8px;
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    & .search-icon{
      height: 3.3rem;
      width: 4.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        color: var(--color-locobuzz);
        background: rgba(24, 94, 223, 0.1);
      }
    }
  }
}
.noDataFound{
  row-gap: 0px;
  & .mat-icon{
    font-size: 7rem!important; 
    width: 7rem!important; 
    height: 7rem!important; 
    min-width: 7rem!important; 
    min-height: 7rem!important; 
    line-height: 7rem!important;
  }
  & .text{
    font-size: 2.5rem!important;
  }
}
.comments-has{
  all:unset;
}

.comments-has:has(*){
  display: block !important;
  padding: 5px 20px 5px 20px;
  margin-bottom: 12px;
  font-weight: 600;
  border-radius: 4px;
  background: white !important;
}