<div class="post__body email__thread">
    <!-- <div #shortEmail class="post-email__thread">
        <div class="post-email__thread--wrapper">
            <div class="user__profile">
                <img class="img" src="assets/images/agentimages/sample-image.svg" alt="channel image" />
            </div>
            <div class="user__details">
                <span class="user__name">Vagish Sharma</span>
                <span class="user__info">to SBI Support</span>
            </div>
            <div class="ml-auto">
                <mat-icon class="s-20 mr-6" fontSet="material-icons-outlined">attachment</mat-icon>
                <span class="time">May 6, 2025, 8:00 PM (3 min ago)</span>
                <mat-icon class="s-20 ml-6 cursor-pointer" fontSet="material-icons-outlined">code</mat-icon>
                <mat-icon class="s-20 cursor-pointer" fontSet="material-icons-outlined" [matMenuTriggerFor]="emailThreadMore">more_vert</mat-icon>
            </div>
            <mat-menu #emailThreadMore="matMenu" xPosition="before">
                <button mat-menu-item>
                    <mat-icon class="colored__locobuzz mr-10" fontSet="material-icons-outlined">reply</mat-icon>
                    <span>Reply</span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="forward">
                    <mat-icon class="colored__locobuzz forward-icon mr-10" fontSet="material-icons-outlined">reply</mat-icon>
                    <span>Forward</span>
                </button>
                <button mat-menu-item>
                    <img class="w-24 mr-10" src="assets/images/workflow/Ticket-Close-Red.svg" alt="" />
                    <span>Close Ticket</span>
                </button>
                <button mat-menu-item>
                    <mat-icon class="colored__locobuzz mr-10" fontSet="material-icons-outlined">escalator_warning</mat-icon>
                    <span>Escalate</span>
                </button>
                <button mat-menu-item>
                    <img class="w-24 mr-10" src="assets/icons/create-ticket.svg" alt="" />
                    <span>Create Ticket</span>
                </button>
                <button mat-menu-item>
                    <mat-icon class="colored__locobuzz mr-10" fontSet="material-icons-outlined">attach_file</mat-icon>
                    <span>Attach Ticket</span>
                </button>
                <button mat-menu-item>
                    <img class="img mr-10" src="assets/icons/delete-icon.svg" alt="" />
                    <span>Delete From Locobuzz</span>
                </button>
            </mat-menu>
            <mat-menu #forward="matMenu">
                <button mat-menu-item>
                    <mat-icon class="colored__locobuzz forward-icon mr-10" fontSet="material-icons-outlined">reply</mat-icon>
                    <span>Forward on Same Thread</span>
                </button>
                <button mat-menu-item>
                    <img class="img mr-10" src="assets/email/Forward-New-Thread.svg" alt="" />
                    <span>Forward as New Thread</span>
                </button>
            </mat-menu>
        </div>
        <div class="pl-44">
            <p class="text-short">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, dignissimos optio veritatis iure a corrupti est necessitatibus nemo ab, molestiae iusto reprehenderit beatae sed. Ex eius beatae optio odio nobis!</p>
        </div>
    </div> -->
    <div #shortEmail (click)="toogleView()" *ngIf="!expandedView" class="post-email__thread cursor-pointer d-flex-items-center">
        <div class="user__profile width-fit">
            <ng-container *ngIf="brandPost==false">
                <span [ngStyle]="{'background': colorCode?colorCode:''}" class="initials border__light-grey">{{ initials }}</span>
            </ng-container>
            <ng-container *ngIf="brandPost==true">
                <img class="img initials" [src]="post.brandLogo" onError="this.src='assets/social-mention/post/default_brand.svg'"
                    alt="user image" />
            </ng-container>
            <!-- <img class="img" src="assets/images/agentimages/sample-image.svg" alt="channel image" /> -->
        </div>
        <div class="flex-direction-column w-92-p">
            <div class="post-email__thread--wrapper d-flex-items-center justify-content__between">
                <div class="user__details">
                    <span class="user__name">{{post?.Userinfo.name}}</span>
                    <!-- <span class="user__info">to SBI Support</span> -->
                </div>
                <div class="d-flex-items-center">
                                            <mat-icon class="s-20 mr-6" fontSet="material-icons-outlined" *ngIf="attachmentList?.length>0">attachment</mat-icon>

                    <!-- <mat-icon class="s-20 mr-6" fontSet="material-icons-outlined">attachment</mat-icon> -->
                    <span class="time">{{mentionTime}}</span>
                    <!-- <mat-icon class="s-20 ml-6 cursor-pointer" fontSet="material-icons-outlined">code</mat-icon>
                            <mat-icon class="s-20 cursor-pointer" fontSet="material-icons-outlined">more_vert</mat-icon> -->
                </div>
            </div>
            <div>
                <p class="text-short font-size-12">{{ticketHistoryData?.emailPlainText}}</p>
            </div>
        </div>
        
    </div>
    <!-- <div class="border-bottom__light-grey mt-4 position-relative">
        <span class="email__thread--count">3+</span>
    </div> -->
    <div *ngIf="expandedView" class="post-email__thread" [ngClass]="{'pb-0' : !defaultLayout}">
        <div (click)="toogleView()" class="post-email__thread--wrapper g-12" [ngClass]="{'cursor-pointer': !disableHideShowEvent}">
            <div class="user__profile width-fit" [ngClass]="{'mr-0' : !defaultLayout}">
                <ng-container *ngIf="!brandPost">
                    <span [ngStyle]="{'background': colorCode?colorCode:''}"  [ngClass]="{'medium-image-width mt-5 small_font-size' : !defaultLayout}" class="initials border__light-grey">{{ initials }}</span>
                </ng-container>
                <ng-container *ngIf="brandPost">
                    <img class="img initials" [src]="post.brandLogo" onError="this.src='assets/social-mention/post/default_brand.svg'"
                        alt="user image" [ngClass]="{'medium-image-width' : !defaultLayout}" />
                </ng-container>
            </div>
            <div class="user__details">
                <div class="d-flex">
                    <span class="user__name" [ngClass]="{'medium-font-size' : !defaultLayout}">{{post?.Userinfo.name}}</span>
                    <div class="ml-auto right-auto">
                        <mat-icon [ngClass]="{'small-icon-font-size' : !defaultLayout}" class="s-20 mr-6" fontSet="material-icons-outlined" *ngIf="attachmentList?.length>0">attachment</mat-icon>
                        <span class="time" [ngClass]="{'small_font-size' : !defaultLayout}">{{mentionTime}} <ng-container
                                *ngIf="!absolutTime">({{post?.ticketTime.timetoshow?.trim()}})</ng-container>
                        </span>
                        <mat-icon class="s-20 ml-6 cursor-pointer" (click)="toggleHTMLView();$event.stopPropagation()" [matTooltip]="!htmlViewFlag ? ('HTML-View' | translate) : ('Text-View' | translate)" matTooltipPosition="above"
                            matTooltipClass="custom-tooltip" fontSet="material-icons-outlined" [ngClass]="{'small-icon-font-size' : !defaultLayout}">{{!htmlViewFlag?'code':'code_off'}}</mat-icon>
                        <mat-icon *ngIf="showActionMenu" (click)="$event.stopPropagation()" [matMenuTriggerFor]="postOption" [ngClass]="{'small-icon-font-size' : !defaultLayout}" class="s-20 cursor-pointer" fontSet="material-icons-outlined">more_vert</mat-icon>
                        <mat-menu #postOption="matMenu" class="h-200">
                            <span>
                                <button mat-menu-item *ngIf=" ticketHistoryData.isReplyVisible && !ticketHistoryData.isSimulationSSRE &&
                                    !ticketHistoryData.isLiveSSRE && !ticketHistoryData.isApproveRejectMakerChecker&& !postData.isDeletedFromSocial" (click)="replyPost()">
                                    <mat-icon>reply</mat-icon>
                                    <span>{{'Reply' | translate}}</span>
                                </button>
                                <button mat-menu-item *ngIf="ticketHistoryData.isSendEmailVisible" [matMenuTriggerFor]="ForwardMatMenu" class="forward-email">
                                    <img src="assets/email/Forward-Email-Gray.svg" class="post__foot--icon mr-16">
                                    <span>{{'Forward-Email' | translate}}</span>
                                </button>
                                <mat-menu #ForwardMatMenu="matMenu">
                                    <button mat-menu-item (click)="sendPostForwardEmail(false)">
                                        <img class="mr-6" src="assets\email\Forward-Same-Thread.svg">
                                        <span>{{'Forward-on-Same-Thread' | translate}}</span>
                                    </button>
                                    <button mat-menu-item (click)="sendPostForwardEmail(true)">
                                        <img class="mr-6" src="assets\email\Forward-New-Thread.svg">
                                        <span>{{'Forward-as-New-Thread' | translate}}</span>
                                    </button>
                                </mat-menu>
                                <button *ngIf="!mentionHistory" mat-menu-item  (click)="emailThreadAttachment()">
                                    <mat-icon>attach_file</mat-icon>
                                    <span>{{'Attachments' | translate}}</span>
                                </button>
                                <button *ngIf="
                                    ticketHistoryData?.isDirectCloseVisible &&
                                    !ticketHistoryData?.isSimulationSSRE &&
                                    !ticketHistoryData?.isLiveSSRE &&
                                    isTicketDispositionFeatureEnabled" mat-menu-item (click)="ticketDispositionDialog()">
                                    <mat-icon>cancel</mat-icon>
                                    <span>{{'Direct-Close' | translate}}</span>
                                </button>
                                <button *ngIf="
                                    ticketHistoryData.isDirectCloseVisible &&
                                    !ticketHistoryData.isSimulationSSRE &&
                                    !ticketHistoryData.isLiveSSRE &&
                                    !isTicketDispositionFeatureEnabled" mat-menu-item  [matMenuTriggerFor]="directClose">
                                    <mat-icon>cancel</mat-icon>
                                    <span>{{'Direct-Close' | translate}}</span>
                                </button>
                                <mat-menu #directClose="matMenu">
                                    <button mat-menu-item (click)="directCloseTicket()">
                                        <mat-icon fontSet="material-icons-outlined">highlight_off</mat-icon>
                                        <span>{{'Close-Without-Note' | translate}}</span>
                                    </button>
                                    <button (click)="directCloseTicketWithNote()" mat-menu-item>
                                        <mat-icon>edit_note</mat-icon>
                                        <span>{{'Close-With-Note' | translate}}</span>
                                    </button>
                                </mat-menu>
                                <button mat-menu-item *ngIf="ticketHistoryData.isEscalateVisible"  (click)="replyEscalate()">
                                    <mat-icon>escalator_warning</mat-icon>
                                    <span>{{'Escalate' | translate}}</span>
                                </button>
                                <button mat-menu-item *ngIf="ticketHistoryData.isworkflowApproveVisible &&
            !ticketHistoryData.isSimulationSSRE &&
            !ticketHistoryData.isLiveSSRE &&
            !ticketHistoryData.isApproveRejectMakerChecker" [matMenuTriggerFor]="workFlowApprovenote" (click)="clearnote()">
                                    <mat-icon>done</mat-icon>
                                    <span>{{'Approve' | translate}}</span>
                                </button>
                                <mat-menu #workFlowApprovenote="matMenu" class="note-elem__dropdown">
                                    <div class="note-elem pr-20 pl-20 pt-10 pb-15">
                                        <div class="note-elem__input" (click)="$event.stopPropagation()">
                                            <label class="text__label custom__input--label">{{'Add-Note' | translate}}</label>
                                            <textarea [(ngModel)]="cannedapprovenote" class="custom__input" placeholder="{{'Enter-note-here' | translate}}"></textarea>
                                        </div>
                                        <div class="note-elem__actions pt-15">
                                            <button mat-stroked-button (click)="CannedResponse(1)" (click)="$event.stopPropagation()">
                                                {{'Canned-Response' | translate}}
                                            </button>
                                            <button mat-button color="accent" class="ml-auto">{{'Cancel' | translate}}</button>
                                            <button mat-button color="accent" (click)="workFlowApproved()">
                                                {{'Save' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </mat-menu>
                                    <button *ngIf="ticketHistoryData.isworkflowRejectVisible &&
            !ticketHistoryData.isSimulationSSRE &&
            !ticketHistoryData.isLiveSSRE &&
            !ticketHistoryData.isApproveRejectMakerChecker" mat-menu-item [matMenuTriggerFor]="workFlowRejectnote"  [matMenuTriggerFor]="workFlowApprovenote"
                                        (click)="clearnote()">
                                        <mat-icon>close</mat-icon>
                                        <span>{{'Reject' | translate}}</span>
                                    </button>
                                    <mat-menu #workFlowRejectnote="matMenu" class="note-elem__dropdown">
                                        <div class="note-elem pr-20 pl-20 pt-10 pb-15">
                                            <div class="note-elem__input" (click)="$event.stopPropagation()">
                                                <label class="text__label custom__input--label">{{'Add-Note' | translate}}</label>
                                                <textarea [(ngModel)]="cannedrejectnote" class="custom__input" placeholder="{{'Enter-note-here' | translate}}"></textarea>
                                            </div>
                                            <div class="note-elem__actions pt-15">
                                                <button mat-stroked-button (click)="CannedResponse(2)" (click)="$event.stopPropagation()">
                                                    {{'Canned-Response' | translate}}
                                                </button>
                                                <button mat-button color="accent" class="ml-auto">{{'Cancel' | translate}}</button>
                                                <button mat-button color="accent" (click)="workFlowRejected()">
                                                    {{'Save' | translate}}
                                                </button>
                                            </div>
                                        </div>
                                    </mat-menu>
                                <button mat-menu-item *ngIf="ticketHistoryData.isAssignVisible" (click)="assignTicket()">
                                    <mat-icon>account_circle</mat-icon>
                                    <span>{{'Assign-to' | translate}}</span>
                                </button>
                                <a class="create-ticket" *ngIf="ticketHistoryData.isCreateTicketVisible " [matMenuTriggerFor]="CreateTicketNote"
                                    #clickTicketMenuTrigger="matMenuTrigger"
                                    (click)="createTicketCall();$event.stopPropagation();clickTicketMenuTrigger.closeMenu();clickacknowledgeMenuTrigger.closeMenu()">
                                    <mat-icon fontSet="material-icons-outlined" class="colored__sub-text s-20">local_activity</mat-icon>
                                    <span class="ml-12">{{'Create-Ticket' | translate}}</span>
                                </a>
                                <button mat-menu-item *ngIf="ticketHistoryData.isAttachTicketVisible" (click)="attachTicket()">
                                    <mat-icon>attach_file</mat-icon>
                                    <span>{{'Attach-Ticket' | translate}}</span>
                                </button>
                                <button mat-menu-item *ngIf="ticketHistoryData.isSendEmailVisible" (click)="sendPostEmail()">
                                    <mat-icon>email</mat-icon>
                                    <span>{{'Send-Email' | translate}}</span>
                                </button>
                                <button mat-menu-item *ngIf="ticketHistoryData.downloadTemplate" (click)="downloadTemplate()">
                                    <mat-icon>file_download</mat-icon>
                                    <span>{{'Download-Template' | translate}}</span>
                                </button>
                                <!-- <button
                                        mat-menu-item
                                        *ngIf="ticketHistoryData.isTrendsVisible"
                                        (click)="trendsModal()"
                                      >
                                        <mat-icon>trending_up</mat-icon>
                                        <span>Trends</span>
                                      </button> -->
                                <!-- <button
                                        mat-menu-item
                                        *ngIf="ticketHistoryData.isCopyMoveVisible"
                                        (click)="openCopyMove()"
                                      >
                                        <mat-icon>content_copy</mat-icon>
                                        <span>Copy/Move</span>
                                      </button> -->
                                <button mat-menu-item *ngIf="ticketHistoryData.isDeleteFromLocobuzz" (click)="deleteFromLocobuzz()">
                                    <mat-icon>delete_outline</mat-icon>
                                    <span>{{'Delete-from-Locobuzz' | translate}}</span>
                                </button>
                                <button mat-menu-item *ngIf="ticketHistoryData.isDeleteFromChannel && !postData.isDeletedFromSocial"
                                    (click)="deleteFromSocial()">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{'Delete-from-Channel' | translate}}</span>
                                </button>
                                <button mat-menu-item
                                    *ngIf="ticketHistoryData.isDeleteFromChannel && ticketHistoryData.isDeleteFromLocobuzz && !postData.isDeletedFromSocial"
                                    (click)="deleteFromSocialAndTool()">
                                    <mat-icon>delete</mat-icon>
                                    <span>{{'Delete-from-Both' | translate}}</span>
                                </button>
                                <button mat-menu-item *ngIf="ticketHistoryData.hideUnhideShowIcon"
                                    (click)="hideUnhideFromFacebook(postData.isHidden)">
                                    <mat-icon>delete</mat-icon>
                                    <span *ngIf="!ticketHistoryData.hideUnhideFacebookFlag && postData?.channelType !== 22">{{'Hide-from-Facebook' | translate}}</span>
                                    <span *ngIf="!ticketHistoryData?.hideUnhideInstagramFlag && postData?.channelType === 22">{{
                                        'Hide-from-instagram' | translate }}</span>
                                    <span *ngIf="ticketHistoryData.hideUnhideFacebookFlag || ticketHistoryData?.hideUnhideInstagramFlag">{{ 'Unhide from
                                        Channel' | translate }}</span>
                                </button>
                                <button mat-menu-item *ngIf="ticketHistoryData.isTranslationVisible" (click)="translateText()">
                                    <mat-icon>translate</mat-icon>
                                    <span>{{'Translate' | translate}}</span>
                                </button>
                                <ng-template [ngIf]="ticketHistoryData.isEnableDisableMakercheckerVisible">
                                    <button mat-menu-item *ngIf="
                                            ticketHistoryData.isTicketAgentWorkFlowEnabled;
                                            else DisableMakerChecker
                                          " (click)="enableMakerChecker(true)">
                                        <mat-icon>spellcheck</mat-icon>
                                        <span>{{'Enable-Reply-Approval-Workflow' | translate}}</span>
                                    </button>
                                    <ng-template #DisableMakerChecker>
                                        <button mat-menu-item (click)="enableMakerChecker(false)">
                                            <mat-icon>spellcheck</mat-icon>
                                            <span>{{'Disable-Reply-Approval-Workflow' | translate}}</span>
                                        </button>
                                    </ng-template>
                                </ng-template>
                        
                                <button mat-menu-item *ngIf="ticketHistoryData.isMarkInfluencerVisible" (click)="markInfluencer()">
                                    <!-- <mat-icon>campaign</mat-icon> -->
                                    <img class="img__fluid vertical-sub w-20 mr-6" [ngClass]="{'mr-20': defaultLayout}" *ngIf="ticketHistoryData.isInfluencermarked"
                                        src="/assets/social-mention/post/Influencer.svg" />
                                    <img class="img__fluid vertical-sub w-20 mr-6" [ngClass]="{'mr-20': defaultLayout}" *ngIf="!ticketHistoryData.isInfluencermarked"
                                        src="/assets/social-mention/post/Influencer-unselected.svg" />
                                    <span>{{'Mark-Influencer' | translate}}</span>
                                </button>
                                <button mat-menu-item *ngIf="ticketHistoryData.addCampaignFlag" (click)="addCampaign()">
                                    <mat-icon>add_circle</mat-icon>
                                    <span>{{'Add-To-Campaign' | translate}}</span>
                                </button>
                                <!-- <button mat-menu-item *ngIf="ticketHistoryData.isSendEmailVisible" (click)="sendPostEmail()">
                                        <mat-icon>email</mat-icon>
                                        <span>Send Email</span>
                                      </button> -->
                                <!-- <button *ngIf="ticketHistoryData.showTicketWindow" mat-menu-item (click)="openTicketDetailInNewTab()">
                                        <mat-icon>tab</mat-icon>
                                        <span>Open new tab</span>
                                      </button> -->
                                <button *ngIf="ticketHistoryData.isAcknowledge" [matMenuTriggerFor]="AcknowledgeNote"
                                    #clickacknowledgeMenuTrigger="matMenuTrigger"
                                    (menuOpened)="acknowlegeCall();$event.stopPropagation();clickTicketMenuTrigger.closeMenu()" mat-menu-item>
                                    <mat-icon fontSet="material-icons-outlined">add_task</mat-icon>
                                    <span>{{'Acknowledge' | translate}}</span>
                                </button>
                                <mat-menu #CreateTicketNote="matMenu" class="note-elem__dropdown">
                                    <div (click)="$event.stopPropagation()" class="note-elem">
                                        <div class="note-elem__input" (click)="$event.stopPropagation()">
                                            <label class="text__label custom__input--label">{{'Add-Note' | translate}}</label>
                                            <textarea [(ngModel)]="createticketnote" class="custom__input"
                                                placeholder="{{'Enter-note-here' | translate}}"></textarea>
                                        </div>
                                        <div class="note-elem__actions">
                                            <button mat-button class="colored__blue ml-auto mr-8" (click)="clearnote()">
                                                {{'Cancel' | translate}}
                                            </button>
                                            <button mat-button class="colored__blue" (click)="createNewTicket()">
                                                {{'Save' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </mat-menu>
                                <mat-menu #AcknowledgeNote="matMenu" class="note-elem__dropdown">
                                    <div class="note-elem">
                                        <div class="note-elem__input" (click)="$event.stopPropagation()">
                                            <label class="text__label custom__input--label">{{'Add-Note' | translate}}</label>
                                            <textarea [(ngModel)]="acknowledgednote" class="custom__input"
                                                placeholder="{{'Enter-note-here' | translate}}"></textarea>
                                        </div>
                                        <div class="note-elem__actions">
                                            <button mat-button class="colored__blue ml-auto mr-8">{{'Cancel' | translate}}</button>
                                            <button mat-button class="colored__blue" (click)="AcknowledgeTicket()">
                                                {{'Save' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </mat-menu>
                            </span>
                        </mat-menu>
                    </div>
                </div>
                <div class="d-flex width-fit max-width-74p">
                    <span class="user__info text-short" [ngClass]="{'small_font-size' : !defaultLayout}">{{'to' | translate}} {{AllMentionedEmailAddress}}</span>
                    <mat-icon class="s-20 cursor-pointer" [matMenuTriggerFor]="emailInfo" (click)="$event.stopPropagation()">arrow_drop_down</mat-icon>
                </div>
                <mat-menu (click)="$event.stopPropagation()" class="w-450" #emailInfo="matMenu">
                    <div (click)="$event.stopPropagation()" class="p-10 flex-direction-column g-2" [ngClass]="{'medium-font-size' : !defaultLayout}">
                        <div class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">{{'from' | translate}}:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div class="d-flex-items-center g-5">
                                    <!-- <p class="font-weight-600">Rahul Sharma</p> -->
                                    <!-- <p>&lt;rahulsharma&#64;gmail.com&gt;</p> -->
                                     <p>{{postData.fromMail}}</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="ticketHistoryData.toMailList?.length>0" class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">{{'to' | translate}}:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div>
                                <div class="d-flex-items-center g-5" *ngFor="let item of ticketHistoryData.toMailList;index as i">
                                    <!-- <p>SBI Support</p> -->
                                    <!-- <p>&lt;SBISupport&#64;gmail.com&gt;</p> --> <p >{{item}}<span *ngIf="i<ticketHistoryData.toMailList?.length-1">,</span></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="ticketHistoryData.ccMailList?.length>0" class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">{{'cc' | translate}}:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div>
                                    <div *ngFor="let item of ticketHistoryData.ccMailList;index as i" class="d-flex-items-center g-5">
                                        <!-- <p>Mohit</p> -->
                                        <p>{{item}}<span *ngIf="i<ticketHistoryData.ccMailList?.length-1">,</span></p>
                                    </div>
                                    <!-- <div class="d-flex-items-center g-5">
                                        <p>Maya</p>
                                        <p>&lt;maya12&#64;gmail.com&gt;</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div *ngIf="ticketHistoryData.bccMailList?.length>0" class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">{{'bcc' | translate}}:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div>
                                    <div *ngFor="let item of ticketHistoryData.bccMailList;index as i" class="d-flex-items-center g-5">
                                        <!-- <p>Mohit</p> -->
                                        <!-- <p>&lt;mohitsharma&#64;gmail.com&gt;</p> -->
                                         <p>{{item}}<span *ngIf="i<ticketHistoryData.bccMailList?.length-1">,</span></p>
                                    </div>
                                    <!-- <div class="d-flex-items-center g-5">
                                        <p>Maya</p>
                                        <p>&lt;maya12&#64;gmail.com&gt;</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">{{'date' | translate}}:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div class="d-flex-items-center g-5">
                                    <p>{{mentionTime}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">{{'subject' | translate}}:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div class="d-flex-items-center g-5">
                                    <p>{{subject}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">mailed-by:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div class="d-flex-items-center g-5">
                                    <p>{{domainName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">signed-by:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div class="d-flex-items-center g-5">
                                    <p>{{domainName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items__start g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <p class="colored__grey--dark">security:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div class="d-flex-items-center g-5">
                                    <p>Standard Encryption (TLS)</p>
                                    <p><u>Learn More</u></p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex-items-center g-15">
                            <div class="d-flex-items-center w-100 justify-content__end">
                                <mat-icon class="colored__yellow">label_important</mat-icon>
                                <p class="colored__grey--dark">:</p>
                            </div>
                            <div class="d-flex-items-center justify-content__start">
                                <div class="d-flex-items-center g-5">
                                    <p>Important according to Google magic</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </mat-menu>
            </div>
        </div>
        <div #attachmentNoteContainer class="pl-43">
            <p class="text-short" *ngIf="!htmlViewFlag" [innerHtml]="innerHtmlContent | safehtml" [ngStyle]="{'white-space' : true ? 'normal' : ''}">
            </p>
            <div class="post__note post__note--image post__email p-0 "
                *ngIf="htmlViewFlag && innerHtmlContent && innerHtmlContent?.trim()?.length > 0">
                <iframe #iframeStyle sandbox="allow-same-origin allow-same-origin allow-scripts allow-popups" (load)="iframeViewLoaded(iframeStyle)"
                    [srcdoc]="innerHtmlContent | safehtml" frameborder="0" width="100%" height="100%">
                </iframe>
            </div>
        
        <!-- <span class="d-flex-items-center g-10 flex-container__item-wrap">
            <span class="post__document--files files attach__wrapper">
                <a class="post__document--files-download download" href="file.mediaUrl" download="file.mediaUrl"
                    alt="name" target="_blank">
                    <mat-icon fontSet="material-icons-outlined" class="icon">file_download</mat-icon>
                </a>
                <div class="post__document--files-icon">
                    <img class="img w-35 h-35" src="assets/images/account/pdf__icon.svg">
                </div>
                <div class="post__document--files-name w-100-p justify-content__center">
                    <p class="document" matTooltip="File Name"
                        matTooltipClass="custom__tooltip-normal">
                        File Name
                    </p>
                </div>
            </span>
            <span class="post__document--files files attach__wrapper">
                <a class="post__document--files-download download" href="file.mediaUrl" download="file.mediaUrl"
                    alt="name" target="_blank">
                    <mat-icon fontSet="material-icons-outlined" class="icon">file_download</mat-icon>
                </a>
                <div class="post__document--files-icon">
                    <img class="img" src="assets/images/account/doc__icon.svg">
                </div>
                <div class="post__document--files-name w-100-p justify-content__center">
                    <p class="document" matTooltip="File Doc name"
                        matTooltipClass="custom__tooltip-normal">
                        File Doc name
                    </p>
                </div>
            </span>
            <span class="post__document--files files attach__wrapper">
                <a class="post__document--files-download download" href="file.mediaUrl" download="file.mediaUrl"
                    alt="name" target="_blank">
                    <mat-icon fontSet="material-icons-outlined" class="icon">file_download</mat-icon>
                </a>
                <div class="post__document--files-icon">
                    <img class="img" src="assets/images/account/excl__icon.svg">
                </div>
                <div class="post__document--files-name w-100-p justify-content__center">
                    <p class="document" matTooltip="Excel file name"
                        matTooltipClass="custom__tooltip-normal">
                        Excel file name
                    </p>
                </div>
            </span>
        </span> -->
        <div *ngIf="attachmentList?.length>0" [ngStyle]="{'border-top': postData?.description==''?'none':'1px solid var(--color-light-grey)'}"
            [ngClass]="{'mt-5' : !defaultLayout}" class="post-email__attachments" #attachmentContainer>
            <div  class="d-flex">
                <p class="font-weight-500" [ngClass]="{'medium-font-size' : !defaultLayout}">{{attachmentList?.length}} {{attachmentList?.length>1?('Attachments' | translate):('Attachment' | translate)}}</p>
                <a *ngIf="attachmentList?.length>1" [matTooltip]="'Download-all-attachments' | translate" matTooltipPosition="above"
            matTooltipClass="custom-tooltip" class="file-download-all ml-auto" (click)="downloadAllFiles()">
                    <mat-icon  fontSet="material-icons-outlined" class="s-20">file_download</mat-icon>
                </a>
            </div>
            <div class="d-flex-items-center g-10 mt-6">
                <div (click)="openMediaPreview(obj)" #attachmentRef *ngFor="let obj of attachmentList | slice:0:maximumAttachmentLength;index as i"
                class="d-flex-items-center pl-2 pr-5 py-2 file-pill" [ngClass]="{'h-30' : defaultLayout}">
                    <img class="w-21 mr-6" [src]="obj.iconUrl" [ngClass]="{'small-image-width' : !defaultLayout}" />
                    <!-- <mat-icon *ngIf="obj.mediaType==mediaEnum.PDF"
                        class="material-icons-outlined colored__red font-size-18 d-flex-items-center justify-content__center">picture_as_pdf</mat-icon>
                    <mat-icon  *ngIf="obj.mediaType==mediaEnum.IMAGE"
                        class="material-icons-outlined colored__purple font-size-18 d-flex-items-center justify-content__center">image</mat-icon>
                        <img *ngIf="obj.mediaType==mediaEnum.EXCEL" class="w-21" src="assets/icons/excel-icon.svg">
                        <img *ngIf="obj.mediaType==mediaEnum.VIDEO" class="w-21" src="assets/icons/video-icon.svg">
                        <img *ngIf="obj.mediaType==mediaEnum.FILE" class="w-21" src="assets/images/other-attachment.svg" /> -->
                    <p class="cursor-pointer" [matTooltip]="obj.name" [ngClass]="{'small_font-size' : !defaultLayout}"
                        matTooltipClass="custom__tooltip-normal">{{ obj?.name | slice: 0:8 }}{{ obj?.name?.length
                        > 8 ? '...' : '' }}</p>
                    <mat-icon (click)="downloadFile(obj.mediaUrl,obj.name);$event.stopPropagation()" class="ml-6 s-18 cursor-pointer"
                        fontSet="material-icons-outlined" [ngClass]="{'small-icon-font-size' : !defaultLayout}">file_download</mat-icon>
                </div>
                <div *ngIf="showMoreAttachment">
                    <span *ngIf="remainingCount>0" class="more-count cursor-pointer" (click)="$event.stopPropagation()" [matMenuTriggerFor]="attachmentMore">+{{remainingCount}}</span>
                    <mat-menu #attachmentMore="matMenu">
                        <button mat-menu-item (click)="openMediaPreview(obj)"
                            *ngFor="let obj of attachmentList | slice:maximumAttachmentLength:attachmentList.length ;index as i">
                            <!-- <mat-icon *ngIf="obj.mediaType==mediaEnum.PDF"
                                class="material-icons-outlined colored__red mr-6 font-size-18 d-flex-items-center justify-content__center">picture_as_pdf</mat-icon>
                            <mat-icon *ngIf="obj.mediaType==mediaEnum.IMAGE"
                                class="material-icons-outlined colored__purple mr-6 font-size-18 d-flex-items-center justify-content__center">image</mat-icon>
                            <img *ngIf="obj.mediaType==mediaEnum.EXCEL" class="w-21" src="assets/icons/excel-icon.svg">
                            <img *ngIf="obj.mediaType==mediaEnum.VIDEO" class="w-21" src="assets/icons/video-icon.svg">
                            <img *ngIf="obj.mediaType==mediaEnum.FILE" class="w-21" src="assets/images/other-attachment.svg" /> -->
                            <span class="d-flex-items-center">
                            <img class="w-21 mr-6" [src]="obj.iconUrl" />
                            <span class="more-count__text cursor-pointer" [matTooltip]="obj.name"
                                matTooltipClass="custom__tooltip-normal">
                                {{ obj?.name | slice: 0:15 }}{{ obj?.name?.length
                                > 15 ? '...' : '' }}</span>
                            <mat-icon (click)="downloadFile(obj.mediaUrl,obj.name);$event.stopPropagation()"
                                class="ml-8 mr-0 s-18 cursor-pointer" fontSet="material-icons-outlined">file_download</mat-icon>
                            </span>
                        </button>
                    </mat-menu>
                </div>
                <!-- <div class="d-flex-items-center pl-2 pr-5 py-2 file-pill">
                    <mat-icon
                        class="material-icons-outlined colored__purple font-size-18 d-flex-items-center justify-content__center">image</mat-icon>
                    <p>untitled_file.jpg</p>
                    <mat-icon class="ml-6 s-18 cursor-pointer" fontSet="material-icons-outlined">file_download</mat-icon>
                </div>
                <div class="d-flex-items-center g-3 pl-2 pr-5 py-4 file-pill">
                    <img class="w-21" src="assets/icons/excel-icon.svg">
                    <p>untitled_file.excl</p>
                    <mat-icon class="ml-6 s-18" fontSet="material-icons-outlined">close</mat-icon>
                </div> -->
            </div>
        </div>
        <div class="note-attachment">
        <div class="post__alert post__alert--warning"
            *ngIf=" post?.isLastNoteShow  && (note ||(fileList && fileList?.length > 0 )|| (medialist.length > 0 && medialist)) && !brandPost"
            (click)="this.noteMediaCount.showDownload = !this.noteMediaCount.showDownload; $event.stopPropagation(); $event.preventDefault();onClickNotes()">
            <label class="post__alert--label" *ngIf="ticketHistoryData.isrejectedNote; else LastNote">Rejected Note:
            </label>
            <ng-template #LastNote>
                <label class="post__alert--label">{{'Note' | translate  }}: </label>
            </ng-template>
            <span class="post__alert--info | linkify: 'linkifyOptions'"
                [innerHTML]="note != postData?.ticketInfo?.lastNote && note ? postData?.ticketInfo?.lastNote : note">
                <!-- {{ note }} -->
            </span>
            <span class="post__alert--attachment pl-0 pr-0 m-0">
                <!-- this.noteMediaCount?.pdfCount > 0  -->
                <span class="post__alert--attachment-icon ml-8 cursor-pointer" *ngIf="this.noteMediaCount?.pdfCount > 0">
                    <span class="post__alert--attachment-pdficon">{{'PDF' | translate}}</span> <span class="mr-7 ml-4"
                        *ngIf="this.noteMediaCount?.pdfCount > 1">+{{this.noteMediaCount?.pdfCount - 1}}</span>
                </span>
                <!-- this.noteMediaCount?.xlsCount > 0 -->
                <span class="post__alert--attachment-icon ml-8 cursor-pointer" *ngIf="this.noteMediaCount?.xlsCount > 0">
                    <span class="post__alert--attachment-pdficon bg__green">{{'EXCEL' | translate}}</span> <span class="mr-7 ml-4"
                        *ngIf="this.noteMediaCount?.xlsCount > 1">+{{this.noteMediaCount?.xlsCount - 1}}</span>
                </span>
                <!-- this.noteMediaCount?.docCount > 0 -->
                <span class="post__alert--attachment-icon ml-8 cursor-pointer" *ngIf="this.noteMediaCount?.docCount > 0">
                    <span class="post__alert--attachment-pdficon bg__locobuzz">{{'DOC' | translate}}</span> <span class="mr-7 ml-4"
                        *ngIf="this.noteMediaCount?.docCount > 1">+{{this.noteMediaCount?.docCount - 1}}</span>
                </span>
                <span class="post__alert--attachment-imgicon ml-8 cursor-pointer" *ngIf="this.noteMediaCount?.mediaCount > 0 "
                    style="font-size: 1.4rem;">
                    <mat-icon fontSet="material-icons-outlined" class="s-20">image</mat-icon> <span class="ml-4"
                        *ngIf="this.noteMediaCount?.mediaCount > 1">+{{this.noteMediaCount?.mediaCount -1}}</span>
                </span>
            </span>
        </div>
        <p *ngIf="!this.noteMediaCount?.showDownload && postData?.isTicketNoteEdited && postData?.status == 45">{{'Edited-on' | translate}}:
            {{postData?.ticketNoteEditedOn | datetimeFormatter:'DD-MMMM-YYYY hh:mm A'}}</p>
        <div class="post__alert post__filled--form" *ngIf="post?.formFilledNote">
            <mat-icon fontSet="material-icons-outlined">article</mat-icon>
            <span>
                <span class="text-underline">{{authorName}}</span> {{'has-filled-the-form' | translate}}
            </span>
        </div>
        <ng-container *ngIf="this.noteMediaCount.showDownload">
            <div class="d-flex-items-center g-10 note-attachment__attached" >
                <div (click)="openMediaPreview(obj);$event.stopPropagation()" #attachmentNoteRef
                    *ngFor="let obj of notesAttachmentList | slice:0:maximumAttachmentNoteLength ;index as i"
                    class="d-flex-items-center pl-2 pr-5 py-2 file-pill h-30">
                    <img class="w-21" [src]="obj.iconUrl" />
                    <!-- <mat-icon *ngIf="obj.mediaType==mediaEnum.PDF"
                                  class="material-icons-outlined colored__red font-size-18 d-flex-items-center justify-content__center">picture_as_pdf</mat-icon>
                                <mat-icon *ngIf="obj.mediaType==mediaEnum.IMAGE"
                                  class="material-icons-outlined colored__purple font-size-18 d-flex-items-center justify-content__center">image</mat-icon>
                                <img *ngIf="obj.mediaType==mediaEnum.EXCEL" class="w-21" src="assets/icons/excel-icon.svg">
                                <img *ngIf="obj.mediaType==mediaEnum.VIDEO" class="w-21" src="assets/icons/video-icon.svg">
                                <img *ngIf="obj.mediaType==mediaEnum.FILE" class="w-21" src="assets/images/other-attachment.svg" /> -->
                    <p class="cursor-pointer" [matTooltip]="obj.fileName.length > 12 ? obj.fileName :''"
                        matTooltipClass="custom__tooltip-normal">{{ obj?.fileName | slice: 0:8 }}{{ obj?.fileName?.length
                        > 8 ? '...' : '' }}</p>
                    <mat-icon (click)="downloadFile(obj.mediaUrl,obj.fileName);$event.stopPropagation()"
                        class="ml-6 s-18 cursor-pointer" fontSet="material-icons-outlined">file_download</mat-icon>
                </div>
                <div *ngIf="showMoreNoteAttachment">
                    <span class="more-count cursor-pointer" *ngIf="remainingNotesCount>0" (click)="$event.stopPropagation()"
                        [matMenuTriggerFor]="attachmentMore">+{{remainingNotesCount}}</span>
                    <mat-menu #attachmentMore="matMenu" class="">
                        <button mat-menu-item class="d-flex-items-center" (click)="openMediaPreview(obj)"
                            *ngFor="let obj of notesAttachmentList | slice:maximumAttachmentNoteLength:notesAttachmentList.length ;index as i">
                            <!-- <mat-icon *ngIf="obj.mediaType==mediaEnum.PDF"
                                      class="material-icons-outlined colored__red mr-6 font-size-18 d-flex-items-center justify-content__center">picture_as_pdf</mat-icon>
                                    <mat-icon *ngIf="obj.mediaType==mediaEnum.IMAGE"
                                      class="material-icons-outlined colored__purple mr-6 font-size-18 d-flex-items-center justify-content__center">image</mat-icon>
                                    <img *ngIf="obj.mediaType==mediaEnum.EXCEL" class="w-21" src="assets/icons/excel-icon.svg">
                                    <img *ngIf="obj.mediaType==mediaEnum.VIDEO" class="w-21" src="assets/icons/video-icon.svg">
                                    <img *ngIf="obj.mediaType==mediaEnum.FILE" class="w-21" src="assets/images/other-attachment.svg" /> -->
                            <span class="d-flex-items-center">
                                <img class="w-21 mr-6" [src]="obj.iconUrl" />
                                <span class="more-count__text text__ellipsis" [matTooltip]="obj.fileName.length > 12 ? obj.fileName :''"
                                    matTooltipClass="custom__tooltip-normal">
                                    {{ obj?.fileName | slice: 0:15 }}{{ obj?.fileName?.length
                                    > 15 ? '...' : '' }}</span>
                                <mat-icon (click)="downloadFile(obj.mediaUrl,obj.fileName);$event.stopPropagation()"
                                    class="ml-auto mr-0 s-18 cursor-pointer"
                                    fontSet="material-icons-outlined">file_download</mat-icon>
                            </span>
                        </button>
                    </mat-menu>
                </div>
                <!-- <div class="d-flex-items-center pl-2 pr-5 py-2 file-pill">
                                              <mat-icon
                                                  class="material-icons-outlined colored__purple font-size-18 d-flex-items-center justify-content__center">image</mat-icon>
                                              <p>untitled_file.jpg</p>
                                              <mat-icon class="ml-6 s-18 cursor-pointer" fontSet="material-icons-outlined">file_download</mat-icon>
                                          </div>
                                          <div class="d-flex-items-center g-3 pl-2 pr-5 py-4 file-pill">
                                              <img class="w-21" src="assets/icons/excel-icon.svg">
                                              <p>untitled_file.excl</p>
                                              <mat-icon class="ml-6 s-18" fontSet="material-icons-outlined">close</mat-icon>
                                          </div> -->
            </div>
            <p *ngIf="postData?.isTicketNoteEdited && this.noteMediaCount?.showDownload && postData?.status == 45">{{'Edited-on' | translate}}
                {{postData?.ticketNoteEditedOn | datetimeFormatter:'DD-MMMM-YYYY hh:mm
                A'}}</p>
        </ng-container>
        </div>
        </div>
    </div>
<!--  <div *ngIf="internalEmail" class="internal-email"></div>-->
</div>
