<div class="engaged-user__post">
  <div class="engaged-user__post--head">
    <div class="user__profile">
      <div class="user__profile--img">
        <img
          [src]="ticketClient.Userinfo.image"
          onError="this.src='assets/images/agentimages/sample-image.svg'"
          alt="user image"
        />
      </div>
      <div class="user__profile--name">
        <a [href]="ticketHistoryData.profileurl" target="_blank">
          <span>
            {{ ticketClient.Userinfo.name }}
          </span>
          <span *ngIf="ticketClient.Userinfo.screenName">
            (&#64;{{ ticketClient.Userinfo.screenName }})
          </span>
        </a>
      </div>
    </div>
    <div
      class="user__profile--lable"
      [ngClass]="{
        positive: sentiment == getSentiment.Positive,
        negative: sentiment == getSentiment.Negative,
        neutral: sentiment == getSentiment.Neutral
      }"
    >
      {{
        sentiment == getSentiment.Positive
          ? ('Positive-influencer' | translate)
          : sentiment == getSentiment.Negative
          ? ('Negative-influencer' | translate)
          : ('Neutral-influencer' | translate)
      }}
    </div>
  </div>
  <div class="engaged-user__post--body">
    <div class="user__profile--content">
      <h4 class="text-lable">{{'Bio' | translate}}</h4>
      <p *ngIf="ticketClient.Userinfo.bio; else nobiofound">
        {{ ticketClient.Userinfo.bio }}
      </p>
      <ng-template #nobiofound>
        <p>{{'No-data-found' | translate}}</p>
      </ng-template>
    </div>
    <div
      class="user__profile--stat"
      *ngIf="postData.channelGroup === getChannel.Twitter"
    >
      <div class="user__profile--stat-item">
        <span class="user__profile--stat-icon">
          <mat-icon fontSet="material-icons-outlined">people</mat-icon>
        </span>
        <span class="user__profile--stat-value">
          {{ followersCount }}
        </span>
      </div>
      <div class="user__profile--stat-item">
        <span class="user__profile--stat-icon">
          <mat-icon fontSet="material-icons-outlined">people</mat-icon>
        </span>
        <span class="user__profile--stat-value">
          {{ followingCount }}
        </span>
      </div>
      <div class="user__profile--stat-item">
        <span class="user__profile--stat-icon">
          <mat-icon fontSet="material-icons-outlined">people</mat-icon>
        </span>
        <span class="user__profile--stat-value">
          {{ tweetCount }}
        </span>
      </div>
    </div>
  </div>
  <div class="engaged-user__post--footer">
    <div class="user__reply">
      <ng-container *ngIf="isReplied">
        <span class="tag-answer">
          <mat-icon fontSet="material-icons-outlined"
            >chat_bubble_outline</mat-icon
          >
          {{'Replied' | translate}}
        </span>
        <p>
          {{ ticketHistoryData.title }}
        </p>
      </ng-container>
      <ng-container *ngIf="isRetweeted">
        <span class="tag-answer">
          <mat-icon fontSet="material-icons-outlined">repeat</mat-icon>
          {{'Retweeted' | translate}}
        </span>
      </ng-container>
    </div>
  </div>
</div>

<!-- <div class="engaged-user__post">
    <div class="engaged-user__post--head">
        <div class="user__profile">
            <div class="user__profile--img">
                <img src="assets/images/agentimages/sample-image.svg" alt="user image" />
            </div>
            <div class="user__profile--name">
                <a href="" target="_blank">
                    <span>
                        Andreu Mole
                    </span>
                    <span>
                        (@andreumole)
                    </span>
                </a>                                            
            </div>
        </div>
        <div class="user__profile--lable positive">
            Positive influencer
        </div>
    </div>
    <div class="engaged-user__post--body">
        <div class="user__profile--content">
            <h4 class="text-lable">Bio</h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="user__profile--stat">
            <div class="user__profile--stat-item">
                <span class="user__profile--stat-icon">
                    <mat-icon fontSet="material-icons-outlined">people</mat-icon>
                </span>
                <span class="user__profile--stat-value">
                    2.3k
                </span>
            </div>
            <div class="user__profile--stat-item">
                <span class="user__profile--stat-icon">
                    <mat-icon fontSet="material-icons-outlined">people</mat-icon>
                </span>
                <span class="user__profile--stat-value">
                    2.3k
                </span>
            </div>
            <div class="user__profile--stat-item">
                <span class="user__profile--stat-icon">
                    <mat-icon fontSet="material-icons-outlined">people</mat-icon>
                </span>
                <span class="user__profile--stat-value">
                    2.3k
                </span>
            </div>
        </div>
    </div>
    <div class="engaged-user__post--footer">
        <div class="user__reply">
            <span class="tag-answer">
                <mat-icon fontSet="material-icons-outlined">chat_bubble_outline</mat-icon> Replied
            </span>
            <p>
                <span class="colored__locobuzz">@SBI__official</span> simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
                printer took a galley of type and scrambled it to make a type specimen book. It has survived not 
                only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
</div>  -->
