.engaged-user {
  padding: 12px;
  border-radius: 8px;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  &__head {
    display: flex;
    justify-content: space-between;
    & .title {
      font-weight: 600;
      text-transform: capitalize;
    }
    & .option {
      display: flex;
      align-items: center;
      &__list {
        & .mat-mdc-form-field {
          width: 200px;
          margin-right: 15px;
          /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
          & mat-mdc-form-field-wrapper {
            padding-bottom: 0px !important;
          }
        }
      }
    }
  }
  &__body {
    // display: flex;
    /* flex-wrap: wrap; */
    padding-top: 20px;
    max-width: 100vw;
    height: auto;
    /* margin: 8px; */
    column-count: 2;
  }
  &__post {
    // display: flex;
    /* width: 49%; */
    /* flex-direction: column; */
    position: relative;
    border: 1px solid var(--color-light-grey);
    border-radius: 6px;
    margin-bottom: 0px;
    /* column-count: 2; */
    height: auto;
    break-inside: avoid-column;
    overflow: hidden;
    &:nth-child(odd) {
      margin-bottom: 15px;
    }
    &:nth-child(even) {
      flex: auto;
    }
    &--head {
      display: flex;
      padding: 12px;
      & .user__profile {
        display: flex;
        &--lable {
          position: absolute;
          right: 0;
          padding: 0px 8px 0px 20px;
          &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-top: 11px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 11px solid white;
          }
        }
        &--img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
          & img {
            width: 100%;
          }
        }
        &--name {
          display: flex;
          flex-direction: column;
          & a {
            display: flex;
            flex-direction: column;
            & span:nth-child(1) {
              font-weight: 600;
              text-transform: capitalize;
            }
            & span:nth-child(2) {
              margin-top: -4px;
            }
          }
        }
      }
    }
    &--body {
      border-bottom: 1px solid var(--color-light-grey);
      & .user__profile {
        &--content {
          padding: 12px;
          & h4 {
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 3px;
          }
          & p {
            margin-bottom: 0;
          }
        }
        &--stat {
          padding: 12px;
          display: flex;
          align-items: center;
          padding-top: 5px;
          &-value {
            font-size: 1.6rem;
            font-weight: 600px;
          }
          &-item {
            margin-right: 8px;
          }
        }
      }
    }
    &--footer {
      padding: 12px;
      & .user__reply {
        & .tag-answer {
          color: var(--color-locobuzz);
          padding: 7px 10px;
          border-radius: 20px;
        }
        & p {
          margin-top: 12px;
        }
      }
    }
  }
}
