.engaged-user {
  padding: 12px;
  border-radius: 8px;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.engaged-user__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.engaged-user__head .title {
  font-weight: 600;
  text-transform: capitalize;
}

.engaged-user__head .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.engaged-user__head .option__list .mat-mdc-form-field {
  width: 200px;
  margin-right: 15px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.engaged-user__head .option__list .mat-mdc-form-field mat-mdc-form-field-wrapper {
  padding-bottom: 0px !important;
}

.engaged-user__body {
  /* flex-wrap: wrap; */
  padding-top: 20px;
  max-width: 100vw;
  height: auto;
  /* margin: 8px; */
  -webkit-column-count: 2;
  column-count: 2;
}

.engaged-user__post {
  /* width: 49%; */
  /* flex-direction: column; */
  position: relative;
  border: 1px solid var(--color-light-grey);
  border-radius: 6px;
  margin-bottom: 0px;
  /* column-count: 2; */
  height: auto;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  overflow: hidden;
}

.engaged-user__post:nth-child(odd) {
  margin-bottom: 15px;
}

.engaged-user__post:nth-child(even) {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.engaged-user__post--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
}

.engaged-user__post--head .user__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.engaged-user__post--head .user__profile--lable {
  position: absolute;
  right: 0;
  padding: 0px 8px 0px 20px;
}

.engaged-user__post--head .user__profile--lable::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 11px solid white;
}

.engaged-user__post--head .user__profile--img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.engaged-user__post--head .user__profile--img img {
  width: 100%;
}

.engaged-user__post--head .user__profile--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.engaged-user__post--head .user__profile--name a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.engaged-user__post--head .user__profile--name a span:nth-child(1) {
  font-weight: 600;
  text-transform: capitalize;
}

.engaged-user__post--head .user__profile--name a span:nth-child(2) {
  margin-top: -4px;
}

.engaged-user__post--body {
  border-bottom: 1px solid var(--color-light-grey);
}

.engaged-user__post--body .user__profile--content {
  padding: 12px;
}

.engaged-user__post--body .user__profile--content h4 {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 3px;
}

.engaged-user__post--body .user__profile--content p {
  margin-bottom: 0;
}

.engaged-user__post--body .user__profile--stat {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
}

.engaged-user__post--body .user__profile--stat-value {
  font-size: 1.6rem;
  font-weight: 600px;
}

.engaged-user__post--body .user__profile--stat-item {
  margin-right: 8px;
}

.engaged-user__post--footer {
  padding: 12px;
}

.engaged-user__post--footer .user__reply .tag-answer {
  color: var(--color-locobuzz);
  padding: 7px 10px;
  border-radius: 20px;
}

.engaged-user__post--footer .user__reply p {
  margin-top: 12px;
}
