.media-gallery {
  &__sidebar {
    flex: 0 0 226px !important;
    overflow: auto;
    height: calc(100vh - 75px);

    &--item {
      flex: 1;
      padding: 15px;
    }

    &--section {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &--options {
      display: flex;
      flex-direction: column;
    }

    &--optiontitle {
      margin-bottom: 1rem;
    }

    &--optionitem:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__content {
    padding: 15px;
    display: block !important;
    height: calc(100vh - 65px);
    overflow: auto;
  }

  &__card {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.2s all;

    &--check {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      & mat-icon {
        display: none;
      }
    }
    &--image {
      position: relative;
      text-align: center;
      & .card__image {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 8px 10px 8px 10px;
        display: flex;
        column-gap: 7px;
        transform: translateX(0);
        transition: 1s;
        &--name {
          width: 185px;
          overflow: hidden;
          white-space: nowrap;
          position: relative;
          text-align: initial;
          & span {
            position: absolute;
            white-space: nowrap;
            transform: translateX(0);
            transition: 3s;
            &:hover {
              transform: translateX(calc(200px - 110%));
            }
          }
        }
      }
    }
    &--video {
      height: 250px;
      & .video {
        &-responsive {
          max-width: 100%;
          width: 100%;
          max-height: 100%;
          height: 100%;
          position: relative;
          object-fit: cover;
        }
        &__play {
          &--icon {
            position: absolute;
            left: 50%;
            top: 45%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    &.active &--check mat-icon {
      display: inline-block;
    }

    &--image {
      & > img {
        width: 45%;
        height: auto;
      }
    }

    &--options {
      padding: 15px;
    }
  }
}

.mentionId{
  background-color: var(--color-locobuzz);
  padding: 0 10px;
  color: white;
  margin-left: 10px;
}

.ml-unset {
  margin-left: unset !important;
}

::ng-deep .ai-layout {
  &__checkbox {
    & .mdc-form-field {
      & .mdc-label {
        font-size: 11px !important;
      }
    }
  }

  &__radio-btn {
    & .mdc-form-field {
      & .mdc-label {
        font-size: 11px !important;
      }
    }
  }

  &__dropdown {
    height: 3rem !important;
    // margin-bottom: 0.8rem;

    .mat-mdc-text-field-wrapper {
      height: 3rem !important;
      display: flex !important;
      align-items: center !important;
    }
  }
}

::ng-deep .no-margin .mat-mdc-text-field-wrapper { 
  margin: unset !important;
}