.media-gallery__sidebar {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 226px !important;
  flex: 0 0 226px !important;
  overflow: auto;
  height: calc(100vh - 65px);
}

.media-gallery__sidebar--item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px;
}

.media-gallery__sidebar--section:not(:last-child) {
  margin-bottom: 15px;
}

.media-gallery__sidebar--options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.media-gallery__sidebar--optiontitle {
  margin-bottom: 1rem;
}

.media-gallery__sidebar--optionitem:not(:last-child) {
  margin-bottom: 1rem;
}

.media-gallery__content {
  padding: 15px;
  display: block !important;
  height: calc(100vh - 65px);
  overflow: auto;
}

.media-gallery__card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.media-gallery__card--check {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

.media-gallery__card--check mat-icon {
  display: none;
}

.media-gallery__card--image {
  position: relative;
}

.media-gallery__card--image .card__image {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 8px 0px 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
  column-gap: 7px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 1s;
  transition: 1s;
}

.media-gallery__card--image .card__image--name {
  width: 185px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.media-gallery__card--image .card__image--name span {
  position: absolute;
  white-space: nowrap;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 3s;
  transition: 3s;
}

.media-gallery__card--image .card__image--name span:hover {
  -webkit-transform: translateX(calc(200px - 110%));
  transform: translateX(calc(200px - 110%));
}

.media-gallery__card--video {
  height: 250px;
}

.media-gallery__card--video .video-responsive {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
}

.media-gallery__card--video .video__play--icon {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.media-gallery__card.active .media-gallery__card--check mat-icon {
  display: inline-block;
}

.media-gallery__card--image > img {
  width: 100%;
  height: auto;
}

.media-gallery__card--options {
  padding: 15px;
}
