<div class="modal modal__grouped media-gallery">
  <div class="modal__grouped--item">
    <div class="modal__head" [ngClass]="{'p-9' :mediaGalleryFlag && defaultLayout, 'p-8' : !defaultLayout}">
      <div class="modal__title font-semibold" [ngClass]="{'normal-font-size' : !defaultLayout}">
        <a href="javascript:void(0)" class="d-flex-items-center" mat-dialog-close>
          <mat-icon class="mr-8"
          [ngClass]="{'small-icon-font-size d-flex-items-center justify-content__center' : !defaultLayout}">arrow_back</mat-icon>
          <p>{{'Media-Gallery' | translate}}</p>
        </a>
      </div>

      <mat-form-field *ngIf="mediaGalleryFlag" class="material__select select-brand w-250 ml-64" appearance="outline"
        [ngClass]="{'small_font-size no-margin ai-layout__dropdown' : !defaultLayout}">
        <mat-label>{{'Select-Brand' | translate}}</mat-label>
        <mat-select [value]="selectedBrandDetails?.brandFriendlyName" (closed)="menuClosed()">
          <div (click)="$event.stopPropagation()"
            class="account-profile__brandsearchinput account-profile__brandselectwithicon--brandsearchinput">
            <mat-form-field appearance="outline" class="material__select" [ngClass]="{'ai-layout__dropdown p-7 mb-12' : !defaultLayout}">
              <input type="text" [(ngModel)]="inputSearchField" (keydown)="_handleKeydown($event)" matInput autocomplete="off"
                placeholder="{{'Search-brand-name'| translate}}" class="material-icons-outlined" [ngClass]="{'small_font-size' : !defaultLayout}"
                (keyup)="searchBrand($event.target.value)" />
              <button matSuffix mat-icon-button>
                <mat-icon class="material-icons-outlined">search</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <mat-select-trigger class="d-flex-items-center">
            <img src="{{selectedBrandDetails?.imgUrl}}" onError="this.src='assets/social-mention/post/default_brand.svg'"
              class="border-radius-100" [ngClass]="defaultLayout ? 'w-24 h-24' : 'small-image-width'" />
            <span matTooltip="{{(selectedBrandDetails?.brandFriendlyName.length>15)? (selectedBrandDetails?.brandFriendlyName):''}}"
              class="ml-10 font-weight-500">{{selectedBrandDetails?.brandFriendlyName}}</span>
          </mat-select-trigger>
          <mat-option (click)="selectedBrandEvent(brandObj)" *ngFor="let brandObj of brandList"
            [value]="brandObj.brandFriendlyName" [ngClass]="{'small_font-size h-30' : !defaultLayout}">
            <img *ngIf="selectedBrandDetails" class="mat-select__img custom__selectmenu--img mr-7 vertical-sub"
              [src]="brandObj.imgUrl" onError="this.src='assets/social-mention/post/default_brand.svg'"
              [ngClass]="{'small-image-width' : !defaultLayout}">
            {{brandObj.brandFriendlyName}}
          </mat-option>
          <mat-option disabled *ngIf="brandList.length==0" [ngClass]="{'small_font-size' : !defaultLayout}">
            {{ 'No-Match-Found' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span class="text__light--sm ml-auto right-auto" *ngIf="selectedMedia > 0"
        >{{ selectedMedia }} {{ 'Media-Selected' | translate }}</span
      >
      <button [ngStyle]="{'visibility':activeSection !== 'UGC' ? 'visible' : 'hidden'}" class="ml-auto mr-10"
        mat-stroked-button color="accent" (click)="openMediaDropzone()" [ngClass]="{'small_font-size px-5 h-25' : !defaultLayout}">
        <mat-icon [ngClass]="{'small-icon-font-size d-flex-items-center justify-content__center ml-unset' : !defaultLayout}">cloud_upload</mat-icon> {{'Upload-New-Files' | translate}}
      </button>
      <button class="mr-10" mat-stroked-button [mat-dialog-close]="true"
        color="accent" [ngClass]="{'small_font-size px-5 h-25' : !defaultLayout}">
        {{'Cancel' | translate}}
      </button>
      <button *ngIf="!mediaGalleryFlag" type="button" (click)="attachMediaToReply()" mat-flat-button
        color="accent" [ngClass]="{'small_font-size px-5 h-25' : !defaultLayout}" [disabled]="!attchEnableFlag" [loading]="attchButtonLoader">
        {{'Attach' | translate}}
      </button>
    </div>
    <div class="modal__body modal__body--wrapper">
      <div class="modal__body--section p-0 media-gallery__sidebar">
        <div class="media-gallery__sidebar--item border-none" [ngClass]="{'pb-0' : !defaultLayout}">
          <div class="custom__input--wrapper media-gallery__sidebar--section border__light-grey">
            <input (input)="onInputChange()" (keyup.enter)="searchMedia()" [(ngModel)]="searchText"
              type="text" class="custom__input bg__white border-none" placeholder="{{ 'Search-By-Tags' | translate }}"
              [ngClass]="{'small_font-size' : !defaultLayout}" />
            <mat-icon (click)="searchMedia()" class="custom__input--suffix font-size-22 w-22 h-22 mt-2">search</mat-icon>
          </div>
          <!-- <div
            class="custom__pill custom__pill--colored
            media-gallery__sidebar--section">
            <span class="custom__pill--item">
              Clear Filter
              <mat-icon class="custom__pill--close" (click)="clearAllFilters()">close</mat-icon></span>
            <span class="custom__pill--item">
              Image <mat-icon class="custom__pill--close">close</mat-icon></span>
          </div> -->
        </div>
        <div mat-tab-nav-bar color="accent" class="custom-tabs tab-group-ugc">
          <a mat-tab-link class="mat-tab-label" (click)="toggleSection(section)" [active]="activeSection == section"
            *ngFor="let section of MediaSection" [ngClass]="{'medium-font-size' : !defaultLayout}">{{ section | translate }}</a>
        </div>
        <ng-container *ngIf="activeSection == 'Media'; else ugcoptions">
          <div class="media-gallery__sidebar--item" [@fadeInOut]>
            <div class="media-gallery__sidebar--options media-gallery__sidebar--section">
              <mat-checkbox *ngFor="let item of mediaFilterSorting.mediaType" (change)="applyMediaFilter($event, item)"
                [checked]="item.checked" [value]="item.value" class="media-gallery__sidebar--optionitem"
                [ngClass]="{ element__disable :socialPostdata && socialPostdata.type == 'SocialGallery',
                'ai-layout__checkbox mb-0' : !defaultLayout }">{{ item.name | translate }}</mat-checkbox>
            </div>
          </div>
        </ng-container>
        <ng-template #ugcoptions>
          <div class="media-gallery__sidebar--item" [@fadeInOut]>
            <mat-radio-group aria-label="Select an option" class="media-gallery__sidebar--options">
              <mat-radio-button [checked]="ugcTextChecked" (change)="ugcRadioChange($event.value)" class="media-gallery__sidebar--optionitem"
                value="1" [ngClass]="{'ai-layout__radio-btn' : !defaultLayout}">{{'Text' | translate}}</mat-radio-button>
              <mat-radio-button [checked]="ugcMediachecked" (change)="ugcRadioChange($event.value)"
                value="2" [ngClass]="{'ai-layout__radio-btn' : !defaultLayout}">{{'Media-Gallery' | translate}}</mat-radio-button>
            </mat-radio-group>
            <div class="media-gallery__sidebar--options pt-12 px-20">
              <!-- <mat-checkbox *ngFor="let item of mediaFilterSorting.mediaType"
                [value]="item.value"
                class="media-gallery__sidebar--optionitem">{{item.name}}</mat-checkbox> -->
              <mat-checkbox *ngFor="let item of mediaFilterSorting.mediaType" (change)="applyMediaFilter($event, item)"
                [checked]="item.checked" [value]="item.value" [disabled]="item.name =='File' || ugcTextChecked"
                class="media-gallery__sidebar--optionitem">{{ item.name | translate }}</mat-checkbox>
            </div>
          </div>
        </ng-template>
        <div class="media-gallery__sidebar--item" [ngClass]="{'py-5' : !defaultLayout}">
          <div class="media-gallery__sidebar--options media-gallery__sidebar--section">
            <label class="text__label media-gallery__sidebar--optiontitle" [ngClass]="{'medium-font-size mb-0' : !defaultLayout}">{{'Ratings' | translate}}</label>
            <mat-checkbox *ngFor="let item of mediaFilterSorting.ratings" (change)="applyMediaFilter($event, item)"
              [value]="item.value" class="media-gallery__sidebar--optionitem" [ngClass]="{'mb-0' : !defaultLayout}">
              <app-star-rating [rating]="item.value" [editable]="false"></app-star-rating>
            </mat-checkbox>
          </div>
        </div>
        <div class="media-gallery__sidebar--item" [ngClass]="{'py-5' : !defaultLayout}">
          <div class="media-gallery__sidebar--options media-gallery__sidebar--section">
            <label class="text__label media-gallery__sidebar--optiontitle" [ngClass]="{'medium-font-size mb-0' : !defaultLayout}">{{ 'Sort-By' | translate }}</label>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button [ngClass]="{'ai-layout__radio-btn' : !defaultLayout}" [value]="item.value"
                *ngFor="let item of mediaFilterSorting.sortBy" (click)="applyMediaFilter($event, item)"
                class="media-gallery__sidebar--optionitem mediagallary_radio">{{ item.name | translate }}</mat-radio-button>
              <!-- <mat-radio-button
                class="media-gallery__sidebar--optionitem"
                (click)="applyMediaFilter($event)" [value]='2'
                >Ratings</mat-radio-button
              > -->
            </mat-radio-group>
          </div>
          <div class="media-gallery__sidebar--options media-gallery__sidebar--section">
            <label class="text__label media-gallery__sidebar--optiontitle" [ngClass]="{'medium-font-size mb-0' : !defaultLayout}">{{'Sort-Order' | translate}}</label>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button [ngClass]="{'ai-layout__radio-btn' : !defaultLayout}"
                *ngFor="let item of mediaFilterSorting.orderBy" class="media-gallery__sidebar--optionitem mediagallary_radio"
                (click)="applyMediaFilter($event, item)" [value]="item.value">{{ item.name | translate }}</mat-radio-button>
              <!-- <mat-radio-button
                class="media-gallery__sidebar--optionitem"
                (click)="applyMediaFilter($event)" [value]='2'
                >Descending</mat-radio-button
              > -->
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="modal__body--section media-gallery__content position-relative">
        <app-component-loader [postCountTotal]="8" [loaderType]="loaderTypeEnum.media"
          *ngIf="mediaGalleryLoading"></app-component-loader>
        <div *ngIf="!mediaGalleryLoading">
        <ng-container *ngIf="activeSection == 'Media'; else ugc">
          <ng-container
            *ngIf="UGCMentionObj && UGCMentionObj.lstUGCMention.length > 0 && !noDataFound"
          >
            <div class="grid" appIsotopeGrid columnWidth="23%">
              <div
                class="grid-item"
                *ngFor="let item of UGCMentionObj.lstUGCMention; let i = index"
                [@fadeInOut]
              >
                <div
                  class="media-gallery__card grid-element"

                  [ngClass]="item.clicked ? 'active' : 'someabnormalclass'"
                >
                  <span class="media-gallery__card--check" *ngIf="!mediaGalleryFlag" (click)="selectGivenMedia($event,item)">
                    <mat-icon>check_circle</mat-icon>
                  </span>
                  <div class="media-gallery__card--image" (click)="!mediaGalleryFlag?selectGivenMedia($event,item):''" [ngClass]="{'media-gallery__card--video':item.mediaType == mediaTypeEnum.VIDEO}">
                    <ng-container *ngIf="item.mediaType == mediaTypeEnum.IMAGE">
                      <!-- <img
                        [src]="item.mediaPath"
                        (load)="
                          UGCMentionObj.lstUGCMention.length - 1 === i
                            ? imageLoaded()
                            : null
                        "
                      /> -->
                      <app-progressive-image>
                        <img
                          appProgressiveImage
                          [src]="item.mediaPath" class="img__fluid"
                        />
                        <div appProgressiveImagePlaceholder class="progressive__media--placeholder">
                          <img src="assets/images/chatbot/blur_img.png">
                        </div>
                        <div appProgressiveImageFallback  class="progressive__media--fallback h-165">
                          <img src="assets/images/chatbot/img-expired.svg" class="img__fluid">
                        </div>
                      </app-progressive-image>
                    </ng-container>
                    <ng-container *ngIf="item.mediaType == mediaTypeEnum.VIDEO">
                      <video class="video-responsive">
                        <source
                          [src]="item.mediaPath"
                          data-autoplay="false"
                          type="video/m4v"
                        />
                        <source
                          [src]="item.mediaPath"
                          data-autoplay="false"
                          type="video/mp4"
                        />
                        <source
                          [src]="item.mediaPath"
                          data-autoplay="false"
                          type="video/mpeg"
                        />
                        <source
                          [src]="item.mediaPath"
                          data-autoplay="false"
                          type="video/x-msvideo"
                        />
                        <source
                          [src]="item.mediaPath"
                          data-autoplay="false"
                          type="video/x-ms-wmv"
                        />
                        <source
                          [src]="item.mediaPath"
                          data-autoplay="false"
                          type="video/avi"
                        />
                      </video>
                       <mat-icon class="video__play--icon" fontSet="material-icons-outlined">play_circle</mat-icon>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        item.mediaType == mediaTypeEnum.OTHER ||
                        item.mediaType == mediaTypeEnum.DOC ||
                        item.mediaType == mediaTypeEnum.PDF ||
                        item.mediaType == mediaTypeEnum.EXCEL">
                        <!-- <span
                        *ngIf="item.mediaType == mediaTypeEnum.PDF"
                        style="
                          background-image: url(assets/images/common/pdf.png);
                          background-size: 40%;
                          height: 155px;
                          margin: 0;">
                        </span>
                        <span *ngIf="item.mediaType == mediaTypeEnum.DOC"
                          style="
                            background-image: url(assets/images/common/word.png);
                            background-size: 40%;
                            height: 155px;
                            margin: 0;">
                        </span>
                        <span *ngIf="item.mediaType == mediaTypeEnum.EXCEL"
                          style="
                            background-image: url(assets/images/common/excel-file.png);
                            background-size: 40%;
                            height: 155px;
                            margin: 0;">
                        </span> -->
                        <img  src="assets/images/account/pdf__icon.svg" *ngIf="item.mediaType == mediaTypeEnum.PDF"
                          class="media__img--icon">
                        <img  src="assets/images/account/doc__icon.svg"
                          *ngIf="item.mediaType == mediaTypeEnum.DOC" class="media__img--icon">
                        <img  src="assets/images/account/excl__icon.svg"
                          *ngIf="item.mediaType == mediaTypeEnum.EXCEL" class="media__img--icon">
                    </ng-container>
                    <div class="card__image" [ngClass]="{'p-5' : !defaultLayout}">
                      <mat-icon fontSet="material-icons-outlined"
                        [ngClass]="{'small-icon-font-size d-flex-items-center justify-content__center' : !defaultLayout}">{{ item.mediaType == mediaTypeEnum.VIDEO ? 'play_circle' : 'image' }}</mat-icon>
                      <span class="card__image--name">
                        <span [ngClass]="{'small_font-size' : !defaultLayout}">{{ item.displayFileName }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="media-gallery__card--content">
                    <div class="media-gallery__card--options d-flex-items-center" [ngClass]="{'p-5' : !defaultLayout}">
                      <app-star-rating [rating]="item.rating" [editable]="false"></app-star-rating>
                      <div class="ml-auto d-flex-items-center">
                        <mat-icon (click)="galleryPreview(item)" fontSet="material-icons-outlined" class="mr-8">info</mat-icon>
                        <a class="mr-8" (click)="downloadMedia(item)" >
                          <mat-icon fontSet="material-icons-outlined"
                            >file_download</mat-icon
                          ></a
                        >
                        <a (click)="openImagepopup(item)"
                          ><mat-icon fontSet="material-icons-outlined"
                            >create</mat-icon
                          ></a
                        >
                      </div>
                    </div>
                    <div
                      *ngIf="item.mediaTags && item.mediaTags.length > 0"
                      class="
                        custom__pill custom__pill--colored
                        media-gallery__card--options
                      "
                    >
                      <ng-template
                        ngFor
                        let-mediatag
                        [ngForOf]="item.mediaTags"
                        let-i="index"
                      >
                        <ng-template [ngIf]="i < 2"
                          ><span class="custom__pill--item bg__grey">
                            {{ mediatag }}</span
                          ></ng-template
                        >
                        <ng-template #ExtraTags [ngIf]="i == 2"
                          ><span class="custom__pill--item bg__grey">
                            + {{ item.mediaTags.length - 2 }}</span
                          >
                        </ng-template>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #ugc>
          <ng-container *ngIf="ugcTextChecked">
            <div class="grid" appIsotopeGrid columnWidth="47%">
              <div (click)="selectGivenUgcMedia(checkbox, item.postlink)"
                class="grid-item"
                *ngFor="let item of ugcMentionTextData; let i = index"
                [@fadeInOut]
              >
                <div class="post">
                  <div class="post__head">
                    <div class="post__head--profile">
                      <div class="post__head--channel">
                        <div class="channel">
                          <img
                            class="channel__image"
                            [src]="item.channelIcon"
                            alt="channel image"
                          />
                          <span class="channel__label">{{
                            item.channelName
                          }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="post__head--info">
                      <div class="post__head--infoitem">
                        <span class="text__sub--sm">{{
                          item.ticketTimings.mentionDate
                        }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="post__body">
                    <div class="post__body--data">
                      <span class="post__body--content">
                        <p
                          *ngIf="
                            item.mention.channelGroup == channelGroupEnum.Email;
                            else otherChannelsTitle
                          "
                          class="text__label"
                        >
                          {{ item.ticketHistoryData.title }}
                        </p>
                        <ng-template #otherChannelsTitle>
                          <p class="text__label mb-0">
                            {{ item.ticketHistoryData.title }}
                          </p>
                        </ng-template>
                        <div
                          *ngIf="item.ticketHistoryData?.description"
                          [innerHTML]="item.ticketHistoryData.description"
                        ></div>
                      </span>
                    </div>
                  </div>
                  <div class="post__foot">
                    <div class="post__foot--wrapper">
                      <div class="post__foot--item pl-12">
                        <mat-checkbox (change)="checkUgcMediaEvent(checkbox, item.postlink)" class="w-16" #checkbox
                          [ckecked]="item.checked"

                        ></mat-checkbox>
                      </div>
                      <div class="post__foot--item">
                        <ng-container
                          *ngIf="item.mention.rating; else norating"
                        >
                          <app-star-rating
                            [rating]="item.mention.rating"
                            [editable]="false"
                          ></app-star-rating>
                        </ng-container>
                        <ng-template #norating>
                          <app-star-rating
                            [rating]="0"
                            [editable]="false"
                          ></app-star-rating>
                        </ng-template>
                        <span class="mentionId" *ngIf="brandId && item?.mention?.channelType && item?.mention?.contentID">Mention Id: {{brandId}}/{{item?.mention?.channelType}}/{{item?.mention?.contentID}}</span>
                      </div>
                    </div>
                    <div *ngIf="item?.mention?.channelGroup!==channelGroupEnum.Email" class="post__foot--wrapper ml-auto right-auto">
                      <div class="post__foot--item">
                        <a [href]="item.postlink" target="_blank">
                          <mat-icon
                            class="post__foot--actionicon"
                            fontSet="material-icons-outlined"
                            aria-hidden="false"
                            aria-label="open_in_new"
                            >open_in_new</mat-icon
                          >
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="ugcMediachecked">
            <ng-container
              *ngIf="UGCMentionObj && UGCMentionObj.lstUGCMention.length > 0"
            >
              <div class="grid" appIsotopeGrid columnWidth="23%">
                <div
                  class="grid-item"
                  *ngFor="
                    let item of UGCMentionObj.lstUGCMention;
                    let i = index
                  "
                  [@fadeInOut]
                >
                  <div
                    class="media-gallery__card grid-element"

                    [ngClass]="item.clicked ? 'active' : 'someabnormalclass'"
                  >
                    <span class="media-gallery__card--check" *ngIf="!mediaGalleryFlag"  (click)="selectGivenMedia($event, item)">
                      <mat-icon>check_circle</mat-icon>
                    </span>
                    <span class="media-gallery__card--check" *ngIf="!mediaGalleryFlag" style="right: 10px;left: inherit;">
                      <img [src]="item.channelIcon" alt="">
                    </span>
                    <div class="media-gallery__card--image">
                      <ng-container
                        *ngIf="item.mediaType == mediaTypeEnum.IMAGE"
                      >
                        <img
                          [src]="item.mediaPath"
                          (load)="
                            UGCMentionObj.lstUGCMention.length - 1 === i
                              ? imageLoaded()
                              : null
                          "
                          onError="this.src='assets/images/common/Imageexpired.svg'"
                        />
                      </ng-container>
                      <ng-container
                        *ngIf="item.mediaType == mediaTypeEnum.VIDEO || item.mediaType == mediaTypeEnum.ANIMATEDGIF"
                      >
                        <video controls>
                          <source
                            [src]="item.mediaPath"
                            data-autoplay="false"
                            type="video/m4v"
                          />
                          <source
                            [src]="item.mediaPath"
                            data-autoplay="false"
                            type="video/mp4"
                          />
                          <source
                            [src]="item.mediaPath"
                            data-autoplay="false"
                            type="video/mpeg"
                          />
                          <source
                            [src]="item.mediaPath"
                            data-autoplay="false"
                            type="video/x-msvideo"
                          />
                          <source
                            [src]="item.mediaPath"
                            data-autoplay="false"
                            type="video/x-ms-wmv"
                          />
                          <source
                            [src]="item.mediaPath"
                            data-autoplay="false"
                            type="video/avi"
                          />
                        </video>
                      </ng-container>
                      <ng-container
                        *ngIf="
                          item.mediaType == mediaTypeEnum.OTHER ||
                          item.mediaType == mediaTypeEnum.DOC ||
                          item.mediaType == mediaTypeEnum.PDF ||
                          item.mediaType == mediaTypeEnum.EXCEL
                        "
                      >
                        <span
                          *ngIf="item.mediaType == mediaTypeEnum.PDF"
                          style="
                            background-image: url(assets/images/account/pdf__icon.svg);
                            background-size: 40%;
                            height: 155px;
                            margin: 0;
                          "
                        >
                        </span>
                        <span
                          *ngIf="item.mediaType == mediaTypeEnum.DOC"
                          style="
                            background-image: url(assets/images/account/doc__icon.svg);
                            background-size: 40%;
                            height: 155px;
                            margin: 0;
                          "
                        >
                        </span>
                        <span
                          *ngIf="item.mediaType == mediaTypeEnum.EXCEL"
                          style="
                            background-image: url(assets/images/account/excl__icon.svg);
                            background-size: 40%;
                            height: 155px;
                            margin: 0;
                          "
                        >
                        </span>
                      </ng-container>
                    </div>
                    <div class="media-gallery__card--content">
                      <div
                        class="media-gallery__card--options d-flex-items-center"
                      >
                        <app-star-rating
                          [rating]="item.rating"
                          [editable]="false"
                        ></app-star-rating>
                        <div class="ml-auto d-flex-items-center right-auto">
                          <a class="mr-8" (click)="downloadMedia(item)" download
                            ><mat-icon fontSet="material-icons-outlined"
                              >file_download</mat-icon
                            ></a
                          >
                          <a (click)="openImagepopup(item)"
                            ><mat-icon fontSet="material-icons-outlined"
                              >create</mat-icon
                            ></a
                          >
                        </div>
                      </div>
                      <div
                        *ngIf="item.mediaTags && item.mediaTags.length > 0"
                        class="
                          custom__pill custom__pill--colored
                          media-gallery__card--options
                        "
                      >
                        <ng-template
                          ngFor
                          let-mediatag
                          [ngForOf]="item.mediaTags"
                          let-i="index"
                        >
                          <ng-template [ngIf]="i < 2"
                            ><span class="custom__pill--item bg__grey">
                              {{ mediatag }}</span
                            ></ng-template
                          >
                          <ng-template #ExtraTags [ngIf]="i == 2"
                            ><span class="custom__pill--item bg__grey">
                              + {{ item.mediaTags.length - 2 }}</span
                            >
                          </ng-template>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
        </div>
        <div *ngIf="showLoadMore" class="post-detail__conversations--loadmore text-center mb-15">
          <button (click)="loadMoreMedia()" mat-raised-button class="btn__round btn__outline"
            [ngClass]="{'small_font-size h-25 px-5' : !defaultLayout}">
            {{ 'Load-More' | translate }}
          </button>
        </div>
        <ng-container>
          <div class="noData block-center" *ngIf="noDataFound && !mediaGalleryLoading">
            <mat-icon>error_outline</mat-icon>
            <p>{{ 'No-Media-Found' | translate }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
