.post-timeline{
    &__label{
        font-weight: inherit!important;
    }
}

.collab-panel {
    align-items: baseline;
    gap: 0.5rem;
}

.neutral_panel {
    color: var(--color-main-text);
    background-color: rgb(222, 170, 12, 0.1);
    border: var(--color-yellow-dark) solid 0.1rem;
    border-radius: 1rem;
}
.neutral_mention_tag {
    color: var(--color-yellow-dark) !important;
}

.positive_panel {
    color: var(--color-main-text);
    background-color: rgb(28, 159, 0, 0.1);
    border: var(--color-green-dark) solid 0.1rem;
    border-radius: 1rem;
}
.negative_pannel{
    // color: var(--color-red) !important;
    background-color: rgba(220, 30, 30, 0.1);
    border: var(--color-red-dark) solid 0.1rem;
    border-radius: 1rem;
}
.upperCagegory_pannel{
    background-color: #d8e1fa;
    border: var(--color-locobuzz) solid 0.1rem;
    border-radius: 1rem;
}

.positive_mentiontag {
    color: var(--color-green-dark);
}
.negative_mention_tag {
    color: var(--color-red) !important;
}

::ng-deep.expansion-panel .mat-expansion-panel-body {
    padding-left: 1rem;
    padding-right: 1rem;
}
.low_color{
    color: var(--color-light-text) !important;
}

.log_date_time {
    color: var(--color-sub-text) !important;
}

.ticket_category_icon{
    position: relative;
    top: 4px;
}