<span *ngIf="item?.isNoteEdited && item?.status == logstatusEnum.NotesAdded">
  <p  class="pl-30">{{'Note-is-edited-on' | translate}} {{item?.noteEditedOn | datetimeFormatter:'DD-MMMM-YYYY hh:mm A'}}</p>
</span>
<ng-template
  [ngIf]="
    item.logText &&
    item.logVersion == 1 && (item.status == logstatusEnum.GroupDisplayMessage || item.status == logstatusEnum.ResponseGenieUsed || item.status == logstatusEnum.ResponseGenieEdited)
  "
>
  <li class="post-timeline__item">
    <span [ngStyle]="{'max-width' : layout == 'rtl' ? '230px' : 'unset'}"
      class="post-timeline__label text__wrap"
      [innerHTML]="item.logText | safehtml" [ngClass]="{'small_font-size' : !defaultLayout}"
    ></span>
    <span *ngIf="item.actionTakenFrom == actionstatusEnum.EmailReply">
      {{'via-email' | translate}}</span
    >
    <span *ngIf="item.actionTakenFrom == actionstatusEnum.EmailResponseLink">
      {{'via-link-in-email' | translate}}</span
    >
    <span class="post-timeline__timestamp" [ngClass]="{'small_font-size font-weight-medium' : !defaultLayout}">
      {{ item.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY HH:mm a' }}</span
    >
      <div *ngIf="showNotes" class="post-log__strip p-6">
        <span class="post-log__strip--label colored__yellow--dark">{{'Added-Note' | translate}} </span>:
        <span class="anywhere" [innerHTML]="note"></span>
        <span class="post__alert--attachment post-timeline__attach no-bg ml-0" *ngIf="fileList?.length>0">
          <ng-container *ngFor="let file of fileList">
            <div class="post-timeline__attachment custom__tooltip--trigger" *ngIf="file.mediaType == MediaEnum.PDF">
              <div class="post-timeline__file" (click)="openNoteAttachmentDocAndAudioPreview(file,'file')">
                <img class="img w-25 h-25" src="assets/images/account/pdf__icon.svg">
                <span class="post-timeline__attachment--name ml-5">{{file?.fileName}}</span>
              </div>
              <a [href]="file?.mediaUrl" [download]="file?.fileName" alt="name" target="_blank">
                <mat-icon fontSet="material-icons-outlined" class="icon s-18">file_download</mat-icon>
              </a>
              <div class="custom__tooltip--hover custom__tooltip--category note-tooltip">
                <div class="custom__tooltip--item">
                  <span class="custom__tooltip--value">{{file?.fileName}}</span>
                </div>
              </div>
            </div>
            <div class="post-timeline__attachment custom__tooltip--trigger" *ngIf="file.mediaType == MediaEnum.DOC">
              <div class="post-timeline__file" (click)="openNoteAttachmentDocAndAudioPreview(file,'file')">
                <img class="img w-25 h-25" src="assets/images/account/doc__icon.svg">
                <span class="post-timeline__attachment--name ml-5">{{file?.fileName}}</span>
              </div>
              <a [href]="file?.mediaUrl" [download]="file?.fileName" alt="name" target="_blank">
                <mat-icon fontSet="material-icons-outlined" class="icon s-18">file_download</mat-icon>
              </a>
              <div class="custom__tooltip--hover custom__tooltip--category note-tooltip">
                <div class="custom__tooltip--item">
                  <span class="custom__tooltip--value">{{file?.fileName}}</span>
                </div>
              </div>
            </div>
            <div class="post-timeline__attachment custom__tooltip--trigger" *ngIf="file.mediaType == MediaEnum.EXCEL">
              <div class="post-timeline__file" (click)="openNoteAttachmentDocAndAudioPreview(file,'file')">
                <img class="img w-25 h-25" src="assets/images/account/excl__icon.svg">
                <span class="post-timeline__attachment--name ml-5">{{file?.fileName}}</span>
              </div>
              <a [href]="file?.mediaUrl" [download]="file?.fileName" alt="name" target="_blank">
                <mat-icon fontSet="material-icons-outlined" class="icon s-18">file_download</mat-icon>
              </a>
              <div class="custom__tooltip--hover custom__tooltip--category note-tooltip">
                <div class="custom__tooltip--item">
                  <span class="custom__tooltip--value">{{file?.fileName}}</span>
                </div>
              </div>
            </div>
            <span class="post-timeline__attachment custom__tooltip--trigger"
              *ngIf="file.mediaType == MediaEnum.IMAGE || file?.mediaType == MediaEnum.VIDEO || file?.mediaType == MediaEnum.ANIMATEDGIF">
              <div class="post-timeline__file" (click)="openNoteAttachmentDocAndAudioPreview(file, 'media')">
                <mat-icon fontSet="material-icons-outlined" class="s-24">image</mat-icon>
                <span class="post-timeline__attachment--name ml-5">{{file?.fileName}}</span>
              </div>
              <a [href]="file?.mediaUrl" [download]="file?.fileName" alt="name" target="_blank">
                <mat-icon fontSet="material-icons-outlined" class="icon s-18">file_download</mat-icon>
              </a>
              <div class="custom__tooltip--hover custom__tooltip--category note-tooltip">
                <div class="custom__tooltip--item">
                  <span class="custom__tooltip--value">{{file?.fileName}}</span>
                </div>
              </div>
            </span>
          </ng-container>
          <ng-container *ngIf="showMoreMediaFlag">
            <span class="ml-5 pt-5 colored__locobuzz" (click)="showMoreLessMedia()">{{showMoreLessMediaFlag ? ('Show-more' | translate) + '(+' +
              moreList?.length + ')' : ('Show-less' | translate)}}</span>
          </ng-container>
          <!-- <ng-container *ngFor="let media of mediaList"> -->
          <!-- </ng-container> -->
        </span>
      </div>
  </li>
</ng-template>
<ng-template
  [ngIf]="
    item.logText &&
    item.logVersion == 0 &&
    (item.status != logstatusEnum.Unassigned ||
      (item.status == logstatusEnum.Unassigned && item.userID == -1))
  "
>
  <li class="post-timeline__item">
      <mat-accordion class="time_line_from_to" *ngIf="item?.status == logstatusEnum.SentimentChanged || item?.status == logstatusEnum.ModifiedTicketTagging || item?.status == logstatusEnum.ModifyCategoryInformation || item?.status == logstatusEnum.PriorityChanged">
        <mat-expansion-panel (opened)="panelOpenState = true; GetTicketCategoryDetails(item)" (closed)="panelOpenState = false" class="expansion-panel">
          <mat-expansion-panel-header class="d-flex-items-center timeline-header h-110">
            <div class="column-block g-2">
              <span [ngStyle]="{'max-width' : layout == 'rtl' ? '230px' : 'unset'}" class="post-timeline__label text__wrap" [ngClass]="{'small_font-size' : !defaultLayout}" [innerHTML]="item.logText | safehtml"></span>
              <p [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging">{{'Ticket-ID' | translate}} : <u [ngClass]="{'small_font-size' : !defaultLayout}" class="colored__locobuzz">{{item?.ticketID}}</u></p>
               <p [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation">{{'Mention-ID' | translate}} : <u class="colored__locobuzz" [ngClass]="{'small_font-size' : !defaultLayout}">{{item?.brandInfo?.brandID}}/{{item?.channelType}}/{{item?.contentID}}</u></p>
              <span class="post-timeline__timestamp" [ngClass]="{'small_font-size font-weight-medium' : !defaultLayout}">
                {{ item.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY HH:mm a' }}</span>
            </div>
          </mat-expansion-panel-header>
          <mat-card appearance="outlined" class="mt-10">
            <mat-card-content class="p-10">
              <div class="column-block g-10">
                <div class="d-flex">
                  <div class="w-45 d-flex">{{'From' | translate}}:</div>
                  <div>
                    <ng-container *ngIf="item?.status == logstatusEnum.PriorityChanged">
                      <p style="align-content: center;" matTooltip="{{'Priority' | translate}}" matTooltipPosition="above"
                        matTooltipClass="custom__tooltip-normal"
                        [ngClass]="item?.noteLogDetails?.from == 0 ? 'low_color' : item?.noteLogDetails?.from == 1 ? 'colored__yellow' : item?.noteLogDetails?.from == 2 ? 'colored__red' : 'colored__red--dark'">
                        {{item?.noteLogDetails?.from == 0 ? ('Low' | translate) : item?.noteLogDetails?.from == 1 ? ('Medium' | translate) :
                        item?.noteLogDetails?.from
                        == 2 ? ('High' | translate) : ('Urgent' | translate) }}
                      </p>
                    </ng-container>
                
                    <ng-container *ngIf="item?.status == logstatusEnum.SentimentChanged">
                      <p style="align-content: center;" matTooltip="{{'Sentiment' | translate}}" matTooltipPosition="above"
                        matTooltipClass="custom__tooltip-normal" [ngClass]="{ colored__red: item?.noteLogDetails?.from == 2 || item?.noteLogDetails?.from == 4,
                                     colored__green: item?.noteLogDetails?.from == 1,
                                     'colored__yellow--dark': item?.noteLogDetails?.from == 0
                        }">
                        <ng-container [ngSwitch]="item?.noteLogDetails?.from">
                          <ng-container *ngSwitchCase="0"> {{'Neutral' | translate}} </ng-container>
                          <ng-container *ngSwitchCase="1"> {{'Positive' | translate}} </ng-container>
                          <ng-container *ngSwitchCase="2"> {{'Negative' | translate}} </ng-container>
                          <ng-container *ngSwitchCase="4"> {{'Multiple' | translate}} </ng-container>
                        </ng-container>
                      </p>
                    </ng-container>
                
                    <ng-container *ngIf="item?.status != logstatusEnum.PriorityChanged && item?.status != logstatusEnum.SentimentChanged">
                      <div
                        [matTooltip]="item?.status == logstatusEnum.ModifyCategoryInformation ? ('Mention-Upper-Category' | translate) : ('Ticket-Upper-Category' | translate)"
                        matTooltipPosition="above" matTooltipClass="custom__tooltip-normal">
                        <div class="collab-panel upperCagegory_pannel p-5 w-100-p d-flex mb-5"
                          *ngIf="item?.logDetails?.previousUpperCategory">
                          <p *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation" class="colored__locobuzz">
                            &#64;
                          </p>
                          <mat-icon *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging" fontSet="material-icons-outlined"
                            class="s-16 ticket_category_icon colored__locobuzz">local_activity</mat-icon>
                          {{item?.logDetails?.previousUpperCategory}}
                        </div>
                      </div>
                      <p style="align-content: center;"
                        *ngIf="!item?.logDetails?.previousUpperCategory && !item?.logDetails?.previousCategoryMap?.length && item?.logDetails?.categoryModifyType == 2">
                        {{'N/A' | translate}}
                      </p>
                    </ng-container>

                    <ng-container *ngIf="item?.status != logstatusEnum.PriorityChanged && item?.status != logstatusEnum.SentimentChanged">
                      <p style="align-content: center;"
                        *ngIf="!item?.logDetails?.previousCategoryMap?.length && !item?.logDetails?.previousUpperCategory">{{'N/A' | translate}}</p>
                      <div *ngIf="item?.logDetails?.previousCategoryMap && item?.logDetails?.previousCategoryMap?.length"
                        [matTooltip]="item?.status == logstatusEnum.ModifyCategoryInformation ? ('Mention-Category' | translate) : ('Ticket-Category' | translate)"
                        matTooltipPosition="above" matTooltipClass="custom__tooltip-normal">
                        <ng-container *ngFor="let fromLog of item?.logDetails?.previousCategoryMap">
                          <div class="collab-panel from-panel p-5 w-100-p d-flex mb-5"
                            [ngClass]="fromLog.sentiment == 1 ? 'positive_panel' : fromLog.sentiment == 0 ? 'neutral_panel' : 'negative_pannel'"
                            *ngIf="fromLog?.subCategories && !fromLog?.subCategories.length">
                            <p *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation"
                              [ngClass]="fromLog.sentiment == 1 ? 'positive_mentiontag' : fromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                              &#64;
                            </p>
                            <mat-icon *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging" fontSet="material-icons-outlined"
                              [ngClass]="fromLog.sentiment == 1 ? 'positive_mentiontag' : fromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'"
                              class="s-16 ticket_category_icon">local_activity</mat-icon>
                            {{fromLog?.name}}
                          </div>
                          <ng-container *ngIf="fromLog?.subCategories && fromLog?.subCategories.length">
                            <ng-container *ngFor="let subFromLog of fromLog?.subCategories">
                              <ng-container *ngIf="subFromLog?.subSubCategories && subFromLog?.subSubCategories.length">
                                <div class="collab-panel from-panel p-5 w-100-p d-flex mb-5"
                                  [ngClass]="subSubFromLog.sentiment == 1 ? 'positive_panel' : subSubFromLog.sentiment == 0 ? 'neutral_panel' : 'negative_pannel'"
                                  *ngFor="let subSubFromLog of subFromLog?.subSubCategories">
                                  <p *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation"
                                    [ngClass]="subSubFromLog.sentiment == 1 ? 'positive_mentiontag' : subSubFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                                    &#64;
                                  </p>
                                  <mat-icon *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging" fontSet="material-icons-outlined"
                                    [ngClass]="subSubFromLog.sentiment == 1 ? 'positive_mentiontag' : subSubFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'"
                                    class="s-16 ticket_category_icon">local_activity</mat-icon>
                                  {{fromLog?.name}} / {{subFromLog?.name}} / {{subSubFromLog?.name}}
                                </div>
                              </ng-container>
                              <div class="collab-panel from-panel p-5 w-100-p d-flex mb-5"
                                [ngClass]="subFromLog.sentiment == 1 ? 'positive_panel' : subFromLog.sentiment == 0 ? 'neutral_panel' : 'negative_pannel'"
                                *ngIf="subFromLog?.subSubCategories && !subFromLog?.subSubCategories.length">
                                <p *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation"
                                  [ngClass]="subFromLog.sentiment == 1 ? 'positive_mentiontag' : subFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                                  &#64;</p>
                                <mat-icon *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging" fontSet="material-icons-outlined"
                                  [ngClass]="subFromLog.sentiment == 1 ? 'positive_mentiontag' : subFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'"
                                  class="s-16 ticket_category_icon">local_activity</mat-icon>
                    
                                {{fromLog?.name}} / {{subFromLog?.name}}
                              </div>
                            </ng-container>
                          </ng-container>
                    
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <mat-divider class="mb-5"></mat-divider>
                <div class="d-flex">
                  <div class="w-45 d-flex">{{'To' | translate}}:</div>
                  <div>
                    <ng-container *ngIf="item?.status == logstatusEnum.PriorityChanged">
                      <p style="align-content: center;" matTooltip="{{'Priority' | translate}}" matTooltipPosition="above"
                        matTooltipClass="custom__tooltip-normal"
                        [ngClass]="item?.noteLogDetails?.to == 0 ? 'low_color' : item?.noteLogDetails?.to == 1 ? 'colored__yellow' : item?.noteLogDetails?.to == 2 ? 'colored__red' : 'colored__red--dark'">
                        {{item?.noteLogDetails?.to == 0 ? ('Low' | translate) : item?.noteLogDetails?.to == 1 ? ('Medium' | translate) : item?.noteLogDetails?.to ==
                        2
                        ?
                        ('High' | translate) : ('Urgent' | translate) }}
                      </p>
                    </ng-container>
                
                    <ng-container *ngIf="item?.status == logstatusEnum.SentimentChanged">
                      <p style="align-content: center;" matTooltip="{{'Sentiment' | translate}}" matTooltipPosition="above"
                        matTooltipClass="custom__tooltip-normal" 
                        [ngClass]="{ colored__red: item?.noteLogDetails?.to == 2 || item?.noteLogDetails?.to == 4,
                                     colored__green: item?.noteLogDetails?.to == 1,
                                     'colored__yellow--dark': item?.noteLogDetails?.to == 0
                        }">
                        <ng-container [ngSwitch]="item?.noteLogDetails?.to">
                          <ng-container *ngSwitchCase="0"> {{'Neutral' | translate}} </ng-container>
                          <ng-container *ngSwitchCase="1"> {{'Positive' | translate}} </ng-container>
                          <ng-container *ngSwitchCase="2"> {{'Negative' | translate}} </ng-container>
                          <ng-container *ngSwitchCase="4"> {{'Multiple' | translate}} </ng-container>
                        </ng-container>
                      </p>
                    </ng-container>
                
                    <ng-container *ngIf="item?.status != logstatusEnum.PriorityChanged && item?.status != logstatusEnum.SentimentChanged">
                      <div
                        [matTooltip]="item?.status == logstatusEnum.ModifyCategoryInformation ? ('Mention-Upper-Category' | translate) : ('Ticket-Upper-Category' | translate)"
                        matTooltipPosition="above" matTooltipClass="custom__tooltip-normal">
                        <div class="collab-panel upperCagegory_pannel p-5 w-100-p d-flex mb-5" *ngIf="item?.logDetails?.upperCategory">
                          <p *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation" class="colored__locobuzz">
                            &#64;
                          </p>
                          <mat-icon *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging" fontSet="material-icons-outlined"
                            class="s-16 ticket_category_icon colored__locobuzz">local_activity</mat-icon>
                          {{item?.logDetails?.upperCategory}}
                        </div>
                      </div>
                
                      <p [ngClass]="{'small_font-size' : !defaultLayout}" style="align-content: center;"
                        *ngIf="!item?.logDetails?.upperCategory && !item?.logDetails?.categoryMap?.length && item?.logDetails?.categoryModifyType == 2">
                        {{'N/A' | translate}}</p>
                    </ng-container>
                
                    <ng-container *ngIf="item?.status != logstatusEnum.PriorityChanged && item?.status != logstatusEnum.SentimentChanged">
                      <p [ngClass]="{'small_font-size' : !defaultLayout}" style="align-content: center;"
                        *ngIf="!item?.logDetails?.categoryMap?.length && !item?.logDetails?.upperCategory">{{'N/A' | translate}}</p>
                      <div *ngIf="item?.logDetails?.categoryMap?.length"
                        [matTooltip]="item?.status == logstatusEnum.ModifyCategoryInformation ? ('Mention-Category' | translate) : ('Ticket-Category' | translate)"
                        matTooltipPosition="above" matTooltipClass="custom__tooltip-normal">
                        <ng-container *ngFor="let fromLog of item?.logDetails?.categoryMap">
                          <div class="collab-panel from-panel p-5 w-100-p d-flex mb-5" [ngClass]="{'small_font-size' : !defaultLayout}"
                            [ngClass]="fromLog.sentiment == 1 ? 'positive_panel' : fromLog.sentiment == 0 ? 'neutral_panel' : 'negative_pannel'"
                            *ngIf="fromLog?.subCategories && !fromLog?.subCategories.length">
                            <p *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation" [ngClass]="{'small_font-size' : !defaultLayout}"
                              [ngClass]="fromLog.sentiment == 1 ? 'positive_mentiontag' : fromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                              &#64;</p>
                            <mat-icon *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging" fontSet="material-icons-outlined"
                              [ngClass]="fromLog.sentiment == 1 ? 'positive_mentiontag' : fromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'"
                              class="s-16 ticket_category_icon" [ngClass]="{'small_font-size' : !defaultLayout}">local_activity</mat-icon>
                            {{fromLog?.name}}
                          </div>
                          <ng-container *ngIf="fromLog?.subCategories && fromLog?.subCategories.length">
                            <ng-container *ngFor="let subFromLog of fromLog?.subCategories">
                              <ng-container *ngIf="subFromLog?.subSubCategories && subFromLog?.subSubCategories.length">
                                <div class="collab-panel from-panel p-5 w-100-p d-flex mb-5" [ngClass]="{'small_font-size' : !defaultLayout}"
                                  [ngClass]="subSubFromLog.sentiment == 1 ? 'positive_panel' : subSubFromLog.sentiment == 0 ? 'neutral_panel' : 'negative_pannel'"
                                  *ngFor="let subSubFromLog of subFromLog?.subSubCategories">
                                  <p *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation" [ngClass]="{'small_font-size' : !defaultLayout}"
                                    [ngClass]="subSubFromLog.sentiment == 1 ? 'positive_mentiontag' : subSubFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                                    &#64;</p>
                                  <mat-icon *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging"
                                    fontSet="material-icons-outlined" [ngClass]="{'small_font-size' : !defaultLayout}"
                                    [ngClass]="subSubFromLog.sentiment == 1 ? 'positive_mentiontag' : subSubFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'"
                                    class="s-16 ticket_category_icon">local_activity</mat-icon>
                                  {{fromLog?.name}} / {{subFromLog?.name}} / {{subSubFromLog?.name}}
                                </div>
                              </ng-container>
                              <div class="collab-panel from-panel p-5 w-100-p d-flex mb-5" [ngClass]="{'small_font-size' : !defaultLayout}"
                                [ngClass]="subFromLog.sentiment == 1 ? 'positive_panel' : subFromLog.sentiment == 0 ? 'neutral_panel' : 'negative_pannel'"
                                *ngIf="subFromLog?.subSubCategories && !subFromLog?.subSubCategories.length">
                                <p *ngIf="item?.status == logstatusEnum.ModifyCategoryInformation" [ngClass]="{'small_font-size' : !defaultLayout}"
                                  [ngClass]="subFromLog.sentiment == 1 ? 'positive_mentiontag' : subFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'">
                                  &#64;</p>
                                <mat-icon *ngIf="item?.status == logstatusEnum.ModifiedTicketTagging" fontSet="material-icons-outlined"
                                  [ngClass]="subFromLog.sentiment == 1 ? 'positive_mentiontag' : subFromLog.sentiment == 0 ? 'neutral_mention_tag' : 'negative_mention_tag'"
                                  class="s-16 ticket_category_icon" [ngClass]="{'small-icon-font-size' : !defaultLayout}">local_activity</mat-icon>
                                {{fromLog?.name}} / {{subFromLog?.name}}
                              </div>
                            </ng-container>
                          </ng-container>
                
                        </ng-container>
                      </div>
                
                    </ng-container>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>

    <ng-container *ngIf="item?.status != logstatusEnum.SentimentChanged && item?.status != logstatusEnum.ModifiedTicketTagging && item?.status != logstatusEnum.ModifyCategoryInformation && item?.status != logstatusEnum.PriorityChanged">
        <span [ngStyle]="{'max-width' : layout == 'rtl' ? '230px' : 'unset'}" class="post-timeline__label text__wrap" [ngClass]="{'small_font-size' : !defaultLayout}" [innerHTML]="item.logText | safehtml"></span>
        
        <span [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="item.actionTakenFrom == actionstatusEnum.EmailReply">
          {{'via-email' | translate}}</span>
        <span [ngClass]="{'small_font-size' : !defaultLayout}" *ngIf="item.actionTakenFrom == actionstatusEnum.EmailResponseLink">
          {{'via-link-in-email' | translate}}</span>
        <span class="post-timeline__timestamp" [ngClass]="{'small_font-size font-weight-medium' : !defaultLayout}">
          {{ item.mentionTime | datetimeFormatter: 'DD-MMMM-YYYY HH:mm a' }}</span>
        <div *ngIf="showNotes && (note || fileList?.length>0 || mediaList?.length > 0)" class="p-6">
          <span class="post-log__strip--label colored__yellow--dark" [ngClass]="{'small_font-size' : !defaultLayout}">{{'Added-Note' | translate}} </span>:
          <span class="anywhere" [ngClass]="{'small_font-size' : !defaultLayout}" [innerHTML]="note"></span>
          <span class="post__alert--attachment post-timeline__attach no-bg ml-0" *ngIf="fileList?.length>0">
            <ng-container *ngFor="let file of fileList">
              <div class="post-timeline__attachment custom__tooltip--trigger" *ngIf="file.mediaType == MediaEnum.PDF">
                <div class="post-timeline__file" (click)="openNoteAttachmentDocAndAudioPreview(file,'file')">
                  <img class="img w-25 h-25" src="assets/images/account/pdf__icon.svg">
                  <span class="post-timeline__attachment--name ml-5" [ngClass]="{'small_font-size' : !defaultLayout}">{{file?.fileName}}</span>
                </div>
                <a [href]="file?.mediaUrl" [download]="file?.fileName" alt="name" target="_blank">
                  <mat-icon fontSet="material-icons-outlined" class="icon s-18" [ngClass]="{'small-icon-font-size' : !defaultLayout}">file_download</mat-icon>
                </a>
                <div class="custom__tooltip--hover custom__tooltip--category note-tooltip">
                  <div class="custom__tooltip--item">
                    <span class="custom__tooltip--value" [ngClass]="{'small_font-size' : !defaultLayout}">{{file?.fileName}}</span>
                  </div>
                </div>
              </div>
              <div class="post-timeline__attachment custom__tooltip--trigger" *ngIf="file.mediaType == MediaEnum.DOC">
                <div class="post-timeline__file" (click)="openNoteAttachmentDocAndAudioPreview(file,'file')">
                  <img class="img w-25 h-25" src="assets/images/account/doc__icon.svg">
                  <span class="post-timeline__attachment--name ml-5" [ngClass]="{'small_font-size' : !defaultLayout}">{{file?.fileName}}</span>
                </div>
                <a [href]="file?.mediaUrl" [download]="file?.fileName" alt="name" target="_blank">
                  <mat-icon fontSet="material-icons-outlined" [ngClass]="{'small_font-size' : !defaultLayout}" class="icon s-18">file_download</mat-icon>
                </a>
                <div class="custom__tooltip--hover custom__tooltip--category note-tooltip">
                  <div class="custom__tooltip--item">
                    <span class="custom__tooltip--value" [ngClass]="{'small_font-size' : !defaultLayout}">{{file?.fileName}}</span>
                  </div>
                </div>
              </div>
              <div class="post-timeline__attachment custom__tooltip--trigger" *ngIf="file.mediaType == MediaEnum.EXCEL">
                <div class="post-timeline__file" (click)="openNoteAttachmentDocAndAudioPreview(file,'file')">
                  <img class="img w-25 h-25" src="assets/images/account/excl__icon.svg">
                  <span class="post-timeline__attachment--name ml-5" [ngClass]="{'small_font-size' : !defaultLayout}">{{file?.fileName}}</span>
                </div>
                <a [href]="file?.mediaUrl" [download]="file?.fileName" alt="name" target="_blank">
                  <mat-icon fontSet="material-icons-outlined" class="icon s-18" [ngClass]="{'small-icon-font-size' : !defaultLayout}">file_download</mat-icon>
                </a>
                <div class="custom__tooltip--hover custom__tooltip--category note-tooltip">
                  <div class="custom__tooltip--item">
                    <span class="custom__tooltip--value" [ngClass]="{'small_font-size' : !defaultLayout}">{{file?.fileName}}</span>
                  </div>
                </div>
              </div>
              <span class="post-timeline__attachment custom__tooltip--trigger"
                *ngIf="file.mediaType == MediaEnum.IMAGE || file?.mediaType == MediaEnum.VIDEO || file?.mediaType == MediaEnum.ANIMATEDGIF">
                <div class="post-timeline__file" (click)="openNoteAttachmentDocAndAudioPreview(file, 'media')">
                  <mat-icon fontSet="material-icons-outlined" class="s-24">image</mat-icon>
                  <span class="post-timeline__attachment--name ml-5" [ngClass]="{'small_font-size' : !defaultLayout}">{{file?.fileName}}</span>
                </div>
                <a [href]="file?.mediaUrl" [download]="file?.fileName" alt="name" target="_blank">
                  <mat-icon fontSet="material-icons-outlined" class="icon s-18" [ngClass]="{'small_font-size' : !defaultLayout}">file_download</mat-icon>
                </a>
                <div class="custom__tooltip--hover custom__tooltip--category note-tooltip">
                  <div class="custom__tooltip--item">
                    <span class="custom__tooltip--value" [ngClass]="{'small_font-size' : !defaultLayout}">{{file?.fileName}}</span>
                  </div>
                </div>
              </span>
            </ng-container>
            <ng-container *ngIf="showMoreMediaFlag">
              <span class="ml-5 pt-5 colored__locobuzz" [ngClass]="{'small_font-size' : !defaultLayout}" (click)="showMoreLessMedia()">{{showMoreLessMediaFlag ? ('Show-more' | translate) + '(+' + moreList?.length + ')' : ('Show-less' | translate)}}</span>
            </ng-container>
            <!-- <ng-container *ngFor="let media of mediaList"> -->
            <!-- </ng-container> -->
          </span>
        </div>
    </ng-container>

  </li>
</ng-template>
<!-- FileList: {{fileList | json}}
MediaList: {{mediaList | json}} -->


