/*Loading Post*/
.reply-loader {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 15px;
  height: 140px;
  border-radius: 4px;
}

.reply-loader__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 1rem;
  margin-bottom: 1rem;
  color: #8098a0;
  font-size: 13px;
}

.reply-loader .reply-loader__title {
  width: 100%;
  height: 1.3rem;
  border-radius: 7px;
  background-image: linear-gradient(
    90deg,
    #e8eaee 0px,
    rgba(232, 234, 238, 0.8) 40px,
    #e8eaee 80px
  );
  background-size: 600px;
  -webkit-animation: loading-animation 3s infinite ease-out;
  animation: loading-animation 3s infinite ease-out;
}

.reply-loader .reply-loader__content--line {
  display: block;
  height: 1.3rem;
  border-radius: 7px;
  background-image: linear-gradient(
    90deg,
    #e8eaee 0px,
    rgba(232, 234, 238, 0.8) 40px,
    #e8eaee 80px
  );
  background-size: 600px;
  -webkit-animation: loading-animation 3s infinite ease-out;
  animation: loading-animation 3s infinite ease-out;
}

.reply-loader .reply-loader__content--textarea {
  display: block;
  width: 100%;
  height: 5rem;
  border-radius: 7px;
  background-image: linear-gradient(
    90deg,
    #e8eaee 0px,
    rgba(232, 234, 238, 0.8) 40px,
    #e8eaee 80px
  );
  background-size: 600px;
  -webkit-animation: loading-animation 3s infinite ease-out;
  animation: loading-animation 3s infinite ease-out;
  margin-bottom: 2rem;
}

.reply-loader .reply-loader__content--textarea:last-child {
  max-width: 30%;
}

@-webkit-keyframes loading-animation {
  from {
    background-position: -10vw;
  }
  to {
    background-position: 110vw;
  }
}

@keyframes loading-animation {
  from {
    background-position: -10vw;
  }
  to {
    background-position: 110vw;
  }
}
