<div class="calling">
    <div class="calling__wrapper" *ngIf="calling">

        <div class="calling__text">
            <p (click)="pauseTimer()" *ngIf="callConnectBoolean" class="cursor-pointer">{{voipCallObj.status}}</p>
            <p *ngIf="callEndBoolean;">{{ 'Call-Ended' | translate }}</p>
        </div>

        <div class="calling__wrapper--block">
            <div class="calling__wrapper--caller">
                <div class="calling__caller--profile"
                    [ngStyle]="{'mix-blend-mode' : !callConnectBoolean ? 'luminosity' : ''}">
                    <img *ngIf="!incomingCallFlag" [src]="profileDetails?.profilePic"  onError="this.src='assets/images/agentimages/sample-image.svg'" alt=""
                        >
                        <img *ngIf="incomingCallFlag" src="assets/images/agentimages/sample-image.svg" alt=""
                            >
                </div>
                <div class="calling__caller--name">
                    <p [matTooltip]="callerName.length > 15 ? callerName : ''" matTooltipClass="custom-tooltip">{{callerName}}</p>
                </div>
                <div class="calling__caller--number">
                    <p>{{caller}}</p>
                </div>
            </div>
            <div class="calling__wrapper--wave" *ngIf="callConnectBoolean">
                <div class="sound">
                    <span class="sound__stroke"></span>
                    <span class="sound__stroke"></span>
                    <span class="sound__stroke"></span>
                    <span class="sound__stroke"></span>
                    <span class="sound__stroke"></span>
                    <span class="sound__stroke"></span>
                    <span class="sound__stroke"></span>
                </div>
            </div>
            <div class="calling__connect" *ngIf="callEndBoolean">
                <span class="calling__connect--line"></span>
            </div>
            <div class="calling__wrapper--caller">
                <div class="calling__caller--profile"
                    [ngStyle]="{'mix-blend-mode' : !callConnectBoolean ? 'luminosity' : ''}">
                    <img *ngIf="incomingCallFlag" [src]="profileDetails?.profilePic"  onError="this.src='assets/images/agentimages/sample-image.svg'" alt="">
                    <img *ngIf="!incomingCallFlag" src="assets/images/agentimages/sample-image.svg" alt="">
                </div>
                <div class="calling__caller--name">
                    <p [matTooltip]="calleeName.length > 15 ? calleeName : ''" matTooltipClass="custom-tooltip">{{calleeName}}</p>
                </div>
                <div class="calling__caller--number">
                    <p>{{callee}}</p>
                </div>
            </div>
        </div>
        <div class="calling-end__details--log">
            <div class="calling-end__log--time">
                <p>
                    {{minTimer}}:{{ secondTimer < 10 ? '0'+ secondTimer : secondTimer}}
                </p>
            </div>
        </div>
        <div class="calling-end__details--log" *ngIf="voipCallObj.callConnectedOn && voipCallObj.callConnectedOn!='' && showConnectedStatus">
            <div class="calling-end__log--text">
                <p>{{ 'Call-Connected-On' | translate }}</p>
            </div>
            <div class="calling-end__log--time mt-5">
                <p>
                    {{voipCallObj.callConnectedOn}}
                </p>
            </div>
        </div>
       
        <div class="calling__icon d-flex-items-center g-20" [ngStyle]="{'mix-blend-mode' : !callConnectBoolean ? 'luminosity' : ''}"
            [ngClass]="{'element__disable' : !callConnectBoolean}" >
            <img src="assets/images/phone/Mute.svg" alt="" *ngIf="unMuteFlag" (click)="muteUnmuteEvent()">
            <img src="assets/images/phone/Unmute.svg" alt="" *ngIf="unMuteFlag==false"  (click)="muteUnmuteEvent()">
            <img src="assets/images/phone/Pause.svg" *ngIf="holdFlag==false" (click)="holdUnholdEvent()">
            <img src="assets/images/phone/Play.svg" *ngIf="holdFlag" (click)="holdUnholdEvent()">
            <span class="call__end mt-0 h-50 w-50" (click)="callHungUp()">
                <mat-icon>call_end</mat-icon>
            </span>
        </div>
    </div>
    <ng-container *ngIf="callDisconnect">
        <app-calling-disconnect [callAgainBoolen]="callAgainBoolen" (callAgainBoolen)="calldisconnect($event)"
            [@slideInRight] class="calling-end" [callObj]="voipCallObj" (makeCallEvent)="makeCall()" (callConnectedAgainEvent)="callConnectedAgainEventRes($event)">
        </app-calling-disconnect>
    </ng-container>

    <div  *ngIf="false" class="calling__foot">
        <div class="calling__foot--text">
            <p>{{voipCallObj.calledOnText}}</p>
        </div>
        <div class="calling__foot--number">
            <span class="call-icon">
                <mat-icon>wifi_calling_3</mat-icon>
            </span>
            <p class="num">{{voipCallObj.calledOn}}</p>
        </div>
    </div>
</div>