.calling {
  display: flex;
  height: calc(100vh - 150px);
  position: relative;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 15px 0 15px;
    height: calc(100vh - 52px);
    &--block {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 12px;
      margin-bottom: 50px;
    }
    &--caller {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--receiver {
      display: flex;
    }
    &--wave {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      & .sound {
        height: 30px;
        display: flex;
        align-items: center;
        &__stroke {
          display: block;
          position: relative;
          height: 100%;
          width: 4px;
          border-radius: 50px;
          margin: 0 3px;
          animation: animate 1.2s linear infinite;
          @keyframes animate {
            50% {
              height: 20%;
            }
            100% {
              height: 100%;
            }
          }
          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 0.3s;
          }
          &:nth-child(3) {
            animation-delay: 0.6s;
          }
          &:nth-child(4) {
            animation-delay: 0.9s;
          }
          &:nth-child(5) {
            animation-delay: 0.6s;
          }
          &:nth-child(6) {
            animation-delay: 0.3s;
          }
          &:nth-child(7) {
            animation-delay: 0s;
          }
        }
      }
    }
  }

  &__caller {
    &--profile {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      & img {
        width: 100%;
        border-radius: 50%;
      }
    }
    &--name {
      & p {
        white-space: nowrap;
        font-weight: 600;
        max-width: 125px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &--number {
      & p {
        white-space: nowrap;
      }
    }
  }
  &__text {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 32px;
    & p {
      & .dot {
        position: absolute;
        left: -9888px;
        bottom: 4px;
        width: 4px;
        height: 4px;
        border-radius: 5px;
        animation: dotTyping 1.5s infinite linear;
      }
    }
  }
  &__icon {
    & .call {
      &__mute {
        cursor: pointer;
      }
      &__end {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 32px;
      }
    }
  }
  &__foot {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 12px;
    &--text {
      font-weight: 500;
    }
    &--number {
      display: flex;
      padding-top: 8px;
      align-items: center;
      & .call-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #185edf1a;
        margin-right: 6px;
      }
      & .num {
        font-weight: 600;
      }
    }
  }
  &__connect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 100%;
    place-self: center;
    margin-bottom: 46px;
    &--line {
      height: 1px;
      width: 100%;
    }
  }
  &-end {
    width: 100%;
  }
}
.calling-end {
  width: 100%;
  &__wrapper {
    height: calc(100vh - 127px);
    position: relative;
  }
  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    &--img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      & img {
        width: 100%;
      }
    }
    &--name {
      & p {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  &__details {
    height: calc(100% - 230px);
    padding: 15px;
    &--log {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
    }
    &--duration {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__log {
    &--time {
      & p {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  &__duration {
    &--time {
      & p {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    & button {
      width: 100%;
    }
  }
}
