.width-60 {
  width: 60% !important;
  margin: auto;
}
.component {
  &__loader { 
    margin-bottom: 1.5rem;
  }
}
.loader {
  padding: 3rem;
  margin-bottom: 1.5rem;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__content--line {
    display: block;
    height: 1rem;
    border-radius: 7px;
    background-size: 600px;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}